Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-temple-docs): Add noop docgenPlugin plugin for docusaurus config
  website/plasma-temple-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

feat(plasma-docs-ui): Add `CodeSandbox` component
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-docs-ui/src/components/CodeSandbox.tsx
  utils/plasma-docs-ui/src/components/Playground.tsx
  utils/plasma-docs-ui/src/components/index.tsx
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-ui-docs/src/components/CodeSandbox.tsx
  website/plasma-ui-docs/src/components/index.ts
  website/plasma-ui-docs/src/theme/Playground/index.tsx
  website/plasma-web-docs/docs/components/Badge.mdx
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-web-docs/src/components/CodeSandbox.tsx
  website/plasma-web-docs/src/components/Description.tsx
  website/plasma-web-docs/src/components/PropsTable.tsx
  website/plasma-web-docs/src/components/index.ts
  website/plasma-web-docs/src/hooks/useDynamicImport.ts
  website/plasma-web-docs/src/snippets/Badge/Test.tsx
  website/plasma-web-docs/src/theme/Playground/index.tsx
  website/plasma-web-docs/src/theme/ReactLiveScope/index.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  website/plasma-temple-docs/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Don't use assistant dev mode with Cypress
  packages/plasma-temple/src/assistant.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui-docs, plasma-web-docs): Added version indicator at the top
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-ui-docs/package.json
  website/plasma-ui-docs/versionsArchived.json
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-web-docs/versionsArchived.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

fix(plasma-web): Add `Button`'s `warning` view
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-temple): test build in CI
  packages/plasma-temple/tsconfig.json
Due: prettier --write --parser json, node

feat: checkbox label type
  packages/plasma-core/src/components/Basebox/Basebox.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-icons): Remove IconVolumeMute icon
  packages/plasma-icons/src/Icons/IconVolumeMute.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Mark IconSpinner as deprecated
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconSpinner.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(index.ts): added the ability to add a container
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/layer-inpicture-sdk/src/assets/logo-black.svg
  packages/layer-inpicture-sdk/src/css/slider.css
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/css/styles.css
  packages/layer-inpicture-sdk/src/css/styles.sass
  packages/layer-inpicture-sdk/src/img/0357234520_1.jpeg
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/src/types.ts
  packages/layer-inpicture-sdk/webpack.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(index.ts): added skeleton
  packages/layer-inpicture-sdk/src/assets/stub.svg
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/css/styles.sass
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/js/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

feat: publishing ad-sdk demo in pipeline
  .github/workflows/ad-sdk-demo.yml
  packages/ad-sdk/examples/banner/index.html
  packages/ad-sdk/examples/banner/package-lock.json
  packages/ad-sdk/examples/banner/package.json
  packages/ad-sdk/examples/banner/src/main.js
  packages/ad-sdk/examples/demo/.env.sample
  packages/ad-sdk/examples/demo/.gitignore
  packages/ad-sdk/examples/demo/LICENSE.txt
  packages/ad-sdk/examples/demo/README.md
  packages/ad-sdk/examples/demo/api/hook.js
  packages/ad-sdk/examples/demo/package-lock.json
  packages/ad-sdk/examples/demo/package.json
  packages/ad-sdk/examples/demo/public/index.html
  packages/ad-sdk/examples/demo/src/index.js
  packages/ad-sdk/examples/demo/src/initWithAssistant.js
  packages/ad-sdk/examples/demo/src/initWithParams.js
  packages/ad-sdk/examples/demo/src/oldAPI.js
  packages/ad-sdk/examples/demo/webpack.config.js
  packages/ad-sdk/package.json
  packages/ad-sdk/src/ad-sdk/adContainer/VideoAdContainer.js
  packages/ad-sdk/src/ad-sdk/adContainer/createVideoAdContainer.js
  packages/ad-sdk/src/ad-sdk/adContainer/helpers/createAdVideoElement.js
  packages/ad-sdk/src/ad-sdk/runner/run.js
  packages/ad-sdk/src/main.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ad-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ad-sdk/package-lock.json
  packages/ad-sdk/package.json
Due: prettier --write --parser json, node

feat: Added `Field` component to replace `TextField`'s functionality
  packages/plasma-core/src/components/Field/Field.statuses.tsx
  packages/plasma-core/src/components/Field/Field.tsx
  packages/plasma-core/src/components/Field/index.ts
  packages/plasma-core/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-website): Remove unnecessary prop `size` from search input
  website/plasma-website/components/roster/SearchForm.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `TextField` component
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- empty.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- empty.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  packages/plasma-b2c/src/components/Field/Field.tsx
  packages/plasma-b2c/src/components/Field/index.ts
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.tsx
  packages/plasma-b2c/src/components/TextField/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: Separated `Input` and `TextArea`
  packages/plasma-core/src/components/Input/Input.mixins.ts
  packages/plasma-core/src/components/Input/Input.tsx
  packages/plasma-core/src/components/Input/index.ts
  packages/plasma-core/src/components/TextArea/TextArea.tsx
  packages/plasma-core/src/components/TextArea/index.ts
  packages/plasma-core/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: Replace `TextField` with `Field`
  packages/plasma-core/src/components/TextField/TextField.tsx
  packages/plasma-core/src/components/TextField/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui, plasma-web): B2C/B2B `Input` and `TextArea` on common platform
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- empty.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- empty.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- empty.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/Field/index.ts
  packages/plasma-ui/src/components/TextArea/TextArea.tsx
  packages/plasma-ui/src/components/TextField/TextField.stories.tsx
  packages/plasma-ui/src/components/TextField/TextField.tsx
  packages/plasma-web/src/components/Field/Field.tsx
  packages/plasma-web/src/components/Field/index.ts
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
