Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-ui, plasma-web): toolbar buttons return
  packages/plasma-ui/.storybook/preview.js
  packages/plasma-web/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): fix rehydratation classnames
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  examples/demo-canvas-app/pages/index.tsx
  packages/plasma-ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): Posibility to have custom background on layout state page
  packages/plasma-temple/.storybook/public/images/cubic.png
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/components/StateLayout/types.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): HeroSlider skip last slide
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
Due: eslint --fix, prettier --write, stylelint

fix: remove double ampersands
  .stylelintrc.js
  docs/showcase/src/helpers/Showcase.tsx
  packages/plasma-ui/src/components/Header/HeaderButton.tsx
  packages/plasma-web/src/components/Badge/Badge.tsx
  packages/plasma-web/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Grid/Container.tsx
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalView.tsx
  packages/plasma-web/src/helpers/PaletteGrid.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-icons): chevron-icons updated
  packages/plasma-icons/src/Icon.assets/ChevronDown.tsx
  packages/plasma-icons/src/Icon.assets/ChevronUp.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Added Dropdown component
  docs/showcase/src/web/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Dropdown/DropdownList.tsx
  packages/plasma-web/src/components/Dropdown/DropdownSub.tsx
  packages/plasma-web/src/components/Dropdown/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Integrate Dropdown into Select
  packages/plasma-web/src/components/Select/MultiSelect.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.tsx
  packages/plasma-web/src/components/Select/Select.utils.ts
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectList.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/SingleSelect.tsx
  packages/plasma-web/src/tokens/colors.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-web): form submit trigger inside select
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Add mixins from core
  packages/plasma-web/.gitignore
  packages/plasma-web/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

docs(plasma-ui): assistant usage fix
  packages/plasma-ui/src/components/Theming.stories.mdx
Due: none

feat(plasma-temple): On scrolled to bottom callback for GridPage
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Rename onScrollBottom callback in GridPage
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
