Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore: test
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

chore: add typescript-coverage workflow
  .github/workflows/typescript-coverage.yml
  .gitignore
  package.json
Due: prettier --write --parser json, node

fix(inpicture-sdk): переключение на прод ручку recognize
  packages/layer-inpicture-sdk/src/api/index.ts
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): className for poster on VideoPage
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-typo): increase type coverage
  packages/plasma-typo/package.json
  packages/plasma-typo/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-typo): add typecoverage script
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
Due: prettier --write --parser json, node

chore(plasma-colors): add typecoverage script
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
Due: prettier --write --parser json, node

chore(plasma-ui): add typecoverage script
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): increase type coverage
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Device/DeviceDetection.tsx
  packages/plasma-ui/src/components/Grid/Col.tsx
  packages/plasma-ui/src/components/Grid/Container.tsx
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
  packages/plasma-ui/src/components/Header/HeaderRoot.tsx
  packages/plasma-ui/src/components/Header/HeaderSubtitle.tsx
  packages/plasma-ui/src/components/Header/HeaderTitle.tsx
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
  packages/plasma-ui/src/components/Slider/Double.tsx
  packages/plasma-ui/src/components/Slider/Handle.tsx
  packages/plasma-ui/src/components/Slider/Single.tsx
  packages/plasma-ui/src/components/Slider/SliderBase.tsx
  packages/plasma-ui/src/components/Stepper/Stepper.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/helpers/GridLines.tsx
  packages/plasma-ui/src/helpers/StoryDecorators.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-b2c): increase type coverage
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Editable/Editable.tsx
  packages/plasma-b2c/src/components/Slider/Double.tsx
  packages/plasma-b2c/src/components/Slider/Handle.tsx
  packages/plasma-b2c/src/components/Slider/Single.tsx
  packages/plasma-b2c/src/utils/selectText.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-b2c): add typecoverage script
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json, node

chore(plasma-core): add typecoverage script
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
Due: prettier --write --parser json, node

feat(plasma-core): increase type coverage
  packages/plasma-core/package.json
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Carousel/hooks.tsx
  packages/plasma-core/src/components/Carousel/utils.ts
  packages/plasma-core/src/components/PaginationDots/usePaginationDots.ts
  packages/plasma-core/src/components/Popup/Popup.tsx
  packages/plasma-core/src/components/Skeleton/TextSkeleton.tsx
  packages/plasma-core/src/components/Tabs/createTabsController.tsx
  packages/plasma-core/src/utils/transformStyles.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-core): Add data selector for syntheticFocus in `addFocus` mixin
  packages/plasma-core/src/mixins/addFocus.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Add test and snapshot for `Tabs` component
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- item add styled focus.snap.png
  packages/plasma-ui/src/components/Tabs/Tabs.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Custom title component in GalleryPage
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Pass ReactNode to GalleryPage titles
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): `Carousel`: moved style resets to core
  packages/plasma-core/src/components/Carousel/Carousel.tsx
  packages/plasma-web/src/components/Carousel/Carousel.tsx
  packages/plasma-web/src/components/Carousel/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix: `Tabs`: removed focus outline in item text
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- _animated.snap.png
  cypress/snapshots/ui/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  packages/plasma-core/src/components/Tabs/TabItem.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

feat(ad-sdk): save events for banners
  packages/ad-sdk/package-lock.json
  packages/ad-sdk/package.json
  packages/ad-sdk/src/ad-sdk/runner/runWaterfall.js
  packages/ad-sdk/src/banner/banner.js
  packages/ad-sdk/src/banner/banner.test.js
  packages/ad-sdk/src/banner/bannerComponent.js
  packages/ad-sdk/src/banner/bannerComponent.test.js
  packages/ad-sdk/src/banner/bannerDispatcher.js
  packages/ad-sdk/src/banner/bannerDispatcher.test.js
  packages/ad-sdk/src/main.js
  packages/ad-sdk/src/utils/injectCss.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ad-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ad-sdk/package-lock.json
  packages/ad-sdk/package.json
Due: prettier --write --parser json, node

test(plasma-b2c): Added responsive typo tests
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyL.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyM.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyXS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyXXS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextL.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextM.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextXS.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Body @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Body @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Body @758px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl 768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl @768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H 768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H @768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text 768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text @768px.snap.png
  packages/plasma-b2c/src/components/Typography/Typography.component-test.tsx
  packages/plasma-b2c/src/components/Typography/TypographyResponsive.component-test.tsx
  packages/plasma-core/src/components/Typography/TypographyResponsive.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Storybook fonts
  packages/plasma-b2c/.storybook/manager-head.html
  packages/plasma-ui/.storybook/manager-head.html
  packages/plasma-ui/.storybook/preview-head.html
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Bold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Bold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Light.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Light.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Regular.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Regular.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Thin.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Thin.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Bold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Bold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-BoldItalic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-BoldItalic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Heavy.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Heavy.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Italic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Italic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Light.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Light.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-LightItalic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-LightItalic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Medium.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Medium.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Regular.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Regular.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Semibold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Semibold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-SemiboldItalic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-SemiboldItalic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Thin.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Thin.woff2
Due: none
