Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-temple): Posibility to have custom background on layout state page
  packages/plasma-temple/.storybook/public/images/cubic.png
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/components/StateLayout/types.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-temple): Refactor gallery
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/index.ts
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
  packages/plasma-temple/src/utils/getMediaObjectSrc.ts
  packages/plasma-temple/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): HeroSlider skip last slide
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): On scrolled to bottom callback for GridPage
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): assistantClient can be get outside React
  packages/plasma-temple/src/assistant.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
  packages/plasma-temple/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Rename onScrollBottom callback in GridPage
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Simplify custom gallery card interface
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/GalleryCard/index.ts
  packages/plasma-temple/src/components/GalleryCard/types.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

Update packages/plasma-temple/docs/core.md
  packages/plasma-temple/docs/core.md
Due: prettier --write --parser markdown

feat(plasma-temple): Add useForm hook
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useForm.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add todo
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Handle gallery card click inside package
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/GalleryCard/types.ts
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-temple): add forms.md docs
  packages/plasma-temple/.gitignore
  packages/plasma-temple/docs/forms.md
Due: prettier --write --parser markdown

docs(plasma-temple): Docs core
  packages/plasma-temple/.gitignore
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/core.md
Due: prettier --write --parser markdown

fix(plasma-temple): Fix button view for portal in HeroSlide
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-temple): Add Page.lazy description
  packages/plasma-temple/docs/core.md
Due: prettier --write --parser markdown

feat(plasma-temple): Add on item cchange callback to HeroSlider
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add active index to item change callback in HeroSlider
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add generic to GalleryPage
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/GalleryCard/index.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
  packages/plasma-temple/src/pages/GalleryPage/types.ts
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): fix mobile font size
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Mobile cart and controlled cart
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/.storybook/public/images/placeholder.png
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartContext.ts
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/hooks/useCart.ts
  packages/plasma-temple/src/pages/CartPage/hooks/useCartAssistantState.ts
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
