Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-b2c): Added `Tabs` and `TabItem` component
  packages/plasma-b2c/src/components/Tabs/TabItem.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.tsx
  packages/plasma-b2c/src/components/Tabs/index.ts
  utils/showcase/src/b2c/Tabs.stories.tsx
  utils/showcase/src/helpers/B2CTabsShowcase.tsx
Due: eslint --fix, prettier --write, stylelint

fix: `Tabs` disabled state
  packages/plasma-core/src/components/Tabs/TabItem.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

ci: Deploy B2C Storybook
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

ci: Deploy documentation with subfolder for web
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

chore: Delete extract-sb-docgen-info
  .eslintignore
  packages/plasma-core/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/extract-sb-docgen-info/.babelrc
  utils/extract-sb-docgen-info/.gitignore
  utils/extract-sb-docgen-info/.npmrc
  utils/extract-sb-docgen-info/CHANGELOG.md
  utils/extract-sb-docgen-info/bin/index.js
  utils/extract-sb-docgen-info/package-lock.json
  utils/extract-sb-docgen-info/package.json
  utils/extract-sb-docgen-info/src/extract.ts
  utils/extract-sb-docgen-info/src/generate.ts
  utils/extract-sb-docgen-info/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

chore: Separate UI library for documentation
  .eslintignore
  utils/plasma-docs-ui/.gitignore
  utils/plasma-docs-ui/.npmrc
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-docs-ui/src/components/Description.tsx
  utils/plasma-docs-ui/src/components/Filler.tsx
  utils/plasma-docs-ui/src/components/Playground.tsx
  utils/plasma-docs-ui/src/components/PropsTable.tsx
  utils/plasma-docs-ui/src/components/index.tsx
  utils/plasma-docs-ui/src/index.ts
  utils/plasma-docs-ui/src/types/DocgenInfo.ts
  utils/plasma-docs-ui/src/types/index.ts
  utils/plasma-docs-ui/tsconfig.json
  website/plasma-ui-docs/package.json
  website/plasma-ui-docs/src/theme/ReactLiveScope/index.tsx
  website/plasma-web-docs/src/theme/ReactLiveScope/index.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-ui): Update `Button` snapshot
  cypress/snapshots/plasma-ui/button.spec.ts/Button -- snapshot.snap.png
Due: none

chore(plasma-ui): E2E test for `DatePicker` and `TimePicker`
  cypress/integration/plasma-ui/DatePicker.spec.ts
  cypress/integration/plasma-ui/TimePicker.spec.ts
  cypress/snapshots/plasma-ui/DatePicker.spec.ts/DatePicker -- snapshot.snap.png
  cypress/snapshots/plasma-ui/TimePicker.spec.ts/TimePicker -- snapshot.snap.png
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): `PickerItem` `size="s"` text cut at the bottom
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/types.ts
  packages/plasma-ui/src/components/Pickers/utils.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): `PickerItem`'s styling utils
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Pickers/utils.test.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-ui): Separate gradient masks for `Picker`
  cypress/snapshots/plasma-ui/DatePicker.spec.ts/DatePicker -- snapshot.snap.png
  cypress/snapshots/plasma-ui/TimePicker.spec.ts/TimePicker -- snapshot.snap.png
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

fix(plasma-temple): export ErrorPage from index
  packages/plasma-temple/docs/templates.md
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-basic-template): edit template
  packages/plasma-basic-template/template.json
  packages/plasma-basic-template/template/README.md
  packages/plasma-basic-template/template/public/index.html
  packages/plasma-basic-template/template/public/logo.png
  packages/plasma-basic-template/template/src/App.ts
  packages/plasma-basic-template/template/src/App.tsx
  packages/plasma-basic-template/template/src/pages/Film.tsx
  packages/plasma-basic-template/template/src/pages/Gallery.tsx
  packages/plasma-basic-template/template/src/types.ts
  packages/plasma-basic-template/template/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-basic-template/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-basic-template/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  packages/temple-migrate-2/CHANGELOG.md
Due: prettier --write --parser markdown
