Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

fix(plasma-temple): мелкие исправления и доработки апи
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/useAssistantAction.test.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/templates/Item/Item.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): Enhance state of Video and Gallery pages, refactor useInitializeAssistant hook
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/PlasmaApp/AssistantContext.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/hooks/useAssistant.ts
  packages/plasma-temple/src/hooks/useAssistantOnData.ts
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
  packages/plasma-temple/src/hooks/useVoiceNavigation.test.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/pages/GalleryPage/types.ts
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
  packages/plasma-temple/src/pages/VideoPage/index.ts
  packages/plasma-temple/src/pages/VideoPage/types.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-temple): apply code style rules
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.examples.tsx
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.assets/SaluteIcon.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.examples.tsx
  packages/plasma-temple/src/components/Form/components/DatePicker.tsx
  packages/plasma-temple/src/components/Form/components/Field.tsx
  packages/plasma-temple/src/components/Form/components/FormField.tsx
  packages/plasma-temple/src/components/Form/components/Input.tsx
  packages/plasma-temple/src/components/Form/hocs/withWrapField.tsx
  packages/plasma-temple/src/components/Form/types.ts
  packages/plasma-temple/src/hooks/useFocusOnMount.ts
  packages/plasma-temple/src/utils/isNonNullableValue.ts
  packages/plasma-temple/src/utils/logger.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix changeState
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add reusable components for product pages
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.stories.tsx
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription.stories.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebox.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebportal.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/types.ts
  packages/plasma-temple/src/components/Product/ProductPageSmamokat.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPageSmartHome.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/types.ts
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.stories.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/types.ts
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Support dispatching standart app actions via assistant
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useAssistantOnSmartAppData.ts
  packages/plasma-temple/src/index.ts
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/guards.ts
  packages/plasma-temple/src/store/index.ts
  packages/plasma-temple/src/store/reducer.test.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-temple): improve gallery page api
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/pages/GalleryPage/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Form components
  packages/plasma-temple/.storybook/main.js
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
  packages/plasma-temple/examples/Form.stories.tsx
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.examples.tsx
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.assets/SaluteIcon.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.examples.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.tsx
  packages/plasma-temple/src/components/Form/components/DatePicker.tsx
  packages/plasma-temple/src/components/Form/components/Field.tsx
  packages/plasma-temple/src/components/Form/components/Form.tsx
  packages/plasma-temple/src/components/Form/components/FormField.tsx
  packages/plasma-temple/src/components/Form/components/Input.tsx
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/Form/components/VoiceFilling.tsx
  packages/plasma-temple/src/components/Form/hocs/withWrapField.tsx
  packages/plasma-temple/src/components/Form/index.ts
  packages/plasma-temple/src/components/Form/types.ts
  packages/plasma-temple/src/components/Header/Header.stories.tsx
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/hooks/useFocusOnMount.ts
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/react-app-env.d.ts
  packages/plasma-temple/src/utils/isNonNullableValue.ts
  packages/plasma-temple/src/utils/logger.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

build(plasma-temple): Build via rollup
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/rollup.config.js
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): description conent can be node. Add export product components
  packages/plasma-temple/src/components/Product/ProductCharacteristics/ProductCharacteristics.stories.tsx
  packages/plasma-temple/src/components/Product/ProductCharacteristics/ProductCharacteristics.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebox.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebportal.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/types.ts
  packages/plasma-temple/src/components/Product/ProductPageSmamokat.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPageSmartHome.stories.tsx
  packages/plasma-temple/src/components/Product/index.ts
  packages/plasma-temple/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix action button clicks with spatial navigation
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useGetMutableValue.ts
  packages/plasma-temple/src/hooks/useGetState.ts
  packages/plasma-temple/src/hooks/useThrottledCallback.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): ShopLandingPage components
  packages/plasma-temple/.eslintrc.js
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/Layout/Layout.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Gallery.tsx
  packages/plasma-temple/src/pages/GalleryPage/types.ts
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/assets/info.svg
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/InfoIcon.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberbox.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberportal.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/index.ts
  packages/plasma-temple/src/pages/ShopLandingPage/types.ts
  packages/plasma-temple/src/pages/index.ts
  packages/plasma-temple/src/registry/index.ts
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Order Success page
  packages/plasma-temple/src/pages/OrderSuccess/OrderSuccess.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccess/OrderSuccess.tsx
  packages/plasma-temple/src/pages/OrderSuccess/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Confirm Order page
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.assets/LocationIcon.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.assets/map.png
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/components/ConfirmOrderCard/ConfirmOrderCard.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Cart page
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/index.ts
  packages/plasma-temple/src/components/Product/index.ts
  packages/plasma-temple/src/components/hocs/withProps.tsx
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
  packages/plasma-temple/src/hooks/useThrottledCallback.ts
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartContext.ts
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.tsx
  packages/plasma-temple/src/pages/CartPage/components/index.ts
  packages/plasma-temple/src/pages/CartPage/hooks/index.ts
  packages/plasma-temple/src/pages/CartPage/hooks/useCart.ts
  packages/plasma-temple/src/pages/CartPage/hooks/useCartAssistantState.ts
  packages/plasma-temple/src/pages/CartPage/index.ts
  packages/plasma-temple/src/pages/CartPage/types.ts
  packages/plasma-temple/src/pages/index.ts
  packages/plasma-temple/src/types.ts
  packages/plasma-temple/src/utils/deviceFamily.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): Remove redundant padding
  packages/plasma-temple/src/hooks/useFocusedState.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
