Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(plasma-web, plasma-ui): `Checkbox`: removed duplication of label & descr
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): `Checkbox` & `Radibox` labeled and described by attrs and elems
  packages/plasma-core/src/utils/extractTextFrom.ts
  packages/plasma-core/src/utils/index.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web, plasma-ui): `Radiobox`: removed duplication of label & descr + better live example
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Added `List` component
  packages/plasma-b2c/src/components/List/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/List/List.tsx
  packages/plasma-web/src/components/List/ListItem.tsx
  packages/plasma-web/src/components/List/index.ts
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): `Radiobox`: check only for id existance
  cypress/snapshots/b2c/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __description.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _checked.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _disabled.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _indeterminate.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- simple.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- squeezes.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- with focus.snap.png
  cypress/snapshots/web/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __description.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _checked.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _disabled.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _indeterminate.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- simple.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- squeezes.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- with focus.snap.png
  packages/plasma-b2c/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-b2c/src/components/Checkbox/CheckboxBase.component-test.tsx
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-web/src/components/Checkbox/CheckboxBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): `Dropdown` a11y: navigating with keyboard
  packages/plasma-b2c/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-core/src/components/Popup/Popup.tsx
  packages/plasma-core/src/hooks/index.ts
  packages/plasma-core/src/hooks/keyboardNavigation/useKeyboardNavigation.ts
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Dropdown/DropdownList.tsx
  packages/plasma-web/src/components/Dropdown/DropdownMenu.tsx
  packages/plasma-web/src/components/Dropdown/DropdownPopup.tsx
  packages/plasma-web/src/components/Dropdown/DropdownUncontrolled.tsx
  packages/plasma-web/src/components/Dropdown/index.ts
  packages/plasma-web/src/components/Dropdown/keyboardNavigation/index.ts
  packages/plasma-web/src/components/Dropdown/keyboardNavigation/useKeyboardNavigation.ts
  packages/plasma-web/src/components/Dropdown/keyboardNavigation/useOnComboType.ts
  packages/plasma-web/src/components/Dropdown/keyboardNavigation/useSearchString.ts
  packages/plasma-web/src/components/Dropdown/keyboardNavigation/utils.ts
  packages/plasma-web/src/components/Dropdown/withAssistiveDropdown.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web): `Dropdown` a11y: navigating with keyboard
  website/plasma-web-docs/docs/components/Dropdown.mdx
Due: none

fix(plasma-b2c): `Select`: extending & restyling from web
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-b2c/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): `Select` a11y: keyboard navigation
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/NestedDropdown.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectArrow.tsx
  packages/plasma-web/src/components/Select/SelectButton.tsx
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/index.ts
  packages/plasma-web/src/components/Select/withMultiSelect.tsx
  packages/plasma-web/src/components/Select/withSingleSelect.tsx
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Add scalable icons demo
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/icons.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): `Select`: tests and a11y assertions
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- default.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should change selection on arrow clicks.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close all menus and select item on Enter.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close all menus on blur.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close on blur.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close only nested menu on Escape.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should move over items into nested menu.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by Enter.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by Space.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by {downarrow}.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by {uparrow}.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open nested dropdown by space click.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select first item by Home.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select more than 1 item and not close.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select more than 1 item inside submenu and not close.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select some subitems.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- default.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- item click.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- multiselect.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should change selection on arrow clicks.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close all menus and select item on Enter.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close all menus on blur.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close on blur.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close only nested menu on Escape.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should move over items into nested menu.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by Enter.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by Space.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by {downarrow}.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by {uparrow}.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open nested dropdown by space click.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select first item by Home.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select more than 1 item and not close.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select more than 1 item inside submenu and not close.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select some subitems.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- simple.snap.png
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-web-docs/versionsArchived.json
Due: prettier --write --parser json, node

feat(plasma-temple): Assistant impovements
  packages/plasma-temple/src/assistant.ts
  packages/plasma-temple/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): update build
  packages/plasma-temple/babel.config.js
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/rollup.config.js
  packages/plasma-temple/src/components/Form/components/Field.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/map.png
  packages/plasma-temple/tsconfig.build.json
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

test(plasma-web): `Select`: enable snapshoting (was commented)
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `Badge`: Added `warning` view
  packages/plasma-ui/src/components/Badge/Badge.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `Stepper`: divide functionallity as `useStepper`
  packages/plasma-ui/src/components/Stepper/Stepper.hooks.ts
  packages/plasma-ui/src/components/Stepper/Stepper.tsx
  packages/plasma-ui/src/components/Stepper/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Added `ProductCard` component
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- custom color.snap.png
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- default.snap.png
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- disabled.snap.png
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- positive quantity.snap.png
  packages/plasma-ui/src/components/Card/Card.stories.mdx
  packages/plasma-ui/src/components/Card/Card.stories.tsx
  packages/plasma-ui/src/components/Card/Card.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.component-test.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.stories.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCardStepper.tsx
  packages/plasma-ui/src/components/ProductCard/index.ts
  packages/plasma-ui/src/index.ts
  website/plasma-ui-docs/docs/components/ProductCard.mdx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
