Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

test(plasma-ui): Improve Checkbox tests
  cypress/snapshots/ui/components/Checkbox/Checkbox.component-test.tsx/interaction.snap.png
  cypress/snapshots/ui/components/Checkbox/Checkbox.component-test.tsx/interactionhover.snap.png
Due: none

test(plasma-cy-utils): wrap SSRProvider over all tests
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Radiobox: uniqId test
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

build(plasma-ui,plasma-web,plasma-b2c): ignore examples.tsx
  cypress/webpack.config.js
  nyc.config.js
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): update base screens
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _pin.snap.png
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _shift.snap.png
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- withAutoFocus.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/clicked.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _checked.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _disabled.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _focused.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _pressed.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- onClick.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- resize.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- __content-left.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- _role.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- _position.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- dumm.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- showToast.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- timeout.snap.png
Due: none

test(plasma-web): add Grid component test
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid -- simple.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _L.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _M.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _S.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _XL.snap.png
  packages/plasma-web/src/components/Grid/GridBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: build demo on push master
  .github/workflows/ad-sdk-demo-master.yml
  .github/workflows/storybook-pr.yml
Due: none

feat(plasma-web, plasma-b2c): Arrow and check placement in `Select`
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- disabled.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat(app): поменял ручку бека, доработки
  packages/layer-inpicture-sdk/src/api/requsts.ts
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/PrimaryTopContent.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/components/SliderWrapper.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/css/styles.sass
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/src/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

test(plasma-b2c, plasma-web): Added click and multiselect tests for `Select`
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- item click.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- multiselect.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- item click.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- multiselect.snap.png
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Prevent `Radiobox`'s & `Checkbox`'s trigger from squeeze
  cypress/snapshots/ui/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- squeezes.snap.png
  cypress/snapshots/ui/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- squeezes.snap.png
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

test(plasma-b2c): Add tests and snapshots for `Editable` component
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- empty.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onBlur and onFocus.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onChange.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onPaste.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- simple.snap.png
  packages/plasma-b2c/src/components/Editable/Editable.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Ability to hide player controls
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerControls.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(ad-sdk): add min cooldown
  packages/ad-sdk/examples/demo/package.json
  packages/ad-sdk/examples/demo/src/index.js
  packages/ad-sdk/src/banner/__snapshots__/banner.test.js.snap
  packages/ad-sdk/src/banner/banner.js
  packages/ad-sdk/src/banner/banner.test.js
  packages/ad-sdk/src/banner/bannerComponent.js
  packages/ad-sdk/src/banner/bannerComponent.test.js
  packages/ad-sdk/src/main.js
  packages/ad-sdk/src/utils/addAttributes.js
  packages/ad-sdk/src/utils/addStyle.js
  packages/ad-sdk/src/utils/createElement.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix: stopPropagate close button, add cooldown in params
  packages/ad-sdk/examples/demo/package.json
  packages/ad-sdk/examples/demo/src/index.js
  packages/ad-sdk/package.json
  packages/ad-sdk/src/banner/bannerComponent.js
  packages/ad-sdk/src/banner/bannerComponent.test.js
  packages/ad-sdk/src/main.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat: add banner link in sberbox
  packages/ad-sdk/examples/demo/package-lock.json
  packages/ad-sdk/examples/demo/package.json
  packages/ad-sdk/examples/demo/public/index.html
  packages/ad-sdk/examples/demo/src/index.js
  packages/ad-sdk/src/banner/__snapshots__/banner.test.js.snap
  packages/ad-sdk/src/banner/banner.js
  packages/ad-sdk/src/banner/banner.test.js
  packages/ad-sdk/src/banner/bannerComponent.js
  packages/ad-sdk/src/banner/bannerDispatcher.js
  packages/ad-sdk/src/main.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ad-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ad-sdk/package-lock.json
  packages/ad-sdk/package.json
Due: prettier --write --parser json, node

test(plasma-b2c): Add tests and snapshots for `Slider` component
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- _disabled.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- double.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- drag and drop with double.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- drag and drop with single.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- drag and drop without onChange.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- simple.snap.png
  packages/plasma-b2c/src/components/Slider/Slider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web, plasma-b2c): Added possibility to specify id for `Notification`
  packages/plasma-b2c/src/components/Notification/index.tsx
  packages/plasma-web/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-web/src/components/Notification/NotificationsStore.ts
  packages/plasma-web/src/components/Notification/index.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Add tests and snapshots for `Upload` component
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- upload dnd from fixture.snap.png
  packages/plasma-b2c/src/components/Upload/Upload.component-test.tsx
  packages/plasma-b2c/src/components/Upload/utils.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c, plasma-web): Add statuses to `Notification` test
  cypress/snapshots/b2c/components/Notification/NotificationBase.component-test.tsx/plasma-web Notification -- simple.snap.png
  cypress/snapshots/web/components/Notification/Notification.component-test.tsx/plasma-web Notification -- default.snap.png
  cypress/snapshots/web/components/Notification/Notification.component-test.tsx/plasma-web Notification -- simple.snap.png
  packages/plasma-b2c/src/components/Notification/NotificationBase.component-test.tsx
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Add missing snapshots for `Switch` component
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/clicked.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _checked.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _disabled.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _focused.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _pressed.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- onClick.snap.png
Due: none

test(plasma-b2c): Add missing snapshots for `Radiobox` component
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- squeezes.snap.png
Due: none
