Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore(plasma-ui): Change deviceKind through get param in iframe
  packages/plasma-ui/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

docs: add documentation for environment
  packages/plasma-ui/.storybook/main.js
  packages/plasma-ui/environment.stories.mdx
Due: eslint --fix, prettier --write, stylelint

docs: plasma-ui disable autofocus for time picker
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: TimePicker throws exception for out of range value
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

docs: fix time picker docs
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Picker focus / control remote
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Pass ids in Date&TimePicker
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/SimpleDatePicker.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-ui): Picker component refactor
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Date&TimePicker rest attributes on wrapper
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Canvas demo app
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/examples-pr.yml
  .github/workflows/examples.yml
  examples/demo-canvas-app/.babelrc
  examples/demo-canvas-app/.env.production
  examples/demo-canvas-app/.gitignore
  examples/demo-canvas-app/README.md
  examples/demo-canvas-app/components/GlobalStyle.tsx
  examples/demo-canvas-app/components/index.ts
  examples/demo-canvas-app/env.development
  examples/demo-canvas-app/next-env.d.ts
  examples/demo-canvas-app/next.config.js
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  examples/demo-canvas-app/pages/_app.tsx
  examples/demo-canvas-app/pages/_document.tsx
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/pickers.tsx
  examples/demo-canvas-app/pages/test/components/switch.tsx
  examples/demo-canvas-app/pages/test/components/text-field.tsx
  examples/demo-canvas-app/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix: Switch's focus
  packages/plasma-core/src/components/Switch/Switch.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Documentation for hocs
  packages/plasma-ui/src/hocs/hocs.stories.mdx
Due: none

fix(plasma-ui): Header back button position
  packages/plasma-ui/src/components/Header/HeaderBack.tsx
  packages/plasma-ui/src/components/Header/HeaderRoot.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json, node

chore(demo-canvas-app): rename components route
  examples/demo-canvas-app/package.json
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/ui-components/pickers.tsx
  examples/demo-canvas-app/pages/test/ui-components/switch.tsx
  examples/demo-canvas-app/pages/test/ui-components/text-field.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

ci(demo-canvas-app): Fix public url if isnt a PR build
  examples/demo-canvas-app/next.config.js
Due: eslint --fix, prettier --write, stylelint

docs(demo-canvas-app): add Carousel example
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/ui-components/carousel.tsx
Due: eslint --fix, prettier --write, stylelint

fix(docs): versions in contributing.md added
  CONTRIBUTING.md
Due: prettier --write --parser markdown

feat: react17 and test job added
  .github/workflows/tests.yml
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json, node
