Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix: add bootstrap in deploy script [skip ci]
  package.json
Due: prettier --write --parser json, node

feat(ui): переработаны Button и ActionButton
  packages/ui/src/components/ActionButton/ActionButton.mdx
  packages/ui/src/components/ActionButton/ActionButton.stories.tsx
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ButtonBase.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/mixins/applyDisabled.ts
  packages/ui/src/mixins/applyMotion.ts
  packages/ui/src/mixins/applyView.ts
  packages/ui/src/mixins/beforeFocusOutline.ts
  packages/ui/src/mixins/pins.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

build: remove private packages from deps
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

refactor(ui): format currency without package i18n
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/helpers/formatCurrency.ts
Due: eslint --fix, prettier --write, stylelint

chore: change logo image for docs/storybook
  .eslintrc.js
  packages/ui/.storybook/public/images/logo.png
  packages/ui/.storybook/public/images/s7-logo.svg
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-styles): Общий фокус-миксин
  packages/plasma-styles/src/mixins/addFocus.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-styles/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-styles/package-lock.json
  packages/plasma-styles/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): Добавить шаг prepare/build в публикацию
  packages/ui/.gitignore
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: bump locks [skip ci]
  packages/plasma-styles/package-lock.json
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

build: change eslint versions
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

refactor(plasma-styles): fix lint errors
  packages/plasma-styles/.gitignore
  packages/plasma-styles/src/components/Body/index.ts
  packages/plasma-styles/src/components/Color/index.ts
  packages/plasma-styles/src/components/Color/tokens.ts
  packages/plasma-styles/src/stories/Plasma.stories.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(ui): fix lint errors
  packages/ui/src/components/Field/Field.stories.tsx
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: release steps flow
  .github/workflows/release.yml
Due: none

refactor(ui): fix another lint errors
  packages/ui/src/components/Card/CardTypography.tsx
  packages/ui/src/components/Icon/Icon.assets/Bubble.tsx
  packages/ui/src/components/Icon/Icon.assets/Mute.tsx
  packages/ui/src/components/Icon/Icon.assets/Text.tsx
Due: eslint --fix, prettier --write, stylelint

chore: disable order rule
  .stylelintrc.js
Due: eslint --fix, prettier --write, stylelint

ci: add lint step
  .github/workflows/release.yml
Due: none

ci: add lint step to chromatic workflow
  .github/workflows/chromatic.yml
Due: none

fix(ui): change eslintignore
  .eslintignore
Due: none

feat(ui): Переход на общий фокус-миксин
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ButtonBase.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/mixins/beforeFocusOutline.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-styles/CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
