Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): add Cell component
  packages/ui/src/components/Cell/Cell.mdx
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Icon/Icon.assets/DisclosureRight.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/Icons/IconDisclosureRight.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлены компоненты TextBox & Cell
  packages/ui/.storybook/public/images/avocado.png
  packages/ui/.storybook/public/images/img.png
  packages/ui/package-lock.json
  packages/ui/src/components/Cell/Cell.mdx
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/components/Cell/CellListItem.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/TextBox/TextBox.stories.tsx
  packages/ui/src/components/TextBox/TextBox.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

chore: storybook: поправить глобальные стили
  packages/ui/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

chore(ui): more cleanup
  .eslintignore
  README.md
  examples/demo-tokens/README.md
  examples/demo-tokens/src/App.css
  examples/demo-tokens/src/App.tsx
  examples/demo-tokens/src/index.css
  packages/plasma-tokens/README.md
  packages/ui/.storybook/preview.js
  packages/ui/README.md
  packages/ui/doczrc.js
  packages/ui/package-lock.json
  packages/ui/src/components/Badge/Badge.mdx
  packages/ui/src/components/Grid/Grid.mdx
  packages/ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

docs: Обновить документацию
  README.md
  examples/demo-tokens/.env
  examples/demo-tokens/.gitignore
  examples/demo-tokens/.npmrc
  examples/demo-tokens/README.md
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  examples/demo-tokens/public/favicon.ico
  examples/demo-tokens/public/index.html
  examples/demo-tokens/public/logo192.png
  examples/demo-tokens/public/logo512.png
  examples/demo-tokens/public/manifest.json
  examples/demo-tokens/public/robots.txt
  examples/demo-tokens/src/App.css
  examples/demo-tokens/src/App.test.tsx
  examples/demo-tokens/src/App.tsx
  examples/demo-tokens/src/index.css
  examples/demo-tokens/src/index.tsx
  examples/demo-tokens/src/logo.svg
  examples/demo-tokens/src/react-app-env.d.ts
  examples/demo-tokens/src/reportWebVitals.ts
  examples/demo-tokens/src/setupTests.ts
  examples/demo-tokens/tsconfig.json
  packages/plasma-tokens/CONTRIBUTING.md
  packages/plasma-tokens/LICENSE.txt
  packages/plasma-tokens/README.md
  packages/ui/LICENSE.txt
  packages/ui/README.md
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update README.md
  README.md
Due: prettier --write --parser markdown

docs: update links
  README.md
  packages/plasma-tokens/README.md
Due: prettier --write --parser markdown

feat(ui): Добавлена карточка в сторибук и докзи
  packages/ui/.storybook/public/images/card1.png
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardTypography.tsx
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Cell/CellListItem.tsx
  packages/ui/src/components/TextBox/TextBox.tsx
  packages/ui/src/helpers/IconPlaceholder.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: Добавлен шаг сборки beta(rc) ветки
  .github/workflows/release.yml
  package.json
Due: prettier --write --parser json, node

fix: remove old icons from components
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Icon/Icon.assets/Apps.tsx
  packages/ui/src/components/Icon/IconRoot.tsx
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: компонент Input
  packages/ui/src/components/Input/Input.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Удалены стори и дока для Cart
  packages/ui/src/components/Cart/Cart.mdx
  packages/ui/src/components/Cart/Cart.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: правки после рефакторинга
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Icon/Icon.assets/DisclosureRight.tsx
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

build(ui): ts ломает сборку доки
  packages/ui/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
