Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(palsma-b2c): TextField style fix
  packages/plasma-b2c/src/components/Field/Field.tsx
  packages/plasma-b2c/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-temple): common storybook style
  packages/plasma-temple/.storybook/decorators/withAppState.tsx
  packages/plasma-temple/.storybook/main.js
  packages/plasma-temple/.storybook/manager.js
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/.storybook/public/images/plasma-logo.png
  packages/plasma-temple/.storybook/theme.js
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): improve CartPage markup
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): improve CartPage mobile markup
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-tokens-b2c): change primary tokens
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
Due: eslint --fix, prettier --write, stylelint

feat(use-virtual): keyboard handler only in focus
  packages/use-virtual/src/types.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/utils/use-keyboard.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/use-virtual/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Support for findInInitialData
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/utils/getAssistantSmartAppInitialData.ts
  packages/plasma-temple/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-temple/package-lock.json
Due: prettier --write --parser json, node

test(plasma-temple): ItemPage Spec
  cypress/snapshots/temple/pages/ItemPage/itemPage.component-test.tsx/ItemPage -- base test -- screen rendered.snap.png
  cypress/snapshots/temple/pages/ItemPage/itemPage.component-test.tsx/ItemPage -- render with custom card -- render list of custom card.snap.png
  cypress/support/commands.ts
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ItemPage/itemPage.component-test.tsx
  packages/plasma-temple/src/pages/ItemPage/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(ad-sdk): add pad_id and block_id for surface SBERZVUK
  packages/ad-sdk/src/utils/convertSurfaceName.js
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ad-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ad-sdk/package-lock.json
  packages/ad-sdk/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): Realtime update for currentTime in useMediaPlayer
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Make toasts stretch more then 50% of container
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- _position.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- showToast.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- two lines.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- _position.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- showToast.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- two lines.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- _position.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- showToast.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- two lines.snap.png
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/ToastBase.component-test.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(icon-export-ui): Add ui form for export icon from figma
  packages/icon-export-ui/.eslintrc.js
  packages/icon-export-ui/.prettierrc
  packages/icon-export-ui/package-lock.json
  packages/icon-export-ui/package.json
  packages/icon-export-ui/src/app/GlobalStyle.tsx
  packages/icon-export-ui/src/app/components/App.tsx
  packages/icon-export-ui/src/app/components/footer/Footer.style.ts
  packages/icon-export-ui/src/app/components/footer/Footer.tsx
  packages/icon-export-ui/src/app/components/form/Form.style.ts
  packages/icon-export-ui/src/app/components/form/Form.tsx
  packages/icon-export-ui/src/app/components/header/Header.style.ts
  packages/icon-export-ui/src/app/components/header/Header.tsx
  packages/icon-export-ui/src/app/components/index.ts
  packages/icon-export-ui/src/app/index.html
  packages/icon-export-ui/src/app/index.tsx
  packages/icon-export-ui/src/code.ts
  packages/icon-export-ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(icon-export-ui): Add figma plugin template
  packages/icon-export-ui/.gitignore
  packages/icon-export-ui/README.md
  packages/icon-export-ui/manifest.json
  packages/icon-export-ui/package-lock.json
  packages/icon-export-ui/package.json
  packages/icon-export-ui/src/code.ts
  packages/icon-export-ui/tsconfig.json
  packages/icon-export-ui/webpack.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/icon-export-ui/package-lock.json
  packages/icon-export-ui/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): `ActionButton`: Made `pin` not required again
  packages/plasma-ui/src/components/Button/ActionButton.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
