Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat: Added Plasma Temple documentation app
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/templates.md
  website/plasma-temple-docs/.gitignore
  website/plasma-temple-docs/.npmrc
  website/plasma-temple-docs/README.md
  website/plasma-temple-docs/babel.config.js
  website/plasma-temple-docs/docs/actions.md
  website/plasma-temple-docs/docs/config.md
  website/plasma-temple-docs/docs/core.md
  website/plasma-temple-docs/docs/forms.md
  website/plasma-temple-docs/docs/hooks.md
  website/plasma-temple-docs/docs/scenario.md
  website/plasma-temple-docs/docs/templates.md
  website/plasma-temple-docs/docusaurus.config.js
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-temple-docs/sidebars.js
  website/plasma-temple-docs/src/css/custom.css
  website/plasma-temple-docs/src/theme/Root/index.tsx
  website/plasma-temple-docs/static/.nojekyll
  website/plasma-temple-docs/static/images/320_320_0.jpg
  website/plasma-temple-docs/static/images/320_320_1.jpg
  website/plasma-temple-docs/static/images/320_320_10.jpg
  website/plasma-temple-docs/static/images/320_320_11.jpg
  website/plasma-temple-docs/static/images/320_320_12.jpg
  website/plasma-temple-docs/static/images/320_320_2.jpg
  website/plasma-temple-docs/static/images/320_320_3.jpg
  website/plasma-temple-docs/static/images/320_320_4.jpg
  website/plasma-temple-docs/static/images/320_320_5.jpg
  website/plasma-temple-docs/static/images/320_320_6.jpg
  website/plasma-temple-docs/static/images/320_320_7.jpg
  website/plasma-temple-docs/static/images/320_320_8.jpg
  website/plasma-temple-docs/static/images/320_320_9.jpg
  website/plasma-temple-docs/static/images/favicon.png
  website/plasma-temple-docs/static/images/plasma-logo.png
  website/plasma-temple-docs/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

ci: Deploy Plasma Temple docs
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

feat(plasma-website): Added link to Plasma Temple documentation
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Add .npmrc to documentation apps
  website/plasma-ui-docs/.npmrc
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/.npmrc
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

feat(plasma-docs-ui): Added GlobalStyle component
  utils/plasma-docs-ui/src/components/GlobalStyle.tsx
  utils/plasma-docs-ui/src/components/index.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  website/plasma-temple-docs/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-b2c): reduce slider handle z-index
  packages/plasma-b2c/src/components/Slider/Handle.tsx
Due: eslint --fix, prettier --write, stylelint

fix: plasma-web grid mobile margins
  packages/plasma-web/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): useHeaderProps export
  packages/plasma-temple/src/components/Header/index.ts
  packages/plasma-temple/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: cypress a11y checks
  .gitignore
  cypress.json
  cypress/config/b2c-config.json
  cypress/config/ui-config.json
  cypress/config/web-config.json
  cypress/plugins/index.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): export useHeaderProps
  packages/plasma-temple/src/components/Header/Header.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: b2c, ui, web code coverage
  .babelrc.js
  .github/workflows/cypress-ct.yml
  .gitignore
  cypress/plasma-b2c-coverage/.gitignore
  cypress/plasma-ui-coverage/.gitignore
  cypress/plasma-web-coverage/.gitignore
  cypress/plugins/index.ts
  cypress/support/index.ts
  nyc.config.js
  package-lock.json
  package.json
  packages/plasma-ui/src/components/Badge/Badge.component-test.tsx
  packages/plasma-ui/src/components/Button/Button.component-test.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat: export spacing
  packages/plasma-b2c/src/mixins/index.ts
  packages/plasma-core/src/mixins/applySpacing.ts
  packages/plasma-core/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): prevent disabled select from opening
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- disabled.snap.png
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-docs-ui): Add `CodeSandbox` component
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-docs-ui/src/components/CodeSandbox.tsx
  utils/plasma-docs-ui/src/components/Playground.tsx
  utils/plasma-docs-ui/src/components/index.tsx
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-ui-docs/src/components/CodeSandbox.tsx
  website/plasma-ui-docs/src/components/index.ts
  website/plasma-ui-docs/src/theme/Playground/index.tsx
  website/plasma-web-docs/docs/components/Badge.mdx
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-web-docs/src/components/CodeSandbox.tsx
  website/plasma-web-docs/src/components/Description.tsx
  website/plasma-web-docs/src/components/PropsTable.tsx
  website/plasma-web-docs/src/components/index.ts
  website/plasma-web-docs/src/hooks/useDynamicImport.ts
  website/plasma-web-docs/src/snippets/Badge/Test.tsx
  website/plasma-web-docs/src/theme/Playground/index.tsx
  website/plasma-web-docs/src/theme/ReactLiveScope/index.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple-docs): Add noop docgenPlugin plugin for docusaurus config
  website/plasma-temple-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
