Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-temple): Ability to disable autofocus in HeroSlider
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-web, plasma-b2c): `Tooltip`: global dark
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- interaction.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple placement.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- out of bounds.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- interaction.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple placement.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- out of bounds.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
  packages/plasma-web/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): Described props `as` and `forwardedAs`
  website/plasma-ui-docs/docs/types/_category_.json
  website/plasma-ui-docs/docs/types/as.mdx
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-web, plasma-b2c): `TextField`: separated helper spacing styles
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- disabled.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- empty.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- item click.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- multiselect.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- disabled.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- empty.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- resize.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  packages/plasma-core/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/Field/index.ts
  packages/plasma-ui/src/components/TextArea/TextArea.tsx
  packages/plasma-ui/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add typescript-coverage workflow
  .github/workflows/typescript-coverage.yml
  .gitignore
  package.json
Due: prettier --write --parser json, node

chore(plasma-tokens-b2c): add typecoverage
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
Due: prettier --write --parser json, node

fix(plasma-shop-template): deps versions
  packages/plasma-shop-template/template.json
  packages/plasma-shop-template/template/.env.example
  packages/plasma-shop-template/template/README.md
  packages/plasma-shop-template/template/src/hooks/useAssistantState.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

chore: templates eslint ignore by default
  .eslintignore
Due: none

fix(plasma-basic-template): deps versions
  packages/plasma-basic-template/template.json
  packages/plasma-basic-template/template/README.md
  packages/plasma-basic-template/template/config-overrides.js
  packages/plasma-basic-template/template/src/.env.example
  packages/plasma-basic-template/template/src/App.tsx
  packages/plasma-basic-template/template/src/pages/Gallery.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(use-virtual): overscan
  packages/use-virtual/src/hooks-helpers/useScroll.ts
  packages/use-virtual/src/hooks-helpers/useVirtualInit.ts
  packages/use-virtual/src/hooks-helpers/useVisibleItems.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/utils.ts
  packages/use-virtual/stories/VirtualHorizontalOverscan.stories.tsx
  packages/use-virtual/stories/components/VirtualHorizontalOverscan.tsx
  packages/use-virtual/stories/components/VirtualSmoothScroll.tsx
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/use-virtual/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
Due: prettier --write --parser json, node

fix(plasma-b2c): `Editable`: background in light theme
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- empty.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onBlur and onFocus.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onPaste.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- simple.snap.png
  packages/plasma-b2c/src/components/Editable/Editable.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-basic-template/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-shop-template/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-basic-template/package-lock.json
  packages/plasma-basic-template/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-shop-template/package-lock.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-temple): prepare HeroSlider for tests
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-temple): HeroSlider spec
  cypress/snapshots/temple/components/HeroSlider/HeroSlider.component-test.tsx/HeroSlider -- render.snap.png
  cypress/snapshots/temple/components/HeroSlider/HeroSlider.component-test.tsx/HeroSlider -- switch backward by keyboard.snap.png
  cypress/snapshots/temple/components/HeroSlider/HeroSlider.component-test.tsx/HeroSlider -- switch forward by keyboard.snap.png
  cypress/snapshots/temple/components/HeroSlider/HeroSlider.component-test.tsx/HeroSlider without timline -- render.snap.png
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-temple): fix blink cursor
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/Form -- check validity state -- valueMissing state.snap.png
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/Form -- render and fill first field.snap.png
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

fix(use-virtual): fix calculateRange search
  packages/use-virtual/src/utils.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-tokens-utils): Refactored code base for component theming
  utils/plasma-tokens-utils/package.json
  utils/plasma-tokens-utils/src/constants.ts
  utils/plasma-tokens-utils/src/functions.ts
  utils/plasma-tokens-utils/src/generation.test.ts
  utils/plasma-tokens-utils/src/generation.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemeValues.test.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemeValues.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemes.test.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemes.ts
  utils/plasma-tokens-utils/src/generators/generateFile.ts
  utils/plasma-tokens-utils/src/generators/generateThemeFromData.test.ts
  utils/plasma-tokens-utils/src/generators/generateThemeFromData.ts
  utils/plasma-tokens-utils/src/generators/generateTypoSystem.test.ts
  utils/plasma-tokens-utils/src/generators/generateTypoSystem.ts
  utils/plasma-tokens-utils/src/generators/index.ts
  utils/plasma-tokens-utils/src/index.ts
  utils/plasma-tokens-utils/src/mappers.test.ts
  utils/plasma-tokens-utils/src/mappers.ts
  utils/plasma-tokens-utils/src/types.ts
  utils/plasma-tokens-utils/src/utils/attachToRoot.ts
  utils/plasma-tokens-utils/src/utils/extractTokenData.ts
  utils/plasma-tokens-utils/src/utils/filterTypoStyles.ts
  utils/plasma-tokens-utils/src/utils/index.ts
  utils/plasma-tokens-utils/src/utils/objectToCSSVariables.ts
  utils/plasma-tokens-utils/src/utils/other.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-tokens, plasma-tokens-web, plasma-tokens-b2c): Added possibility for component theming
  packages/plasma-tokens-b2c/.gitignore
  packages/plasma-tokens-b2c/data/colors.ts
  packages/plasma-tokens-b2c/data/ds.ts
  packages/plasma-tokens-b2c/data/index.ts
  packages/plasma-tokens-b2c/data/sizes.ts
  packages/plasma-tokens-b2c/generate.ts
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-b2c/tsconfig.json
  packages/plasma-tokens-web/.gitignore
  packages/plasma-tokens-web/data/colors.ts
  packages/plasma-tokens-web/data/ds.ts
  packages/plasma-tokens-web/data/index.ts
  packages/plasma-tokens-web/data/sizes.ts
  packages/plasma-tokens-web/generate.ts
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens-web/tsconfig.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/data/colors.ts
  packages/plasma-tokens/data/ds.ts
  packages/plasma-tokens/data/index.ts
  packages/plasma-tokens/data/sizes.ts
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package.json
  packages/plasma-tokens/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-ui, plasma-web, plasma-b2c): `Button`: Added theming
  packages/plasma-core/src/components/Button/Button.mixins.ts
  packages/plasma-core/src/components/Button/Button.props.ts
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/plasma-core/src/mixins/applyOutline.ts
  packages/plasma-core/src/utils/roundness.ts
  packages/plasma-tokens-b2c/data/sizes.ts
  packages/plasma-tokens-web/data/sizes.ts
  packages/plasma-tokens/data/sizes.ts
  packages/plasma-ui/src/components/Button/ActionButton.tsx
  packages/plasma-web/src/components/Button/Button.mixins.ts
Due: eslint --fix, prettier --write, stylelint
