Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-temple): Fix useMemo in ItemPage
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): dont call `getInitialProps` if `state` is defined
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Refactor ItemCellProps
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Fix ItemMainSection linter error
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Refactor ItemDescription type
  packages/plasma-temple/src/pages/ItemPage/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Separate interface for description on ItemPages
  packages/plasma-temple/src/pages/ItemPage/types.ts
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): ReactElement in ItemPage description
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Button success
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/mixins/applyView.ts
  packages/plasma-core/src/tokens/colors.ts
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core, plasma-ui, plasma-web): Reassembled Field
  docs/showcase/src/ui/TextArea.stories.tsx
  packages/plasma-core/src/components/TextField/TextField.tsx
  packages/plasma-core/src/components/TextField/index.ts
  packages/plasma-core/src/mixins/applyDisabled.ts
  packages/plasma-core/src/types/InputHTMLAttributes.ts
  packages/plasma-core/src/types/TextareaHTMLAttributes.ts
  packages/plasma-core/src/types/TextareaResize.ts
  packages/plasma-core/src/types/index.ts
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-ui/src/components/TextArea/TextArea.tsx
  packages/plasma-ui/src/components/TextArea/index.ts
  packages/plasma-ui/src/index.ts
  packages/plasma-web/src/components/Field/Field.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Stories for field
  docs/showcase/src/helpers/TextFieldShowcase.tsx
  docs/showcase/src/helpers/index.ts
  docs/showcase/src/ui/TextField.stories.tsx
  docs/showcase/src/web/TextArea.stories.tsx
  docs/showcase/src/web/TextField.stories.tsx
  packages/plasma-core/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Spinner sizes
  packages/plasma-core/src/components/Spinner/Spinner.tsx
  packages/plasma-core/src/components/Spinner/SpinnerSvg.tsx
  packages/plasma-web/src/components/Spinner/Spinner.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Posibility to skip assistant native panel insets
  packages/plasma-temple/src/components/Layout/Layout.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core, plasma-ui, plasma-web): Reassembled Checkbox&Radio, indeterminate for web
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Basebox/index.ts
  packages/plasma-core/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-core/src/components/Checkbox/Checkbox.tsx
  packages/plasma-core/src/components/Checkbox/index.ts
  packages/plasma-core/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-core/src/components/Radiobox/Radiobox.tsx
  packages/plasma-core/src/components/Radiobox/RadioboxList.tsx
  packages/plasma-core/src/components/Radiobox/index.ts
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/Basebox/Basebox.tsx
  packages/plasma-ui/src/components/Basebox/index.ts
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Checkbox/IconDone.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/components/Basebox/Basebox.tsx
  packages/plasma-web/src/components/Basebox/index.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Checkbox/Icons.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json, node

docs(plasma-web): Added Grid docs
  docs/showcase/src/helpers/index.ts
  docs/showcase/src/ui/Grid.stories.tsx
  docs/showcase/src/web/Grid.stories.tsx
  packages/plasma-ui/src/components/Grid/Grid.stories.tsx
  packages/plasma-ui/src/helpers/Filler.tsx
  packages/plasma-ui/src/helpers/index.ts
  packages/plasma-web/src/components/Grid/Grid.stories.mdx
  packages/plasma-web/src/components/Grid/Grid.stories.tsx
  utils/plasma-sb-utils/src/components/Filler.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: ThemeColors in both libraries
  docs/showcase/src/ui/Colors.stories.tsx
  docs/showcase/src/web/Colors.stories.tsx
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Colors.stories.tsx
  packages/plasma-web/src/components/Colors.stories.tsx
  utils/plasma-sb-utils/src/components/ThemeColors.tsx
  utils/plasma-sb-utils/src/helpers/index.ts
  utils/plasma-sb-utils/src/helpers/themeColors.ts
  utils/plasma-sb-utils/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs: Display token name & var in ThemeColors
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-sb-utils/src/components/ThemeColors.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: Added favicon for storybooks
  packages/plasma-core/.storybook/manager-head.html
  packages/plasma-core/.storybook/public/images/favicon.png
  packages/plasma-ui/.storybook/manager-head.html
  packages/plasma-ui/.storybook/public/images/favicon.png
  packages/plasma-web/.storybook/manager-head.html
  packages/plasma-web/.storybook/public/images/favicon.png
Due: none

feat(plasma-tokens): Updated tokens from plasma-styles
  docs/showcase/src/ui/Colors.stories.tsx
  docs/showcase/src/web/Colors.stories.tsx
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/dataColors.ts
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/design-language/src/designs/PlasmaStyles.figma.ts
  packages/plasma-ui/src/components/Colors.stories.tsx
  packages/plasma-web/src/components/Colors.stories.tsx
  utils/plasma-sb-utils/src/components/ThemeColors.tsx
  utils/plasma-tokens-utils/src/mappers.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Components dark theme fixes
  packages/plasma-tokens-web/data.ts
  packages/plasma-tokens-web/dataColors.ts
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-web/src/components/Badge/Badge.tsx
  packages/plasma-web/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Field/Field.tsx
  packages/plasma-web/src/components/Progress/Progress.tsx
  packages/plasma-web/src/components/Select/SelectList.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.tsx
  packages/plasma-web/src/helpers/IconPlaceholder.tsx
  utils/plasma-tokens-utils/src/functions.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Link visited active color
  packages/plasma-tokens-web/dataColors.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
