Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-typo): Typography separation: bold & regular
  packages/plasma-b2c/src/components/Typography/Body.tsx
  packages/plasma-b2c/src/components/Typography/Text.tsx
  packages/plasma-b2c/src/components/Typography/Txt.tsx
  packages/plasma-b2c/src/components/Typography/Typography.stories.tsx
  packages/plasma-b2c/src/components/Typography/Typography.types.ts
  packages/plasma-b2c/src/components/Typography/index.ts
  packages/plasma-b2c/src/tokens/index.ts
  packages/plasma-typo/src/index.ts
  packages/plasma-typo/src/standard.ts
  packages/plasma-typo/src/tokens.ts
  packages/plasma-typo/src/typos.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
Due: prettier --write --parser markdown

fix: Update package-locks
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
Due: prettier --write --parser json, node

chore: Update package-locks
  examples/demo-canvas-app/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package.json
  packages/plasma-web/package.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

fix(plasma-colors): Add types to files field
  packages/plasma-colors/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  package-lock.json
Due: prettier --write --parser json, node

ci: fix pkg-locks regeneration
  .github/workflows/release.yml
Due: none

docs(b2c): improve ReadMe
  packages/plasma-b2c/README.md
Due: prettier --write --parser markdown

fix(plasma-web): Fix `Dropdown` componennt for multiselect mode
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/withMultiSelect.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): Add multiselect prop to `Select` component
  packages/plasma-b2c/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

fix: grid import
  packages/plasma-b2c/src/components/Grid/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: Delegate CODEOWNERS by folders
  CODEOWNERS
Due: none

fix(plasma-web, plasma-b2c): Fix re-exporting
  packages/plasma-b2c/src/components/Editable/Editable.tsx
  packages/plasma-b2c/src/hooks/index.ts
  packages/plasma-b2c/src/mixins/index.ts
  packages/plasma-b2c/src/types/index.ts
  packages/plasma-b2c/src/utils/index.ts
  packages/plasma-core/src/utils/index.ts
  packages/plasma-web/src/hooks/index.ts
  packages/plasma-web/src/mixins/index.ts
  packages/plasma-web/src/types/index.ts
  packages/plasma-web/src/utils/index.ts
  packages/plasma-web/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): Fix re-export from plasma-web for utils
  packages/plasma-b2c/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-web): Remove underline from Dropdown item
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): empty cart titleText and ration added
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
