Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-b2c): Added `TextField` component
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- empty.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- empty.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  packages/plasma-b2c/src/components/Field/Field.tsx
  packages/plasma-b2c/src/components/Field/index.ts
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.tsx
  packages/plasma-b2c/src/components/TextField/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-website): Remove unnecessary prop `size` from search input
  website/plasma-website/components/roster/SearchForm.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Separated `Input` and `TextArea`
  packages/plasma-core/src/components/Input/Input.mixins.ts
  packages/plasma-core/src/components/Input/Input.tsx
  packages/plasma-core/src/components/Input/index.ts
  packages/plasma-core/src/components/TextArea/TextArea.tsx
  packages/plasma-core/src/components/TextArea/index.ts
  packages/plasma-core/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: Replace `TextField` with `Field`
  packages/plasma-core/src/components/TextField/TextField.tsx
  packages/plasma-core/src/components/TextField/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui, plasma-web): B2C/B2B `Input` and `TextArea` on common platform
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- empty.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- empty.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- empty.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/Field/index.ts
  packages/plasma-ui/src/components/TextArea/TextArea.tsx
  packages/plasma-ui/src/components/TextField/TextField.stories.tsx
  packages/plasma-ui/src/components/TextField/TextField.tsx
  packages/plasma-web/src/components/Field/Field.tsx
  packages/plasma-web/src/components/Field/index.ts
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix: b2c grid doc
  packages/plasma-b2c/src/components/Grid/Grid.stories.mdx
  website/plasma-web-docs/docs/components/Grid.mdx
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat: b2c button rounding
  packages/plasma-b2c/src/components/Button/Button.tsx
  packages/plasma-b2c/src/components/Button/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): update assistant-client version
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/assistant.ts
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/hooks/useCharacter.ts
  packages/plasma-temple/src/hooks/useVoiceNavigation.test.tsx
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(website): add description for templates docs
  website/plasma-temple-docs/docs/templates.md
Due: prettier --write --parser markdown

feat(plasma-temple): Add cart test attributes
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

ci: Removed Cypress E2E workflow
  .github/workflows/cypress.yml
Due: none

feat(plasma-temple): support for window.appInitialData
  packages/plasma-temple/src/utils/getAssistantSmartAppInitialData.ts
  packages/plasma-temple/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-tokens-web): Fix `Tooltip` & `Button` confusing `checked` color token
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _view.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
Due: eslint --fix, prettier --write, stylelint

feat: Move documentation workflow to release for sequenced execution
  .github/workflows/documentation-pr.yml
  .github/workflows/release.yml
Due: none

chore: Remove documentation workflows
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Additional buttons in ItemPage
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
Due: eslint --fix, prettier --write, stylelint
