Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-ui, plasma-web): addon knobs removed
  packages/plasma-ui/.storybook/main.js
  packages/plasma-ui/.storybook/preview.js
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/TextBox/TextBox.stories.tsx
  packages/plasma-web/.storybook/main.js
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Price/Price.stories.tsx
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-ui/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-b2c): add ElasticGrid component
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/ElasticGrid/ElasticGrid.component-test.tsx
  packages/plasma-b2c/src/components/ElasticGrid/ElasticGrid.stories.tsx
  packages/plasma-b2c/src/components/ElasticGrid/ElasticGrid.tsx
  packages/plasma-b2c/src/components/ElasticGrid/index.ts
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore(plasma-web): Add re-export for `Dropdown` component
  packages/plasma-web/src/components/Dropdown/index.ts
  packages/plasma-web/src/components/Select/Select.utils.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Fix color for hover item in `Dropdown` component
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): Add global style for `a` tag in storybook
  packages/plasma-b2c/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): Add stories for `Dropdown` component
  packages/plasma-b2c/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-b2c/src/components/Dropdown/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): Fix click to empty select
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): Remove props offsetTop from `Select` component
  packages/plasma-b2c/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-web): Bump plasma-colors version
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

fix(plasma-web): Remove hover from select with empty list
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Fix open `Dropwdown` component if has not item
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

fix: grid container max size
  packages/plasma-b2c/src/components/Grid/Container.tsx
  packages/plasma-web/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `Upload` component
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Upload-2/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload-2/Upload.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadMessage.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadProgress.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadRoot.tsx
  packages/plasma-b2c/src/components/Upload-2/index.ts
  packages/plasma-b2c/src/components/Upload-2/types.ts
  packages/plasma-b2c/src/components/Upload-2/utils.ts
  packages/plasma-b2c/src/components/Upload/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload/Upload.tsx
  packages/plasma-b2c/src/components/Upload/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload/UploadGallery.tsx
  packages/plasma-b2c/src/components/Upload/UploadHelperText.tsx
  packages/plasma-b2c/src/components/Upload/UploadRoot.tsx
  packages/plasma-b2c/src/components/Upload/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-b2c): add custom background for editable component
  packages/plasma-b2c/src/components/Editable/Editable.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Added `Music` icon
  packages/plasma-b2c/src/components/Upload-2/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload-2/Upload.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload-2/index.ts
  packages/plasma-icons/src/Icon.assets/Music.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconMusic.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `UploadAudio` component
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.stories.tsx
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.tsx
  packages/plasma-b2c/src/components/UploadAudio/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Add `AudioPlayer` component
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/index.ts
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-b2c): Update `Upload` component; Added `UploadAudio` component
  packages/plasma-b2c/src/components/Upload-2/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload-2/Upload.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadRoot.tsx
  packages/plasma-b2c/src/components/Upload-2/index.ts
  packages/plasma-b2c/src/components/Upload/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload/Upload.tsx
  packages/plasma-b2c/src/components/Upload/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload/UploadGallery.tsx
  packages/plasma-b2c/src/components/Upload/UploadHelperText.tsx
  packages/plasma-b2c/src/components/Upload/UploadMessage.tsx
  packages/plasma-b2c/src/components/Upload/UploadProgress.tsx
  packages/plasma-b2c/src/components/Upload/index.ts
  packages/plasma-b2c/src/components/Upload/types.ts
  packages/plasma-b2c/src/components/Upload/utils.ts
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `UploadViusal` component
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadGallery.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.stories.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
  packages/plasma-b2c/src/components/UploadVisual/index.ts
  packages/plasma-b2c/src/components/UploadVisual/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
