Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

docs(plasma-ui): fix ui name
  docs/showcase/src/helpers/CardShowcase.tsx
  docs/showcase/src/helpers/CommonShowcase.tsx
  docs/showcase/src/helpers/Palette.tsx
  docs/showcase/src/helpers/Showcase.tsx
  docs/showcase/src/helpers/StoryDecorators.tsx
  docs/showcase/src/helpers/TabsShowcase.tsx
  docs/showcase/src/helpers/TextFieldShowcase.tsx
  docs/showcase/src/icons/Icons.stories.tsx
  docs/showcase/src/showcase/Mobile/Badges.stories.tsx
  docs/showcase/src/showcase/Mobile/Buttons.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.Universal.stories.tsx
  docs/showcase/src/showcase/Mobile/Controls.stories.tsx
  docs/showcase/src/showcase/Mobile/Pickers.stories.tsx
  docs/showcase/src/showcase/Mobile/Tabbar.stories.tsx
  docs/showcase/src/showcase/Mobile/TextFields.stories.tsx
  docs/showcase/src/ui/Badge.stories.tsx
  docs/showcase/src/ui/Button.stories.tsx
  docs/showcase/src/ui/Card.stories.tsx
  docs/showcase/src/ui/Carousel.stories.tsx
  docs/showcase/src/ui/Cell.stories.tsx
  docs/showcase/src/ui/Checkbox.stories.tsx
  docs/showcase/src/ui/Grid.stories.tsx
  docs/showcase/src/ui/Header.stories.tsx
  docs/showcase/src/ui/Image.stories.tsx
  docs/showcase/src/ui/MarkedList.stories.tsx
  docs/showcase/src/ui/Marquee.stories.tsx
  docs/showcase/src/ui/PaginationDots.stories.tsx
  docs/showcase/src/ui/Pickers.stories.tsx
  docs/showcase/src/ui/Price.stories.tsx
  docs/showcase/src/ui/Radiobox.stories.tsx
  docs/showcase/src/ui/Skeleton.stories.tsx
  docs/showcase/src/ui/Spinner.stories.tsx
  docs/showcase/src/ui/Stepper.stories.tsx
  docs/showcase/src/ui/Switch.stories.tsx
  docs/showcase/src/ui/Tabs.stories.tsx
  docs/showcase/src/ui/TextBox.stories.tsx
  docs/showcase/src/ui/TextField.stories.tsx
  docs/showcase/src/ui/Toast.stories.tsx
  docs/showcase/src/web/Grid.stories.tsx
Due: eslint --fix, prettier --write, stylelint

ci(plasma-ui): move lib gh worflow
  .github/workflows/chromatic.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

feat(plasma-ui): rename package
  docs/showcase/package.json
  packages/ui/package.json
Due: prettier --write --parser json, node

chore(plasma-web): Added Grid to index
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: plasma doc before major
  README.md
  packages/plasma-core/README.md
  packages/plasma-icons/README.md
  packages/plasma-tokens-android/README.md
  packages/plasma-tokens-ios-swift/README.md
  packages/plasma-tokens-web/README.md
  packages/plasma-tokens/README.md
  packages/plasma-ui/README.md
  packages/plasma-ui/src/components/Icon/.DS_Store
  packages/plasma-ui/src/components/Icon/Icon.mdx
  packages/plasma-web/README.md
Due: prettier --write --parser markdown

feat(plasma-tokens): add tokens for android/ios
  package-lock.json
  package.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/config.json
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

build: new story docs
  .github/workflows/documentation-pr.yml
  packages/ui/.gitignore
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

refactor(ui): mixins/pins => utils/roundness
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/roundness.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-core): move helpers to __helpers
  packages/plasma-core/.gitignore
  packages/plasma-core/src/__helpers/IconPlaceholder.tsx
  packages/plasma-core/src/__helpers/index.ts
  packages/plasma-core/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Документация для хоков
  packages/ui/src/hocs/hocs.mdx
Due: none

feat(ui): Компонент Price
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Price/Price.stories.tsx
  packages/ui/src/components/Price/Price.tsx
  packages/ui/src/components/Price/index.ts
  packages/ui/src/helpers/formatCurrency.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/formatCurrency.ts
  packages/ui/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработана документация Badge
  packages/ui/src/components/Badge/Badge.mdx
Due: none

ci: убран хардкод номера PR
  .github/workflows/documentation.yml
  package.json
  packages/ui/doczrc.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(ui): Компонент Image
  packages/ui/src/components/Image/Image.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: В компонент Core / Button занесен основной функционал
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Button перенесена в plasma-core
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-core/src/tokens/index.ts
  packages/plasma-core/src/tokens/typography.ts
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ButtonBase.tsx
  packages/ui/src/components/Button/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: Fix packages versions
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): Компонент Image
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Image/Image.tsx
  packages/ui/src/components/Image/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлен белый Spinner
  packages/ui/src/components/Spinner/Spinner.tsx
  packages/ui/src/components/Spinner/WhiteSpinnerSvg.tsx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Обновленные Grid и Carousel
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Grid/Grid.mdx
Due: none

feat(ui): Компонент Fade, Toast + Fade
  packages/ui/src/components/Fade/Fade.tsx
  packages/ui/src/components/Fade/index.ts
  packages/ui/src/components/Toast/Toast.stories.tsx
  packages/ui/src/components/Toast/ToastController.tsx
  packages/ui/src/components/Toast/ToastProvider.tsx
  packages/ui/src/components/Toast/types.ts
Due: eslint --fix, prettier --write, stylelint

chore(ui): добавлено дефолтное время отображения Toast
  packages/ui/src/components/Toast/Toast.mdx
  packages/ui/src/components/Toast/Toast.stories.tsx
  packages/ui/src/components/Toast/ToastProvider.tsx
Due: eslint --fix, prettier --write, stylelint

feat: добавлен auto плагин update-deps
  auto-plugins/.gitignore
  auto-plugins/src/index.ts
  auto-plugins/src/update-deps.ts
  auto-plugins/tsconfig.json
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(ui): Bump plasma-core version to rc.1
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): Переработан миксин applyMotion => applyInteraction
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.mdx
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/mixins/applyInteraction.ts
  packages/ui/src/mixins/index.ts
  packages/ui/src/mixins/mixins.mdx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Добавлен оверскролл для оси Y
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): убрать фильтры
  packages/plasma-icons/src/Icon.assets/Alarm.tsx
  packages/plasma-icons/src/Icon.assets/Call.tsx
  packages/plasma-icons/src/Icon.assets/CallEnd.tsx
  packages/plasma-icons/src/Icon.assets/Play.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Дополнена документация по миксинам
  packages/ui/src/mixins/mixins.stories.mdx
  packages/ui/src/mixins/mixins.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработана документация Button
  packages/ui/src/components/Button/Button.mdx
Due: none

docs: add About page
  packages/ui/.gitignore
  packages/ui/.storybook/main.js
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/Palette.stories.mdx
  packages/ui/sync-readme.sh
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(ui): Исправление для миксина applyRoundness
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Skeleton/LineSkeleton.tsx
  packages/ui/src/components/Skeleton/RectSkeleton.tsx
  packages/ui/src/components/Skeleton/TextSkeleton.tsx
  packages/ui/src/mixins/applyRoundness.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Переаботаны stories карусели
  packages/ui/.storybook/public/images/320_180_0.jpg
  packages/ui/.storybook/public/images/320_180_1.jpg
  packages/ui/.storybook/public/images/320_180_2.jpg
  packages/ui/.storybook/public/images/320_180_3.jpg
  packages/ui/.storybook/public/images/320_180_4.jpg
  packages/ui/.storybook/public/images/320_180_5.jpg
  packages/ui/.storybook/public/images/320_480_0.jpg
  packages/ui/.storybook/public/images/320_480_1.jpg
  packages/ui/.storybook/public/images/320_480_2.jpg
  packages/ui/.storybook/public/images/320_480_3.jpg
  packages/ui/.storybook/public/images/320_480_4.jpg
  packages/ui/.storybook/public/images/320_480_5.jpg
  packages/ui/.storybook/public/images/96_96_0.jpg
  packages/ui/.storybook/public/images/96_96_1.jpg
  packages/ui/.storybook/public/images/96_96_2.jpg
  packages/ui/.storybook/public/images/96_96_3.jpg
  packages/ui/.storybook/public/images/96_96_4.jpg
  packages/ui/.storybook/public/images/96_96_5.jpg
  packages/ui/src/components/Card/Card.examples.tsx
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Скролл-снеппинг для карусели (#107)
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselCol.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
Due: eslint --fix, prettier --write, stylelint

fix: ошибка при работе auto-плагина
  auto-plugins/src/update-deps.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Хук useRemoteHandlers для карусели с пультом
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
