Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore: изменен скрипт сборки доки
  package.json
  packages/plasma-icons/.npmrc
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/src/Icon.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(plasma-core): Switch fix exmpl
  packages/plasma-core/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Tabs перенесены в core
  packages/plasma-core/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-core/src/components/Tabs/index.ts
  packages/plasma-core/src/helpers/IconPlaceholder.tsx
  packages/plasma-core/src/helpers/index.ts
  packages/ui/src/components/Tabs/TabItem.tsx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Button дополнен раздел документации о круглых кнопках
  packages/ui/src/components/Button/Button.stories.mdx
Due: none

test(ui): убрана динамическая png из документации Card
  packages/ui/.storybook/public/images/cat.png
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

build: docs: storybook PUBLIC_URL
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  packages/ui/.storybook/main.js
  packages/ui/.storybook/manager-head.html
  packages/ui/.storybook/theme.js
  packages/ui/package.json
  packages/ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(ui): detection of portal
  packages/ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработана API Button
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/types/ShiftProps.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Параметр view сделал необязательным
  packages/ui/src/mixins/applyView.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компоненты DatePicker & TimePicker
  packages/ui/src/components/Pickers/DatePicker.tsx
  packages/ui/src/components/Pickers/Picker.tsx
  packages/ui/src/components/Pickers/PickerItem.tsx
  packages/ui/src/components/Pickers/Pickers.mdx
  packages/ui/src/components/Pickers/Pickers.stories.tsx
  packages/ui/src/components/Pickers/SimpleDatePicker.tsx
  packages/ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/ui/src/components/Pickers/TimePicker.tsx
  packages/ui/src/components/Pickers/index.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/formatters.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-web): Added Grid to index
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Card stories переделаны на использование TextBox
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): removed highlight on component tap in Chrome
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент Radiobox
  packages/ui/src/components/Radiobox/Radiobox.mdx
  packages/ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/ui/src/components/Radiobox/Radiobox.tsx
  packages/ui/src/components/Radiobox/RadioboxList.tsx
  packages/ui/src/components/Radiobox/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: добавить описание импортов
  README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

refactor: компоненты импортируют только нужные иконки
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/TextField/TextField.mdx
  packages/ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header: pair props in interface
  packages/ui/src/components/Header/Header.stories.mdx
  packages/ui/src/components/Header/Header.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): добавлена иконка feedback
  packages/plasma-icons/src/Icon.assets/Feedback.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconFeedback.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): TextField пример с content, rem-ы, cursor
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): проброс реф в компонент Carousel
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/utils/setRef.ts
  packages/ui/src/utils/useForkRef.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): improve theme exmpl
  packages/ui/src/components/theme.mdx
Due: none

feat(ui): Доработана API Tabs
  packages/ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлен пример с вертикальной каруселью
  packages/ui/src/components/Card/Card.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Документация для миксинов
  packages/ui/src/mixins/mixins.mdx
Due: none

feat(m): Скругление Card и ее фокусной рамки
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/mixins/applyRoundness.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент Tabs
  packages/ui/src/components/Tabs/TabItem.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/Tabs/index.ts
  packages/ui/src/helpers/ThemeBackground.tsx
  packages/ui/src/mixins/addFocus.ts
  packages/ui/src/mixins/applyDisabled.ts
  packages/ui/src/mixins/applyMotion.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлено правило переноса строк для типографики
  packages/ui/src/components/Typography/Body/index.ts
  packages/ui/src/components/Typography/Button/index.ts
  packages/ui/src/components/Typography/Caption/index.ts
  packages/ui/src/components/Typography/Display/index.ts
  packages/ui/src/components/Typography/Footnote/index.ts
  packages/ui/src/components/Typography/Headline/index.ts
  packages/ui/src/components/Typography/Paragraph/index.ts
  packages/ui/src/components/Typography/Underline/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(ui): пакет lodash.throttle перенесен в зависимости
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): Доработан хелпер ThemeBackground
  packages/ui/src/helpers/ThemeBackground.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Сторис цветовой палитры
  packages/ui/src/components/Palette.stories.tsx
  packages/ui/src/helpers/ColorsDemo.tsx
  packages/ui/src/helpers/Palette.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Button text-overflow, Icon flex
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-icons/src/IconRoot.tsx
  packages/ui/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент PaginationDots, #152
  packages/ui/src/components/PaginationDots/PaginationDot.tsx
  packages/ui/src/components/PaginationDots/PaginationDots.stories.mdx
  packages/ui/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/ui/src/components/PaginationDots/PaginationDots.tsx
  packages/ui/src/components/PaginationDots/SmartPaginationDots.tsx
  packages/ui/src/components/PaginationDots/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент Switch, #151
  packages/ui/src/components/Switch/Switch.stories.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/Switch/index.ts
  packages/ui/src/index.ts
  packages/ui/src/mixins/addFocus.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): MarkedList отступ 12px
  packages/ui/src/components/MarkedList/MarkedList.tsx
Due: eslint --fix, prettier --write, stylelint
