Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(): add Focus component
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Focus/Focus.stories.tsx
  packages/ui/src/components/Focus/Focus.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): компонент Button
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(ui): className для HeaderButton чтобы заработал styled
  packages/ui/src/components/HeaderButton/HeaderButton.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): update plasma-styles
  packages/plasma-styles/src/index.ts
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/PlasmaStyles/PlasmaStyles.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: название файла икноки и up version
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.assets/assistant-placeholder.svg
  packages/ui/src/components/Icon/Icon.assets/assistant.svg
  packages/ui/src/components/Icon/Icon.assets/assistant_placeholder.svg
  packages/ui/src/components/Icon/Icon.assets/search.svg
  packages/ui/src/components/Icon/Icon.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-styles): add historic color
  packages/plasma-styles/src/components/Color/tokens.ts
Due: eslint --fix, prettier --write, stylelint

chore(ui): обновление ScrollList
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/src/components/ScrollList/ScrollList.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(): add preventScroll
  packages/ui/src/components/Focus/Focus.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(ui): remove dependency on ThemeProvider
  packages/ui/.storybook/preview.js
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/HeaderButton/HeaderButton.tsx
  packages/ui/src/helpers/Story.tsx
  packages/ui/src/helpers/theme.ts
  packages/ui/src/theme/index.ts
  packages/ui/src/ui.d.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(): add addFocus mixin
  packages/plasma-styles/package.json
  packages/plasma-styles/src/mixins/addFocus.ts
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Focus/Focus.stories.tsx
  packages/ui/src/components/Focus/Focus.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix: change gitignore and plasma-styles publish
  packages/plasma-styles/.gitignore
  packages/plasma-styles/package.json
  packages/ui/.gitignore
Due: prettier --write --parser json, node

feat(): remove Focus
  packages/plasma-styles/src/index.ts
  packages/plasma-styles/src/mixins/index.ts
  packages/ui/src/components/Focus/Focus.stories.tsx
  packages/ui/src/hocs/withAutoFocus.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update catalog for autoFocus
  packages/plasma-styles/package-lock.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

chore(ui): иконки для страниц поиска
  packages/ui/src/components/Icon/Icon.assets/assistant.svg
  packages/ui/src/components/Icon/Icon.assets/assistant_placeholder.svg
  packages/ui/src/components/Icon/Icon.assets/search.svg
  packages/ui/src/components/Icon/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

deps(plasma-styles): bump version
  packages/plasma-styles/package-lock.json
  packages/plasma-styles/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

chore(ui): оптимизация иконок
  packages/ui/src/components/Icon/Icon.assets/assistant.svg
  packages/ui/src/components/Icon/Icon.assets/assistant_placeholder.svg
  packages/ui/src/components/Icon/Icon.assets/cart.svg
  packages/ui/src/components/Icon/Icon.assets/chevron-left.svg
  packages/ui/src/components/Icon/Icon.assets/clock.svg
  packages/ui/src/components/Icon/Icon.assets/done.svg
  packages/ui/src/components/Icon/Icon.assets/forward.svg
  packages/ui/src/components/Icon/Icon.assets/hotel.svg
  packages/ui/src/components/Icon/Icon.assets/minus.svg
  packages/ui/src/components/Icon/Icon.assets/paper.svg
  packages/ui/src/components/Icon/Icon.assets/pause.svg
  packages/ui/src/components/Icon/Icon.assets/play.svg
  packages/ui/src/components/Icon/Icon.assets/plus.svg
  packages/ui/src/components/Icon/Icon.assets/replay.svg
  packages/ui/src/components/Icon/Icon.assets/skip-next.svg
  packages/ui/src/components/Icon/Icon.assets/skip-previous.svg
Due: none

feat(ui): add theme select to docz
  packages/ui/.docz/src/gatsby-theme-docz/wrapper.js
  packages/ui/.gitignore
  packages/ui/package-lock.json
  packages/ui/src/components/ActionButton/ActionButton.mdx
  packages/ui/src/components/Cart/Cart.mdx
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/HeaderButton/HeaderButton.mdx
  packages/ui/src/components/Icon/Icon.mdx
  packages/ui/src/components/LooneyTunes/LooneyTunes.mdx
  packages/ui/src/helpers/ThemeBackground.tsx
  packages/ui/src/helpers/ThemeSelect.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(ui): выравнивание иконки в Button
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(ui): cherrypick and resolve conflicts
  packages/ui/.storybook/preview.js
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/HeaderButton/HeaderButton.tsx
  packages/ui/src/helpers/Story.tsx
Due: eslint --fix, prettier --write, stylelint

svg иконки сделаны инлайном
  packages/ui/src/components/Icon/Icon.assets/assistant-placeholder.svg
  packages/ui/src/components/Icon/Icon.assets/assistant.svg
  packages/ui/src/components/Icon/Icon.assets/cart.svg
  packages/ui/src/components/Icon/Icon.assets/chevron-left.svg
  packages/ui/src/components/Icon/Icon.assets/clock.svg
  packages/ui/src/components/Icon/Icon.assets/done.svg
  packages/ui/src/components/Icon/Icon.assets/forward.svg
  packages/ui/src/components/Icon/Icon.assets/hotel.svg
  packages/ui/src/components/Icon/Icon.assets/minus.svg
  packages/ui/src/components/Icon/Icon.assets/paper.svg
  packages/ui/src/components/Icon/Icon.assets/pause.svg
  packages/ui/src/components/Icon/Icon.assets/plaint.svg
  packages/ui/src/components/Icon/Icon.assets/play.svg
  packages/ui/src/components/Icon/Icon.assets/plus.svg
  packages/ui/src/components/Icon/Icon.assets/replay.svg
  packages/ui/src/components/Icon/Icon.assets/search.svg
  packages/ui/src/components/Icon/Icon.assets/skip-next.svg
  packages/ui/src/components/Icon/Icon.assets/skip-previous.svg
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/IconRoot.tsx
  packages/ui/src/components/Icon/Icons/IconAssistant.tsx
  packages/ui/src/components/Icon/Icons/IconAssistantPlaceholder.tsx
  packages/ui/src/components/Icon/Icons/IconCart.tsx
  packages/ui/src/components/Icon/Icons/IconChevronLeft.tsx
  packages/ui/src/components/Icon/Icons/IconClock.tsx
  packages/ui/src/components/Icon/Icons/IconDone.tsx
  packages/ui/src/components/Icon/Icons/IconForward.tsx
  packages/ui/src/components/Icon/Icons/IconHotel.tsx
  packages/ui/src/components/Icon/Icons/IconMinus.tsx
  packages/ui/src/components/Icon/Icons/IconPaper.tsx
  packages/ui/src/components/Icon/Icons/IconPause.tsx
  packages/ui/src/components/Icon/Icons/IconPlaint.tsx
  packages/ui/src/components/Icon/Icons/IconPlay.tsx
  packages/ui/src/components/Icon/Icons/IconPlus.tsx
  packages/ui/src/components/Icon/Icons/IconReplay.tsx
  packages/ui/src/components/Icon/Icons/IconSearch.tsx
  packages/ui/src/components/Icon/Icons/IconSkipNext.tsx
  packages/ui/src/components/Icon/Icons/IconSkipPrevious.tsx
  packages/ui/src/react-app-env.d.ts
Due: eslint --fix, prettier --write, stylelint

chore(ui): add docz to gitignore
  packages/ui/.docz/doczrc.js
  packages/ui/.gitignore
Due: eslint --fix, prettier --write, stylelint

добавлена докуменация для Stepper
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): реализована Сетка / Grid
  packages/ui/package.json
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): компонент Stepper
  packages/ui/package.json
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

refactor(ui): remove autogen docz boilerplate
  packages/ui/.docz/app/db.json
  packages/ui/.docz/gatsby-config.js
  packages/ui/.docz/gatsby-node.js
  packages/ui/.docz/package.json
  packages/ui/.docz/public/index.html
  packages/ui/.docz/public/page-data/404.html/page-data.json
  packages/ui/.docz/public/page-data/404/page-data.json
  packages/ui/.docz/public/page-data/components/ActionButton/page-data.json
  packages/ui/.docz/public/page-data/components/Cart/page-data.json
  packages/ui/.docz/public/page-data/components/Header/page-data.json
  packages/ui/.docz/public/page-data/components/HeaderButton/page-data.json
  packages/ui/.docz/public/page-data/components/Icon/page-data.json
  packages/ui/.docz/public/page-data/components/LooneyTunes/page-data.json
  packages/ui/.docz/public/page-data/dev-404-page/page-data.json
  packages/ui/.docz/public/page-data/index/page-data.json
  packages/ui/.docz/public/page-data/readme/page-data.json
  packages/ui/.docz/public/page-data/sq/d/1635659820.json
  packages/ui/.docz/public/page-data/src-components-scroll-list-readme/page-data.json
  packages/ui/.docz/src/gatsby-theme-docz/wrapper.js
  packages/ui/.docz/src/pages/404.js
  packages/ui/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

добавлена докуменация для Button
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): remove Story helper, add typo switcher
  packages/ui/.storybook/preview.js
  packages/ui/src/components/ActionButton/ActionButton.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Cart/Cart.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/HeaderButton/HeaderButton.stories.tsx
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/LooneyTunes/LooneyTunes.stories.tsx
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/src/helpers/Story.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): add theme switcher in toolbar
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/package-lock.json
  packages/ui/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): компонент Badge
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Badge/Badge.mdx
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): add docz
  packages/ui/.docz/app/db.json
  packages/ui/.docz/doczrc.js
  packages/ui/.docz/gatsby-config.js
  packages/ui/.docz/gatsby-node.js
  packages/ui/.docz/package.json
  packages/ui/.docz/public/index.html
  packages/ui/.docz/public/page-data/404.html/page-data.json
  packages/ui/.docz/public/page-data/404/page-data.json
  packages/ui/.docz/public/page-data/components/ActionButton/page-data.json
  packages/ui/.docz/public/page-data/components/Cart/page-data.json
  packages/ui/.docz/public/page-data/components/Header/page-data.json
  packages/ui/.docz/public/page-data/components/HeaderButton/page-data.json
  packages/ui/.docz/public/page-data/components/Icon/page-data.json
  packages/ui/.docz/public/page-data/components/LooneyTunes/page-data.json
  packages/ui/.docz/public/page-data/dev-404-page/page-data.json
  packages/ui/.docz/public/page-data/index/page-data.json
  packages/ui/.docz/public/page-data/readme/page-data.json
  packages/ui/.docz/public/page-data/sq/d/1635659820.json
  packages/ui/.docz/public/page-data/src-components-scroll-list-readme/page-data.json
  packages/ui/.docz/src/gatsby-theme-docz/wrapper.js
  packages/ui/.docz/src/pages/404.js
  packages/ui/doczrc.js
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.mdx
  packages/ui/src/components/Cart/Cart.mdx
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/HeaderButton/HeaderButton.mdx
  packages/ui/src/components/Icon/Icon.mdx
  packages/ui/src/components/LooneyTunes/LooneyTunes.mdx
  packages/ui/src/docz-welcome.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): реализована Сетка / Grid
  packages/ui/package-lock.json
  packages/ui/src/components/Grid/Grid.mdx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

компонент Icon разбит на частные случаи
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/IconRoot.tsx
  packages/ui/src/components/Icon/Icons/IconAssistant.tsx
  packages/ui/src/components/Icon/Icons/IconAssistantPlaceholder.tsx
  packages/ui/src/components/Icon/Icons/IconCart.tsx
  packages/ui/src/components/Icon/Icons/IconChevronLeft.tsx
  packages/ui/src/components/Icon/Icons/IconClock.tsx
  packages/ui/src/components/Icon/Icons/IconDone.tsx
  packages/ui/src/components/Icon/Icons/IconForward.tsx
  packages/ui/src/components/Icon/Icons/IconHotel.tsx
  packages/ui/src/components/Icon/Icons/IconMinus.tsx
  packages/ui/src/components/Icon/Icons/IconPaper.tsx
  packages/ui/src/components/Icon/Icons/IconPause.tsx
  packages/ui/src/components/Icon/Icons/IconPlaint.tsx
  packages/ui/src/components/Icon/Icons/IconPlay.tsx
  packages/ui/src/components/Icon/Icons/IconPlus.tsx
  packages/ui/src/components/Icon/Icons/IconReplay.tsx
  packages/ui/src/components/Icon/Icons/IconSearch.tsx
  packages/ui/src/components/Icon/Icons/IconSkipNext.tsx
  packages/ui/src/components/Icon/Icons/IconSkipPrevious.tsx
  packages/ui/src/components/Icon/index.ts
Due: eslint --fix, prettier --write, stylelint

добавлена иконка remove
  packages/ui/src/components/Icon/Icon.assets/remove.svg
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/Icons/IconRemove.tsx
  packages/ui/src/components/Icon/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): хелперы для сторис и докзи
  packages/ui/src/helpers/Filler.tsx
  packages/ui/src/helpers/ThemeBackground.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): экспорт Button/viewToColors
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): add more themes to theme switcher
  packages/ui/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

иконка карты оплаты
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.assets/Card.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/Icons/IconCard.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

удален сброс border-box из storybook и добавлен во все компоненты
  packages/ui/.storybook/preview-head.html
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardLabel.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Field/Field.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Icon/IconRoot.tsx
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/LooneyTunes/LooneyTunes.stories.tsx
  packages/ui/src/components/LooneyTunes/LooneyTunes.tsx
  packages/ui/src/components/ScrollList/ScrollList.tsx
  packages/ui/src/components/Spinner/Spinner.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/helpers/Filler.tsx
  packages/ui/src/helpers/ThemeBackground.tsx
  packages/ui/src/helpers/ThemeSelect.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node
