Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix: Add eslint & index.js & fix paths
  .eslintrc.js
  packages/spatial/.eslintrc.js
  packages/spatial/README.md
  packages/spatial/package-lock.json
  packages/spatial/package.json
  packages/spatial/src/hocs/withFocusable.tsx
  packages/spatial/src/hooks/useAutoFocus.ts
  packages/spatial/src/hooks/useFocusable.ts
  packages/spatial/src/hooks/useFocusableSection.ts
  packages/spatial/src/hooks/useSn.ts
  packages/spatial/src/index.ts
  packages/spatial/src/instance.ts
  packages/spatial/src/spatialContext.ts
  packages/spatial/src/spts.ts
  packages/spatial/src/utils/generateDistanceFunctions.ts
  packages/spatial/src/utils/getRect.ts
  packages/spatial/src/utils/isNavKey.ts
  packages/spatial/src/utils/matchSelector.ts
  packages/spatial/src/utils/navigate.ts
  packages/spatial/src/utils/parseSelector.ts
  packages/spatial/src/utils/partition.ts
  packages/spatial/src/utils/prioritize.ts
  packages/spatial/src/utils/spatialUtils.ts
  packages/spatial/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui): Компоненты DatePicker & TimePicker
  packages/ui/src/components/Pickers/DatePicker.tsx
  packages/ui/src/components/Pickers/Picker.tsx
  packages/ui/src/components/Pickers/PickerItem.tsx
  packages/ui/src/components/Pickers/Pickers.mdx
  packages/ui/src/components/Pickers/Pickers.stories.tsx
  packages/ui/src/components/Pickers/SimpleDatePicker.tsx
  packages/ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/ui/src/components/Pickers/TimePicker.tsx
  packages/ui/src/components/Pickers/index.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/formatters.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Добавлен параметр scrollAlign для Carousel
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselGridWrapper.tsx
  packages/ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): detection of portal
  packages/ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Поправлены импорты степпера
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): deviceDetection: don't break in node
  packages/ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

fix: Changes in spts.ts according to changes in video
  packages/spatial/src/index.ts
  packages/spatial/src/spts.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/spatial/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/spatial/package-lock.json
  packages/spatial/package.json
Due: prettier --write --parser json, node

feat(ui): Компонент Switch, #151
  packages/ui/src/components/Switch/Switch.stories.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/Switch/index.ts
  packages/ui/src/index.ts
  packages/ui/src/mixins/addFocus.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Темизация Storybook
  package-lock.json
  package.json
  packages/ui/.storybook/manager-head.html
  packages/ui/.storybook/manager.js
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/public/images/plasma-logo.png
  packages/ui/.storybook/theme.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

#196
  packages/ui/src/components/Grid/Col.tsx
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Ссылка на rc витрины + актуализирована документация в README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

chore: Актуализирован README.md, исправлен пример использования
  packages/ui/README.md
Due: prettier --write --parser markdown

feat(ui): ActionButton ref
  packages/ui/src/components/Button/ActionButton.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент PaginationDots, #152
  packages/ui/src/components/PaginationDots/PaginationDot.tsx
  packages/ui/src/components/PaginationDots/PaginationDots.stories.mdx
  packages/ui/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/ui/src/components/PaginationDots/PaginationDots.tsx
  packages/ui/src/components/PaginationDots/SmartPaginationDots.tsx
  packages/ui/src/components/PaginationDots/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): убрать фильтры
  packages/plasma-icons/src/Icon.assets/Alarm.tsx
  packages/plasma-icons/src/Icon.assets/Call.tsx
  packages/plasma-icons/src/Icon.assets/CallEnd.tsx
  packages/plasma-icons/src/Icon.assets/Play.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Тип CarouselProps внутри разложен на подтипы
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): ButtonProps внутри разложен на подтипы
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderButton.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: HeaderProps, StepperProps, TextFieldProps внутри разложены на подтипы
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Определение TV
  packages/ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправлены недоработки компонентов в светлой теме
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Card/Card.examples.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Checkbox/Basebox.tsx
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/MarkedList/MarkedList.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Tabs/TabItem.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/Toast/Toast.tsx
Due: eslint --fix, prettier --write, stylelint
