Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: Update README.md
  README.md
Due: prettier --write --parser markdown

fix(plasma-basic-template): typings
  packages/plasma-basic-template/template.json
  packages/plasma-basic-template/template/src/pages/Gallery.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-basic-template/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-basic-template/package-lock.json
  packages/plasma-basic-template/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): fix 100vh mobile
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/Layout/Layout.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useWindowInnerHeight.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): fix order button offset from bottom
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): fix cart quantity and amount after item was deleted
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): handle children number change in ElasticGrid
  packages/plasma-b2c/src/components/ElasticGrid/ElasticGrid.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: Add CHANGELOG to docs
  website/plasma-ui-docs/docs/_changelog.md
  website/plasma-ui-docs/docs/changelog.mdx
  website/plasma-web-docs/docs/_changelog.md
  website/plasma-web-docs/docs/changelog.mdx
Due: prettier --write --parser markdown

feat(plasma-icons): Update design for `Hearts` icons
  packages/plasma-icons/src/Icon.assets/Heart.tsx
  packages/plasma-icons/src/Icon.assets/HeartStroke.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: Convert markdown to HTML
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-docs-ui/src/components/Description.tsx
  utils/plasma-docs-ui/src/components/PropsTable.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fixup! ci: Versioned docs
  .github/workflows/documentation-main.yml
Due: none

fixup! ci: Versioned docs
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-main.yml.back
Due: none

ci: Versioned docs
  .github/js-actions/getPackageVersion/action.yml
  .github/js-actions/getPackageVersion/main.js
  .github/js-actions/isDocsVersion/action.yml
  .github/js-actions/isDocsVersion/main.js
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-main.yml.back
Due: eslint --fix, prettier --write, stylelint

chore: Add version switcher
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/plasma-docs-ui/package.json
Due: prettier --write --parser json, node

feat: upload progress label
  packages/plasma-b2c/src/components/Upload/UploadProgress.tsx
  packages/plasma-b2c/src/components/Upload/index.ts
Due: eslint --fix, prettier --write, stylelint
