Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-tokens): Updated tokens from plasma-styles
  docs/showcase/src/ui/Colors.stories.tsx
  docs/showcase/src/web/Colors.stories.tsx
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/dataColors.ts
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/design-language/src/designs/PlasmaStyles.figma.ts
  packages/plasma-ui/src/components/Colors.stories.tsx
  packages/plasma-web/src/components/Colors.stories.tsx
  utils/plasma-sb-utils/src/components/ThemeColors.tsx
  utils/plasma-tokens-utils/src/mappers.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Link visited active color
  packages/plasma-tokens-web/dataColors.ts
Due: eslint --fix, prettier --write, stylelint

docs: ThemeColors in both libraries
  docs/showcase/src/ui/Colors.stories.tsx
  docs/showcase/src/web/Colors.stories.tsx
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Colors.stories.tsx
  packages/plasma-web/src/components/Colors.stories.tsx
  utils/plasma-sb-utils/src/components/ThemeColors.tsx
  utils/plasma-sb-utils/src/helpers/index.ts
  utils/plasma-sb-utils/src/helpers/themeColors.ts
  utils/plasma-sb-utils/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): PickerItem sizes
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Store shop landing page active card index
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/Carousel/ShopLandingCarousel.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/Carousel/ShopLandingCarousel@sberbox.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/Carousel/ShopLandingCarousel@sberportal.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/Carousel/types.ts
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): smooth scroll on GridPage
  packages/plasma-temple/src/global.d.ts
  packages/plasma-temple/src/hooks/useSpatNav.ts
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint

ci: add repo info to release job
  .github/workflows/release.yml
Due: none

docs(plasma-tokens): links and anchors fixed
  packages/plasma-tokens/README.md
Due: prettier --write --parser markdown

ci: setup jest
  .github/workflows/release.yml
  package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Button/Button.test.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): fix init parameters for assistant
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
Due: eslint --fix, prettier --write, stylelint

build(showcase): fix .npmrc
  docs/showcase/.npmrc
Due: none

chore(demo-tokens): disable tests
  examples/demo-tokens/package.json
  examples/demo-tokens/src/App.test.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-tokens-utils): skip broken tests
  utils/plasma-tokens-utils/src/generation.test.ts
  utils/plasma-tokens-utils/src/mappers.test.ts
Due: eslint --fix, prettier --write, stylelint

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Custom entity component in ItemPage
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntity/ItemEntity.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web): about page with link added
  packages/plasma-web/.storybook/main.js
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/README.stories.mdx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): repository link added
  packages/plasma-ui/README.md
Due: prettier --write --parser markdown

fix(plasma-web): Removed tokens dependency
  packages/plasma-core/src/tokens/colors.ts
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Badge/Badge.tsx
  packages/plasma-web/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Field/Field.tsx
  packages/plasma-web/src/components/Link/Link.tsx
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalView.tsx
  packages/plasma-web/src/components/Notification/Notification.tsx
  packages/plasma-web/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-web/src/components/Progress/Progress.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/components/Select/SelectList.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Switch/Switch.tsx
  packages/plasma-web/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.tsx
  packages/plasma-web/src/components/Typography/Body/index.ts
  packages/plasma-web/src/components/Typography/Headline/index.ts
  packages/plasma-web/src/components/Typography/Paragraph/index.ts
  packages/plasma-web/src/components/Typography/Subtitle/index.ts
  packages/plasma-web/src/components/Typography/Typography.stories.tsx
  packages/plasma-web/src/tokens/colorThemes.ts
  packages/plasma-web/src/tokens/colors.ts
  packages/plasma-web/src/tokens/typoTheme.ts
  packages/plasma-web/src/tokens/typography.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat: Added plasma-tokens-b2c package
  .eslintignore
  .npmrc
  docs/showcase/.storybook/preview.js
  docs/showcase/package.json
  docs/showcase/src/helpers/StoryDecorators.tsx
  packages/plasma-tokens-b2c/.gitignore
  packages/plasma-tokens-b2c/.npmrc
  packages/plasma-tokens-b2c/LICENSE.txt
  packages/plasma-tokens-b2c/README.md
  packages/plasma-tokens-b2c/data.ts
  packages/plasma-tokens-b2c/dataColors.ts
  packages/plasma-tokens-b2c/design-language/.diezrc
  packages/plasma-tokens-b2c/design-language/.gitignore
  packages/plasma-tokens-b2c/design-language/.npmrc
  packages/plasma-tokens-b2c/design-language/designs/.gitkeep
  packages/plasma-tokens-b2c/design-language/package-lock.json
  packages/plasma-tokens-b2c/design-language/package.json
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-b2c/design-language/src/designs/PlaygroundWebB2C.figma.ts
  packages/plasma-tokens-b2c/design-language/src/index.ts
  packages/plasma-tokens-b2c/design-language/tsconfig.json
  packages/plasma-tokens-b2c/design-language/tslint.json
  packages/plasma-tokens-b2c/generate.ts
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-b2c/tsconfig.json
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node
