Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-ui-docs, plasma-docs-ui): Added `DeviceThemeProvider` to the preview root and sandbox
  utils/plasma-docs-ui/src/components/CodeSandbox.tsx
  website/plasma-ui-docs/src/theme/Playground/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-typo, plasma-ui, plasma-b2c): Moved responsive typography to common package
  packages/plasma-b2c/src/components/Typography/index.ts
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
  packages/plasma-typo/src/components/Body.tsx
  packages/plasma-typo/src/components/Dspl.tsx
  packages/plasma-typo/src/components/H.tsx
  packages/plasma-typo/src/components/Text.tsx
  packages/plasma-typo/src/components/index.ts
  packages/plasma-typo/src/index.ts
  packages/plasma-typo/src/types.ts
  packages/plasma-ui/.gitignore
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Typography/Headline/index.ts
  packages/plasma-ui/src/components/Typography/Typography.stories.mdx
  packages/plasma-ui/src/components/Typography/Typography.stories.tsx
  packages/plasma-ui/src/components/Typography/index.ts
  packages/plasma-ui/src/index.ts
  packages/plasma-ui/src/tokens/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-typo): Added deviceScale to standard responsive typo
  packages/plasma-typo/src/standard.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `DeviceThemeProvider`: Added responsive typo support
  packages/plasma-ui/.storybook/preview.js
  packages/plasma-ui/src/components/Device/DeviceDetection.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Added mixin re-exports
  packages/plasma-ui/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): Responsive typography system
  website/plasma-ui-docs/docs/components/Typography-legacy.mdx
  website/plasma-ui-docs/docs/components/Typography.mdx
  website/plasma-ui-docs/docs/design/typography-legacy.mdx
  website/plasma-ui-docs/docs/design/typography.mdx
Due: none

fix(plasma-ui-docs): Docusaurus docgen plugin's json fail
  website/plasma-ui-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

chore: Storybook fonts
  packages/plasma-b2c/.storybook/manager-head.html
  packages/plasma-ui/.storybook/manager-head.html
  packages/plasma-ui/.storybook/preview-head.html
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Bold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Bold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Light.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Light.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Regular.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Regular.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Thin.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansDisplay/SBSansDisplay-Thin.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Bold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Bold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-BoldItalic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-BoldItalic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Heavy.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Heavy.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Italic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Italic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Light.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Light.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-LightItalic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-LightItalic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Medium.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Medium.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Regular.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Regular.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Semibold.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Semibold.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-SemiboldItalic.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-SemiboldItalic.woff2
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Thin.woff
  packages/plasma-ui/.storybook/public/fonts/SBSansText/SBSansText-Thin.woff2
Due: none

test(plasma-b2c): Added responsive typo tests
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyL.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyM.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyXS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyXXS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextL.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextM.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextXS.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Body @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Body @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Body @758px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl 768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Dspl @768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H 768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- H @768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text 768px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text @1366px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text @375px.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyResponsive.component-test.tsx/plasma-core ResponsiveTypography -- Text @768px.snap.png
  packages/plasma-b2c/src/components/Typography/Typography.component-test.tsx
  packages/plasma-b2c/src/components/Typography/TypographyResponsive.component-test.tsx
  packages/plasma-core/src/components/Typography/TypographyResponsive.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-ui-docs/versionsArchived.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): Fix slider when active tab size is changed
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Tabs/TabsSlider.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-core): Use default view for input readonly state
  cypress/snapshots/ui/components/TextField/TextField.component-test.tsx/plasma-core TextField -- readOnly.snap.png
  packages/plasma-core/src/components/Input/Input.mixins.ts
  packages/plasma-core/src/components/TextField/TextField.component-test.tsx
  packages/plasma-ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test: platforms run tests
  actions/platform-test/.gitignore
  actions/platform-test/.npmrc
  actions/platform-test/README.md
  actions/platform-test/package-lock.json
  actions/platform-test/package.json
  actions/platform-test/src/helpers.ts
  actions/platform-test/src/index.ts
  actions/platform-test/src/spawn.ts
  actions/platform-test/src/types.ts
  actions/platform-test/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

test(plasma-temple): refactor test specs for platforms test
  packages/plasma-temple/src/components/Form/Form@common.component-test.tsx
  packages/plasma-temple/src/components/Form/Form@sberbox.component-test.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.component-test.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@sberbox.component-test.tsx
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp@common.component-test.tsx
  packages/plasma-temple/src/hooks/useForm@common.component-test.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage@sberbox.component-test.tsx
  packages/plasma-temple/src/pages/GridPage/GridPage@sberbox.component-test.tsx
  packages/plasma-temple/src/pages/ItemPage/itemPage@sberbox.component-test.tsx
  packages/plasma-temple/src/testHelpers/assets/320_320_0.jpg
  packages/plasma-temple/src/testHelpers/testHelpers.d.ts
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-temple): multiple platform configs
  .eslintignore
  cypress.json
  cypress/config/temple-config.json
  cypress/config/temple/sberbox.json
  cypress/config/temple/sberportal.json
  cypress/plugins/index.ts
  cypress/webpack.config.js
  nyc.config.js
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-ui/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-web): Image ratio fix
  cypress/snapshots/temple@sberbox/pages/GalleryPage/GalleryPage@sberbox.component-test.tsx/GalleryPage -- CustomCard in galleries -- Variable card height.snap.png
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- music.snap.png
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- _ratio.snap.png
  packages/plasma-core/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): Label in `TextBox`'s stories
  packages/plasma-ui/src/components/TextBox/TextBox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Init `plasma-tokens-b2b` package
  .eslintignore
  packages/plasma-tokens-b2b/.gitignore
  packages/plasma-tokens-b2b/.npmrc
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2b/LICENSE.txt
  packages/plasma-tokens-b2b/README.md
  packages/plasma-tokens-b2b/data/colors.ts
  packages/plasma-tokens-b2b/data/ds.ts
  packages/plasma-tokens-b2b/data/index.ts
  packages/plasma-tokens-b2b/data/sizes.ts
  packages/plasma-tokens-b2b/design-language/.diezrc
  packages/plasma-tokens-b2b/design-language/.gitignore
  packages/plasma-tokens-b2b/design-language/.npmrc
  packages/plasma-tokens-b2b/design-language/designs/.gitkeep
  packages/plasma-tokens-b2b/design-language/package-lock.json
  packages/plasma-tokens-b2b/design-language/package.json
  packages/plasma-tokens-b2b/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-b2b/design-language/src/designs/PlasmaStyles.figma.ts
  packages/plasma-tokens-b2b/design-language/src/designs/SasUiKit.figma.ts
  packages/plasma-tokens-b2b/design-language/src/index.ts
  packages/plasma-tokens-b2b/design-language/tsconfig.json
  packages/plasma-tokens-b2b/design-language/tslint.json
  packages/plasma-tokens-b2b/generate.ts
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2b/tsconfig.es.json
  packages/plasma-tokens-b2b/tsconfig.json
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Colors.stories.tsx
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-tokens-utils): Added `WebColors` list
  utils/plasma-tokens-utils/src/constants.ts
  utils/plasma-tokens-utils/src/generation.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat: `Button`: colors theming
  packages/plasma-tokens-b2b/data/colors.ts
  packages/plasma-tokens-b2b/data/ds.ts
  packages/plasma-tokens-b2b/data/index.ts
  packages/plasma-tokens-b2c/data/colors.ts
  packages/plasma-tokens-b2c/data/ds.ts
  packages/plasma-tokens-b2c/data/index.ts
  packages/plasma-tokens-web/data/colors.ts
  packages/plasma-tokens-web/data/ds.ts
  packages/plasma-tokens-web/data/index.ts
  packages/plasma-web/src/components/Button/Button.props.ts
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/tokens/colors.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
