Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

docs: add badges to @rc
  README.md
  packages/plasma-tokens/README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

ci: рефакторинг билда документации
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

fix(ui): IconClose и опция pin для Stepper
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Светлая тема для Button
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/mixins/applyView.ts
Due: eslint --fix, prettier --write, stylelint

chore: gitignore для идеи
  .gitignore
  packages/ui/src/components/Card/Card.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Переработан TextField, отвязан от Input
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(ui): utils/index
  packages/ui/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: Миксин blur для размытия подложек
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/plasma-core/src/mixins/blur.ts
  packages/plasma-core/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: esm build, fix package-lock after rebase
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-web/package-lock.json
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

feat: добавил поддержку ref для кнопок у Stepper
  packages/ui/src/components/Stepper/StepperButton.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Стандартные атрибуты для компонентов
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBody.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderContent.tsx
  packages/ui/src/components/Header/HeaderLogo.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderTitleWrapper.tsx
  packages/ui/src/components/Spinner/Spinner.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TextBox/TextBox.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/types/StylingProps.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Добавлен раздел MobileShowcase в Storybook
  packages/ui/.storybook/preview.js
  packages/ui/src/components/Badge/Badge.stories.mdx
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/PaginationDots/PaginationDots.stories.mdx
  packages/ui/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/ui/src/components/Palette.stories.mdx
  packages/ui/src/components/Pickers/Pickers.stories.mdx
  packages/ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/ui/src/components/Radiobox/Radiobox.tsx
  packages/ui/src/components/Stepper/Stepper.stories.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Switch/Switch.stories.tsx
  packages/ui/src/helpers/Outline.tsx
  packages/ui/src/helpers/Showcase.tsx
  packages/ui/src/helpers/actionWithPersistedEvent.ts
  packages/ui/src/helpers/index.ts
  packages/ui/src/showcase/Divider.tsx
  packages/ui/src/showcase/Mobile/Badges/Badges.stories.tsx
  packages/ui/src/showcase/Mobile/Badges/index.tsx
  packages/ui/src/showcase/Mobile/Buttons/Buttons.stories.tsx
  packages/ui/src/showcase/Mobile/Cells/SectionHeader.stories.tsx
  packages/ui/src/showcase/Mobile/Cells/Universal.stories.tsx
  packages/ui/src/showcase/Mobile/Controls/Controls.stories.tsx
  packages/ui/src/showcase/Mobile/Fields/Fields.stories.tsx
  packages/ui/src/showcase/Mobile/Pickers/Pickers.stories.tsx
  packages/ui/src/showcase/Mobile/Pickers/index.tsx
  packages/ui/src/showcase/Mobile/TabBar/TabBar.stories.tsx
  packages/ui/src/showcase/Panel.tsx
  packages/ui/src/showcase/SectionName.tsx
  packages/ui/src/showcase/ThemeProvider.tsx
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): Доработка Grid, mediaQuery вынесена в utils
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Демо градиента голосовых подсказок
  packages/ui/src/helpers/ColorsDemo.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправлен отступ от иконки 4рх в Badge
  packages/ui/src/components/Badge/Badge.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): CardMedia: src is required
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/helpers/ImagePlaceholder.tsx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Документация для утилит
  packages/ui/src/utils/mediaQuery.ts
  packages/ui/src/utils/utils.mdx
Due: eslint --fix, prettier --write, stylelint

docs: Showcase/Mobile перенесен в docs/showcase
  docs/showcase/src/showcase/Mobile/Badges.stories.tsx
  docs/showcase/src/showcase/Mobile/Buttons.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.Universal.stories.tsx
  docs/showcase/src/showcase/Mobile/Controls.stories.tsx
  docs/showcase/src/showcase/Mobile/Pickers.stories.tsx
  docs/showcase/src/showcase/Mobile/Tabbar.stories.tsx
  docs/showcase/src/showcase/Mobile/TextFields.stories.tsx
  packages/ui/src/showcase/Divider.tsx
  packages/ui/src/showcase/Mobile/Badges/Badges.stories.tsx
  packages/ui/src/showcase/Mobile/Badges/index.tsx
  packages/ui/src/showcase/Mobile/Buttons/Buttons.stories.tsx
  packages/ui/src/showcase/Mobile/Controls/Controls.stories.tsx
  packages/ui/src/showcase/Mobile/Fields/Fields.stories.tsx
  packages/ui/src/showcase/Mobile/Pickers/Pickers.stories.tsx
  packages/ui/src/showcase/Mobile/Pickers/index.tsx
  packages/ui/src/showcase/Panel.tsx
  packages/ui/src/showcase/SectionName.tsx
  packages/ui/src/showcase/ThemeProvider.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Контролы перенесены в core
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Basebox/IconDone.tsx
  packages/plasma-core/src/components/Basebox/index.ts
  packages/plasma-core/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-core/src/components/Checkbox/Checkbox.tsx
  packages/plasma-core/src/components/Checkbox/index.ts
  packages/plasma-core/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-core/src/components/Radiobox/Radiobox.tsx
  packages/plasma-core/src/components/Radiobox/RadioboxList.tsx
  packages/plasma-core/src/components/Radiobox/index.ts
  packages/plasma-core/src/components/Switch/Switch.stories.tsx
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/components/Switch/index.ts
  packages/plasma-core/src/components/TextField/TextField.tsx
  packages/plasma-core/src/components/TextField/index.ts
  packages/plasma-core/src/mixins/index.ts
  packages/plasma-core/src/mixins/shadows.ts
  packages/plasma-core/src/tokens/typography.ts
  packages/plasma-core/src/types/InputHTMLAttributes.ts
  packages/ui/src/components/Basebox/Basebox.tsx
  packages/ui/src/components/Basebox/index.ts
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Radiobox/Radiobox.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент MarkedList
  packages/ui/src/components/MarkedList/MarkedList.mdx
  packages/ui/src/components/MarkedList/MarkedList.stories.tsx
  packages/ui/src/components/MarkedList/MarkedList.tsx
  packages/ui/src/components/MarkedList/index.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(docs): change sb PORT
  docs/showcase/package.json
Due: prettier --write --parser json, node

docs(ui): Добавлена документация для DeviceDetection
  packages/ui/src/components/Device/DeviceDetection.mdx
  packages/ui/src/components/Device/DeviceDetection.stories.mdx
  packages/ui/src/components/Device/DeviceDetection.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Определение TV
  packages/ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Ширина и flex-поведение Switch
  packages/ui/src/components/Switch/Switch.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Тип CarouselProps внутри разложен на подтипы
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): испралена сборка доки с неверными версиями пакетов
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.mdx
Due: prettier --write --parser json, node

fix create issue link
  README.md
Due: prettier --write --parser markdown

chore: изменены ссылки на документацию
  README.md
  packages/plasma-icons/README.md
  packages/plasma-tokens/README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

fix(plasma-ui): circular dependency
  packages/ui/src/components/Toast/ToastContext.tsx
  packages/ui/src/components/Toast/ToastProvider.tsx
  packages/ui/src/components/Toast/useToast.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Размер xs для Stepper
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Темизация Storybook
  package-lock.json
  package.json
  packages/ui/.storybook/manager-head.html
  packages/ui/.storybook/manager.js
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/public/images/plasma-logo.png
  packages/ui/.storybook/theme.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

refactor(ui): Разложил Stepper по компонентам, тайпинги
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Stepper/StepperButton.tsx
  packages/ui/src/components/Stepper/StepperRoot.tsx
  packages/ui/src/components/Stepper/StepperValue.tsx
  packages/ui/src/components/Stepper/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Скалирование кнопки при действии
  packages/ui/src/mixins/applyMotion.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: remove Cart component
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Cart/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправлены недоработки компонентов в светлой теме
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Card/Card.examples.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Checkbox/Basebox.tsx
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/MarkedList/MarkedList.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Tabs/TabItem.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/Toast/Toast.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): DeviceDetect: touch => mobile. BREAKING
  docs/showcase/.storybook/preview.js
  docs/showcase/src/helpers/StoryDecorators.tsx
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/generate.ts
  packages/ui/.storybook/preview.js
  packages/ui/src/components/Device/DeviceDetection.stories.mdx
  packages/ui/src/components/Device/DeviceDetection.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/helpers/ThemeSelect.tsx
  packages/ui/src/utils/deviceDetection.ts
  packages/ui/src/utils/utils.mdx
  packages/ui/src/utils/utils.stories.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): rename package
  docs/showcase/package.json
  packages/ui/package.json
Due: prettier --write --parser json, node

chore(ui): правки компонента Toast
  packages/ui/src/components/Toast/Toast.mdx
  packages/ui/src/components/Toast/Toast.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Badge: view has two values: primary/secondary. BREAKING
  docs/showcase/src/showcase/Mobile/Badges.stories.tsx
  docs/showcase/src/ui/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.mdx
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Badge/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: добавлен node-fetch для плагина обновления зависимостей
  auto-plugins/src/update-deps.ts
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
