Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
Due: prettier --write --parser json, node

ci: Versionate docs
  .eslintignore
  .github/workflows/release.yml
  .github/workflows/versionate-docs.yml
  actions/versionate-docs/.gitignore
  actions/versionate-docs/.npmrc
  actions/versionate-docs/action.yml
  actions/versionate-docs/jest.config.js
  actions/versionate-docs/jest.config.ts
  actions/versionate-docs/package-lock.json
  actions/versionate-docs/package.json
  actions/versionate-docs/src/commits.test.ts
  actions/versionate-docs/src/commits.ts
  actions/versionate-docs/src/exec.ts
  actions/versionate-docs/src/fs.ts
  actions/versionate-docs/src/github.ts
  actions/versionate-docs/src/main.ts
  actions/versionate-docs/src/packages.ts
  actions/versionate-docs/src/utils.ts
  actions/versionate-docs/tsconfig.json
  lerna.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: update package-locks [skip ci]
  actions/versionate-docs/package.json
Due: prettier --write --parser json, node

test(plasma-ui): Add tests and snapshots for `Slider` component
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- _disabled.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- drag and drop with double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- drag and drop with single.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- drag and drop without onChange.snap.png
  packages/plasma-ui/src/components/Slider/Slider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Add tests and snapshots for `Pickers` component
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- change values.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- change values by click.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- change values.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values with max.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values with min.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values.snap.png
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Add animationDistanceThreshold in ui-config for cypress
  cypress/config/ui-config.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  actions/versionate-docs/package-lock.json
  actions/versionate-docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-ui): Set `HeaderArrow` full height
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Controlled video fit on video page
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-tokens): addd brand theme and update some tokens
  packages/plasma-tokens/clean.js
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/design-language/src/designs/PlasmaStyles.figma.ts
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package.json
  packages/plasma-tokens/tokenGroups.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-tokens): forgotten buttonFocus
  packages/plasma-tokens/tokenGroups.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-tokens-utils): buttonClear not GblBlack
  utils/plasma-tokens-utils/src/mappers.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

test(plasma-temple): setup cypress tests
  .github/workflows/cypress-ct.yml
  cypress/config/temple-config.json
  cypress/plasma-temple-coverage/.gitignore
  cypress/plugins/index.ts
  cypress/snapshots/temple/pages/GalleryPage/GalleryPage.component-test.tsx/GalleryPage -- Multiple Galleries on Page -- click on card -- after each hook.snap.png
  cypress/snapshots/temple/pages/GalleryPage/GalleryPage.component-test.tsx/GalleryPage -- Multiple Galleries on Page -- screen rendered -- after each hook.snap.png
  cypress/snapshots/temple/pages/GalleryPage/GalleryPage.component-test.tsx/GalleryPage -- Single Gallery on Page -- click on card -- after each hook.snap.png
  cypress/snapshots/temple/pages/GalleryPage/GalleryPage.component-test.tsx/GalleryPage -- Single Gallery on Page -- screen rendered -- after each hook.snap.png
  cypress/snapshots/temple/pages/GalleryPage/GalleryPage.component-test.tsx/GalleryPage -- Single Gallery with title on Page -- click on card -- after each hook.snap.png
  cypress/snapshots/temple/pages/GalleryPage/GalleryPage.component-test.tsx/GalleryPage -- Single Gallery with title on Page -- screen rendered -- after each hook.snap.png
  cypress/support/commands.ts
  cypress/support/index.d.ts
  cypress/webpack.config.js
  package-lock.json
  package.json
  packages/plasma-temple/.npmrc
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.component-test.tsx
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
  packages/plasma-temple/tsconfig.build.json
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

ci(plasma-temple): add codecov
  .github/workflows/cypress-ct.yml
  codecov.yml
Due: none

chore(plasma-temple): infer types for Page methods
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
Due: eslint --fix, prettier --write, stylelint

chore: update package-locks [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
