Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-web): add keyboard navigation
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/NestedDropdown.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): add nested options prefix
  packages/plasma-core/src/hooks/keyboardNavigation/useKeyboardNavigation.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add a11y to select and dropdown
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/NestedDropdown.tsx
  packages/plasma-web/src/components/Select/NestedDropdown.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add multiselect logic to select
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Dropdown/NestedDropdown.tsx
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): increase type coverage
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Device/DeviceDetection.tsx
  packages/plasma-ui/src/components/Grid/Col.tsx
  packages/plasma-ui/src/components/Grid/Container.tsx
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
  packages/plasma-ui/src/components/Header/HeaderRoot.tsx
  packages/plasma-ui/src/components/Header/HeaderSubtitle.tsx
  packages/plasma-ui/src/components/Header/HeaderTitle.tsx
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
  packages/plasma-ui/src/components/Pickers/types.ts
  packages/plasma-ui/src/components/Slider/Double.tsx
  packages/plasma-ui/src/components/Slider/Handle.tsx
  packages/plasma-ui/src/components/Slider/Single.tsx
  packages/plasma-ui/src/components/Slider/SliderBase.tsx
  packages/plasma-ui/src/components/Stepper/Stepper.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/helpers/GridLines.tsx
  packages/plasma-ui/src/helpers/StoryDecorators.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-tokens-b2c): add typecoverage
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
Due: prettier --write --parser json, node

feat(plasma-tokens-utils): increase type coverage
  utils/plasma-tokens-utils/src/generation.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-tokens): add typecoverage
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

chore(plasma-tokens-web): add typecoverage
  packages/plasma-tokens-web/package.json
Due: prettier --write --parser json, node

chore: add deps
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

chore(plasma-core): add typecoverage script
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
Due: prettier --write --parser json, node

feat(plasma-core): increase type coverage
  packages/plasma-core/package.json
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Carousel/hooks.tsx
  packages/plasma-core/src/components/Carousel/utils.ts
  packages/plasma-core/src/components/PaginationDots/usePaginationDots.ts
  packages/plasma-core/src/components/Popup/Popup.tsx
  packages/plasma-core/src/components/Skeleton/TextSkeleton.tsx
  packages/plasma-core/src/components/Tabs/createTabsController.tsx
  packages/plasma-core/src/utils/transformStyles.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-web): add typecoverage script
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

feat(plasma-web): increase type coverage
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/withMultiSelect.tsx
  packages/plasma-web/src/components/Select/withSingleSelect.tsx
  packages/plasma-web/src/tokens/typography.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-b2c): add typecoverage script
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json, node

feat(plasma-b2c): increase type coverage
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Editable/Editable.tsx
  packages/plasma-b2c/src/components/Slider/Double.tsx
  packages/plasma-b2c/src/components/Slider/Handle.tsx
  packages/plasma-b2c/src/components/Slider/Single.tsx
  packages/plasma-b2c/src/utils/selectText.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-ui): add typecoverage script
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

chore(plasma-colors): add typecoverage script
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
Due: prettier --write --parser json, node

chore(plasma-icons): add typecoverage script
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
Due: prettier --write --parser json, node

chore(plasma-typo): add typecoverage script
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
Due: prettier --write --parser json, node

feat(plasma-typo): increase type coverage
  packages/plasma-typo/package.json
  packages/plasma-typo/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-core): Add onDetectActiveItem callback for `Carousel` component
  cypress/snapshots/temple@sberbox/components/Form/Form@common.component-test.tsx/Form -- different types of fields -- render.snap.png
  cypress/snapshots/temple@sberportal/components/Form/Form@common.component-test.tsx/Form -- different types of fields -- render.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- default.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- with controls.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- default.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values with max.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values with min.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- with controls.snap.png
  packages/plasma-core/src/components/Carousel/hooks.tsx
  packages/plasma-core/src/components/Carousel/types.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.tsx
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
  packages/plasma-ui/src/components/Pickers/hooks.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(aml): mention AML in plasma ui docs
  website/plasma-ui-docs/docs/aml.mdx
  website/plasma-ui-docs/docs/intro.mdx
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

fix(plasma-web): Add restrict bounds for value in `Progress` component
  packages/plasma-web/src/components/Progress/Progress.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web,plasma-b2c): Add test and snapshots for `Progress` component
  cypress/snapshots/b2c/components/Progress/ProgressBase.component-test.tsx/plasma-web Progress -- over min and max.snap.png
  cypress/snapshots/web/components/Progress/Progress.component-test.tsx/plasma-web Progress -- over min and max.snap.png
  packages/plasma-web/src/components/Progress/Progress.component-test.tsx
  packages/plasma-web/src/components/Progress/Progress.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): `Select`: listbox presentation
  packages/plasma-core/src/hooks/keyboardNavigation/useKeyboardNavigation.ts
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
