Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-web): Added Modal component
  docs/showcase/src/web/Modal.stories.tsx
  packages/plasma-web/src/components/Modal/Modal.stories.mdx
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalView.tsx
  packages/plasma-web/src/components/Modal/ModalsContext.tsx
  packages/plasma-web/src/components/Modal/index.tsx
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Added Notification component
  docs/showcase/src/web/Notification.stories.tsx
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Notification/Notification.stories.mdx
  packages/plasma-web/src/components/Notification/Notification.stories.tsx
  packages/plasma-web/src/components/Notification/Notification.tsx
  packages/plasma-web/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-web/src/components/Notification/NotificationsProvider.tsx
  packages/plasma-web/src/components/Notification/NotificationsStore.ts
  packages/plasma-web/src/components/Notification/index.tsx
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-temple): improve gallery page api
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/pages/GalleryPage/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: soft peerDependencies only
  packages/plasma-core/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

chore: add dependabot
  .github/dependabot.yml
Due: none

chore: update package-locks
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  packages/plasma-core/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

docs(showcase): Fix carousel/pickers animation with delay
  docs/showcase/src/ui/Carousel.stories.tsx
  docs/showcase/src/ui/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Carousel center item / center item lag
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs: description in checkbox and radiobox storybook
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: fix Basebox styles
  packages/plasma-core/src/components/Basebox/Basebox.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add description to Basebox
  packages/plasma-core/src/components/Basebox/Basebox.tsx
Due: eslint --fix, prettier --write, stylelint

docs: add description for checkboxes in showcase
  docs/showcase/src/helpers/CheckboxShowcase.tsx
Due: eslint --fix, prettier --write, stylelint

fix: type errors in docs/showcase
  docs/showcase/src/helpers/CheckboxShowcase.tsx
  docs/showcase/src/helpers/RadioboxShowcase.tsx
Due: eslint --fix, prettier --write, stylelint

fix: exclude description from Basebox in plasma-ui
  packages/plasma-ui/src/components/Basebox/Basebox.tsx
Due: eslint --fix, prettier --write, stylelint

docs: add description for radioboxes in showcase
  docs/showcase/src/helpers/RadioboxShowcase.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-web): Added Tooltip component
  docs/showcase/src/web/Tooltip.stories.tsx
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.mdx
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.tsx
  packages/plasma-web/src/components/Tooltip/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-core): Update MediaQueryFunction typings
  packages/plasma-core/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

build(plasma-temple): Build via rollup
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/rollup.config.js
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node
