Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

компонент Field
  packages/ui/src/components/Field/Field.mdx
  packages/ui/src/components/Field/Field.stories.tsx
  packages/ui/src/components/Field/Field.tsx
Due: eslint --fix, prettier --write, stylelint

string; children возвращен в стандартное значение
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

HeaderButton перенесен в Header/Header
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/HeaderButton/HeaderButton.mdx
  packages/ui/src/components/HeaderButton/HeaderButton.stories.tsx
  packages/ui/src/components/HeaderButton/HeaderButton.tsx
Due: eslint --fix, prettier --write, stylelint

добавлен компонент Spinner
  packages/ui/src/components/Spinner/Spinner.stories.tsx
  packages/ui/src/components/Spinner/Spinner.tsx
  packages/ui/src/components/Spinner/spinner.svg
Due: eslint --fix, prettier --write, stylelint

bump package version
  packages/ui/package.json
Due: prettier --write --parser json, node

добавлена story иконок с выбором цвета
  packages/ui/src/components/Icon/Icon.stories.tsx
Due: eslint --fix, prettier --write, stylelint

изменен проп size на $size
  packages/ui/src/components/Icon/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint

Убран index.ts из Icon
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/Icons/IconAssistant.tsx
  packages/ui/src/components/Icon/Icons/IconAssistantPlaceholder.tsx
  packages/ui/src/components/Icon/Icons/IconCart.tsx
  packages/ui/src/components/Icon/Icons/IconChevronLeft.tsx
  packages/ui/src/components/Icon/Icons/IconClock.tsx
  packages/ui/src/components/Icon/Icons/IconDone.tsx
  packages/ui/src/components/Icon/Icons/IconForward.tsx
  packages/ui/src/components/Icon/Icons/IconHotel.tsx
  packages/ui/src/components/Icon/Icons/IconMinus.tsx
  packages/ui/src/components/Icon/Icons/IconPaper.tsx
  packages/ui/src/components/Icon/Icons/IconPause.tsx
  packages/ui/src/components/Icon/Icons/IconPlaint.tsx
  packages/ui/src/components/Icon/Icons/IconPlay.tsx
  packages/ui/src/components/Icon/Icons/IconPlus.tsx
  packages/ui/src/components/Icon/Icons/IconRemove.tsx
  packages/ui/src/components/Icon/Icons/IconReplay.tsx
  packages/ui/src/components/Icon/Icons/IconSearch.tsx
  packages/ui/src/components/Icon/Icons/IconSkipNext.tsx
  packages/ui/src/components/Icon/Icons/IconSkipPrevious.tsx
  packages/ui/src/components/Icon/index.ts
Due: eslint --fix, prettier --write, stylelint

тип PickOptional
  packages/ui/package.json
  packages/ui/src/types/PickOptional.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

добавлен пункт о добавлении icon в доку
  packages/ui/src/components/Icon/Icon.mdx
Due: none

svg спиннера сделана компонентом
  packages/ui/src/components/Spinner/Spinner.mdx
  packages/ui/src/components/Spinner/Spinner.tsx
  packages/ui/src/components/Spinner/SpinnerSvg.tsx
  packages/ui/src/components/Spinner/spinner.svg
Due: eslint --fix, prettier --write, stylelint

пиксельные размеры Grid увеличены вдвое
  packages/ui/package.json
  packages/ui/src/components/Grid/Grid.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

компонент Input
  packages/ui/src/components/Input/Input.mdx
  packages/ui/src/components/Input/Input.stories.tsx
  packages/ui/src/components/Input/Input.tsx
Due: eslint --fix, prettier --write, stylelint

ci: replace tklew to new dev stand
  packages/ui/package.json
Due: prettier --write --parser json, node

добавлен пример использования иконки
  packages/ui/src/components/Icon/Icon.mdx
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

symlink npmrc in sub-package
  packages/plasma-tokens/design-language/.npmrc
Due: none

TRIVIAL: ci: fix build services
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: save storybook build to build-sb dir
  packages/ui/package.json
Due: prettier --write --parser json, node

добавить видеоплеер
  packages/ui/src/components/Icon/Icon.assets/bubble.svg
  packages/ui/src/components/Icon/Icon.assets/mute.svg
  packages/ui/src/components/Icon/Icon.assets/text.svg
Due: none

ci: fix sb links
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: regenerate package-lock.json
  packages/plasma-styles/package-lock.json
  packages/plasma-tokens/design-language/package-lock.json
  packages/plasma-tokens/example-codebases/example-styled-components/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

TRIVIAL: ci: regenerate package-locks
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: change npmrc
  packages/plasma-styles/.npmrc
  packages/plasma-tokens/.npmrc
  packages/ui/.npmrc
Due: none

TRIVIAL: ci: regenerate package-locks
  .npmrc
  packages/plasma-styles/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

ci: add auto job
  package-lock.json
  package.json
  workflows/release.yml
Due: prettier --write --parser json, node

ci: fix actions
  .github/workflows/release.yml
Due: none

ci(plasma-tokens): fix ci
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

chore(ui): bump plasma-styles
  packages/plasma-styles/package-lock.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: add .nvmrc
  .nvmrc
Due: none

ci: add lerna bootstrap step
  .github/workflows/release.yml
  lerna.json
Due: prettier --write --parser json, node

feat(ui): Размеры ячеек Col расчитываются исходя из размеров Container
  packages/ui/src/components/Grid/Grid.mdx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/types/PickOptional.d.ts
  packages/ui/types/PickOptional.d.ts.map
  packages/ui/types/PickOptional.js
  packages/ui/types/PickOptional.js.map
Due: eslint --fix, prettier --write, stylelint

fix(ui): url to repo
  packages/ui/package.json
Due: prettier --write --parser json, node

fix: license
  package.json
  packages/plasma-styles/package.json
  packages/plasma-tokens/package.json
  packages/ui/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-styles/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-styles/package-lock.json
  packages/plasma-styles/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: add chromatic to ui
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
  packages/plasma-styles/package.json
  packages/ui/.gitignore
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

test: test commit
  packages/ui/src/components/Grid/Grid.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
