Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat: `Button`: colors theming
  packages/plasma-tokens-b2b/data/colors.ts
  packages/plasma-tokens-b2b/data/ds.ts
  packages/plasma-tokens-b2b/data/index.ts
  packages/plasma-tokens-b2c/data/colors.ts
  packages/plasma-tokens-b2c/data/ds.ts
  packages/plasma-tokens-b2c/data/index.ts
  packages/plasma-tokens-web/data/colors.ts
  packages/plasma-tokens-web/data/ds.ts
  packages/plasma-tokens-web/data/index.ts
  packages/plasma-web/src/components/Button/Button.props.ts
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/tokens/colors.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  actions/platform-test/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat: update tokens
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-tokens-b2c): add typecoverage
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
Due: prettier --write --parser json, node

feat(plasma-tokens-utils): increase type coverage
  utils/plasma-tokens-utils/src/generation.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-tokens): add typecoverage
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

chore(plasma-tokens-web): add typecoverage
  packages/plasma-tokens-web/package.json
Due: prettier --write --parser json, node

chore: add deps
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

chore(plasma-icons): add typecoverage script
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
Due: prettier --write --parser json, node

feat: `PaginationDots`: made `aria-hidden=true` by default
  packages/plasma-core/src/components/PaginationDots/PaginationDots.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-ui): correct Tabs disable state
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/TabsSlider.tsx
  packages/plasma-ui/src/components/Tabs/TabsView.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): fix BaseTabs disable state
  packages/plasma-core/src/components/Tabs/TabItem.tsx
  packages/plasma-core/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-core/src/components/Tabs/createTabsController.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

test(plasma-web): add tests on keyboard navigation
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): add keyboard navigation hook
  packages/plasma-core/src/hooks/index.ts
  packages/plasma-core/src/hooks/keyboardNavigation/helpers.ts
  packages/plasma-core/src/hooks/keyboardNavigation/useKeyboardNavigation.ts
  packages/plasma-core/src/hooks/keyboardNavigation/useOnComboType.ts
  packages/plasma-core/src/hooks/keyboardNavigation/useSearchString.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): add ref to popup
  packages/plasma-core/src/components/Popup/Popup.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add additional fields to DropdownItem
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add multiselect logic to select
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Select/NestedDropdown.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add keyboard navigation to Select
  packages/plasma-web/src/components/Select/NestedDropdown.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): add multiselect logic to keyboard navigation hook
  packages/plasma-core/src/hooks/keyboardNavigation/helpers.ts
  packages/plasma-core/src/hooks/keyboardNavigation/useKeyboardNavigation.ts
Due: eslint --fix, prettier --write, stylelint

test: update snaps
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- multiselect.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should change selection on arrow clicks.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close all menus and select item on Enter.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close all menus on blur.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close on blur.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should close only nested menu on Escape.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should move over items into nested menu.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by Enter.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by Space.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by text.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by {downarrow}.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open by {uparrow}.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should open nested dropdown by space click.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select first item by Home.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select more than 1 item and not close.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select more than 1 item inside submenu and not close.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- should select some subitems.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- multiselect.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should change selection on arrow clicks.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close all menus and select item on Enter.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close all menus on blur.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close on blur.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should close only nested menu on Escape.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should move over items into nested menu.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by Enter.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by Space.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by text.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by {downarrow}.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open by {uparrow}.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should open nested dropdown by space click.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select first item by Home.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select more than 1 item and not close.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select more than 1 item inside submenu and not close.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- should select some subitems.snap.png
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint
