Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix: Pickers performance, no unnecessary rerender
  examples/demo-canvas-app/pages/test/components/pickers.tsx
  packages/plasma-core/src/components/Carousel/Carousel.tsx
  packages/plasma-core/src/types/ScrollSnap.ts
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.mdx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/SimpleDatePicker.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

ci(demo-canvas-app): Fix public url if isnt a PR build
  examples/demo-canvas-app/next.config.js
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-ui): Toast fade top placement
  examples/demo-canvas-app/pages/_app.tsx
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/toast.tsx
  packages/plasma-ui/src/components/Fade/Fade.tsx
  packages/plasma-ui/src/components/Toast/Toast.stories.mdx
  packages/plasma-ui/src/components/Toast/Toast.stories.tsx
  packages/plasma-ui/src/components/Toast/ToastController.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

chore: CONTRIBUTING.md for Demo Canvas App
  examples/demo-canvas-app/CONTRIBUTING.md
Due: prettier --write --parser markdown

fix(plasma-web): TextField can accept deferred defaultValue
  packages/plasma-web/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-ui, plasma-web, showcase): sb-essentials added
  docs/showcase/.storybook/main.js
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-ui/.storybook/main.js
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/.storybook/main.js
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-core): delete storybook
  packages/plasma-core/.storybook/main.js
  packages/plasma-core/.storybook/manager-head.html
  packages/plasma-core/.storybook/manager.js
  packages/plasma-core/.storybook/preview-head.html
  packages/plasma-core/.storybook/preview.js
  packages/plasma-core/.storybook/public/images/320_320_0.jpg
  packages/plasma-core/.storybook/public/images/320_320_1.jpg
  packages/plasma-core/.storybook/public/images/320_320_10.jpg
  packages/plasma-core/.storybook/public/images/320_320_11.jpg
  packages/plasma-core/.storybook/public/images/320_320_12.jpg
  packages/plasma-core/.storybook/public/images/320_320_2.jpg
  packages/plasma-core/.storybook/public/images/320_320_3.jpg
  packages/plasma-core/.storybook/public/images/320_320_4.jpg
  packages/plasma-core/.storybook/public/images/320_320_5.jpg
  packages/plasma-core/.storybook/public/images/320_320_6.jpg
  packages/plasma-core/.storybook/public/images/320_320_7.jpg
  packages/plasma-core/.storybook/public/images/320_320_8.jpg
  packages/plasma-core/.storybook/public/images/320_320_9.jpg
  packages/plasma-core/.storybook/public/images/avocado.png
  packages/plasma-core/.storybook/public/images/favicon.png
  packages/plasma-core/.storybook/public/images/logo.png
  packages/plasma-core/.storybook/public/images/plasma-logo.png
  packages/plasma-core/.storybook/theme.js
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/src/components/Price/Price.stories.tsx
  packages/plasma-core/src/components/Switch/Switch.stories.tsx
  packages/plasma-core/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

fix(plasma-temple): circular deps in components
  packages/plasma-temple/src/components/FullScreenBackground/FullScreenBackground.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(demo-canvas-app): Date revise in footnote - no +1 to day
  examples/demo-canvas-app/pages/test/components/pickers.tsx
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Added Switch to PickersPage
  examples/demo-canvas-app/pages/test/components/pickers.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Improve gallery types, fix redundant rerender because of changeState
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add go to screen page method
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Detect SberBoxTop
  packages/plasma-ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
