Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix(plasma-web): Added Badge to index
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
Due: prettier --write --parser json, node

chore: add condition for chromatic github job
  .github/js-actions/getPullRequest/action.yml
  .github/js-actions/getPullRequest/getCurrentPR.js
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-ui): Disabled animation in Picker in first render
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core, plasma-ui, plasma-web): Moved Carousel to core
  docs/showcase/src/web/Carousel.stories.tsx
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/src/components/Carousel/Carousel.tsx
  packages/plasma-core/src/components/Carousel/CarouselContext.tsx
  packages/plasma-core/src/components/Carousel/CarouselItemRefs.ts
  packages/plasma-core/src/components/Carousel/hooks.tsx
  packages/plasma-core/src/components/Carousel/index.ts
  packages/plasma-core/src/components/Carousel/types.tsx
  packages/plasma-core/src/components/Carousel/utils.ts
  packages/plasma-core/src/index.ts
  packages/plasma-core/src/mixins/applyScrollSnap.ts
  packages/plasma-core/src/mixins/index.ts
  packages/plasma-core/src/utils/animatedScrollTo.ts
  packages/plasma-core/src/utils/index.ts
  packages/plasma-ui/src/components/Carousel/Carousel.hooks.tsx
  packages/plasma-ui/src/components/Carousel/CarouselCol.tsx
  packages/plasma-ui/src/components/Carousel/CarouselGridWrapper.tsx
  packages/plasma-ui/src/components/Carousel/CarouselItem.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-web/src/components/Carousel/Carousel.tsx
  packages/plasma-web/src/components/Carousel/CarouselItem.tsx
  packages/plasma-web/src/components/Carousel/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-core, plasma-ui, plasma-web): Moved PaginationDots to core
  docs/showcase/src/web/PaginationDots.stories.tsx
  packages/plasma-core/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-core/src/components/PaginationDots/PaginationDots.tsx
  packages/plasma-core/src/components/PaginationDots/index.ts
  packages/plasma-core/src/components/PaginationDots/usePaginationDots.ts
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-web/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-web/src/components/PaginationDots/PaginationDots.stories.mdx
  packages/plasma-web/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-web/src/components/PaginationDots/PaginationDots.tsx
  packages/plasma-web/src/components/PaginationDots/SmartPaginationDots.tsx
  packages/plasma-web/src/components/PaginationDots/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Increase Picker performance with preset item styles
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
Due: eslint --fix, prettier --write, stylelint

docs(showcase): Fix carousel/pickers animation with delay
  docs/showcase/src/ui/Carousel.stories.tsx
  docs/showcase/src/ui/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

fix(plasma-ui) Add Huawei TV UA
  packages/plasma-ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

test: fix jest-styled-components import
  packages/plasma-ui/src/components/Button/ActionButton.test.tsx
  packages/plasma-ui/src/components/Button/Button.test.tsx
Due: eslint --fix, prettier --write, stylelint

test: check button text with contentLeft contentRight
  packages/plasma-ui/src/components/Button/Button.test.tsx
Due: eslint --fix, prettier --write, stylelint

ci: add plasma-ui tests in release workflow
  .github/workflows/release.yml
  package.json
Due: prettier --write --parser json, node

chore: fix testing libraries from plasma-ui
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Cart page
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/index.ts
  packages/plasma-temple/src/components/Product/index.ts
  packages/plasma-temple/src/components/hocs/withProps.tsx
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
  packages/plasma-temple/src/hooks/useThrottledCallback.ts
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartContext.ts
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.tsx
  packages/plasma-temple/src/pages/CartPage/components/index.ts
  packages/plasma-temple/src/pages/CartPage/hooks/index.ts
  packages/plasma-temple/src/pages/CartPage/hooks/useCart.ts
  packages/plasma-temple/src/pages/CartPage/hooks/useCartAssistantState.ts
  packages/plasma-temple/src/pages/CartPage/index.ts
  packages/plasma-temple/src/pages/CartPage/types.ts
  packages/plasma-temple/src/pages/index.ts
  packages/plasma-temple/src/types.ts
  packages/plasma-temple/src/utils/deviceFamily.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

chore(plasma-temple): assistant-client up version
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useAssistantOnSmartAppData.ts
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/guards.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
  packages/plasma-temple/src/utils/createAction.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): Fix twice button click and input form submit
  packages/plasma-temple/src/components/Form/components/Input.tsx
  packages/plasma-temple/src/components/Form/hocs/withWrapField.tsx
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@common.tsx
  packages/plasma-temple/src/hooks/useAssistantOnSmartAppData.ts
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/store/guards.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Improve GalleryPage components
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/examples/Form.stories.tsx
  packages/plasma-temple/examples/ShopLandingPage.stories.tsx
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberbox.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Gallery.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

add Star icons
  packages/plasma-icons/src/Icon.assets/Star.tsx
  packages/plasma-icons/src/Icon.assets/StarFill.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconStar.tsx
  packages/plasma-icons/src/Icons/IconStarFill.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint
