Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix: remove old icons from components
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Icon/Icon.assets/Apps.tsx
  packages/ui/src/components/Icon/IconRoot.tsx
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработана докуменация по Card
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/helpers/ImagePlaceholder.tsx
Due: eslint --fix, prettier --write, stylelint

ci: Добавлен шаг сборки beta(rc) ветки
  .github/workflows/release.yml
  package.json
Due: prettier --write --parser json, node

build: запускать сборку доки с ts3.5.3
  packages/ui/package.json
Due: prettier --write --parser json, node

chore: updated lock files
  packages/plasma-tokens/package-lock.json
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat!: Делаем пакеты публичными
  packages/plasma-tokens/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

docs: добавить описание импортов
  README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

ci: запускать publish на пр в rc
  .github/workflows/release.yml
Due: none

docs: опечатки
  README.md
Due: prettier --write --parser markdown

feat(ui): Доработан хелпер ThemeBackground
  packages/ui/src/helpers/ThemeBackground.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработана документация Button
  packages/ui/src/components/Button/Button.mdx
Due: none

feat(ui): Доработана документация Badge
  packages/ui/src/components/Badge/Badge.mdx
Due: none

feat(ui): Скалирование кнопки при действии
  packages/ui/src/mixins/applyMotion.ts
Due: eslint --fix, prettier --write, stylelint

docs: add badges to @rc
  README.md
  packages/plasma-tokens/README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

fix create issue link
  README.md
Due: prettier --write --parser markdown

fix(ui): Удалено свойство color, вместо view
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Card/CardBadge.tsx
Due: eslint --fix, prettier --write, stylelint

refactor: компоненты импортируют только нужные иконки
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/TextField/TextField.mdx
  packages/ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

refactor: добавлены index.ts к компонентам
  packages/ui/.gitignore
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Cell/Cell.mdx
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/components/Cell/index.ts
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/index.ts
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/components/Spinner/index.ts
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Stepper/index.ts
  packages/ui/src/components/TextBox/TextBox.stories.tsx
  packages/ui/src/components/TextBox/index.ts
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

refactor: добавлены индексы в каждый компонент
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Cell/index.ts
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Header/index.ts
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/components/Stepper/index.ts
  packages/ui/src/components/TextBox/index.ts
  packages/ui/src/components/TextField/index.ts
  packages/ui/src/components/Typo/index.ts
  packages/ui/src/hocs/index.ts
  packages/ui/src/index.ts
  packages/ui/src/mixins/index.ts
  packages/ui/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: Убран необязательный экспорт
  packages/ui/src/components/Button/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: Исправлены импорты после ренейма компонентов
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Cell/Cell.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Добавлены main и types в package.json
  packages/ui/package.json
Due: prettier --write --parser json, node
