Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-temple): Typed props for platform components
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-temple): app hooks & scenario hooks
  packages/plasma-temple/docs/core.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): export ErrorPage from index
  packages/plasma-temple/docs/templates.md
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-basic-template): code styles
  packages/plasma-basic-template/template/config-overrides.js
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-basic-template/CHANGELOG.md
  packages/plasma-shop-template/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-basic-template/package.json
  packages/plasma-shop-template/package.json
Due: prettier --write --parser json, node

docs(plasma-ui-docs): misspel
  website/plasma-ui-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

feat: Shared `Toast` between libraries
  packages/plasma-b2c/.storybook/preview.js
  packages/plasma-b2c/src/components/Toast/Toast.stories.tsx
  packages/plasma-b2c/src/components/Toast/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/src/components/Fade/Fade.tsx
  packages/plasma-core/src/components/Fade/index.ts
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/Toast.types.ts
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
  packages/plasma-core/src/components/Toast/index.ts
  packages/plasma-core/src/components/Toast/useToast.ts
  packages/plasma-core/src/index.ts
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/src/components/Toast/Toast.stories.tsx
  packages/plasma-web/src/components/Toast/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): `Toast` icon
  packages/plasma-b2c/src/components/Toast/Toast.stories.tsx
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/Toast.types.ts
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): resolve lint errors
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.tsx
  packages/plasma-temple/src/components/FullScreenBackgroundWrapper/FullScreenBackgroundWrapper.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberbox.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberportal.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@mobile.tsx
  packages/plasma-temple/src/global.d.ts
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
  packages/plasma-temple/src/hooks/useVoiceNavigation.test.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/hooks/useCartAssistantState.ts
  packages/plasma-temple/src/pages/GridPage/types.ts
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/pages/ItemPage/types.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix Layout scroll
  packages/plasma-temple/src/components/Layout/Layout.tsx
  packages/plasma-temple/src/components/Layout/LayoutElementContext.ts
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(eslint-config): add pkg
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(stylelint-config): add pkg
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(prettier-config): add pkg
  packages/prettier-config/index.js
  packages/prettier-config/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/stylelint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --parser json, node

chore: cypress component testing
  .github/workflows/cypress-ct.yml
  .github/workflows/tests.yml
  cypress/config/ui-config.json
  cypress/config/web-config.json
  cypress/plugins/index.js
  cypress/plugins/index.ts
  cypress/snapshots/ui/components/Badge/Badge.component.tsx/Badge -- renders Badge.snap.png
  cypress/snapshots/ui/components/Badge/Badge.spec.tsx/Badge -- renders Badge.snap.png
  cypress/snapshots/ui/components/Button/Button.component.tsx/Button -- renders Badge.snap.png
  cypress/snapshots/ui/components/Button/Button.spec.tsx/Button -- renders Badge.snap.png
  cypress/snapshots/web/components/Badge/Badge.component.tsx/Badge -- renders Badge.snap.png
  cypress/snapshots/web/components/Badge/Badge.spec.tsx/Badge -- renders Badge.snap.png
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  cypress/webpack.config.js
  package-lock.json
  package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/src/components/Badge/Badge.component.tsx
  packages/plasma-ui/src/components/Button/Button.component.tsx
  packages/plasma-ui/src/components/Button/Button.test.tsx
  packages/plasma-ui/src/helpers/CypressHelpers.tsx
  packages/plasma-web/src/components/Badge/Badge.component.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: resolve cypress and jest conflicts
  cypress/config/ui-config.json
  cypress/config/web-config.json
  cypress/plugins/index.js
  cypress/snapshots/ui/components/Badge/Badge.component-test.tsx/Badge -- renders Badge.snap.png
  cypress/snapshots/ui/components/Badge/Badge.spec.tsx/Badge -- renders Badge.snap.png
  cypress/snapshots/ui/components/Button/Button.component-test.tsx/Button -- renders Badge.snap.png
  cypress/snapshots/ui/components/Button/Button.component-test.tsx/Button -- renders Button.snap.png
  cypress/snapshots/ui/components/Button/Button.spec.tsx/Button -- renders Badge.snap.png
  cypress/snapshots/web/components/Badge/Badge.component-test.tsx/Badge -- renders Badge.snap.png
  cypress/snapshots/web/components/Badge/Badge.spec.tsx/Badge -- renders Badge.snap.png
  cypress/support/index.ts
  cypress/tsconfig.json
  cypress/webpack.config.js
  package-lock.json
  package.json
  packages/plasma-core/package-lock.json
  packages/plasma-ui/jest.config.js
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Badge/Badge.component-test.tsx
  packages/plasma-ui/src/components/Button/Button.component-test.tsx
  packages/plasma-ui/src/components/Button/Button.test.tsx
  packages/plasma-ui/tsconfig.json
  packages/plasma-ui/tsconfig.test.json
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
  packages/plasma-web/src/helpers/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: make cypress work again
  .github/workflows/cypress.yml
  packages/plasma-web/.gitignore
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

ci: update cypress container
  cypress/plugins/index.ts
  cypress/snapshots/plasma-ui/DatePicker.spec.ts/DatePicker -- snapshot.snap.png
  cypress/snapshots/plasma-ui/TimePicker.spec.ts/TimePicker -- snapshot.snap.png
  cypress/snapshots/plasma-ui/button.spec.ts/Button -- snapshot.snap.png
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-template): use all header props
  packages/plasma-temple/src/templates/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/Item/Item.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-template): add e2e test attributes
  packages/plasma-temple/src/templates/Item/components/ItemEntity/ItemEntity.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): CardMedia children
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/templates/GalleryList/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): add package docs
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
