Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): tv detection
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/Header/useHeaderProps.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@common.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/GridPage/components/GridCard.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/utils/deviceFamily.ts
  packages/plasma-temple/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

chore(plasma-tokens-web): update deps
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
Due: prettier --write --parser json, node

chore(plasma-tokens-b2c): update deps
  .github/dependabot.yml
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
Due: prettier --write --parser json, node

chore(plasma-icons): update deps
  .github/dependabot.yml
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
Due: prettier --write --parser json, node

chore(plasma-colors): update deps
  .github/dependabot.yml
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
Due: prettier --write --parser json, node

chore(plasma-core): update deps
  .github/dependabot.yml
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
Due: prettier --write --parser json, node

chore(plasma-tokens): update deps
  .github/dependabot.yml
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

chore(plasma-ui): update build deps
  .github/dependabot.yml
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

chore(plasma-ui): update test deps
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

chore(plasma-ui): update test deps
  .github/dependabot.yml
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

chore(plasma-ui): update storybook deps
  .github/dependabot.yml
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

chore(plasma-ui): update ts/styled-comps deps
  .github/dependabot.yml
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

chore(plasma-web): update build deps
  .github/dependabot.yml
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

chore(plasma-web): update storybook deps
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

chore(plasma-web): update storybook deps
  .github/dependabot.yml
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

chore(plasma-ui): update ts/styled-comps deps
  .github/dependabot.yml
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-colors/package.json
  packages/plasma-core/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

fix: Refactor `Checkbox` & `Radiobox` in order of better understanding
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Basebox/index.ts
  packages/plasma-core/src/components/Checkbox/Checkbox.tsx
  packages/plasma-core/src/components/Checkbox/index.ts
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

chore(showcase): Test `label` for `Checkbox` and `Radiobox`
  utils/showcase/src/helpers/CheckboxShowcase.tsx
  utils/showcase/src/helpers/RadioboxShowcase.tsx
  utils/showcase/src/helpers/Tony.tsx
  utils/showcase/src/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): allow react node in toast
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
  packages/plasma-core/src/components/Toast/types.ts
  packages/plasma-core/src/components/Toast/utils.ts
Due: eslint --fix, prettier --write, stylelint
