Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui)!: Добавлен оверскролл для оси Y
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Преобразована работа карусели в сетке
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselGridWrapper.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Carousel/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Хук useRemoteHandlers для карусели с пультом
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Управление с пульта с помощью долгих и коротких нажатий
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
  packages/ui/src/hooks/useSmartThrottle.ts
  packages/ui/src/utils/animatedScrollTo.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Переаботаны stories карусели
  packages/ui/.storybook/public/images/320_180_0.jpg
  packages/ui/.storybook/public/images/320_180_1.jpg
  packages/ui/.storybook/public/images/320_180_2.jpg
  packages/ui/.storybook/public/images/320_180_3.jpg
  packages/ui/.storybook/public/images/320_180_4.jpg
  packages/ui/.storybook/public/images/320_180_5.jpg
  packages/ui/.storybook/public/images/320_480_0.jpg
  packages/ui/.storybook/public/images/320_480_1.jpg
  packages/ui/.storybook/public/images/320_480_2.jpg
  packages/ui/.storybook/public/images/320_480_3.jpg
  packages/ui/.storybook/public/images/320_480_4.jpg
  packages/ui/.storybook/public/images/320_480_5.jpg
  packages/ui/.storybook/public/images/96_96_0.jpg
  packages/ui/.storybook/public/images/96_96_1.jpg
  packages/ui/.storybook/public/images/96_96_2.jpg
  packages/ui/.storybook/public/images/96_96_3.jpg
  packages/ui/.storybook/public/images/96_96_4.jpg
  packages/ui/.storybook/public/images/96_96_5.jpg
  packages/ui/src/components/Card/Card.examples.tsx
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Хендлеры управления каруселью
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/Carousel.types.tsx
  packages/ui/src/components/Carousel/CarouselCol.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
  packages/ui/src/hooks/useSmartThrottle.ts
  packages/ui/src/types/ScrollSnap.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Тип FocusProps разложен на два подтипа
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/mixins/addFocus.ts
  packages/ui/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header missing exports
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/index.ts
Due: eslint --fix, prettier --write, stylelint

Add spatial package
  packages/spatial/package-lock.json
  packages/spatial/package.json
  packages/spatial/src/hocs/withFocusable.tsx
  packages/spatial/src/hooks/useAutoFocus.ts
  packages/spatial/src/hooks/useFocusable.ts
  packages/spatial/src/hooks/useFocusableSection.ts
  packages/spatial/src/hooks/useSn.ts
  packages/spatial/src/instance.ts
  packages/spatial/src/spatialContext.ts
  packages/spatial/src/spts.ts
  packages/spatial/src/utils/exclude.ts
  packages/spatial/src/utils/generateDistanceFunctions.ts
  packages/spatial/src/utils/getCurrentFocusedElement.ts
  packages/spatial/src/utils/getRect.ts
  packages/spatial/src/utils/isHTMLElement.ts
  packages/spatial/src/utils/isNavKey.ts
  packages/spatial/src/utils/isReactComponent.ts
  packages/spatial/src/utils/matchSelector.ts
  packages/spatial/src/utils/navigate.ts
  packages/spatial/src/utils/parseSelector.ts
  packages/spatial/src/utils/partition.ts
  packages/spatial/src/utils/prioritize.ts
  packages/spatial/src/utils/spatialUtils.ts
  packages/spatial/src/utils/types.ts
  packages/spatial/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(ui): Исправил прокрутку для вертикальных каруселек
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

Fix eslint & prettier errors
  .eslintrc.js
  .prettierignore
  packages/spatial/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): Добавил примеры вертикальной прокрутки
  packages/ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлен пример с вертикальной каруселью
  packages/ui/src/components/Card/Card.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

Fix main & version fiels
  packages/spatial/package-lock.json
  packages/spatial/package.json
Due: prettier --write --parser json, node

feat(ui): Компонент Checkbox
  packages/ui/src/components/Checkbox/Basebox.tsx
  packages/ui/src/components/Checkbox/Checkbox.mdx
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Checkbox/index.ts
  packages/ui/src/types/InputHTMLAttributes.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент Radiobox
  packages/ui/src/components/Radiobox/Radiobox.mdx
  packages/ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/ui/src/components/Radiobox/Radiobox.tsx
  packages/ui/src/components/Radiobox/RadioboxList.tsx
  packages/ui/src/components/Radiobox/index.ts
Due: eslint --fix, prettier --write, stylelint

ci(plasma-tokens): fix auto upload assets
  package.json
Due: prettier --write --parser json, node

feat(plasma-tokens): add tokens for android/ios
  package-lock.json
  package.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/config.json
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

ci(plasma-tokens): tar tokens
  package.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

feat(plasma-tokens): switch from ios/android assets to packages
  .gitignore
  package-lock.json
  package.json
  packages/plasma-tokens-android/.gitignore
  packages/plasma-tokens-android/README.md
  packages/plasma-tokens-android/package.json
  packages/plasma-tokens-ios-swift/.gitignore
  packages/plasma-tokens-ios-swift/README.md
  packages/plasma-tokens-ios-swift/package.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/config.json
  packages/plasma-tokens/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

Create principles.md
  packages/plasma-tokens/principles.md
Due: prettier --write --parser markdown

fix(ui): Исправлена невозможность передать -1 index в Carousel, #182
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): исправлены типографика, отступы в ячейке
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Cell/CellListItem.tsx
  packages/ui/src/components/TextBox/TextBox.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компоненты DatePicker & TimePicker
  packages/ui/src/components/Pickers/DatePicker.tsx
  packages/ui/src/components/Pickers/Picker.tsx
  packages/ui/src/components/Pickers/PickerItem.tsx
  packages/ui/src/components/Pickers/Pickers.mdx
  packages/ui/src/components/Pickers/Pickers.stories.tsx
  packages/ui/src/components/Pickers/SimpleDatePicker.tsx
  packages/ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/ui/src/components/Pickers/TimePicker.tsx
  packages/ui/src/components/Pickers/index.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/formatters.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Дополнена документация для Grid, исправлено #166
  packages/ui/src/components/Grid/Grid.mdx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
