Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(ui): Вертикальная прокрутка Carousel #116
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/helpers/GridLines.tsx
  packages/ui/src/utils/animatedScrollTo.ts
  packages/ui/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Типизация пропсов Button
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-android/CHANGELOG.md
  packages/plasma-tokens-ios-swift/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-android/package.json
  packages/plasma-tokens-ios-swift/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-android/package.json
  packages/plasma-tokens-ios-swift/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

Добавляет хук для автоматической фокусировки секций
  packages/spatial/src/react-spatnav/hooks/index.ts
  packages/spatial/src/react-spatnav/hooks/useDefaultSection.ts
Due: eslint --fix, prettier --write, stylelint

Добавляет генерацию документации Исправляет определение языка в прмерах кода
  .gitignore
  packages/spatial/.eslintignore
  packages/spatial/.prettierignore
  packages/spatial/README.md
  packages/spatial/package-lock.json
  packages/spatial/package.json
  packages/spatial/src/core/types/index.ts
  packages/spatial/src/index.ts
  packages/spatial/src/react-spatnav/hocs/withFocusable.tsx
  packages/spatial/src/react-spatnav/hooks/useSection.ts
  packages/spatial/src/react-spatnav/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Чинит тип функции кастомизации
  packages/spatial/src/react-spatnav/hooks/useSection.ts
Due: eslint --fix, prettier --write, stylelint

BREAKING CHANGE: Изменяет имя hoc withFocusabe на withSpatnav
  packages/spatial/README.md
  packages/spatial/src/react-spatnav/hocs/withSpatnav.tsx
  packages/spatial/src/react-spatnav/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Изменяет target сборки с ESNext на ES6
  packages/spatial/tsconfig.json
Due: prettier --write --parser json, node

Исправляет опечатку
  packages/spatial/src/core/SpatialNavigation.ts
Due: eslint --fix, prettier --write, stylelint

BREAKING CHANGE: spat nav 2
  packages/spatial/package-lock.json
  packages/spatial/package.json
Due: prettier --write --parser json, node

BREAKING CHANGE: смена API withFocusable Расширение документации
  packages/spatial/README.md
  packages/spatial/src/react-spatnav/hocs/withFocusable.tsx
  packages/spatial/src/react-spatnav/hooks/useSection.ts
  packages/spatial/src/react-spatnav/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat!: spatial navigation 2.0
  packages/spatial/package.json
Due: prettier --write --parser json, node

Чинит иморты в дистрибутиве пакета
  packages/spatial/src/core/SpatialNavigation.ts
  packages/spatial/src/core/helpers/spatnavInstance.ts
  packages/spatial/src/core/index.ts
  packages/spatial/src/core/utils/generateDistanceFunctions.ts
  packages/spatial/src/core/utils/getCurrentFocusedElement.ts
  packages/spatial/src/core/utils/getRect.ts
  packages/spatial/src/core/utils/index.ts
  packages/spatial/src/core/utils/isNavKey.ts
  packages/spatial/src/core/utils/matchSelector.ts
  packages/spatial/src/core/utils/navigate.ts
  packages/spatial/src/core/utils/parseSelector.ts
  packages/spatial/src/core/utils/partition.ts
  packages/spatial/src/core/utils/prioritize.ts
  packages/spatial/src/index.ts
  packages/spatial/src/react-spatnav/hocs/withFocusable.tsx
  packages/spatial/src/react-spatnav/hooks/useSection.ts
  packages/spatial/src/react-spatnav/hooks/useSpatnavInitialization.ts
  packages/spatial/src/react-spatnav/index.ts
  packages/spatial/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Добавляет два хелпера Меняет внутренние импорты
  packages/spatial/src/core/helpers/index.ts
  packages/spatial/src/core/helpers/setDefaultSectionByName.ts
  packages/spatial/src/core/index.ts
  packages/spatial/src/index.ts
  packages/spatial/src/react-spatnav/helpers/index.ts
  packages/spatial/src/react-spatnav/helpers/setDefaultSectionByProps.ts
  packages/spatial/src/react-spatnav/hooks/index.ts
  packages/spatial/src/react-spatnav/hooks/useSection.ts
  packages/spatial/src/react-spatnav/index.ts
Due: eslint --fix, prettier --write, stylelint

Чинит создание секций
  packages/spatial/src/core/SpatialNavigation.ts
Due: eslint --fix, prettier --write, stylelint

Чинит чтение кофига при навигации Добавляет немного комментариев
  packages/spatial/src/core/SpatialNavigation.ts
  packages/spatial/src/core/types/index.ts
Due: eslint --fix, prettier --write, stylelint

Чинит функцию isAnySectionFocused
  packages/spatial/src/core/SpatialNavigation.ts
  packages/spatial/src/react-spatnav/hooks/useDefaultSectionFocus.ts
Due: eslint --fix, prettier --write, stylelint

Изменяет хук useDefaultSection на useDefaultSectionFocus
  packages/spatial/src/core/SpatialNavigation.ts
  packages/spatial/src/react-spatnav/hooks/index.ts
  packages/spatial/src/react-spatnav/hooks/useDefaultSection.ts
  packages/spatial/src/react-spatnav/hooks/useDefaultSectionFocus.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Using plasma-core's tokens
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/src/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/spatial/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/spatial/package-lock.json
  packages/spatial/package.json
Due: prettier --write --parser json, node

chore: Bump dependencies versions
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-tokens/package-lock.json
Due: prettier --write --parser json, node

feat: Moved Typography to plasma-core / plasma-web
  docs/showcase/src/ui/Typography.stories.tsx
  docs/showcase/src/web/Typography.stories.tsx
  packages/plasma-core/src/components/Typography/Body/index.ts
  packages/plasma-core/src/components/Typography/Button/index.ts
  packages/plasma-core/src/components/Typography/Caption/index.ts
  packages/plasma-core/src/components/Typography/Display/index.ts
  packages/plasma-core/src/components/Typography/Footnote/index.ts
  packages/plasma-core/src/components/Typography/Headline/index.ts
  packages/plasma-core/src/components/Typography/Paragraph/index.ts
  packages/plasma-core/src/components/Typography/Underline/index.ts
  packages/plasma-core/src/components/Typography/index.ts
  packages/plasma-core/src/tokens/typography.ts
  packages/plasma-ui/src/components/Typography/Body/index.ts
  packages/plasma-ui/src/components/Typography/Display/index.ts
  packages/plasma-ui/src/components/Typography/Headline/index.ts
  packages/plasma-ui/src/components/Typography/Paragraph/index.ts
  packages/plasma-web/src/components/Typography/Body/index.ts
  packages/plasma-web/src/components/Typography/Button/index.ts
  packages/plasma-web/src/components/Typography/Caption/index.ts
  packages/plasma-web/src/components/Typography/Footnote/index.ts
  packages/plasma-web/src/components/Typography/Headline/index.ts
  packages/plasma-web/src/components/Typography/Paragraph/index.ts
  packages/plasma-web/src/components/Typography/Subtitle/index.ts
  packages/plasma-web/src/components/Typography/Underline/index.ts
  packages/plasma-web/src/components/Typography/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(showcase): Fix showcase helpers
  docs/showcase/src/helpers/Showcase.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add b
  b
  bb
Due: none

chore: add a!!!
  a
Due: none

feat(plasma-ui): Carousel: dynamic options list refresh
  packages/plasma-ui/src/components/Carousel/Carousel.tsx
  packages/plasma-ui/src/components/Carousel/CarouselContext.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): TimePicker: correct min and max behavior
  docs/showcase/src/ui/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): мелкие исправления и доработки апи
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/useAssistantAction.test.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/templates/Item/Item.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node
