Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore(plasma-cy-utils): Update styled-components version
  utils/plasma-cy-utils/package.json
Due: prettier --write --parser json, node

feat: Standard typography system
  .eslintignore
  packages/plasma-b2c/.storybook/preview-head.html
  packages/plasma-b2c/.storybook/preview.js
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Typography/Body.tsx
  packages/plasma-b2c/src/components/Typography/Dspl.tsx
  packages/plasma-b2c/src/components/Typography/H.tsx
  packages/plasma-b2c/src/components/Typography/Txt.tsx
  packages/plasma-b2c/src/components/Typography/Typography.stories.tsx
  packages/plasma-b2c/src/components/Typography/index.ts
  packages/plasma-b2c/src/tokens/index.ts
  packages/plasma-b2c/src/tokens/typography.ts
  packages/plasma-typo/.gitignore
  packages/plasma-typo/.npmrc
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
  packages/plasma-typo/src/compatible.ts
  packages/plasma-typo/src/helpers.ts
  packages/plasma-typo/src/index.ts
  packages/plasma-typo/src/standard.ts
  packages/plasma-typo/tsconfig.es.json
  packages/plasma-typo/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-b2c): Update snapshots after applying Standard Typography
  cypress/snapshots/b2c/components/Badge/Badge.component-test.tsx/plasma-web Badge -- _view.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _circled.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _sizes.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- simple.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- with Icon.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _size.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _view.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- simple.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- with Icon.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __description.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _checked.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _disabled.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _indeterminate.snap.png
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- simple.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/Editable -- _view.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/b2c/components/Notification/NotificationBase.component-test.tsx/plasma-web Notification -- simple.snap.png
  cypress/snapshots/b2c/components/Progress/ProgressBase.component-test.tsx/plasma-web Progress -- _status.snap.png
  cypress/snapshots/b2c/components/Progress/ProgressBase.component-test.tsx/plasma-web Progress -- simple.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- __description.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- __label.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- _checked.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- _disabled.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- simple.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- simple.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- simple.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- default.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- with icon.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
Due: none

build(plasma-cy-utils): fix pck-locks
  package-lock.json
  utils/plasma-cy-utils/package-lock.json
Due: prettier --write --parser json, node

chore: Skip Notification component test
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Added B2C typos for cy component test
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-b2c): add storybook stories
  packages/plasma-b2c/.storybook/main.js
  packages/plasma-b2c/README.md
  packages/plasma-b2c/src/components/Badge/Badge.stories.mdx
  packages/plasma-b2c/src/components/Badge/Badge.stories.tsx
  packages/plasma-b2c/src/components/Button/Button.stories.mdx
  packages/plasma-b2c/src/components/Button/Button.stories.tsx
  packages/plasma-b2c/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-b2c/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-b2c/src/components/Grid/Grid.stories.mdx
  packages/plasma-b2c/src/components/Grid/Grid.stories.tsx
  packages/plasma-b2c/src/components/Image/Image.stories.tsx
  packages/plasma-b2c/src/components/Link/Link.stories.mdx
  packages/plasma-b2c/src/components/Link/Link.stories.tsx
  packages/plasma-b2c/src/components/Modal/Modal.stories.mdx
  packages/plasma-b2c/src/components/Modal/Modal.stories.tsx
  packages/plasma-b2c/src/components/Notification/Notification.stories.mdx
  packages/plasma-b2c/src/components/Notification/Notification.stories.tsx
  packages/plasma-b2c/src/components/PaginationDots/PaginationDots.stories.mdx
  packages/plasma-b2c/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-b2c/src/components/Price/Price.stories.tsx
  packages/plasma-b2c/src/components/Progress/Progress.stories.tsx
  packages/plasma-b2c/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-b2c/src/components/Skeleton/Skeleton.stories.mdx
  packages/plasma-b2c/src/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-b2c/src/components/Spinner/Spinner.stories.tsx
  packages/plasma-b2c/src/components/Switch/Switch.stories.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.mdx
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-b2c/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

docs(plasma-b2c): fix packageName
  packages/plasma-b2c/src/components/Button/Button.stories.mdx
  packages/plasma-b2c/src/components/Grid/Grid.stories.mdx
  packages/plasma-b2c/src/components/Modal/Modal.stories.mdx
  packages/plasma-b2c/src/components/Notification/Notification.stories.mdx
Due: none

feat(b2c): add Slider
  packages/plasma-b2c/src/components/Slider/Double.tsx
  packages/plasma-b2c/src/components/Slider/Handle.tsx
  packages/plasma-b2c/src/components/Slider/Single.tsx
  packages/plasma-b2c/src/components/Slider/Slider.stories.tsx
  packages/plasma-b2c/src/components/Slider/Slider.tsx
  packages/plasma-b2c/src/components/Slider/SliderBase.tsx
  packages/plasma-b2c/src/components/Slider/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(b2c): TextArea: new typo
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- simple.snap.png
  packages/plasma-b2c/src/components/Field/Field.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(b2c): rmv TextArea story
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): TextArea for b2c added
  packages/plasma-b2c/src/components/Field/Field.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-b2c/src/components/TextArea/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat: new grid breakpoint for 16 cols
  packages/plasma-b2c/src/components/Grid/Container.tsx
  packages/plasma-b2c/src/components/Grid/index.ts
  packages/plasma-b2c/src/utils/index.ts
  packages/plasma-core/src/components/Grid/Col.tsx
  packages/plasma-core/src/components/Grid/index.ts
  packages/plasma-web/src/components/Grid/Col.tsx
  packages/plasma-web/src/components/Grid/Container.tsx
  packages/plasma-web/src/components/Grid/Grid.stories.mdx
  packages/plasma-web/src/components/Grid/index.ts
  packages/plasma-web/src/utils/index.ts
  packages/plasma-web/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

ci: fix pkg-locks regeneration
  .github/workflows/release.yml
  package-lock.json
Due: prettier --write --parser json, node

ci: fix pkg-locks regeneration
  package-lock.json
Due: prettier --write --parser json, node

ci: fix pkg-locks regeneration
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore: Remove Chromatic check
  .github/workflows/chromatic.yml
  package.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Configurable StateLayout background image
  packages/plasma-temple/src/components/FullScreenBackground/FullScreenBackground.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberbox.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberportal.tsx
  packages/plasma-temple/src/components/StateLayout/types.ts
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Configurable StateLayout background image
  packages/plasma-temple/src/components/FullScreenBackground/FullScreenBackground.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown
