Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore(plasma-web-docs): `TextField`: Incorrect `status` prop usage
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  website/plasma-web-docs/docs/components/TextField.mdx
Due: eslint --fix, prettier --write, stylelint

chore: Add @seryoshka to CODEOWNERS/#Tests
  CODEOWNERS
Due: none

docs(plasma-ui): Added `Sheet` documentation
  website/plasma-ui-docs/docs/components/Sheet.mdx
Due: none

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-ui-docs/versionsArchived.json
Due: prettier --write --parser json, node

test(plasma-temple): Form components spec
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/Form -- check validity state -- typeMismatch.snap.png
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/Form -- check validity state -- valueMissing state.snap.png
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/Form -- different types of fields -- render.snap.png
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/Form -- render and fill first field.snap.png
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/Form -- render and fill second field.snap.png
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/reaction on user actions -- get error from voice action.snap.png
  cypress/snapshots/temple/components/Form/Form.component-test.tsx/reaction on user actions -- switch to manual mode.snap.png
  cypress/support/commands.ts
  packages/plasma-temple/src/components/Form/Form.component-test.tsx
  packages/plasma-temple/src/components/Form/components/DatePicker.tsx
  packages/plasma-temple/src/components/Form/components/Form.tsx
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/Form/types.ts
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-temple): useForm hook spec
  packages/plasma-temple/src/hooks/useForm.component-test.tsx
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-temple): grid page spec
  cypress/config/temple-config.json
  cypress/plugins/index.ts
  cypress/snapshots/temple/pages/GridPage/GridPage.component-test.tsx/GridPage -- card another click -- after each hook.snap.png
  cypress/snapshots/temple/pages/GridPage/GridPage.component-test.tsx/GridPage -- card click -- after each hook.snap.png
  cypress/snapshots/temple/pages/GridPage/GridPage.component-test.tsx/GridPage -- render -- after each hook.snap.png
  cypress/snapshots/temple/pages/GridPage/GridPage.component-test.tsx/GridPage -- trigger infinite scroll -- after each hook.snap.png
  cypress/support/commands.ts
  cypress/support/index.d.ts
  nyc.config.js
  packages/plasma-temple/index.js
  packages/plasma-temple/src/pages/GridPage/GridPage.component-test.tsx
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-temple): stub image for tests
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.component-test.tsx
  packages/plasma-temple/src/pages/GridPage/GridPage.component-test.tsx
  packages/plasma-temple/src/pages/ItemPage/itemPage.component-test.tsx
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): `TextField`: fix `size:l` by providing $size to input
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write --parser markdown

feat(plasma-temple): Config initial index in HeroSlider
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/types.ts
Due: eslint --fix, prettier --write, stylelint

chore(ad-sdk): improve demo-app
  packages/ad-sdk/examples/demo/.env.sample
  packages/ad-sdk/examples/demo/package.json
  packages/ad-sdk/examples/demo/public/index.html
  packages/ad-sdk/examples/demo/src/index.js
  packages/ad-sdk/examples/demo/src/initWithAssistant.js
  packages/ad-sdk/examples/demo/webpack.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ad-sdk): add getAssistantRef()
  packages/ad-sdk/src/main.js
Due: eslint --fix, prettier --write, stylelint

feat(ad-sdk): bump version
  packages/ad-sdk/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ad-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ad-sdk/package-lock.json
  packages/ad-sdk/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

chore(plasma-b2c): `TextField` hide `size` prop in storybook
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-icons): remove unused icon
  packages/plasma-icons/src/Icon.assets/SberBoom.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconSberBoom.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

docs(plasma-web, plasma-b2c): `Button`: using as an anchor
  packages/plasma-b2c/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.stories.tsx
  website/plasma-web-docs/docs/components/Button.mdx
Due: eslint --fix, prettier --write, stylelint
