Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-android/CHANGELOG.md
  packages/plasma-tokens-ios-swift/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-android/package.json
  packages/plasma-tokens-ios-swift/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

Делает храненеие секций в Map, а не в объекте
  packages/spatial/src/core/SpatialNavigation.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/spatial/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/spatial/package-lock.json
  packages/spatial/package.json
Due: prettier --write --parser json, node

ci: fix release
  .github/workflows/release.yml
  package.json
Due: prettier --write --parser json, node

feat(plasma-ui): Marquee: animation duration prop
  packages/plasma-ui/src/components/Marquee/Marquee.tsx
Due: eslint --fix, prettier --write, stylelint

fix: release
  .github/workflows/documentation-pr.yml
  .github/workflows/release.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

fix: release
  docs/showcase/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
Due: prettier --write --parser json, node

feat(ui): Add marquee's animation duration props
  packages/plasma-ui/src/components/Marquee/Marquee.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): compact time-picker and configure label format date-picker
  docs/showcase/src/ui/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/SimpleDatePicker.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): missing root exports for Image & Marquee
  packages/plasma-ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: update deps
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerButton.tsx
  packages/plasma-temple/src/components/PageLayout/PageLayout.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
  packages/plasma-temple/src/hooks/useVoiceNavigation.ts
  packages/plasma-temple/src/registry/index.ts
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/GalleryList/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities.examples.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities@sberbox.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities@sberportal.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection@sberbox.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection@sberportal.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): Add base to props in Image component
  docs/showcase/src/ui/Image.stories.tsx
  packages/plasma-ui/src/components/Image/Image.stories.tsx
  packages/plasma-ui/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-web): Added TextArea component
  docs/showcase/src/web/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextArea/index.ts
  packages/plasma-web/src/components/TextField/TextField.tsx
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown
