Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

ci: Prevent showcase from publishing
  docs/showcase/package.json
Due: prettier --write --parser json, node

docs(plasma-web, plasma-ui, plasma-core): Added/updated docs
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Card/Card.stories.mdx
  packages/plasma-ui/src/components/Carousel/Carousel.stories.mdx
  packages/plasma-ui/src/components/Device/DeviceDetection.stories.mdx
  packages/plasma-ui/src/components/Grid/Grid.stories.mdx
  packages/plasma-ui/src/components/Header/Header.stories.mdx
  packages/plasma-ui/src/components/Skeleton/Skeleton.stories.mdx
  packages/plasma-ui/src/components/Stepper/Stepper.stories.mdx
  packages/plasma-ui/src/components/Switch/Switch.tsx
  packages/plasma-ui/src/components/Toast/Toast.stories.mdx
  packages/plasma-ui/src/mixins/mixins.stories.mdx
  packages/plasma-web/src/components/Badge/Badge.stories.mdx
  packages/plasma-web/src/components/Badge/Badge.stories.tsx
  packages/plasma-web/src/components/Button/Button.stories.mdx
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Switch/Switch.tsx
  packages/plasma-web/src/components/Tabs/Tabs.stories.mdx
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-web/src/components/Typography/Typography.stories.mdx
  packages/plasma-web/src/components/Typography/Typography.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui, plasma-web): Badge: correct reexport & const creation
  packages/plasma-ui/src/components/Badge/Badge.tsx
  packages/plasma-ui/src/components/Badge/index.ts
  packages/plasma-web/src/components/Badge/Badge.tsx
  packages/plasma-web/src/components/Badge/index.ts
Due: eslint --fix, prettier --write, stylelint

ci: Deploy documentation for plasma-web
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  packages/plasma-web/.gitignore
  packages/plasma-web/.storybook/preview-head.html
  packages/plasma-web/.storybook/theme.js
  packages/plasma-web/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

FOR TEST
  README.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): Date/TimePickers controls
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): TimePicker / DatePicker: l and s sizes for both components
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/SimpleDatePicker.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Picker disabled state
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
Due: eslint --fix, prettier --write, stylelint

docs(showcase): Pickers story
  docs/showcase/src/ui/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(showcase): Update dependent versions
  docs/showcase/package-lock.json
  docs/showcase/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): Date/TimePicker control by keyboard/remote
  packages/plasma-ui/src/components/Carousel/Carousel.hooks.tsx
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

perf(plasma-ui): Picker: prevent form unnecessary onChange call
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): TimePicker: values interval
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): remove docz
  packages/plasma-ui/doczrc.js
  packages/plasma-ui/gatsby-node.js
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/src/components/Badge/Badge.mdx
  packages/plasma-ui/src/components/Button/Button.mdx
  packages/plasma-ui/src/components/Card/Card.mdx
  packages/plasma-ui/src/components/Card/Card.stories.mdx
  packages/plasma-ui/src/components/Carousel/Carousel.mdx
  packages/plasma-ui/src/components/Cell/Cell.mdx
  packages/plasma-ui/src/components/Cell/Cell.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.mdx
  packages/plasma-ui/src/components/Grid/Grid.mdx
  packages/plasma-ui/src/components/Grid/Grid.stories.mdx
  packages/plasma-ui/src/components/Header/Header.mdx
  packages/plasma-ui/src/components/Icon/Icon.mdx
  packages/plasma-ui/src/components/MarkedList/MarkedList.mdx
  packages/plasma-ui/src/components/Pickers/Pickers.mdx
  packages/plasma-ui/src/components/Radiobox/Radiobox.mdx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-ui/src/components/Skeleton/Skeleton.mdx
  packages/plasma-ui/src/components/Spinner/Spinner.mdx
  packages/plasma-ui/src/components/Spinner/Spinner.tsx
  packages/plasma-ui/src/components/Stepper/Stepper.mdx
  packages/plasma-ui/src/components/Tabs/Tabs.mdx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.mdx
  packages/plasma-ui/src/components/TextField/TextField.mdx
  packages/plasma-ui/src/components/Toast/Toast.mdx
  packages/plasma-ui/src/components/Typography/typography.mdx
  packages/plasma-ui/src/mixins/mixins.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(showcase): Continue publishing in case of no bump version issue
  docs/showcase/package.json
Due: prettier --write --parser json, node

fix(plasma-core): Badge: fix padding for size s
  packages/plasma-core/src/components/Badge/Badge.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): update @storybook/react version
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): refactor types
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useVoiceNavigation.test.tsx
Due: eslint --fix, prettier --write, stylelint
