Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix(plasma-tokens-utils): Escape token value
  utils/plasma-tokens-utils/src/functions.ts
  utils/plasma-tokens-utils/src/generation.ts
Due: eslint --fix, prettier --write, stylelint

feat: Skeleton in core/ui/web
  docs/showcase/src/ui/Skeleton.stories.tsx
  docs/showcase/src/web/Skeleton.stories.tsx
  packages/plasma-core/src/components/Skeleton/LineSkeleton.tsx
  packages/plasma-core/src/components/Skeleton/RectSkeleton.tsx
  packages/plasma-core/src/components/Skeleton/Skeleton.tsx
  packages/plasma-core/src/components/Skeleton/TextSkeleton.tsx
  packages/plasma-core/src/components/Skeleton/index.ts
  packages/plasma-core/src/components/Typography/index.ts
  packages/plasma-core/src/hocs/index.ts
  packages/plasma-core/src/hocs/withSkeleton.tsx
  packages/plasma-core/src/index.ts
  packages/plasma-core/src/mixins/applySkeletonGradient.tsx
  packages/plasma-core/src/mixins/index.ts
  packages/plasma-core/src/tokens/colors.ts
  packages/plasma-tokens-b2c/data.ts
  packages/plasma-tokens-b2c/dataColors.ts
  packages/plasma-tokens-web/data.ts
  packages/plasma-tokens-web/dataColors.ts
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/dataColors.ts
  packages/plasma-ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-ui/src/components/Skeleton/Skeleton.tsx
  packages/plasma-ui/src/components/Typography/index.ts
  packages/plasma-ui/src/hocs/hocs.mdx
  packages/plasma-ui/src/hocs/index.ts
  packages/plasma-ui/src/hocs/withSkeleton.tsx
  packages/plasma-ui/src/mixins/applySkeletonGradient.tsx
  packages/plasma-ui/src/mixins/index.ts
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.mdx
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-web/src/components/Skeleton/index.ts
  packages/plasma-web/src/components/Typography/index.ts
  packages/plasma-web/src/hocs/index.ts
  packages/plasma-web/src/index.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-ui): Switch add readOnly prop
  packages/plasma-core/src/components/Switch/Switch.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): simplify types
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartContext.ts
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/hooks/useCart.ts
  packages/plasma-temple/src/pages/CartPage/hooks/useCartAssistantState.ts
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Empty cart mobile version
  packages/plasma-temple/.storybook/public/images/empty-cart.png
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Mobile cart and controlled cart
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/.storybook/public/images/placeholder.png
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartContext.ts
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/hooks/useCart.ts
  packages/plasma-temple/src/pages/CartPage/hooks/useCartAssistantState.ts
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): remove tabindex attr for portal ua
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): can hide timeline tick
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
  packages/plasma-temple/src/components/MediaPlayer/types.ts
Due: eslint --fix, prettier --write, stylelint

chore: update package-locks [skip ci]
  utils/showcase/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): add focus for player button
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerButton.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerControls.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): callOnce for useFocusOnMount added
  packages/plasma-temple/src/hooks/useFocusOnMount.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Insets with device pixel ratio
  packages/plasma-temple/src/hooks/useInsets.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Cart can be without delivery
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): Storybook controls for Tabs
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Add Sheet component
  packages/plasma-ui/src/components/Sheet/Sheet.stories.tsx
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
  packages/plasma-ui/src/components/Sheet/index.ts
  packages/plasma-ui/src/components/Sheet/useSheetSwipe.ts
  packages/plasma-ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Add showcase
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
  utils/showcase/src/ui/Sheet.stories.tsx
Due: eslint --fix, prettier --write, stylelint
