Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): description conent can be node. Add export product components
  packages/plasma-temple/src/components/Product/ProductCharacteristics/ProductCharacteristics.stories.tsx
  packages/plasma-temple/src/components/Product/ProductCharacteristics/ProductCharacteristics.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebox.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebportal.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/types.ts
  packages/plasma-temple/src/components/Product/ProductPageSmamokat.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPageSmartHome.stories.tsx
  packages/plasma-temple/src/components/Product/index.ts
  packages/plasma-temple/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Order Success page
  packages/plasma-temple/src/pages/OrderSuccess/OrderSuccess.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccess/OrderSuccess.tsx
  packages/plasma-temple/src/pages/OrderSuccess/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Confirm Order page
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.assets/LocationIcon.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.assets/map.png
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/ConfirmOrder.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/components/ConfirmOrderCard/ConfirmOrderCard.tsx
  packages/plasma-temple/src/pages/ConfirmOrder/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core, plasma-ui): Moved Spinner to core
  packages/plasma-core/src/components/Spinner/Spinner.tsx
  packages/plasma-core/src/components/Spinner/SpinnerSvg.tsx
  packages/plasma-core/src/components/Spinner/WhiteSpinnerSvg.tsx
  packages/plasma-core/src/components/Spinner/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/Spinner/Spinner.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Support setting color for Spinner
  packages/plasma-core/src/components/Spinner/Spinner.tsx
  packages/plasma-core/src/components/Spinner/SpinnerSvg.tsx
  packages/plasma-core/src/components/Spinner/WhiteSpinnerSvg.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Added Spinner to web
  packages/plasma-web/src/components/Spinner/Spinner.stories.tsx
  packages/plasma-web/src/components/Spinner/Spinner.tsx
  packages/plasma-web/src/components/Spinner/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(showcase): Added Spinner showcase web
  docs/showcase/src/web/Spinner.stories.tsx
  packages/plasma-web/src/components/Spinner/Spinner.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): Id for Spinner's gradient
  docs/showcase/src/ui/Spinner.stories.tsx
  docs/showcase/src/web/Spinner.stories.tsx
  packages/plasma-core/src/components/Spinner/Spinner.tsx
  packages/plasma-core/src/components/Spinner/SpinnerSvg.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-ui): fix simultaneous src&placeholder display
  packages/plasma-ui/src/components/Card/CardMedia.tsx
Due: eslint --fix, prettier --write, stylelint

docs(showcase): Hide description in radio/checkbox
  docs/showcase/src/helpers/CheckboxShowcase.tsx
  docs/showcase/src/helpers/RadioboxShowcase.tsx
  docs/showcase/src/ui/Checkbox.stories.tsx
  docs/showcase/src/ui/Radiobox.stories.tsx
  docs/showcase/src/web/Checkbox.stories.tsx
  docs/showcase/src/web/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): ShopLandingPage components
  packages/plasma-temple/.eslintrc.js
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/Layout/Layout.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Gallery.tsx
  packages/plasma-temple/src/pages/GalleryPage/types.ts
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/assets/info.svg
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/InfoIcon.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberbox.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberportal.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/index.ts
  packages/plasma-temple/src/pages/ShopLandingPage/types.ts
  packages/plasma-temple/src/pages/index.ts
  packages/plasma-temple/src/registry/index.ts
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

chore: add unit testing libraries for plasma-ui
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

test: add plasma-ui button tests
  packages/plasma-ui/src/components/Button/Button.test.tsx
Due: eslint --fix, prettier --write, stylelint

test: add plasma-ui ActionButton tests
  packages/plasma-ui/src/components/Button/ActionButton.test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Added Badge to index
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix action button clicks with spatial navigation
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useGetMutableValue.ts
  packages/plasma-temple/src/hooks/useGetState.ts
  packages/plasma-temple/src/hooks/useThrottledCallback.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
