Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

fix: Add step for restore cache node_modules
  .github/workflows/main-ci.yml
Due: none

docs(plasma-ui): add community figma
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

chore: update package-locks [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

fix: Rollback to old ci for release and build documentation
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  website/plasma-temple-docs/docusaurus.config.js
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-website/next.config.js
Due: eslint --fix, prettier --write, stylelint

Revert "Bump independent versions [skip ci]"
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Revert "Bump independent versions [skip ci]"
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

Revert "feat: Add concurrently for documentation and storybook builds"
  .github/workflows/main-ci.yml
  package-lock.json
  package.json
Due: prettier --write --parser json, node

Revert "chore: Remove documentation workflows"
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

Revert "feat: Create Main CI for sequenced execution release and documentation jobs"
  .github/workflows/documentation-pr.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
Due: none

Revert "fix: Add step for restore cache node_modules"
  .github/workflows/main-ci.yml
Due: none

Revert "feat(plasma-temple-docs/ui-docs/web-docs/website): Rename PR_NAME env to ARTIFACT_NAME"
  package-lock.json
  package.json
  website/plasma-temple-docs/docusaurus.config.js
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-website/next.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Revert "chore: update package-locks [skip ci]"
  CHANGELOG.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

feat(eslint-config-base): add base config for eslint
  packages/eslint-config-base/index.js
  packages/eslint-config-base/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): add promocode to cart
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add spinner while state is not initialized
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config-base/CHANGELOG.md
  packages/use-virtual/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config-base/package.json
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(eslint-config): add eslint-config-base with TS/JS rules
  packages/eslint-config/index.js
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

remove useless workflow and commented steps
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/cypress-ct.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/examples-pr.yml
  .github/workflows/examples.yml
  .github/workflows/old-documentation-main.yml
  .github/workflows/old-documentation-pr.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Add worflow_run
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

feat: Add workflow_run for documentation-main workflow
  .github/workflows/documentation-main.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
