Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

test(plasma-ui/web/b2c): fix cy component tests
  .github/workflows/cypress-ct.yml
  .gitignore
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- _circled.snap.png
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- _sizes.snap.png
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- simple.snap.png
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- with Icon.snap.png
  cypress/snapshots/b2c/All Specs/plasma-web Badge -- _view.snap.png
Due: none

test(plasma-ui/web/b2c): Typography: cy component test
  cypress/snapshots/b2c/components/Typography/TypographyBase.component-test.tsx/plasma-web Typography -- Headline5.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyBase.component-test.tsx/plasma-web Typography -- Subtitle.snap.png
  cypress/snapshots/ui/components/Typography/Typography.component-test.tsx/plasma-ui Typography -- Body3.snap.png
  cypress/snapshots/ui/components/Typography/Typography.component-test.tsx/plasma-ui Typography -- Display.snap.png
  cypress/snapshots/ui/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography.snap.png
  cypress/snapshots/web/components/Typography/Typography.component-test.tsx/plasma-web Typography -- Headline5.snap.png
  cypress/snapshots/web/components/Typography/Typography.component-test.tsx/plasma-web Typography -- Subtitle.snap.png
  cypress/snapshots/web/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography.snap.png
  packages/plasma-b2c/src/components/Typography/TypographyBase.component-test.tsx
  packages/plasma-b2c/src/components/Typography/index.ts
  packages/plasma-core/src/components/Typography/Typography.component-test.tsx
  packages/plasma-ui/src/components/Typography/Typography.component-test.tsx
  packages/plasma-ui/src/components/Typography/TypographyBase.component-test.tsx
  packages/plasma-web/src/components/Typography/Typography.component-test.tsx
  packages/plasma-web/src/components/Typography/TypographyBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web/b2c): Select: cy component test
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- simple.snap.png
  packages/plasma-b2c/src/components/Select/SelectBase.component-test.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web/b2c): Modal: cy component test
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- simple.snap.png
  packages/plasma-b2c/src/components/Modal/ModalBase.component-test.tsx
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix Layout scroll
  packages/plasma-temple/src/components/Layout/Layout.tsx
  packages/plasma-temple/src/components/Layout/LayoutElementContext.ts
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-shop-template, plasma-temple): update versions
  packages/plasma-shop-template/template.json
  packages/plasma-shop-template/template/src/pages/Catalog/initCatalogState.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): fix cart scroll
  packages/plasma-shop-template/template.json
  packages/plasma-shop-template/template/src/App.tsx
  packages/plasma-temple/src/hooks/useSpatNav.ts
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-shop-template/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-shop-template/package-lock.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-b2c): Editable component added
  cypress/snapshots/b2c/components/Editable -- _view.snap.png
  packages/plasma-b2c/src/components/Editable/Editable.component-test.tsx
  packages/plasma-b2c/src/components/Editable/Editable.stories.tsx
  packages/plasma-b2c/src/components/Editable/Editable.tsx
  packages/plasma-b2c/src/components/Editable/index.ts
  packages/plasma-b2c/src/utils/clearSelection.ts
  packages/plasma-b2c/src/utils/selectText.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

test(plasma-core/ui/web): fix tests
  packages/plasma-core/src/components/Badge/Badge.component-test.tsx
  packages/plasma-core/src/components/Button/Button.component-test.tsx
  packages/plasma-core/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-ui/src/components/Badge/Badge.component-test.tsx
  packages/plasma-ui/src/components/Button/Button.component-test.tsx
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

ci: fix cy-tests build
  .prettierignore
  cypress/webpack.config.js
  package-lock.json
  package.json
  utils/plasma-cy-utils/.gitignore
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/lib/index.d.ts
  utils/plasma-cy-utils/lib/index.d.ts.map
  utils/plasma-cy-utils/lib/index.js
  utils/plasma-cy-utils/lib/index.js.map
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/plasma-cy-utils/package.json
Due: prettier --write --parser json, node

feat(plasma-b2c): TextArea for b2c added
  packages/plasma-b2c/src/components/Field/Field.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-b2c/src/components/TextArea/index.ts
Due: eslint --fix, prettier --write, stylelint

test: add SBSans to cypress
  cypress/support/commands.ts
  packages/plasma-b2c/src/components/Editable/Editable.component-test.tsx
  packages/plasma-core/src/components/Badge/Badge.component-test.tsx
  packages/plasma-core/src/components/Button/Button.component-test.tsx
  packages/plasma-core/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-core/src/components/PaginationDots/PaginationDots.component-test.tsx
  packages/plasma-core/src/components/Price/Price.component-test.tsx
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
  packages/plasma-core/src/components/Switch/Switch.component-test.tsx
  packages/plasma-core/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-core/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-core/src/components/TextField/TextField.component-test.tsx
  packages/plasma-core/src/components/Typography/Typography.component-test.tsx
  packages/plasma-ui/src/components/Badge/Badge.component-test.tsx
  packages/plasma-ui/src/components/Button/Button.component-test.tsx
  packages/plasma-ui/src/components/Typography/Typography.component-test.tsx
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-web/src/components/Link/Link.component-test.tsx
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
  packages/plasma-web/src/components/Progress/Progress.component-test.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.component-test.tsx
  packages/plasma-web/src/components/Typography/Typography.component-test.tsx
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(web): update snapshots
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __description.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _indeterminate.snap.png
Due: none

test(ui): update snapshots
  cypress/snapshots/ui/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- simple.snap.png
  cypress/snapshots/ui/components/Typography/Typography.component-test.tsx/plasma-ui Typography -- Body3.snap.png
Due: none

test(b2c): update snapshots
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _checked.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- simple.snap.png
Due: none

test: increase retries up to 3
  cypress/config/b2c-config.json
  cypress/config/ui-config.json
  cypress/config/web-config.json
Due: prettier --write --parser json, node

test(ui): update snapshots
  cypress/snapshots/ui/components/Typography/Typography.component-test.tsx/plasma-ui Typography -- Body3.snap.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
