Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-temple)!: major release
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-basic-template/CHANGELOG.md
  packages/plasma-shop-template/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-basic-template/package.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

ci: fix failing of pkg-locks
  .github/workflows/release.yml
Due: none

ci: disable pck-lock update in docs
  .github/workflows/release.yml
Due: none

feat(plasma-b2c): Added `Upload` component
  packages/plasma-b2c/src/components/Upload/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload/Upload.tsx
  packages/plasma-b2c/src/components/Upload/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload/UploadGallery.tsx
  packages/plasma-b2c/src/components/Upload/UploadHelperText.tsx
  packages/plasma-b2c/src/components/Upload/UploadRoot.tsx
  packages/plasma-b2c/src/components/Upload/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-basic-template/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-shop-template/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): opening item from cart
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-basic-template/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-shop-template/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): fix page types
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(eslint-config): user real typescript version
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

test(plasma-web): fix cypress comp-tests
  cypress/snapshots/web/components/Badge/Badge.component-test.tsx/Badge -- renders Badge.snap.png
  cypress/webpack.config.js
  package.json
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-web/plasma-ui): move cy tests to plasma-core
  cypress/config/ui-config.json
  cypress/config/web-config.json
  cypress/webpack.config.js
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/src/components/Badge/Badge.component-test.tsx
  packages/plasma-core/src/helpers/CypressHelpers.tsx
  packages/plasma-ui/src/components/Badge/Badge.component-test.tsx
  packages/plasma-ui/src/components/Badge/BadgeBase.component-test.tsx
  packages/plasma-ui/src/helpers/CypressHelpers.tsx
  packages/plasma-ui/tsconfig.json
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
  packages/plasma-web/src/components/Badge/BadgeBase.component-test.tsx
  packages/plasma-web/src/helpers/CypressHelpers.tsx
  packages/plasma-web/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(Badge): update screens
  cypress/snapshots/ui/components/Badge/Badge.component-test.tsx/Badge -- _view.snap.png
  cypress/snapshots/ui/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _circled.snap.png
  cypress/snapshots/ui/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _sizes.snap.png
  cypress/snapshots/ui/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- simple.snap.png
  cypress/snapshots/ui/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- with Icon.snap.png
  cypress/snapshots/web/components/Badge/Badge.component-test.tsx/plasma-web Badge -- _view.snap.png
  cypress/snapshots/web/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _circled.snap.png
  cypress/snapshots/web/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _sizes.snap.png
  cypress/snapshots/web/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- simple.snap.png
  cypress/snapshots/web/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- with Icon.snap.png
  packages/plasma-core/src/__helpers/CypressHelpers.tsx
  packages/plasma-core/src/components/Badge/Badge.component-test.tsx
  packages/plasma-core/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: move cypress helpers to utils
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/src/__helpers/index.ts
  packages/plasma-core/src/components/Badge/Badge.component-test.tsx
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Badge/Badge.component-test.tsx
  packages/plasma-ui/src/components/Button/Button.component-test.tsx
  packages/plasma-ui/src/helpers/CypressHelpers.tsx
  packages/plasma-ui/src/helpers/index.ts
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
  packages/plasma-web/src/helpers/CypressHelpers.tsx
  packages/plasma-web/src/helpers/index.ts
  utils/plasma-cy-utils/.gitignore
  utils/plasma-cy-utils/.npmrc
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-cy-utils/src/CypressHelpers.tsx
  utils/plasma-cy-utils/src/index.ts
  utils/plasma-cy-utils/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-b2c): enable cypress comp tests
  .github/workflows/cypress-ct.yml
  cypress/config/b2c-config.json
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- _circled.snap.png
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- _sizes.snap.png
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- simple.snap.png
  cypress/snapshots/b2c/All Specs/plasma-core Badge -- with Icon.snap.png
  cypress/snapshots/b2c/All Specs/plasma-web Badge -- _view.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.component-test.tsx/plasma-web Badge -- _view.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _circled.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _sizes.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- simple.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- with Icon.snap.png
  package.json
  packages/plasma-b2c/.gitignore
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/__helpers/index.ts
  packages/plasma-b2c/src/components/Badge/Badge.component-test.tsx
  packages/plasma-b2c/src/components/Badge/BadgeBase.component-test.tsx
  packages/plasma-b2c/tsconfig.json
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: .eslintignore
  .eslintignore
Due: none

chore: update package-locks [skip ci]
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
Due: prettier --write --parser json, node

fix: dummy-release
  examples/demo-canvas-app/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
