Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

ci: сборка документации в зависимости от типа ивента
  .github/workflows/documentation.yml
  package.json
Due: prettier --write --parser json, node

feat(ui): Доработаны Grid и Carousel (#96, #97, #110)
  packages/ui/.storybook/preview.js
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselCol.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Carousel/index.ts
  packages/ui/src/components/Device/DeviceDetection.tsx
  packages/ui/src/components/Device/index.ts
  packages/ui/src/components/Grid/Col.tsx
  packages/ui/src/components/Grid/Container.tsx
  packages/ui/src/components/Grid/Grid.mdx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Grid/Row.tsx
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderLogo.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderTitle.tsx
  packages/ui/src/components/Typo/index.ts
  packages/ui/src/helpers/Filler.tsx
  packages/ui/src/helpers/GridLines.tsx
  packages/ui/src/index.ts
  packages/ui/src/mixins/applyMaxLines.ts
  packages/ui/src/mixins/index.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/mediaQuery.ts
  packages/ui/src/utils/utils.mdx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Carousel improve docs
  packages/ui/src/components/Carousel/Carousel.stories.mdx
Due: none

refactor: добавлены index.ts к компонентам
  packages/ui/.gitignore
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Cell/Cell.mdx
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/components/Cell/index.ts
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/index.ts
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/components/Spinner/index.ts
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Stepper/index.ts
  packages/ui/src/components/TextBox/TextBox.stories.tsx
  packages/ui/src/components/TextBox/index.ts
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Header improve propsTables
  packages/ui/src/components/Header/Header.stories.mdx
Due: none

feat(ui): Добавлен placeholder в CardMedia, #154
  packages/ui/src/components/Card/CardMedia.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Theme: удален. BREAKING
  packages/ui/src/components/Theme/_dark/Theme_dark_eva.ts
  packages/ui/src/components/Theme/_dark/Theme_dark_joy.ts
  packages/ui/src/components/Theme/_dark/Theme_dark_sber.ts
  packages/ui/src/components/Theme/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Квадратные границы ActionButton
  packages/ui/src/components/Button/ActionButton.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Переход на токены
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Basebox/Basebox.tsx
  packages/plasma-web/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Switch/Switch.tsx
  packages/plasma-web/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

ci(plasma-tokens): fix auto upload assets
  package.json
Due: prettier --write --parser json, node

feat!: Делаем пакеты публичными
  packages/plasma-tokens/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): Toast добавлена анимация появления / исчезания
  packages/ui/src/components/Toast/ToastController.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Актуализирован README.md, исправлен пример использования
  packages/ui/README.md
Due: prettier --write --parser markdown

feat: Пакет plasma-tokens-web
  .eslintignore
  .gitignore
  packages/plasma-tokens-web/.gitignore
  packages/plasma-tokens-web/.npmrc
  packages/plasma-tokens-web/LICENSE.txt
  packages/plasma-tokens-web/README.md
  packages/plasma-tokens-web/data.ts
  packages/plasma-tokens-web/design-language/.diezrc
  packages/plasma-tokens-web/design-language/.gitignore
  packages/plasma-tokens-web/design-language/.npmrc
  packages/plasma-tokens-web/design-language/designs/.gitkeep
  packages/plasma-tokens-web/design-language/package-lock.json
  packages/plasma-tokens-web/design-language/package.json
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-web/design-language/src/designs/SasUiKit.figma.ts
  packages/plasma-tokens-web/design-language/src/index.ts
  packages/plasma-tokens-web/design-language/tsconfig.json
  packages/plasma-tokens-web/design-language/tslint.json
  packages/plasma-tokens-web/generate.ts
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens-web/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix: Миксины skeleton и roundness, зависимость от core
  packages/plasma-core/package-lock.json
  packages/plasma-core/src/mixins/applyRoundness.ts
  packages/plasma-core/src/mixins/index.ts
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Skeleton/LineSkeleton.tsx
  packages/ui/src/components/Skeleton/RectSkeleton.tsx
  packages/ui/src/mixins/applySkeletonGradient.tsx
  packages/ui/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix: Возвращен экспорт CardPrice
  packages/ui/src/components/Card/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Поправлены импорты степпера
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint

docs: change assistant theme example
  packages/ui/src/components/theme.mdx
Due: none

feat(ui): Набор компонентов Skeleton
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Skeleton/LineSkeleton.tsx
  packages/ui/src/components/Skeleton/RectSkeleton.tsx
  packages/ui/src/components/Skeleton/Skeleton.mdx
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Skeleton/TextSkeleton.tsx
  packages/ui/src/components/Skeleton/index.ts
  packages/ui/src/components/Typography/typography.mdx
  packages/ui/src/hocs/hocs.mdx
  packages/ui/src/hocs/index.ts
  packages/ui/src/hocs/withSkeleton.tsx
  packages/ui/src/index.ts
  packages/ui/src/mixins/applyRoundness.ts
  packages/ui/src/mixins/applySkeletonGradient.tsx
  packages/ui/src/mixins/index.ts
  packages/ui/src/mixins/mixins.mdx
Due: eslint --fix, prettier --write, stylelint

feat(ui): ActionButton ref
  packages/ui/src/components/Button/ActionButton.tsx
Due: eslint --fix, prettier --write, stylelint

chore(ui): добавлен alias для реакта при сборке доки
  packages/ui/gatsby-node.js
Due: eslint --fix, prettier --write, stylelint

feat(ui): Горизонтальная карусель с поддержкой scroll, grid
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselContext.tsx
  packages/ui/src/components/Carousel/CarouselGridCol.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Carousel/index.ts
  packages/ui/src/components/ScrollList/ScrollList.mdx
  packages/ui/src/components/ScrollList/ScrollList.tsx
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/helpers/Filler.tsx
  packages/ui/src/helpers/Outline.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/animatedScrollTo.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): изменена информация об импортах
  README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

refactor: добавлены индексы в каждый компонент
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Cell/index.ts
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Header/index.ts
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/components/Stepper/index.ts
  packages/ui/src/components/TextBox/index.ts
  packages/ui/src/components/TextField/index.ts
  packages/ui/src/components/Typo/index.ts
  packages/ui/src/hocs/index.ts
  packages/ui/src/index.ts
  packages/ui/src/mixins/index.ts
  packages/ui/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header: layout, height, text shortening, logo
  docs/showcase/src/ui/Header.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderButton.tsx
  packages/ui/src/components/Header/HeaderContent.tsx
  packages/ui/src/components/Header/HeaderLogo.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderSubtitle.tsx
  packages/ui/src/components/Header/HeaderTitle.tsx
  packages/ui/src/components/Header/HeaderTitleWrapper.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): удален компонент Input
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/Input/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: update README
  packages/ui/README.md
Due: prettier --write --parser markdown

docs(plasma-ui): fix ui name
  docs/showcase/src/helpers/CardShowcase.tsx
  docs/showcase/src/helpers/CommonShowcase.tsx
  docs/showcase/src/helpers/Palette.tsx
  docs/showcase/src/helpers/Showcase.tsx
  docs/showcase/src/helpers/StoryDecorators.tsx
  docs/showcase/src/helpers/TabsShowcase.tsx
  docs/showcase/src/helpers/TextFieldShowcase.tsx
  docs/showcase/src/icons/Icons.stories.tsx
  docs/showcase/src/showcase/Mobile/Badges.stories.tsx
  docs/showcase/src/showcase/Mobile/Buttons.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.Universal.stories.tsx
  docs/showcase/src/showcase/Mobile/Controls.stories.tsx
  docs/showcase/src/showcase/Mobile/Pickers.stories.tsx
  docs/showcase/src/showcase/Mobile/Tabbar.stories.tsx
  docs/showcase/src/showcase/Mobile/TextFields.stories.tsx
  docs/showcase/src/ui/Badge.stories.tsx
  docs/showcase/src/ui/Button.stories.tsx
  docs/showcase/src/ui/Card.stories.tsx
  docs/showcase/src/ui/Carousel.stories.tsx
  docs/showcase/src/ui/Cell.stories.tsx
  docs/showcase/src/ui/Checkbox.stories.tsx
  docs/showcase/src/ui/Grid.stories.tsx
  docs/showcase/src/ui/Header.stories.tsx
  docs/showcase/src/ui/Image.stories.tsx
  docs/showcase/src/ui/MarkedList.stories.tsx
  docs/showcase/src/ui/Marquee.stories.tsx
  docs/showcase/src/ui/PaginationDots.stories.tsx
  docs/showcase/src/ui/Pickers.stories.tsx
  docs/showcase/src/ui/Price.stories.tsx
  docs/showcase/src/ui/Radiobox.stories.tsx
  docs/showcase/src/ui/Skeleton.stories.tsx
  docs/showcase/src/ui/Spinner.stories.tsx
  docs/showcase/src/ui/Stepper.stories.tsx
  docs/showcase/src/ui/Switch.stories.tsx
  docs/showcase/src/ui/Tabs.stories.tsx
  docs/showcase/src/ui/TextBox.stories.tsx
  docs/showcase/src/ui/TextField.stories.tsx
  docs/showcase/src/ui/Toast.stories.tsx
  docs/showcase/src/web/Grid.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): export Ratio type
  packages/ui/src/components/Image/Image.tsx
  packages/ui/src/components/Image/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: Убран ненужный импорт
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

chore: изменены имена некоторых иконок по фигме
  packages/plasma-icons/src/Icon.assets/Devices.tsx
  packages/plasma-icons/src/Icon.assets/Ethernet.tsx
  packages/plasma-icons/src/Icon.assets/Eye.tsx
  packages/plasma-icons/src/Icon.assets/Gamepad.tsx
  packages/plasma-icons/src/Icon.assets/TimerStroke.tsx
  packages/plasma-icons/src/Icon.assets/TvChannel.tsx
  packages/plasma-icons/src/Icon.assets/TvChannelAlt1.tsx
  packages/plasma-icons/src/Icon.assets/WifiOff.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconDeviceAlt1.tsx
  packages/plasma-icons/src/Icons/IconDevices.tsx
  packages/plasma-icons/src/Icons/IconEthernet.tsx
  packages/plasma-icons/src/Icons/IconEthernetWhite.tsx
  packages/plasma-icons/src/Icons/IconEye.tsx
  packages/plasma-icons/src/Icons/IconGamepad.tsx
  packages/plasma-icons/src/Icons/IconGamepadAlt1.tsx
  packages/plasma-icons/src/Icons/IconTimer.tsx
  packages/plasma-icons/src/Icons/IconTimerStroke.tsx
  packages/plasma-icons/src/Icons/IconTvChannel.tsx
  packages/plasma-icons/src/Icons/IconTvChannelAlt1.tsx
  packages/plasma-icons/src/Icons/IconTvLive.tsx
  packages/plasma-icons/src/Icons/IconTvLiveAlt1.tsx
  packages/plasma-icons/src/Icons/IconVolumeOff.tsx
  packages/plasma-icons/src/Icons/IconWifiNotConnected.tsx
  packages/plasma-icons/src/Icons/IconWifiOff.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлена бегущая строка
  packages/ui/src/components/RunningString/RunningString.stories.tsx
  packages/ui/src/components/RunningString/RunningString.tsx
  packages/ui/src/components/RunningString/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Градиенты подсказок о голосовых запросах
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/generate.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-icons): иконки Info и Share
  packages/plasma-icons/src/Icon.assets/Info.tsx
  packages/plasma-icons/src/Icon.assets/Info1.tsx
  packages/plasma-icons/src/Icon.assets/InfoFilled.tsx
  packages/plasma-icons/src/Icon.assets/Share.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconInfo1.tsx
  packages/plasma-icons/src/Icons/IconInfoFilled.tsx
  packages/plasma-icons/src/Icons/IconShare.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: Изменен build скрипт
  packages/ui/package.json
Due: prettier --write --parser json, node

fix(ui): Image Ratio (2/1, 1/2)
  packages/ui/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент Checkbox
  packages/ui/src/components/Checkbox/Basebox.tsx
  packages/ui/src/components/Checkbox/Checkbox.mdx
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Checkbox/index.ts
  packages/ui/src/types/InputHTMLAttributes.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправил прокрутку для вертикальных каруселек
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Переход plasma-tokens на общие механизмы
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-tokens/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui)!: Преобразована работа карусели в сетке
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselGridWrapper.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Carousel/index.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
