Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

fix(slider.css, index.ts): changed styles, added transition to the product page by slide clicking
  packages/layer-inpicture-sdk/src/css/slider.css
  packages/layer-inpicture-sdk/src/js/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Added option to enable native input for Pickers
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-ui): fix sb card cover control
  packages/plasma-ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): PreviewGallery features
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.stories.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItems.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix: Separate `Input`'s animation by b2b and b2c
  packages/plasma-core/src/components/TextField/TextField.tsx
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-web/src/components/Field/Field.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

Revert "fix: b2c preview gallery image size"
  packages/plasma-core/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): Preview gallery image size
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Update test for `Image`
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- default.snap.png
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- div.snap.png
  packages/plasma-core/src/components/Image/Image.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-website): Plasma icons service
  website/plasma-website/components/GlobalStyle.tsx
  website/plasma-website/components/roster/FlatButton.tsx
  website/plasma-website/components/roster/Grid.tsx
  website/plasma-website/components/roster/Header.tsx
  website/plasma-website/components/roster/IconForm.tsx
  website/plasma-website/components/roster/IconsList.tsx
  website/plasma-website/components/roster/Main.tsx
  website/plasma-website/components/roster/Panel.tsx
  website/plasma-website/components/roster/PanelView.tsx
  website/plasma-website/components/roster/RadioGroup.tsx
  website/plasma-website/components/roster/SearchForm.tsx
  website/plasma-website/components/roster/ThemeSwitcher.tsx
  website/plasma-website/components/roster/index.ts
  website/plasma-website/pages/_app.tsx
  website/plasma-website/pages/_document.tsx
  website/plasma-website/pages/icons.tsx
  website/plasma-website/pages/index.tsx
  website/plasma-website/public/plasma-logo.png
  website/plasma-website/store/actions.ts
  website/plasma-website/store/index.tsx
  website/plasma-website/store/reducer.ts
  website/plasma-website/store/types.ts
  website/plasma-website/types/Data.ts
  website/plasma-website/types/index.ts
  website/plasma-website/utils/capitalize.ts
  website/plasma-website/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: Render popup `Popup` when it's hidden
  packages/plasma-core/src/components/Popup/Popup.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: Add .npmrc to documentation apps
  website/plasma-ui-docs/.npmrc
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/.npmrc
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

feat(plasma-docs-ui): Added GlobalStyle component
  utils/plasma-docs-ui/src/components/GlobalStyle.tsx
  utils/plasma-docs-ui/src/components/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Added Plasma Temple documentation app
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/templates.md
  website/plasma-temple-docs/.gitignore
  website/plasma-temple-docs/.npmrc
  website/plasma-temple-docs/README.md
  website/plasma-temple-docs/babel.config.js
  website/plasma-temple-docs/docs/actions.md
  website/plasma-temple-docs/docs/config.md
  website/plasma-temple-docs/docs/core.md
  website/plasma-temple-docs/docs/forms.md
  website/plasma-temple-docs/docs/hooks.md
  website/plasma-temple-docs/docs/scenario.md
  website/plasma-temple-docs/docs/templates.md
  website/plasma-temple-docs/docusaurus.config.js
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-temple-docs/sidebars.js
  website/plasma-temple-docs/src/css/custom.css
  website/plasma-temple-docs/src/theme/Root/index.tsx
  website/plasma-temple-docs/static/.nojekyll
  website/plasma-temple-docs/static/images/320_320_0.jpg
  website/plasma-temple-docs/static/images/320_320_1.jpg
  website/plasma-temple-docs/static/images/320_320_10.jpg
  website/plasma-temple-docs/static/images/320_320_11.jpg
  website/plasma-temple-docs/static/images/320_320_12.jpg
  website/plasma-temple-docs/static/images/320_320_2.jpg
  website/plasma-temple-docs/static/images/320_320_3.jpg
  website/plasma-temple-docs/static/images/320_320_4.jpg
  website/plasma-temple-docs/static/images/320_320_5.jpg
  website/plasma-temple-docs/static/images/320_320_6.jpg
  website/plasma-temple-docs/static/images/320_320_7.jpg
  website/plasma-temple-docs/static/images/320_320_8.jpg
  website/plasma-temple-docs/static/images/320_320_9.jpg
  website/plasma-temple-docs/static/images/favicon.png
  website/plasma-temple-docs/static/images/plasma-logo.png
  website/plasma-temple-docs/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

ci: Deploy Plasma Temple docs
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

feat(plasma-website): Added link to Plasma Temple documentation
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
