Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

chore(plasma-web): Support `plasma-typo` in Storybook
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(palsma-core): export Popup StyledRoot
  packages/plasma-core/src/components/Popup/Popup.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Add keys for `Pickers` components in stories
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): add device component, StateLayout component by platforms
  packages/plasma-temple/mobile/package.json
  packages/plasma-temple/package.json
  packages/plasma-temple/sberbox/package.json
  packages/plasma-temple/sberportal/package.json
  packages/plasma-temple/src/components/DeviceComponent/DeviceComponent.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout.tsx
  packages/plasma-temple/src/components/index@mobile.ts
  packages/plasma-temple/src/components/index@sberbox.ts
  packages/plasma-temple/src/components/index@sberportal.ts
  packages/plasma-temple/src/index@mobile.ts
  packages/plasma-temple/src/index@sberbox.ts
  packages/plasma-temple/src/index@sberportal.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): onStart wait for command
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): onStart wait for character
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): replace previous screens
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Add `useResizeObserver` hook
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/src/hooks/index.ts
  packages/plasma-core/src/hooks/useResizeObserver.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-web,plasma-b2c): Add useResizeObserver and fix behavior with resize
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web,plasma-b2c,plasma-ui): Update snapshot and test for `TextArea` component
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- resize.snap.png
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- resize.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- resize.snap.png
  packages/plasma-core/src/components/TextArea/TextArea.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): item - exports by platforms
  packages/plasma-temple/src/components/FullScreenBackgroundWrapper/FullScreenBackgroundWrapper.tsx
  packages/plasma-temple/src/components/Item/Item.tsx
  packages/plasma-temple/src/components/Item/Item@common.tsx
  packages/plasma-temple/src/components/Item/Item@mobile.tsx
  packages/plasma-temple/src/components/Item/Item@sberbox.tsx
  packages/plasma-temple/src/components/Item/Item@sberportal.tsx
  packages/plasma-temple/src/components/Item/ItemBackground/ItemBackground.tsx
  packages/plasma-temple/src/components/Item/ItemBackground/ItemBackground@common.tsx
  packages/plasma-temple/src/components/Item/ItemBackground/ItemBackground@mobile.tsx
  packages/plasma-temple/src/components/Item/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/components/Item/ItemEntities/ItemEntities@common.tsx
  packages/plasma-temple/src/components/Item/ItemEntities/ItemEntities@mobile.tsx
  packages/plasma-temple/src/components/Item/ItemEntities/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/components/Item/index@mobile.ts
  packages/plasma-temple/src/components/Item/index@sberbox.ts
  packages/plasma-temple/src/components/Item/index@sberportal.ts
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/components/index@mobile.ts
  packages/plasma-temple/src/components/index@sberbox.ts
  packages/plasma-temple/src/components/index@sberportal.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Exports by platforms: Grid, HeroSlider, ErrorPage, SuccessPage, VideoPage
  packages/plasma-temple/src/components/Grid/Grid.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/components/index@mobile.ts
  packages/plasma-temple/src/components/index@sberbox.ts
  packages/plasma-temple/src/components/index@sberportal.ts
  packages/plasma-temple/src/index@mobile.ts
  packages/plasma-temple/src/index@sberbox.ts
  packages/plasma-temple/src/index@sberportal.ts
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@common.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@mobile.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@sberbox.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@sberportal.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@common.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@mobile.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@sberbox.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@sberportal.tsx
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
  packages/plasma-temple/src/pages/index@mobile.ts
  packages/plasma-temple/src/pages/index@sberbox.ts
  packages/plasma-temple/src/pages/index@sberportal.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): cart - export by platforms
  packages/plasma-temple/src/components/Cart/Cart.tsx
  packages/plasma-temple/src/components/Cart/Cart@common.tsx
  packages/plasma-temple/src/components/Cart/Cart@mobile.tsx
  packages/plasma-temple/src/components/Cart/Cart@sberbox.tsx
  packages/plasma-temple/src/components/Cart/Cart@sberportal.tsx
  packages/plasma-temple/src/components/Cart/CartItemCaption/CartItemCaption.tsx
  packages/plasma-temple/src/components/Cart/CartItemList/CartItemList.tsx
  packages/plasma-temple/src/components/Cart/CartOrder/CartOrder.tsx
  packages/plasma-temple/src/components/Cart/CartOrder/CartOrder@mobile.tsx
  packages/plasma-temple/src/components/Cart/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/components/Cart/CartOrder/CartOrder@sberportal.tsx
  packages/plasma-temple/src/components/Cart/index@mobile.ts
  packages/plasma-temple/src/components/Cart/index@sberbox.ts
  packages/plasma-temple/src/components/Cart/index@sberportal.ts
  packages/plasma-temple/src/components/index@mobile.ts
  packages/plasma-temple/src/components/index@sberbox.ts
  packages/plasma-temple/src/components/index@sberportal.ts
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat: use useVirtualForPlasma hook
  packages/plasma-core/src/components/VirtualCarousel/VirtualCarouselContext.tsx
  packages/plasma-core/src/components/VirtualCarousel/VirtualCarouselItem.tsx
  packages/plasma-core/src/components/VirtualCarousel/VirtualCarouselItemRefs.ts
  packages/plasma-core/src/components/VirtualCarousel/hooks.tsx
  packages/plasma-core/src/components/VirtualCarousel/index.ts
  packages/plasma-core/src/components/VirtualCarousel/types.tsx
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/VirtualCarousel/VirtualCarousel.hooks.tsx
  packages/plasma-ui/src/components/VirtualCarousel/VirtualCarousel.stories.tsx
  packages/plasma-ui/src/components/VirtualCarousel/VirtualCarousel.tsx
  packages/plasma-ui/src/components/VirtualCarousel/VirtualCarouselCol.tsx
  packages/plasma-ui/src/components/VirtualCarousel/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat: change to throttleByFrames
  packages/plasma-ui/src/components/VirtualCarousel/VirtualCarousel.hooks.tsx
  packages/plasma-ui/src/components/VirtualCarousel/VirtualCarousel.stories.tsx
  packages/plasma-ui/src/components/VirtualCarousel/VirtualCarousel.tsx
  packages/plasma-ui/src/components/VirtualCarousel/utils.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): product - export by platforms
  packages/plasma-temple/src/components/Product/Product.tsx
  packages/plasma-temple/src/components/Product/Product@common.tsx
  packages/plasma-temple/src/components/Product/Product@mobile.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ExpandableProductDetails/ExpandableProductDetails.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ProductDetails.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ProductDetailsItem/ProductDetailsItem.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductRecommendations/ProductRecommendations.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.tsx
  packages/plasma-temple/src/components/Product/ProductVariationSwitcher/ProductVariationSwitcher.tsx
  packages/plasma-temple/src/components/Product/index.ts
  packages/plasma-temple/src/components/Product/index@mobile.ts
  packages/plasma-temple/src/components/Product/index@sberbox.ts
  packages/plasma-temple/src/components/Product/index@sberportal.ts
  packages/plasma-temple/src/components/index@mobile.ts
  packages/plasma-temple/src/components/index@sberbox.ts
  packages/plasma-temple/src/components/index@sberportal.ts
Due: eslint --fix, prettier --write, stylelint

feat: Added possibility to disable CSS animations via ThemeProvider
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Button/Button.mixins.ts
  packages/plasma-core/src/components/Carousel/Carousel.tsx
  packages/plasma-core/src/components/Field/Field.tsx
  packages/plasma-core/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/mixins/addFocus.ts
  packages/plasma-core/src/types/ThemeProps.ts
  packages/plasma-core/src/types/index.ts
  packages/plasma-ui/.storybook/preview.js
  packages/plasma-ui/src/components/Card/Card.tsx
  packages/plasma-ui/src/components/Card/CardTypography.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-ui/src/components/Cell/Cell.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Device/DeviceDetection.tsx
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCardStepper.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/TabsSlider.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
