Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Mobile StateLayout
  packages/plasma-temple/src/components/StateLayout/StateLayout.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@mobile.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberbox.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberportal.tsx
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-b2c,plasma-web,plasma-ui): Update style for `Tabs` component
  packages/plasma-b2c/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/TabsView.tsx
  packages/plasma-web/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui,plasma-b2c): Remove unused stories mdx for `Tabs` component
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.mdx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.mdx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c,plasma-web,plasma-ui): Add test and update snapshots for `Tab` component
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- scrollable.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- _shifts.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- _stretch.snap.png
  cypress/snapshots/ui/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/ui/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- scrollable.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- scrollable.snap.png
  packages/plasma-core/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Add scrollable container for `Tab` component
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-core/src/components/Tabs/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): don't stop video on source change
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): exports VideoPlayer component
  packages/plasma-temple/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): Add inherit cursor in label for `BaseBox` component
  packages/plasma-core/src/components/Basebox/Basebox.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

fix(inpicture-sdk): typo fix in the EventTab enum
  packages/layer-inpicture-sdk/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(inpicture-sdk): new prop and stylefixes - stylefix for widget logo, large template - add new prop "hiddenByDefault" - add utils/hook useInView
  packages/layer-inpicture-sdk/src/assets/logo-black.svg
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/SecondaryTopContent.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/types.ts
  packages/layer-inpicture-sdk/src/utils/hooks/useInView.ts
Due: eslint --fix, prettier --write, stylelint

fix(inpicture-sdk): large template stylefixes - next-prev button size and positions - card size, title font-size, card border-radius
  packages/layer-inpicture-sdk/src/css/slider.sass
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): Extended `Picker` keyboard control
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/hooks/useRemoteListener.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): `Picker`: hide virtual items from screen reader
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `Picker` a11y improvements
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `Carousel`: Added possibility to specify list's role
  packages/plasma-ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): `DatePicker`: test for jumps - 10 up/down, home/end
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump 10 down.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump 10 up.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump end.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump home.snap.png
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): `Picker`: Keyboard accessability description
  website/plasma-ui-docs/docs/components/Pickers.mdx
Due: none
