Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(ui): Отображение HeaderButton отвязано от mediaQuery
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
Due: eslint --fix, prettier --write, stylelint

ci(plasma-ui): move lib gh worflow
  .github/workflows/chromatic.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

chore: изменена документация для иконок
  packages/plasma-icons/README.md
  packages/ui/src/components/Icon/Icon.mdx
Due: prettier --write --parser markdown

fix(ui): Отступ от иконки внутри Tabs, Button
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Tabs/TabItem.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправлена сториз card detail
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): новые иконки
  packages/plasma-icons/src/Icon.assets/Cart.tsx
  packages/plasma-icons/src/Icon.assets/CartAlt.tsx
  packages/plasma-icons/src/Icon.assets/Salute.tsx
  packages/plasma-icons/src/Icon.assets/SaluteCircle.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconCart.tsx
  packages/plasma-icons/src/Icons/IconCartAlt.tsx
  packages/plasma-icons/src/Icons/IconSalute.tsx
  packages/plasma-icons/src/Icons/IconSaluteCircle.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Передача deviceScale в theme. DeviceThemeProvider
  packages/ui/.storybook/preview.js
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Device/DeviceDetection.tsx
  packages/ui/src/components/Device/index.ts
  packages/ui/src/components/Grid/Col.tsx
  packages/ui/src/components/Grid/Container.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderTitle.tsx
  packages/ui/src/helpers/GridLines.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): ActionButton: narrow props
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Stepper/StepperButton.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Bump independent versions
  packages/plasma-core/package.json
  packages/plasma-web/package.json
  packages/ui/package.json
Due: prettier --write --parser json, node

ci: запускать publish на пр в rc
  .github/workflows/release.yml
Due: none

fix(plasma-icons): Icon move className to root obj
  packages/plasma-icons/src/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Carousel исправление overscroll-отступов
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselGridWrapper.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header: narrow props
  packages/ui/src/components/Header/HeaderLogo.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Постоянный touch-размер для docs
  packages/ui/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): switch from ios/android assets to packages
  .gitignore
  package-lock.json
  package.json
  packages/plasma-tokens-android/.gitignore
  packages/plasma-tokens-android/README.md
  packages/plasma-tokens-android/package.json
  packages/plasma-tokens-ios-swift/.gitignore
  packages/plasma-tokens-ios-swift/README.md
  packages/plasma-tokens-ios-swift/package.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/config.json
  packages/plasma-tokens/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

ci: disable lerna check for user auth
  lerna.json
  package.json
Due: prettier --write --parser json, node

feat(plasma-tokens): Typography CSS Vars & Types
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/utils.ts
  packages/ui/src/components/Device/DeviceDetection.tsx
Due: eslint --fix, prettier --write, stylelint

chore: иконки разбиты по секциям в сторибуке и доке
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Tabs: fixed border-radius when `pilled=true`
  packages/ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправлена невозможность передать -1 index в Carousel, #182
  packages/ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

test(ui): добавлена постоянная ссылка на картинку для доки Card
  packages/ui/.storybook/public/images/cat.png
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

ci: добавлен билд документации
  .github/workflows/documentation.yml
  packages/ui/doczrc.js
Due: eslint --fix, prettier --write, stylelint

fix(plasma-icons): добавлены styled-components
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
Due: prettier --write --parser json, node

feat(ui)!: Stepper: isWarning => showWarning & remover => showRemove; BREAKING
  docs/showcase/src/ui/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Stepper/StepperButton.tsx
  packages/ui/src/components/Stepper/StepperValue.tsx
Due: eslint --fix, prettier --write, stylelint

fix: Убран необязательный экспорт
  packages/ui/src/components/Button/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Для корректного отображения текста, когда анимация выключена
  packages/ui/src/components/Marquee/Marquee.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Moved Grid from ui to plasma-core, Grid for plasma-web
  docs/showcase/.storybook/preview.js
  docs/showcase/src/web/Grid.stories.tsx
  packages/plasma-core/src/components/Grid/Col.tsx
  packages/plasma-core/src/components/Grid/Container.tsx
  packages/plasma-core/src/components/Grid/Row.tsx
  packages/plasma-core/src/components/Grid/index.ts
  packages/plasma-web/src/components/Grid/Col.tsx
  packages/plasma-web/src/components/Grid/Container.tsx
  packages/plasma-web/src/components/Grid/index.ts
  packages/ui/src/components/Grid/Col.tsx
  packages/ui/src/components/Grid/Container.tsx
Due: eslint --fix, prettier --write, stylelint

docs: опечатки
  README.md
Due: prettier --write --parser markdown

feat: Button: Code separation for easier composition and styling
  docs/showcase/src/web/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-core/src/types/AsProps.ts
  packages/plasma-web/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.examples.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Управление с пульта с помощью долгих и коротких нажатий
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
  packages/ui/src/hooks/useSmartThrottle.ts
  packages/ui/src/utils/animatedScrollTo.ts
Due: eslint --fix, prettier --write, stylelint

fix: фикс eslint в plasma-icons
  .eslintignore
Due: none

feat(ui): добавлен компонент Toast
  packages/ui/.storybook/preview.js
  packages/ui/src/components/Toast/Toast.mdx
  packages/ui/src/components/Toast/Toast.stories.tsx
  packages/ui/src/components/Toast/Toast.tsx
  packages/ui/src/components/Toast/ToastController.tsx
  packages/ui/src/components/Toast/ToastProvider.tsx
  packages/ui/src/components/Toast/index.ts
  packages/ui/src/components/Toast/types.ts
  packages/ui/src/components/Toast/useToast.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(ui): Обновлен npm run clean
  packages/ui/package.json
Due: prettier --write --parser json, node

fix(ui): удалить CardPrice из поставки
  packages/ui/src/components/Card/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Button/Tabs: resizible => stretch / fixedWidth => stretch. BREAKING
  docs/showcase/src/showcase/Mobile/Buttons.stories.tsx
  docs/showcase/src/showcase/Mobile/Tabbar.stories.tsx
  docs/showcase/src/ui/Button.stories.tsx
  docs/showcase/src/ui/Card.stories.tsx
  docs/showcase/src/ui/Skeleton.stories.tsx
  docs/showcase/src/ui/Tabs.stories.tsx
  docs/showcase/src/web/Button.stories.tsx
  docs/showcase/src/web/Tabs.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Storybook viewports, Header mobile
  docs/showcase/.storybook/preview.js
  docs/showcase/src/helpers/StoryDecorators.tsx
  docs/showcase/src/ui/Header.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Tabs сдвиг для outline, rem-ы, убран scaleOnHover
  packages/ui/src/components/Tabs/TabItem.tsx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/mixins/applyInteraction.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Ссылка на rc витрины + актуализирована документация в README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
