Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat: Add workflow_run for documentation-main workflow
  .github/workflows/documentation-main.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): Add infinite scroll for `DatePicker` and `TimePicker` components
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Add tests for `DatePicker` and `TimePicker` components and update snapshots
  cypress/snapshots/plasma-ui/DatePicker.spec.ts/DatePicker -- snapshot.snap.png
  cypress/snapshots/plasma-ui/TimePicker.spec.ts/TimePicker -- snapshot.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- default.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- without infiniteScroll.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- default.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- without infiniteScroll.snap.png
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(app): исправил поведение слайдера при наведении, исправил скелетон
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/components/SliderButtons.ts
  packages/layer-inpicture-sdk/src/components/SliderWrapper.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(app): rewrote the application
  package-lock.json
  package.json
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/layer-inpicture-sdk/src/api/requsts.ts
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/PrimaryTopContent.ts
  packages/layer-inpicture-sdk/src/components/SecondaryTopContent.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/components/SliderButtons.ts
  packages/layer-inpicture-sdk/src/components/SliderWrapper.ts
  packages/layer-inpicture-sdk/src/constants.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/css/styles.sass
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/src/types.ts
  packages/layer-inpicture-sdk/src/utils/adaptiveValue.ts
  packages/layer-inpicture-sdk/src/utils/counter.ts
  packages/layer-inpicture-sdk/tsconfig.json
  packages/layer-inpicture-sdk/webpack.dev.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(index.tx): added new logic
  packages/layer-inpicture-sdk/README.md
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/js/counter.ts
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/tsconfig.json
  packages/layer-inpicture-sdk/webpack.common.js
  packages/layer-inpicture-sdk/webpack.config.js
  packages/layer-inpicture-sdk/webpack.dev.js
  packages/layer-inpicture-sdk/webpack.prod.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

feat(ad-sdk): block_id and pad_id
  packages/ad-sdk/src/utils/blockId.js
  packages/ad-sdk/src/utils/convertSurfaceName.js
  packages/ad-sdk/src/utils/padId.js
Due: eslint --fix, prettier --write, stylelint

feat(ad-sdk): add test surface
  .github/workflows/ad-sdk-demo.yml
  packages/ad-sdk/examples/demo/package.json
  packages/ad-sdk/examples/demo/public/index.html
  packages/ad-sdk/examples/demo/src/index.js
  packages/ad-sdk/examples/demo/webpack.config.js
  packages/ad-sdk/package.json
  packages/ad-sdk/src/main.js
  packages/ad-sdk/src/utils/blockId.test.js
  packages/ad-sdk/src/utils/convertSurfaceName.js
  packages/ad-sdk/src/utils/padId.test.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ad-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ad-sdk/package-lock.json
  packages/ad-sdk/package.json
Due: prettier --write --parser json, node

test(plasma-cy-utils): add withNoAnimation helper
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Cell component tests
  cypress/fixtures/images/avocado.png
  cypress/snapshots/ui/components/Cell/Cell.component-test.tsx/plasma-ui Cell -- __icon.snap.png
  cypress/snapshots/ui/components/Cell/Cell.component-test.tsx/plasma-ui Cell -- __icon_size.snap.png
  cypress/snapshots/ui/components/Cell/Cell.component-test.tsx/plasma-ui Cell -- __right.snap.png
  cypress/snapshots/ui/components/Cell/Cell.component-test.tsx/plasma-ui Cell -- _align_left.snap.png
  cypress/snapshots/ui/components/Cell/Cell.component-test.tsx/plasma-ui Cell -- _align_right.snap.png
  cypress/snapshots/ui/components/Cell/Cell.component-test.tsx/plasma-ui Cell -- _list_item.snap.png
  cypress/snapshots/ui/components/Cell/Cell.component-test.tsx/plasma-ui Cell -- simple.snap.png
  packages/plasma-ui/src/components/Cell/Cell.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Spinner component tests
  cypress/snapshots/ui/components/Spinner/SpinnerBase.component-test.tsx/plasma-core Spinner -- _color.snap.png
  cypress/snapshots/ui/components/Spinner/SpinnerBase.component-test.tsx/plasma-core Spinner -- _size.snap.png
  cypress/snapshots/ui/components/Spinner/SpinnerBase.component-test.tsx/plasma-core Spinner -- id.snap.png
  cypress/snapshots/ui/components/Spinner/SpinnerBase.component-test.tsx/plasma-core Spinner -- simple.snap.png
  packages/plasma-core/src/components/Spinner/Spinner.component-test.tsx
  packages/plasma-ui/src/components/Spinner/SpinnerBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add TextBox component tests
  cypress/snapshots/ui/components/TextBox/TextBox.component-test.tsx/plasma-ui TextBox -- __caption.snap.png
  cypress/snapshots/ui/components/TextBox/TextBox.component-test.tsx/plasma-ui TextBox -- __label.snap.png
  cypress/snapshots/ui/components/TextBox/TextBox.component-test.tsx/plasma-ui TextBox -- __sub-title.snap.png
  cypress/snapshots/ui/components/TextBox/TextBox.component-test.tsx/plasma-ui TextBox -- _size.snap.png
  cypress/snapshots/ui/components/TextBox/TextBox.component-test.tsx/plasma-ui TextBox -- simple.snap.png
  packages/plasma-ui/src/components/TextBox/TextBox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Skeleton component tests
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _roundness.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _size.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- simple.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- _roundness.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- _size.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- simple.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- __lines.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- __lines20.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _roundness.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _size.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- simple.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- width.snap.png
  cypress/snapshots/ui/components/Skeleton/SkeletonBase.component-test.tsx/plasma-core Skeleton -- withSkeleton -- simple.snap.png
  packages/plasma-core/src/components/Skeleton/Skeleton.component-test.tsx
  packages/plasma-ui/src/components/Skeleton/SkeletonBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add more Image component tests
  cypress/fixtures/images/320_320_0.jpg
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- _customRatio.snap.png
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- _ratio.snap.png
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- default.snap.png
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- div.snap.png
  packages/plasma-core/src/components/Image/Image.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add SmartPaginationDots component tests
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/+1.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/+10.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/+8.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/+9.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/-1.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/-10.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/-8.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/-9.snap.png
  cypress/snapshots/ui/components/PaginationDots/SmartPaginationDots.component-test.tsx/plasma-ui SmartPaginationDots -- simple.snap.png
  packages/plasma-ui/src/components/PaginationDots/SmartPaginationDots.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Marquee component tests
  cypress/snapshots/ui/components/Marquee/Marquee.component-test.tsx/plasma-ui Marquee -- _textAlign.snap.png
  cypress/snapshots/ui/components/Marquee/Marquee.component-test.tsx/plasma-ui Marquee -- simple.snap.png
  packages/plasma-ui/src/components/Marquee/Marquee.component-test.tsx
  packages/plasma-ui/src/components/Marquee/Marquee.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add MarkedList component tests
  cypress/snapshots/ui/components/MarkedList/MarkedList.component-test.tsx/plasma-ui MarkedList -- simple.snap.png
  packages/plasma-ui/src/components/MarkedList/MarkedList.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Card component tests
  cypress/snapshots/ui/components/Card/Card.component-test.tsx/plasma-ui Card -- __price.snap.png
  cypress/snapshots/ui/components/Card/Card.component-test.tsx/plasma-ui Card -- __typo.snap.png
  cypress/snapshots/ui/components/Card/Card.component-test.tsx/plasma-ui Card -- _compact.snap.png
  cypress/snapshots/ui/components/Card/Card.component-test.tsx/plasma-ui Card -- _cover.snap.png
  cypress/snapshots/ui/components/Card/Card.component-test.tsx/plasma-ui Card -- _disabled.snap.png
  cypress/snapshots/ui/components/Card/Card.component-test.tsx/plasma-ui Card -- simple.snap.png
  packages/plasma-ui/src/components/Card/Card.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix: Set Underline to uppercase
  cypress/snapshots/b2c/components/Typography/TypographyCoreBase.component-test.tsx/plasma-core Typography -- Typography with breakWord.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyCoreBase.component-test.tsx/plasma-core Typography -- Typography without breakWord.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyCoreBase.component-test.tsx/plasma-core Typography -- Typography.snap.png
  cypress/snapshots/ui/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography with breakWord.snap.png
  cypress/snapshots/ui/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography without breakWord.snap.png
  cypress/snapshots/ui/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography.snap.png
  cypress/snapshots/web/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography with breakWord.snap.png
  cypress/snapshots/web/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography without breakWord.snap.png
  cypress/snapshots/web/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography.snap.png
  packages/plasma-core/src/components/Typography/Underline/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node
