Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-ui): Added `ProductCard` component
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- custom color.snap.png
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- default.snap.png
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- disabled.snap.png
  cypress/snapshots/ui/components/ProductCard/ProductCard.component-test.tsx/plasma-ui ProductCard -- positive quantity.snap.png
  packages/plasma-ui/src/components/Card/Card.stories.mdx
  packages/plasma-ui/src/components/Card/Card.stories.tsx
  packages/plasma-ui/src/components/Card/Card.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.component-test.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.stories.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCardStepper.tsx
  packages/plasma-ui/src/components/ProductCard/index.ts
  packages/plasma-ui/src/index.ts
  website/plasma-ui-docs/docs/components/ProductCard.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `Stepper`: divide functionallity as `useStepper`
  packages/plasma-ui/src/components/Stepper/Stepper.hooks.ts
  packages/plasma-ui/src/components/Stepper/Stepper.tsx
  packages/plasma-ui/src/components/Stepper/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(demo-canvas-app): Add scalable icons demo
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/icons.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): `Modal` added react-focus-lock for focus management
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
  packages/plasma-web/src/components/Modal/ModalView.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(plasma-web, plasma-ui): `Toast`: added `showToast` arguments description
  website/plasma-web-docs/docs/components/Toast.mdx
  website/plasma-web-docs/src/components/Storybook.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): `Modal`: a11y improvements
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalView.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-ui-docs/versionsArchived.json
  website/plasma-web-docs/versionsArchived.json
Due: prettier --write --parser json, node

fix(plasma-teple): make svg imports inline
  cypress/snapshots/temple@sberbox/pages/ConfirmOrderPage/ConfirmOrderPage@common.component-test.tsx/ConfirmOrderPage -- render with disabled payment button.snap.png
  cypress/snapshots/temple@sberbox/pages/ConfirmOrderPage/ConfirmOrderPage@common.component-test.tsx/ConfirmOrderPage -- render.snap.png
  cypress/snapshots/temple@sberbox/pages/ConfirmOrderPage/ConfirmOrderPage@sberbox.component-test.tsx/ConfirmOrderPage -- render.snap.png
  cypress/snapshots/temple@sberportal/pages/ConfirmOrderPage/ConfirmOrderPage@common.component-test.tsx/ConfirmOrderPage -- render with disabled payment button.snap.png
  cypress/snapshots/temple@sberportal/pages/ConfirmOrderPage/ConfirmOrderPage@common.component-test.tsx/ConfirmOrderPage -- render.snap.png
  package-lock.json
  package.json
  packages/plasma-temple/babel.config.js
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/map.png
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-web-docs): Using b2b tokens / switch light/dark
  website/plasma-web-docs/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-web-docs): Switch between b2b and b2c
  website/plasma-web-docs/src/theme/Playground/PlaygroundPreview.ts
  website/plasma-web-docs/src/theme/Playground/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-docs-ui): Using b2b tokens
  utils/plasma-docs-ui/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): platform entrypoints
  packages/plasma-temple/.gitignore
  packages/plasma-temple/babel.config.js
  packages/plasma-temple/build-utils/generate-platform-exports.js
  packages/plasma-temple/mobile/package.json
  packages/plasma-temple/package.json
  packages/plasma-temple/sberbox/package.json
  packages/plasma-temple/sberportal/package.json
  packages/plasma-temple/src/components/Cart/CartItemList/CartItemList@sberbox.tsx
  packages/plasma-temple/src/components/Cart/CartItemList/CartItemList@sberportal.tsx
  packages/plasma-temple/src/components/Cart/CartOrderDetails/CartOrderDetails@sberbox.tsx
  packages/plasma-temple/src/components/Cart/CartOrderDetails/CartOrderDetails@sberportal.tsx
  packages/plasma-temple/src/components/Cart/EmptyCart/EmptyCart@sberbox.tsx
  packages/plasma-temple/src/components/Cart/EmptyCart/EmptyCart@sberportal.tsx
  packages/plasma-temple/src/components/FullScreenBackgroundWrapper/FullScreenBackgroundWrapper.tsx
  packages/plasma-temple/src/components/Item/ItemEntities/ItemEntities@sberbox.tsx
  packages/plasma-temple/src/components/Item/ItemEntities/ItemEntities@sberportal.tsx
  packages/plasma-temple/src/components/Product/Product@sberbox.tsx
  packages/plasma-temple/src/components/Product/Product@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ExpandableProductDetails/ExpandableProductDetails@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ExpandableProductDetails/ExpandableProductDetails@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@mobile.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-web): Support `plasma-typo` in Storybook
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-web): Designing `TextField` for B2B theme
  packages/plasma-tokens-b2b/data/components.ts
  packages/plasma-tokens-b2b/data/ds.ts
  packages/plasma-tokens-b2b/data/index.ts
  packages/plasma-tokens-b2b/data/sizes.ts
  packages/plasma-tokens-b2b/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-b2b/generate.ts
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-web/src/components/Field/Field.props.ts
  packages/plasma-web/src/components/Field/Field.tsx
  packages/plasma-web/src/components/Field/applyInputStyles.tsx
  packages/plasma-web/src/components/Field/index.ts
  packages/plasma-web/src/components/Input/Input.props.tsx
  packages/plasma-web/src/components/Input/Input.tsx
  packages/plasma-web/src/components/Input/index.ts
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
  packages/plasma-web/src/tokens/colors.ts
  packages/plasma-web/src/tokens/index.ts
  packages/plasma-web/src/tokens/sizes.ts
  packages/plasma-web/src/tokens/typography.ts
  utils/plasma-tokens-utils/src/constants.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix: `Field` and `Input` props interfaces facelifting
  packages/plasma-b2c/src/components/TextField/TextField.tsx
  packages/plasma-core/src/components/Input/Input.tsx
  packages/plasma-ui/src/components/TextField/TextField.tsx
  packages/plasma-web/src/components/Select/SelectButton.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

ci: Added B2B `TextField` tests
  cypress/config/b2b-config.json
  package.json
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-web, plasma-tokens-web): Design tokens for `plasma-web`
  packages/plasma-tokens-web/data/components.ts
  packages/plasma-tokens-web/data/ds.ts
  packages/plasma-tokens-web/data/index.ts
  packages/plasma-tokens-web/data/sizes.ts
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-web/generate.ts
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test: Added B2B `TextField` tests / new tests for legacy Web
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _labelInInput.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _size.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _status.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- content.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- default.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- disabled.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- empty.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- focused.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- readOnly.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _animatedHintlabel.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _animatedHintplaceholder.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _size.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _status.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- content.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- default.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- disabled.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- empty.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- focused.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- readOnly.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- content.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- default.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- disabled.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- focused.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- readOnly.snap.png
  cypress/snapshots/web/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  packages/plasma-web/src/components/TextField/TextField.component-test.tsx
  packages/plasma-web/src/components/TextField/TextFieldBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens-b2c): `TextField`: added CSS Variables tokens
  packages/plasma-tokens-b2c/data/colors.ts
  packages/plasma-tokens-b2c/data/components.ts
  packages/plasma-tokens-b2c/data/ds.ts
  packages/plasma-tokens-b2c/data/index.ts
  packages/plasma-tokens-b2c/data/sizes.ts
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-b2c/generate.ts
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
