Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): ActionButton: narrow props
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Stepper/StepperButton.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): Button: improve docs
  packages/plasma-core/src/components/Button/Button.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/mixins/applyInteraction.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Carousel improve docs
  packages/ui/src/components/Carousel/Carousel.stories.mdx
Due: none

feat(ui)!: remove Cart component
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Cart/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Cell: left=>leftContent right=>rightContent; BREAKING
  docs/showcase/src/helpers/Palette.tsx
  docs/showcase/src/icons/Icons.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.Universal.stories.tsx
  docs/showcase/src/ui/Card.stories.tsx
  docs/showcase/src/ui/Cell.stories.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Icon/IconSet.tsx
  packages/ui/src/helpers/Palette.tsx
Due: eslint --fix, prettier --write, stylelint

chore(docs): change sb PORT
  docs/showcase/package.json
Due: prettier --write --parser json, node

docs(ui): Card improve docs
  packages/ui/src/components/Card/Card.stories.mdx
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-core): move helpers to __helpers
  packages/plasma-core/.gitignore
  packages/plasma-core/src/__helpers/IconPlaceholder.tsx
  packages/plasma-core/src/__helpers/index.ts
  packages/plasma-core/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Theme: удален. BREAKING
  packages/ui/src/components/Theme/_dark/Theme_dark_eva.ts
  packages/ui/src/components/Theme/_dark/Theme_dark_joy.ts
  packages/ui/src/components/Theme/_dark/Theme_dark_sber.ts
  packages/ui/src/components/Theme/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): DeviceDetect: touch => mobile. BREAKING
  docs/showcase/.storybook/preview.js
  docs/showcase/src/helpers/StoryDecorators.tsx
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/generate.ts
  packages/ui/.storybook/preview.js
  packages/ui/src/components/Device/DeviceDetection.stories.mdx
  packages/ui/src/components/Device/DeviceDetection.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/helpers/ThemeSelect.tsx
  packages/ui/src/utils/deviceDetection.ts
  packages/ui/src/utils/utils.mdx
  packages/ui/src/utils/utils.stories.mdx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Header improve propsTables
  packages/ui/src/components/Header/Header.stories.mdx
Due: none

feat(ui)!: Stepper: isWarning => showWarning & remover => showRemove; BREAKING
  docs/showcase/src/ui/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Stepper/StepperButton.tsx
  packages/ui/src/components/Stepper/StepperValue.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-core): Switch fix exmpl
  packages/plasma-core/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Button/Tabs: resizible => stretch / fixedWidth => stretch. BREAKING
  docs/showcase/src/showcase/Mobile/Buttons.stories.tsx
  docs/showcase/src/showcase/Mobile/Tabbar.stories.tsx
  docs/showcase/src/ui/Button.stories.tsx
  docs/showcase/src/ui/Card.stories.tsx
  docs/showcase/src/ui/Skeleton.stories.tsx
  docs/showcase/src/ui/Tabs.stories.tsx
  docs/showcase/src/web/Button.stories.tsx
  docs/showcase/src/web/Tabs.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header: narrow props
  packages/ui/src/components/Header/HeaderLogo.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Showcase/Device fix basicCards height
  docs/showcase/src/showcase/Device/Cards/BasicCard.tsx
  docs/showcase/src/showcase/Device/Cards/TextBox.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Showcase/Device - revert packages/ui/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): Badge: view has two values: primary/secondary. BREAKING
  docs/showcase/src/showcase/Mobile/Badges.stories.tsx
  docs/showcase/src/ui/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.mdx
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Badge/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): fix Device/Showcase errors
  docs/showcase/src/showcase/Device/Cards/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Topbar/Topbar.stories.tsx
  docs/showcase/src/showcase/Device/Topbar/Topbar.tsx
Due: eslint --fix, prettier --write, stylelint

ci(plasma-ui): move lib gh worflow
  .github/workflows/chromatic.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

feat(plasma-ui): rename package
  docs/showcase/package.json
  packages/ui/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
