Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

ci: remove dependabot
  .github/dependabot.yml
Due: none

build: freeze typescript
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  package-lock.json
  package.json
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  utils/extract-sb-docgen-info/package-lock.json
  utils/extract-sb-docgen-info/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package.json
  examples/demo-tokens/package.json
  packages/plasma-colors/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  utils/extract-sb-docgen-info/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

feat: add RadioGroup components
  docs/docs/ui/components/Radiobox.mdx
  docs/docs/web/components/Radiobox.mdx
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/radiobox.tsx
  packages/plasma-core/src/components/RadioGroup/RadioGroup.tsx
  packages/plasma-core/src/components/RadioGroup/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/Radiobox/RadioGroup.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-ui/src/components/Radiobox/index.ts
  packages/plasma-web/src/components/Radiobox/RadioGroup.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/index.ts
  utils/showcase/src/helpers/RadioboxShowcase.tsx
  utils/showcase/src/web/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add page spinner
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/PageSpinner/PageSpinner.tsx
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/hooks/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-web): Collision of `Button` and global custom css
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/mixins/applyView.ts
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/extract-sb-docgen-info/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/extract-sb-docgen-info/package-lock.json
  utils/extract-sb-docgen-info/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-colors): Plasma colors types
  packages/plasma-colors/src/index.ts
  packages/plasma-colors/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Added `Carousel`, `PaginationDots` and `Select` to `index.ts`
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-sb-utils): `PaletteGrid`, `disableProps`, `IconsPlaceholder`, `InSpacingDecorator`
  .eslintignore
  packages/plasma-web/src/components/Image/Image.stories.tsx
  packages/plasma-web/src/components/Price/Price.stories.tsx
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.mdx
  packages/plasma-web/src/components/Spinner/Spinner.stories.tsx
  packages/plasma-web/src/components/Typography/Typography.stories.mdx
  packages/plasma-web/src/helpers/StoryDecorators.tsx
  packages/plasma-web/src/helpers/index.ts
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-sb-utils/src/components/IconPlaceholder.tsx
  utils/plasma-sb-utils/src/components/PaletteGrid.tsx
  utils/plasma-sb-utils/src/components/StoryDecorators.tsx
  utils/plasma-sb-utils/src/components/index.ts
  utils/plasma-sb-utils/src/helpers/disableProps.ts
  utils/plasma-sb-utils/src/helpers/flattenPalette.ts
  utils/plasma-sb-utils/src/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-temple): export GetInitialProps typing
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

docs(plasma-temple): app hooks & scenario hooks
  packages/plasma-temple/docs/core.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
Due: prettier --write --parser markdown

fix(plasma-docs): Custom live preview wrapper
  docs/src/theme/Playground/index.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Docs fixes in intros
  docs/docs/ui/_category_.json
  docs/docs/ui/components/Typography.mdx
  docs/docs/ui/design/typography.mdx
  docs/docs/ui/intro.mdx
  docs/docs/web/intro.mdx
  docs/docusaurus.config.js
  docs/src/components/Homepage/Features.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-docs): Update `docusaurus` to `2.0.0-beta.6`
  docs/package-lock.json
  docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): Added `coverGradient` prop to `CardContent`
  packages/plasma-ui/src/components/Card/Card.stories.tsx
  packages/plasma-ui/src/components/Card/CardContent.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

ci: Deploy B2C Storybook
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

feat(plasma-b2c): Added `Tabs` and `TabItem` component
  packages/plasma-b2c/src/components/Tabs/TabItem.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.tsx
  packages/plasma-b2c/src/components/Tabs/index.ts
  utils/showcase/src/b2c/Tabs.stories.tsx
  utils/showcase/src/helpers/B2CTabsShowcase.tsx
Due: eslint --fix, prettier --write, stylelint

fix: `Tabs` disabled state
  packages/plasma-core/src/components/Tabs/TabItem.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
