Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-ui): Storybook controls for PaginationDots, Price, Spinner, TextArea, TextField
  packages/plasma-ui/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-ui/src/components/Price/Price.stories.tsx
  packages/plasma-ui/src/components/Spinner/Spinner.stories.tsx
  packages/plasma-ui/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: A11y Tabs
  packages/plasma-core/src/components/Tabs/TabItem.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-core/src/components/Tabs/index.ts
  packages/plasma-ui/src/components/Tabs/Tabs.stories.mdx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): Refactor tabs
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/TabsSlider.tsx
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Tabs page
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/tabs.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore: CODEOWNERS
  CODEOWNERS
Due: none

chore(plasma-web): disableProps added
  packages/plasma-web/src/helpers/disableProps.tsx
  packages/plasma-web/src/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web): Storybook controls for Tabs, TextArea
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Writing new docs for Plasma Web
  docs/docs/web/_category_.json
  docs/docs/web/components/Badge.mdx
  docs/docs/web/components/Button.mdx
  docs/docs/web/components/Carousel.mdx
  docs/docs/web/components/Checkbox.mdx
  docs/docs/web/components/Dropdown.mdx
  docs/docs/web/components/Grid.mdx
  docs/docs/web/components/Image.mdx
  docs/docs/web/components/Link.mdx
  docs/docs/web/components/Modal.mdx
  docs/docs/web/components/Notification.mdx
  docs/docs/web/components/Price.mdx
  docs/docs/web/components/Progress.mdx
  docs/docs/web/components/Radiobox.mdx
  docs/docs/web/components/Select.mdx
  docs/docs/web/components/Skeleton.mdx
  docs/docs/web/components/Spinner.mdx
  docs/docs/web/components/Switch.mdx
  docs/docs/web/components/Tabs.mdx
  docs/docs/web/components/TextArea.mdx
  docs/docs/web/components/TextField.mdx
  docs/docs/web/components/Tooltip.mdx
  docs/docs/web/components/Typography.mdx
  docs/docs/web/components/_category_.json
  docs/docs/web/intro.mdx
  docs/docs/web/typography.mdx
  docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: Add `LamaEats` to `CODEOWNERS`
  CODEOWNERS
Due: none

fix(plasma-core): fix monthName formatter
  packages/plasma-core/jest.config.ts
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/src/utils/__tests__/formatters.test.ts
  packages/plasma-core/src/utils/formatters.ts
  packages/plasma-core/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

fix(plasma-web): Dropdown shadow black
  packages/plasma-web/src/components/Dropdown/DropdownList.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Pass color and contentLeft to DropdownItem
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Pass DropdownItem border radius as separate CSS Var
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: Storybook docgenInfo extraction tool
  .eslintignore
  package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/extract-sb-docgen-info/.babelrc
  utils/extract-sb-docgen-info/.gitignore
  utils/extract-sb-docgen-info/bin/index.js
  utils/extract-sb-docgen-info/package-lock.json
  utils/extract-sb-docgen-info/package.json
  utils/extract-sb-docgen-info/src/extract.ts
  utils/extract-sb-docgen-info/src/generate.ts
  utils/extract-sb-docgen-info/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
