Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

docs(plasma-ui): `Picker`: Keyboard accessability description
  website/plasma-ui-docs/docs/components/Pickers.mdx
Due: none

feat(plasma-ui): `Carousel`: Added possibility to specify list's role
  packages/plasma-ui/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): `Picker`: hide virtual items from screen reader
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Extended `Picker` keyboard control
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/hooks/useRemoteListener.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `Picker` a11y improvements
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): `DatePicker`: test for jumps - 10 up/down, home/end
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump 10 down.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump 10 up.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump end.snap.png
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- jump home.snap.png
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-ui-docs/versionsArchived.json
Due: prettier --write --parser json, node

fix(use-virtual): update range for itemCount increment
  packages/use-virtual/src/useVirtualDynamicScroll.tsx
  packages/use-virtual/src/useVirtualScroll.tsx
  packages/use-virtual/src/utils.ts
  packages/use-virtual/src/utils/use-scroll.ts
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(use-virtual): fix VirtualKeyboard
  packages/use-virtual/stories/components/VirtualKeyboard.tsx
Due: eslint --fix, prettier --write, stylelint

feat(use-virtual): set currentIndex after scroll, fix getSafeCurrent
  packages/use-virtual/README.md
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
  packages/use-virtual/src/types.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualDynamicScroll.tsx
  packages/use-virtual/src/useVirtualScroll.tsx
  packages/use-virtual/src/useVirtualSmoothScroll.tsx
  packages/use-virtual/src/utils.ts
  packages/use-virtual/src/utils/use-scroll.ts
  packages/use-virtual/src/utils/use-virtual-init.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

refactor(use-virtual): itemsLength => itemCount
  packages/use-virtual/README.md
  packages/use-virtual/src/types.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualDynamicScroll.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/useVirtualScroll.tsx
  packages/use-virtual/src/utils.ts
  packages/use-virtual/src/utils/use-scroll.ts
  packages/use-virtual/src/utils/use-virtual-init.ts
  packages/use-virtual/stories/components/VirtualDynamic.tsx
  packages/use-virtual/stories/components/VirtualHorizontalHeavy.tsx
  packages/use-virtual/stories/components/VirtualKeyboard.tsx
  packages/use-virtual/stories/components/VirtualSmoothScroll.tsx
  packages/use-virtual/stories/components/VirtualVertical.tsx
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(inpicture-sdk): исправления стилей шаблона large - расположене тайтла виджета - имя и цена теперь на градиенте - отступы элементов в карточке
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/index.html
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
  packages/use-virtual/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
Due: prettier --write --parser json, node

fix(plasma-web, plasma-ui): `Basebox`: Hide input properly; tabIndex={-1} on root
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: Storybook: Added lang to make VoiceOver read russian text properly
  packages/plasma-b2c/.storybook/preview.js
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-web/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

refactor(use-virtual): update structure
  packages/use-virtual/src/hooks-helpers/useIsomorphicLayoutEffect.ts
  packages/use-virtual/src/hooks-helpers/useKeyboard.ts
  packages/use-virtual/src/hooks-helpers/useMeasurements.ts
  packages/use-virtual/src/hooks-helpers/useMetricsMeasureScroll.ts
  packages/use-virtual/src/hooks-helpers/useScroll.ts
  packages/use-virtual/src/hooks-helpers/useVirtualInit.ts
  packages/use-virtual/src/hooks-helpers/useVisibleItems.ts
  packages/use-virtual/src/hooks-helpers/useWeakFlag.ts
  packages/use-virtual/src/types.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/utils.ts
  packages/use-virtual/src/utils/helpers.ts
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(use-virtual): drop scroll only hooks
  packages/use-virtual/src/index.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualDynamicScroll.tsx
  packages/use-virtual/src/useVirtualScroll.tsx
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(use-virtual): replace limit with initialRange for useVirtualKeyboard
  packages/use-virtual/src/hooks-helpers/useVirtualInit.ts
  packages/use-virtual/src/types.ts
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/stories/components/VirtualKeyboard.tsx
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(inpicture-sdk): багфиксы - исправлено падение js в safari - исправлена некорректная отправка ивента об открытии виджета при hiddenByDefault=false
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
Due: eslint --fix, prettier --write, stylelint

fix: Docs base url via env VERSION_NAME
  actions/versionate-docs/src/main.ts
  website/plasma-temple-docs/docusaurus.config.js
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-web-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui-docs): Empty `versionsArchived.json`
  website/plasma-ui-docs/versionsArchived.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  actions/versionate-docs/package-lock.json
  actions/versionate-docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/plasma-docs-ui/package.json
Due: prettier --write --parser json, node

fix: peer dependencies versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
