Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix: peer dependencies versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(icon-export-ui): Add types and create payload in plugin
  packages/icon-export-ui/src/code.ts
  packages/icon-export-ui/src/plugin/main.ts
  packages/icon-export-ui/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(icon-export-ui): Add listeners and fetch source files
  packages/icon-export-ui/package-lock.json
  packages/icon-export-ui/package.json
  packages/icon-export-ui/src/app/components/footer/Footer.tsx
  packages/icon-export-ui/src/app/components/form/Form.tsx
  packages/icon-export-ui/src/app/controllers/githubFilesFetcher.ts
  packages/icon-export-ui/src/source/iconAsset.ts
  packages/icon-export-ui/src/source/iconComponent.ts
  packages/icon-export-ui/src/source/iconSource.ts
  packages/icon-export-ui/src/source/indexSource.ts
  packages/icon-export-ui/src/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(icon-export-ui): Update infrastructure configs
  packages/icon-export-ui/.eslintrc.js
  packages/icon-export-ui/manifest.json
  packages/icon-export-ui/package-lock.json
  packages/icon-export-ui/package.json
  packages/icon-export-ui/webpack.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(icon-export-ui): Add utils for generate payload
  packages/icon-export-ui/src/source/iconAsset.ts
  packages/icon-export-ui/src/source/iconComponent.ts
  packages/icon-export-ui/src/source/iconSource.ts
  packages/icon-export-ui/src/source/index.ts
  packages/icon-export-ui/src/source/indexSource.ts
  packages/icon-export-ui/src/utils.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/icon-export-ui/package-lock.json
  packages/icon-export-ui/package.json
Due: prettier --write --parser json, node

test(plasma-temple): add tests for GalleryPage
  cypress/snapshots/temple/pages/GalleryPage/GalleryPage.component-test.tsx/GalleryPage -- CustomCard in galleries -- Variable card height.snap.png
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): carousels height
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-temple): add story for GalleryPage
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): `Picker`: Added `xs` size
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerDots.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
  packages/plasma-ui/src/components/Pickers/types.ts
  packages/plasma-ui/src/components/Pickers/utils.ts
  website/plasma-ui-docs/docs/components/Pickers.mdx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): peer deps versions
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(eslint-stylelint): public publish
  packages/eslint-config-base/LICENSE.txt
  packages/eslint-config-base/package.json
  packages/eslint-config/LICENSE.txt
  packages/eslint-config/package.json
  packages/stylelint-config/LICENSE.txt
  packages/stylelint-config/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/eslint-config-base/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/stylelint-config/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/eslint-config-base/package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

test(plasma-ui): Add test and snapshot for `Tabs` component
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- item autoFocus with pilled.snap.png
  packages/plasma-ui/src/components/Tabs/Tabs.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Fix outline-radius size for pilled tabs
  packages/plasma-ui/src/components/Tabs/TabsView.tsx
Due: eslint --fix, prettier --write, stylelint

ci: add job
  .github/workflows/typescript-coverage.yml
Due: none

ci: change job name
  .github/workflows/typescript-coverage.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node
