Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-web): `Tooltip` a11y & close with esc
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.mdx
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Success page
  cypress/snapshots/temple@mobile/pages/SuccessPage/SuccessPage@mobile.component-test.tsx/SuccessPage -- render success page with buttons.snap.png
  cypress/snapshots/temple@mobile/pages/SuccessPage/SuccessPage@mobile.component-test.tsx/SuccessPage -- render success page.snap.png
  cypress/snapshots/temple@sberbox/pages/SuccessPage/SuccessPage@common.component-test.tsx/SuccessPage -- render success page with buttons.snap.png
  cypress/snapshots/temple@sberbox/pages/SuccessPage/SuccessPage@common.component-test.tsx/SuccessPage -- render success page.snap.png
  cypress/snapshots/temple@sberportal/pages/SuccessPage/SuccessPage@common.component-test.tsx/SuccessPage -- render success page with buttons.snap.png
  cypress/snapshots/temple@sberportal/pages/SuccessPage/SuccessPage@common.component-test.tsx/SuccessPage -- render success page.snap.png
  packages/plasma-temple/src/hooks/useFocusOnMount.ts
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage.assets/success.svg
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage.stories.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@common.component-test.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@mobile.component-test.tsx
  website/plasma-temple-docs/docs/pages/ErrorPage.mdx
  website/plasma-temple-docs/docs/pages/SuccessPage.mdx
  website/plasma-temple-docs/docs/pages/_category_.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): update tests
  cypress/snapshots/temple@mobile/components/StateLayout/StateLayout@mobile.component-test.tsx/StateLayout -- render -- after each hook.snap.png
  cypress/snapshots/temple@mobile/components/StateLayout/StateLayout@mobile.component-test.tsx/StateLayout -- render with broken image -- after each hook.snap.png
  cypress/snapshots/temple@mobile/components/StateLayout/StateLayout@mobile.component-test.tsx/StateLayout -- render with children -- after each hook.snap.png
  cypress/snapshots/temple@mobile/components/StateLayout/StateLayout@mobile.component-test.tsx/StateLayout -- render with custom ratio -- after each hook.snap.png
  cypress/snapshots/temple@mobile/components/StateLayout/StateLayout@mobile.component-test.tsx/StateLayout -- render without background mask -- after each hook.snap.png
  cypress/snapshots/temple@mobile/pages/ErrorPage/ErrorPage@mobile.component-test.tsx/ErrorPage -- render -- after each hook.snap.png
  cypress/snapshots/temple@mobile/pages/ErrorPage/ErrorPage@mobile.component-test.tsx/ErrorPage -- render without any controls -- after each hook.snap.png
  cypress/snapshots/temple@mobile/pages/ErrorPage/ErrorPage@mobile.component-test.tsx/ErrorPage -- render without message and with buttons as ReactNode -- after each hook.snap.png
  cypress/snapshots/temple@mobile/pages/SuccessPage/SuccessPage@mobile.component-test.tsx/SuccessPage -- render success page with buttons.snap.png
  cypress/snapshots/temple@mobile/pages/SuccessPage/SuccessPage@mobile.component-test.tsx/SuccessPage -- render success page.snap.png
  cypress/snapshots/temple@sberbox/components/HeroSlider/HeroSlider@common.component-test.tsx/HeroSlider -- render.snap.png
  cypress/snapshots/temple@sberbox/components/HeroSlider/HeroSlider@sberbox.component-test.tsx/HeroSlider@sberbox -- switch backward by keyboard.snap.png
  cypress/snapshots/temple@sberbox/components/HeroSlider/HeroSlider@sberbox.component-test.tsx/HeroSlider@sberbox -- switch forward by keyboard.snap.png
  cypress/snapshots/temple@sberbox/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render -- after each hook.snap.png
  cypress/snapshots/temple@sberbox/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render with broken image -- after each hook.snap.png
  cypress/snapshots/temple@sberbox/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render with children -- after each hook.snap.png
  cypress/snapshots/temple@sberbox/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render with custom ratio -- after each hook.snap.png
  cypress/snapshots/temple@sberbox/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render without background mask -- after each hook.snap.png
  cypress/snapshots/temple@sberportal/components/HeroSlider/HeroSlider@common.component-test.tsx/HeroSlider -- render.snap.png
  cypress/snapshots/temple@sberportal/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render -- after each hook.snap.png
  cypress/snapshots/temple@sberportal/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render with broken image -- after each hook.snap.png
  cypress/snapshots/temple@sberportal/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render with children -- after each hook.snap.png
  cypress/snapshots/temple@sberportal/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render with custom ratio -- after each hook.snap.png
  cypress/snapshots/temple@sberportal/components/StateLayout/StateLayout@common.component-test.tsx/StateLayout -- render without background mask -- after each hook.snap.png
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.component-test.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayoutImage/StateLayoutImage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Support onboarding page in StateLayout component
  packages/plasma-temple/.storybook/public/images/food.png
  packages/plasma-temple/src/components/FullScreenBackground/FullScreenBackground.tsx
  packages/plasma-temple/src/components/FullScreenBackgroundWrapper/FullScreenBackgroundWrapper.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout.stories.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.component-test.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@mobile.component-test.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@mobile.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberbox.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberportal.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayoutImage/StateLayoutImage.tsx
  packages/plasma-temple/src/components/StateLayout/hooks/useImageToRender.tsx
  packages/plasma-temple/src/components/StateLayout/types.ts
  packages/plasma-temple/src/guards/isMediaObject.ts
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Add scalable icons demo
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/icons.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Grid component
  cypress/snapshots/temple@sberbox/pages/GridPage/GridPage@sberbox.component-test.tsx/GridPage -- card another click -- after each hook.snap.png
  cypress/snapshots/temple@sberbox/pages/GridPage/GridPage@sberbox.component-test.tsx/GridPage -- card click -- after each hook.snap.png
  cypress/snapshots/temple@sberbox/pages/GridPage/GridPage@sberbox.component-test.tsx/GridPage -- render -- after each hook.snap.png
  cypress/snapshots/temple@sberbox/pages/GridPage/GridPage@sberbox.component-test.tsx/GridPage -- trigger infinite scroll -- after each hook.snap.png
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Card/Card.stories.tsx
  packages/plasma-temple/src/components/Card/Card.tsx
  packages/plasma-temple/src/components/Card/index.ts
  packages/plasma-temple/src/components/Cart/CartItemList/CartItemList@common.tsx
  packages/plasma-temple/src/components/Grid/Grid.stories.tsx
  packages/plasma-temple/src/components/Grid/Grid.tsx
  packages/plasma-temple/src/components/Grid/index.ts
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useScrollableContainer.ts
  packages/plasma-temple/src/pages/GridPage/GridPage.stories.tsx
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/pages/GridPage/components/GridCard.tsx
  website/plasma-temple-docs/docs/components/Card.mdx
  website/plasma-temple-docs/docs/components/Cart.mdx
  website/plasma-temple-docs/docs/components/Grid.mdx
  website/plasma-temple-docs/docs/components/Product.mdx
  website/plasma-temple-docs/docs/components/StateLayout.mdx
  website/plasma-temple-docs/src/components/Storybook.tsx
  website/plasma-temple-docs/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): tests
  cypress/snapshots/temple@mobile/components/Grid/Grid@mobile.component-test.tsx/Grid -- render grid with background.snap.png
  cypress/snapshots/temple@mobile/components/Grid/Grid@mobile.component-test.tsx/Grid -- render grid.snap.png
  cypress/snapshots/temple@mobile/components/Grid/Grid@mobile.component-test.tsx/Grid -- set grid columns.snap.png
  cypress/snapshots/temple@sberbox/components/Card/Card@sberbox.component-test.tsx/Card -- render cover content without gradient.snap.png
  cypress/snapshots/temple@sberbox/components/Card/Card@sberbox.component-test.tsx/Card -- render cover content.snap.png
  cypress/snapshots/temple@sberbox/components/Card/Card@sberbox.component-test.tsx/Card -- render custom ratio.snap.png
  cypress/snapshots/temple@sberbox/components/Card/Card@sberbox.component-test.tsx/Card -- render with badge.snap.png
  cypress/snapshots/temple@sberbox/components/Card/Card@sberbox.component-test.tsx/Card -- render with image ratio.snap.png
  cypress/snapshots/temple@sberbox/components/Card/Card@sberbox.component-test.tsx/Card -- render with position badge.snap.png
  cypress/snapshots/temple@sberbox/components/Card/Card@sberbox.component-test.tsx/Card -- render.snap.png
  cypress/snapshots/temple@sberbox/components/Grid/Grid@common.component-test.tsx/Grid -- render grid with background.snap.png
  cypress/snapshots/temple@sberbox/components/Grid/Grid@common.component-test.tsx/Grid -- render grid.snap.png
  cypress/snapshots/temple@sberbox/components/Grid/Grid@common.component-test.tsx/Grid -- set grid columns.snap.png
  cypress/snapshots/temple@sberportal/components/Grid/Grid@common.component-test.tsx/Grid -- render grid with background.snap.png
  cypress/snapshots/temple@sberportal/components/Grid/Grid@common.component-test.tsx/Grid -- render grid.snap.png
  cypress/snapshots/temple@sberportal/components/Grid/Grid@common.component-test.tsx/Grid -- set grid columns.snap.png
  packages/plasma-temple/src/components/Card/Card@sberbox.component-test.tsx
  packages/plasma-temple/src/components/Grid/Grid@common.component-test.tsx
  packages/plasma-temple/src/components/Grid/Grid@mobile.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-cy-utils): move fonts to local resources
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add fonts to cypress
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Bold.woff
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Bold.woff2
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Light.woff
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Light.woff2
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Regular.woff
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Regular.woff2
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff2
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Thin.woff
  cypress/public/fonts/SBSansDisplay/SBSansDisplay-Thin.woff2
  cypress/public/fonts/SBSansText/SBSansText-Bold.woff
  cypress/public/fonts/SBSansText/SBSansText-Bold.woff2
  cypress/public/fonts/SBSansText/SBSansText-BoldItalic.woff
  cypress/public/fonts/SBSansText/SBSansText-BoldItalic.woff2
  cypress/public/fonts/SBSansText/SBSansText-Heavy.woff
  cypress/public/fonts/SBSansText/SBSansText-Heavy.woff2
  cypress/public/fonts/SBSansText/SBSansText-Italic.woff
  cypress/public/fonts/SBSansText/SBSansText-Italic.woff2
  cypress/public/fonts/SBSansText/SBSansText-Light.woff
  cypress/public/fonts/SBSansText/SBSansText-Light.woff2
  cypress/public/fonts/SBSansText/SBSansText-LightItalic.woff
  cypress/public/fonts/SBSansText/SBSansText-LightItalic.woff2
  cypress/public/fonts/SBSansText/SBSansText-Medium.woff
  cypress/public/fonts/SBSansText/SBSansText-Medium.woff2
  cypress/public/fonts/SBSansText/SBSansText-Regular.woff
  cypress/public/fonts/SBSansText/SBSansText-Regular.woff2
  cypress/public/fonts/SBSansText/SBSansText-Semibold.woff
  cypress/public/fonts/SBSansText/SBSansText-Semibold.woff2
  cypress/public/fonts/SBSansText/SBSansText-SemiboldItalic.woff
  cypress/public/fonts/SBSansText/SBSansText-SemiboldItalic.woff2
  cypress/public/fonts/SBSansText/SBSansText-Thin.woff
  cypress/public/fonts/SBSansText/SBSansText-Thin.woff2
  cypress/public/styles/SBSansDisplay.css
  cypress/public/styles/SBSansText.css
  cypress/snapshots/ui/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- with focus.snap.png
  cypress/snapshots/ui/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- with focus.snap.png
  cypress/webpack.config.js
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): storybook local font
  packages/plasma-ui/.storybook/manager-head.html
  packages/plasma-ui/.storybook/preview-head.html
  packages/plasma-ui/.storybook/public/styles/SBSansDisplay.css
  packages/plasma-ui/.storybook/public/styles/SBSansText.css
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Bold.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Bold.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Light.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Light.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Regular.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Regular.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Semibold.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Thin.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansDisplay/SBSansDisplay-Thin.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Bold.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Bold.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-BoldItalic.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-BoldItalic.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Heavy.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Heavy.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Italic.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Italic.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Light.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Light.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-LightItalic.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-LightItalic.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Medium.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Medium.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Regular.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Regular.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Semibold.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Semibold.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-SemiboldItalic.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-SemiboldItalic.woff2
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Thin.woff
  packages/plasma-ui/.storybook/public/styles/fonts/SBSansText/SBSansText-Thin.woff2
Due: none

chore: update package-locks [skip ci]
  packages/plasma-temple/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-web): Added `List` component
  packages/plasma-b2c/src/components/List/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/List/List.tsx
  packages/plasma-web/src/components/List/ListItem.tsx
  packages/plasma-web/src/components/List/index.ts
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): `Radiobox`: check only for id existance
  cypress/snapshots/b2c/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __description.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _checked.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _disabled.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _indeterminate.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- simple.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- squeezes.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- with focus.snap.png
  cypress/snapshots/web/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __description.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _checked.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _disabled.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _indeterminate.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- simple.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- squeezes.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- with focus.snap.png
  packages/plasma-b2c/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-b2c/src/components/Checkbox/CheckboxBase.component-test.tsx
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-web/src/components/Checkbox/CheckboxBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint
