Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui)!: Cell: left=>leftContent right=>rightContent; BREAKING
  docs/showcase/src/helpers/Palette.tsx
  docs/showcase/src/icons/Icons.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.Universal.stories.tsx
  docs/showcase/src/ui/Card.stories.tsx
  docs/showcase/src/ui/Cell.stories.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Icon/IconSet.tsx
  packages/ui/src/helpers/Palette.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Cell кликабельная область с Disclosure, outline
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/mixins/addFocus.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Доработка адаптивности Header #102
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправлено неправильное использование сетки в сторибуке
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/TextBox/TextBox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): CardMedia has children
  packages/ui/package-lock.json
  packages/ui/src/components/Card/Card.stories.mdx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Image/Image.tsx
  packages/ui/src/components/Image/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(ui): Header доработаны примеры в stories
  packages/ui/src/components/Header/Header.stories.mdx
  packages/ui/src/components/Header/Header.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Убраны лишние stories, декоратор Button stories, theming & colors
  packages/ui/src/components/Button/Button.examples.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Colors.stories.mdx
  packages/ui/src/components/Colors.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Stepper/Stepper.stories.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Switch/Switch.stories.tsx
  packages/ui/src/components/Theming.stories.mdx
  packages/ui/src/components/Toast/Toast.stories.tsx
  packages/ui/src/components/pallete.mdx
  packages/ui/src/helpers/ColorsDemo.tsx
  packages/ui/src/helpers/Palette.tsx
  packages/ui/src/helpers/Showcase.tsx
  packages/ui/src/helpers/StoryDecorators.tsx
  packages/ui/src/helpers/actionWithPersistedEvent.ts
  packages/ui/src/showcase/Mobile/Buttons/Buttons.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: исправлена ошибка при билде документации
  package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): esm build
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: prettier --write --parser json, node

feat(ui)!: Добавлен параметр scrollAlign для Carousel
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselGridWrapper.tsx
  packages/ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработка Card (#98, #108, #109)
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/toCssSize.ts
Due: eslint --fix, prettier --write, stylelint

docs: fix broken links
  README.md
Due: prettier --write --parser markdown

feat(ui): Определение/Увеличение центрального элемента в Carousel
  packages/ui/.gitignore
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/Carousel.types.tsx
  packages/ui/src/components/Carousel/CarouselCol.tsx
  packages/ui/src/components/Carousel/CarouselContext.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Carousel/index.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useDebouncedFunction.ts
  packages/ui/src/hooks/useForkRef.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(ui): Card improve docs
  packages/ui/src/components/Card/Card.stories.mdx
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Хендлеры управления каруселью
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/Carousel.types.tsx
  packages/ui/src/components/Carousel/CarouselCol.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
  packages/ui/src/hooks/useSmartThrottle.ts
  packages/ui/src/types/ScrollSnap.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

ci(plasma-tokens): tar tokens
  package.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

feat(ui): Переработан Header под rem-ы
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderButton.tsx
  packages/ui/src/components/Header/HeaderContent.tsx
  packages/ui/src/components/Header/HeaderLogo.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderSubtitle.tsx
  packages/ui/src/components/Header/HeaderTitle.tsx
  packages/ui/src/components/Header/HeaderTitleWrapper.tsx
  packages/ui/src/components/Header/index.ts
  packages/ui/src/types/StylingProps.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): Button: improve docs
  packages/plasma-core/src/components/Button/Button.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/mixins/applyInteraction.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): deviceDetection: don't break in node
  packages/ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

chore: Добавлены main и types в package.json
  packages/ui/package.json
Due: prettier --write --parser json, node

chore: Изменены импорты иконок
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): ButtonProps внутри разложен на подтипы
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderButton.tsx
Due: eslint --fix, prettier --write, stylelint

fix: Исправлены импорты после ренейма компонентов
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Cell/Cell.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: README.md для core и ui
  packages/plasma-core/README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

fix(ui): Переименовать название компонента для бегущей строки, фикс импортов
  packages/ui/package-lock.json
  packages/ui/src/components/Marquee/Marquee.stories.tsx
  packages/ui/src/components/Marquee/Marquee.tsx
  packages/ui/src/components/Marquee/index.ts
  packages/ui/src/components/RunningString/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Create principles.md
  packages/plasma-tokens/principles.md
Due: prettier --write --parser markdown

feat!: Button view=overlay для расположения над мм-контентом
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/mixins/applyView.ts
  packages/ui/src/components/Button/Button.examples.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Тип FocusProps разложен на два подтипа
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/mixins/addFocus.ts
  packages/ui/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

Update README.md
  README.md
Due: prettier --write --parser markdown

chore: Fix packages versions
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat: esm build core, icons, ui, web
  packages/plasma-core/.gitignore
  packages/plasma-core/package.json
  packages/plasma-core/rollup.config.js
  packages/plasma-icons/.gitignore
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.js
  packages/plasma-web/.gitignore
  packages/plasma-web/package.json
  packages/plasma-web/rollup.config.js
  packages/ui/.gitignore
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/tsconfig.json
  rollup.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(ui): Удалено свойство color, вместо view
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Card/CardBadge.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header missing exports
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/index.ts
Due: eslint --fix, prettier --write, stylelint

refactor(ui): убраны лишние позиции компонента Toast
  packages/ui/src/components/Toast/Toast.mdx
  packages/ui/src/components/Toast/Toast.stories.tsx
  packages/ui/src/components/Toast/ToastController.tsx
  packages/ui/src/components/Toast/ToastProvider.tsx
  packages/ui/src/components/Toast/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: HeaderProps, StepperProps, TextFieldProps внутри разложены на подтипы
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

chore: cleanup eslintrc
  .eslintrc.js
Due: eslint --fix, prettier --write, stylelint

chore: обновлен readme для иконок
  README.md
Due: prettier --write --parser markdown

feat(ui): Пресет quantity для Badge
  packages/ui/src/components/Badge/Badge.mdx
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/index.ts
  packages/ui/src/mixins/applyView.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
