Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix: исправлена ошибка при билде документации
  package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

docs: change assistant theme example
  packages/ui/src/components/theme.mdx
Due: none

docs(ui): improve theme exmpl
  packages/ui/src/components/theme.mdx
Due: none

fix(ui): Исправлена сториз card detail
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: компонент Notification
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Notification/Notification.mdx
  packages/ui/src/components/Notification/Notification.stories.tsx
  packages/ui/src/components/Notification/Notification.tsx
  packages/ui/src/components/Notification/NotificationsBackground.tsx
  packages/ui/src/components/Notification/NotificationsController.tsx
  packages/ui/src/components/Notification/NotificationsList.tsx
  packages/ui/src/components/Notification/NotificationsProvider.tsx
  packages/ui/src/components/Notification/index.ts
  packages/ui/src/components/Notification/notificationStore.ts
  packages/ui/src/components/Notification/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(ui): Исправлена notifications story
  packages/ui/src/components/Notification/Notification.stories.tsx
  packages/ui/src/components/Notification/Notification.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Изменены импорты иконок
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: фикс eslint в plasma-icons
  .eslintignore
Due: none

chore: изменен скрипт сборки доки
  package.json
  packages/plasma-icons/.npmrc
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/src/Icon.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: иконки разбиты по секциям в сторибуке и доке
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

chore: изменена документация для иконок
  packages/plasma-icons/README.md
  packages/ui/src/components/Icon/Icon.mdx
Due: prettier --write --parser markdown

fix: Убран ненужный импорт
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

chore: изменены имена некоторых иконок по фигме
  packages/plasma-icons/src/Icon.assets/Devices.tsx
  packages/plasma-icons/src/Icon.assets/Ethernet.tsx
  packages/plasma-icons/src/Icon.assets/Eye.tsx
  packages/plasma-icons/src/Icon.assets/Gamepad.tsx
  packages/plasma-icons/src/Icon.assets/TimerStroke.tsx
  packages/plasma-icons/src/Icon.assets/TvChannel.tsx
  packages/plasma-icons/src/Icon.assets/TvChannelAlt1.tsx
  packages/plasma-icons/src/Icon.assets/WifiOff.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconDeviceAlt1.tsx
  packages/plasma-icons/src/Icons/IconDevices.tsx
  packages/plasma-icons/src/Icons/IconEthernet.tsx
  packages/plasma-icons/src/Icons/IconEthernetWhite.tsx
  packages/plasma-icons/src/Icons/IconEye.tsx
  packages/plasma-icons/src/Icons/IconGamepad.tsx
  packages/plasma-icons/src/Icons/IconGamepadAlt1.tsx
  packages/plasma-icons/src/Icons/IconTimer.tsx
  packages/plasma-icons/src/Icons/IconTimerStroke.tsx
  packages/plasma-icons/src/Icons/IconTvChannel.tsx
  packages/plasma-icons/src/Icons/IconTvChannelAlt1.tsx
  packages/plasma-icons/src/Icons/IconTvLive.tsx
  packages/plasma-icons/src/Icons/IconTvLiveAlt1.tsx
  packages/plasma-icons/src/Icons/IconVolumeOff.tsx
  packages/plasma-icons/src/Icons/IconWifiNotConnected.tsx
  packages/plasma-icons/src/Icons/IconWifiOff.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: Изменен build скрипт
  packages/ui/package.json
Due: prettier --write --parser json, node

refactor(ui): mixins/pins => utils/roundness
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/roundness.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Параметр view сделал необязательным
  packages/ui/src/mixins/applyView.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Документация для миксинов
  packages/ui/src/mixins/mixins.mdx
Due: none

refactor(ui): utils/index
  packages/ui/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(ui): Документация для утилит
  packages/ui/src/utils/mediaQuery.ts
  packages/ui/src/utils/utils.mdx
Due: eslint --fix, prettier --write, stylelint

docs(ui): Документация для хоков
  packages/ui/src/hocs/hocs.mdx
Due: none

ci: disable lerna check for user auth
  lerna.json
  package.json
Due: prettier --write --parser json, node

feat(ui): add Tooltip
  packages/ui/src/components/Tooltip/Tooltip.stories.tsx
  packages/ui/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Tooltip: добавить анимацию закрытия
  packages/ui/src/components/Tooltip/Tooltip.mdx
  packages/ui/src/components/Tooltip/Tooltip.stories.tsx
  packages/ui/src/components/Tooltip/Tooltip.tsx
  packages/ui/src/helpers/Pad.tsx
Due: eslint --fix, prettier --write, stylelint

chore(ui): Tooltip: review fixes
  packages/ui/src/components/Tooltip/Tooltip.stories.tsx
  packages/ui/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(ui): Разложил Stepper по компонентам, тайпинги
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Stepper/StepperButton.tsx
  packages/ui/src/components/Stepper/StepperRoot.tsx
  packages/ui/src/components/Stepper/StepperValue.tsx
  packages/ui/src/components/Stepper/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: gitignore для идеи
  .gitignore
  packages/ui/src/components/Card/Card.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Стандартные атрибуты для компонентов
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBody.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Cell/Cell.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderContent.tsx
  packages/ui/src/components/Header/HeaderLogo.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderTitleWrapper.tsx
  packages/ui/src/components/Spinner/Spinner.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TextBox/TextBox.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/types/StylingProps.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint
