Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-web-docs): Using b2b tokens / switch light/dark
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-web-docs/src/components/CodeSandbox.tsx
  website/plasma-web-docs/src/components/GlobalStyle.tsx
  website/plasma-web-docs/src/components/index.ts
  website/plasma-web-docs/src/theme/Playground/index.tsx
  website/plasma-web-docs/src/theme/ReactLiveScope/index.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-docs-ui): Using b2b tokens
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-docs-ui/src/components/GlobalStyle.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  website/plasma-temple-docs/package-lock.json
Due: prettier --write --parser json, node

feat(versionate-docs): Added versionArchived.json sort
  actions/versionate-docs/package-lock.json
  actions/versionate-docs/package.json
  actions/versionate-docs/src/fs.ts
  actions/versionate-docs/src/utils.test.ts
  actions/versionate-docs/src/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  actions/versionate-docs/package-lock.json
  actions/versionate-docs/package.json
Due: prettier --write --parser json, node

feat(aml): Cross reference with corresp. SM docs
  website/plasma-ui-docs/docs/aml.mdx
Due: none

Bump independent versions [skip ci]
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

docs: `Spinner` live example of a11y
  packages/plasma-web/src/components/Spinner/Spinner.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: `withSkeleton` wraps component with a11y
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.tsx
  website/plasma-web-docs/docs/components/Skeleton.mdx
Due: eslint --fix, prettier --write, stylelint

ci: delete unused files
  netlify.toml
Due: none

feat(plasma-web,plasma-b2c): Add focus for `Checkbox` and `Radiobox` components
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web,plasma-b2c): Add tests and snapshots
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- with focus.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- with focus.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- with focus.snap.png
  cypress/snapshots/web/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- with focus.snap.png
  packages/plasma-core/src/components/Checkbox/Checkbox.component-test.tsx
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-icons): Add new root files for scalable icons
  packages/plasma-icons/src/scalable/Icon.tsx
  packages/plasma-icons/src/scalable/IconRoot.tsx
  packages/plasma-icons/src/scalable/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add first icons for 16,24 and 36 sizes
  packages/plasma-icons/src/scalable/Icon.assets.16/Video.tsx
  packages/plasma-icons/src/scalable/Icon.assets.16/index.ts
  packages/plasma-icons/src/scalable/Icon.assets.24/AttentionCircle.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/index.ts
  packages/plasma-icons/src/scalable/Icon.assets.36/AntennaCircle.tsx
  packages/plasma-icons/src/scalable/Icon.assets.36/index.ts
  packages/plasma-icons/src/scalable/Icons/IconAntennaCircle.tsx
  packages/plasma-icons/src/scalable/Icons/IconAttentionCircle.tsx
  packages/plasma-icons/src/scalable/Icons/IconVideo.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-icons): Update .gitignore and package.json
  packages/plasma-icons/.gitignore
  packages/plasma-icons/package.json
Due: prettier --write --parser json, node

feat(plasma-web): Add ref to carousel
  packages/plasma-web/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-web): `Tooltip` a11y & close with esc
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.mdx
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, prettier --write, stylelint
