Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat: add RadioGroup components
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/radiobox.tsx
  packages/plasma-core/src/components/RadioGroup/RadioGroup.tsx
  packages/plasma-core/src/components/RadioGroup/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/Radiobox/RadioGroup.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-ui/src/components/Radiobox/index.ts
  packages/plasma-web/src/components/Radiobox/RadioGroup.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/index.ts
  utils/showcase/src/helpers/RadioboxShowcase.tsx
  utils/showcase/src/web/Radiobox.stories.tsx
  website/plasma-ui-docs/docs/components/Radiobox.mdx
  website/plasma-web-docs/docs/components/Radiobox.mdx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-basic-template): bump react version
  .eslintignore
  packages/plasma-basic-template/template.json
  packages/plasma-basic-template/template/.env.sample
  packages/plasma-basic-template/template/README.md
  packages/plasma-basic-template/template/config-overrides.js
  packages/plasma-basic-template/template/src/App.tsx
  packages/plasma-basic-template/template/src/index.tsx
  packages/plasma-basic-template/template/src/pages/Gallery.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(palsma-b2c): preview gallery data contracts
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItems.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-b2c,plasma-core): Add breakWord props for `Typography` components
  packages/plasma-b2c/src/components/Typography/Body.tsx
  packages/plasma-b2c/src/components/Typography/Dspl.tsx
  packages/plasma-b2c/src/components/Typography/H.tsx
  packages/plasma-b2c/src/components/Typography/Text.tsx
  packages/plasma-b2c/src/mixins/index.ts
  packages/plasma-core/src/components/Typography/Body/index.ts
  packages/plasma-core/src/components/Typography/Button/index.ts
  packages/plasma-core/src/components/Typography/Caption/index.ts
  packages/plasma-core/src/components/Typography/Display/index.ts
  packages/plasma-core/src/components/Typography/Footnote/index.ts
  packages/plasma-core/src/components/Typography/Headline/index.ts
  packages/plasma-core/src/components/Typography/Paragraph/index.ts
  packages/plasma-core/src/components/Typography/Underline/index.ts
  packages/plasma-core/src/mixins/applyHyphens.ts
  packages/plasma-core/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-web,plasma-ui): Add test and update snapshots for `Typography` components
  cypress/snapshots/b2c/components/Typography/TypographyCoreBase.component-test.tsx/plasma-core Typography -- Typography with breakWord.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyCoreBase.component-test.tsx/plasma-core Typography -- Typography without breakWord.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyCoreBase.component-test.tsx/plasma-core Typography -- Typography.snap.png
  cypress/snapshots/ui/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography with breakWord.snap.png
  cypress/snapshots/ui/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography without breakWord.snap.png
  cypress/snapshots/web/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography with breakWord.snap.png
  cypress/snapshots/web/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography without breakWord.snap.png
  packages/plasma-b2c/src/components/Typography/TypographyCoreBase.component-test.tsx
  packages/plasma-core/src/components/Typography/Typography.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web-docs,plasma-ui-docs): Add info about break word for Typography
  website/plasma-ui-docs/docs/components/Typography.mdx
  website/plasma-web-docs/docs/components/Typography.mdx
Due: none

fix(use-virtual): lint
  package.json
  packages/use-virtual/.eslintrc.js
  packages/use-virtual/package.json
  packages/use-virtual/src/VerySmoothScroll.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualDynamicScroll.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/utils.ts
  packages/use-virtual/src/utils/use-scroll.ts
  packages/use-virtual/stories/VirtualDynamic.stories.tsx
  packages/use-virtual/stories/VirtualHorizontal.stories.tsx
  packages/use-virtual/stories/VirtualHorizontalHeavy.stories.tsx
  packages/use-virtual/stories/VirtualKeyboard.stories.tsx
  packages/use-virtual/stories/VirtualPadding.stories.tsx
  packages/use-virtual/stories/VirtualSizeByIndex.stories.tsx
  packages/use-virtual/stories/components/CarouselItem.tsx
  packages/use-virtual/stories/components/VirtualDynamic.tsx
  packages/use-virtual/stories/components/VirtualHorizontal.tsx
  packages/use-virtual/stories/components/VirtualHorizontalHeavy.tsx
  packages/use-virtual/stories/components/VirtualKeyboard.tsx
  packages/use-virtual/stories/components/VirtualPadding.tsx
  packages/use-virtual/stories/components/VirtualSizeByIndex.tsx
  packages/use-virtual/stories/components/VirtualSmoothScroll.tsx
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(use-virtual): horizontal default value=true => false
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/useVirtualScroll.tsx
  packages/use-virtual/src/useVirtualSmoothScroll.tsx
  packages/use-virtual/stories/VirtualVertical.stories.tsx
  packages/use-virtual/stories/components/VirtualHorizontalHeavy.tsx
  packages/use-virtual/stories/components/VirtualKeyboard.tsx
  packages/use-virtual/stories/components/VirtualVertical.tsx
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(use-virtual): initial README
  packages/use-virtual/README.md
Due: prettier --write --parser markdown

fix(use-virtual): build
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
  packages/use-virtual/src/utils/use-scroll.ts
  packages/use-virtual/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(use-virtual): size => itemsLength
  packages/use-virtual/.eslintrc.js
  packages/use-virtual/jest.config.js
  packages/use-virtual/src/types.ts
  packages/use-virtual/src/useVirtual.tsx
  packages/use-virtual/src/useVirtualDynamic.tsx
  packages/use-virtual/src/useVirtualDynamicScroll.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/useVirtualScroll.tsx
  packages/use-virtual/src/utils/use-scroll.ts
  packages/use-virtual/src/utils/use-virtual-init.ts
  packages/use-virtual/stories/components/VirtualDynamic.tsx
  packages/use-virtual/stories/components/VirtualHorizontalHeavy.tsx
  packages/use-virtual/stories/components/VirtualKeyboard.tsx
  packages/use-virtual/stories/components/VirtualSmoothScroll.tsx
  packages/use-virtual/test/index.test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix time chop in VideoPlayer
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-temple): add multiline product description
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription.stories.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@mobile.tsx
  packages/plasma-temple/src/hooks/useWindowInnerWidth.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat: Add concurrently for documentation and storybook builds
  .github/workflows/main-ci.yml
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(plasma-temple-docs/ui-docs/web-docs/website): Rename PR_NAME env to ARTIFACT_NAME
  package-lock.json
  package.json
  website/plasma-temple-docs/docusaurus.config.js
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-website/next.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: Remove documentation workflows
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

feat: Create Main CI for sequenced execution release and documentation jobs
  .github/workflows/documentation-pr.yml
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown
