Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-temple): error page layout
  packages/plasma-temple/examples/ErrorPage.stories.tsx
  packages/plasma-temple/examples/HeroSlider.stories.tsx
  packages/plasma-temple/examples/ShopLandingPage.stories.tsx
  packages/plasma-temple/examples/StateLayout.stories.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/components/StateLayout/types.ts
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.assets/warning-circle.svg
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberbox.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add header minimize behavior
  packages/plasma-temple/.storybook/decorators/withAppState.tsx
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Header/Header.stories.tsx
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/components/Header/useHeaderProps.ts
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): useRemoteHandlers conditions
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Refactor gallery
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/index.ts
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
  packages/plasma-temple/src/utils/getMediaObjectSrc.ts
  packages/plasma-temple/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

refactor(plasma-temple): Rename ConfirmOrder and OrderSuccess
  packages/plasma-temple/src/pages/ConfirmOrder/index.ts
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/LocationIcon.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/map.png
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/components/ConfirmOrderCard/ConfirmOrderCard.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/index.ts
  packages/plasma-temple/src/pages/OrderSuccess/index.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): ReactElement in ItemPage description
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-templte): fix docs
  packages/plasma-basic-template/package.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/.gitignore
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/forms.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
  packages/plasma-temple/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(plasma-temple): return component from `lazy fn` if `getInitialProps` is not defined
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): add grid page
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/pages/GridPage/components/GridCard.tsx
  packages/plasma-temple/src/pages/GridPage/index.ts
  packages/plasma-temple/src/pages/GridPage/types.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Fix useMemo in ItemPage
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): fix mobile font size
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
Due: eslint --fix, prettier --write, stylelint

Update packages/plasma-temple/docs/core.md
  packages/plasma-temple/docs/core.md
Due: prettier --write --parser markdown

feat(plasma-templlate): Video page
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/useAssistantAction.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/templates/Video/Video.tsx
  packages/plasma-temple/src/types.ts
  packages/plasma-temple/src/utils/config.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): circular deps
  .eslintignore
  packages/plasma-temple/.eslintrc.js
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/Header/useHeaderProps.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@common.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/GridPage/components/GridCard.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ItemPage/types.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-template): set header title for an active gallery
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/Gallery/Gallery.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-template): support multi gallery
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/templates/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/GalleryList/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/templates/index.ts
  packages/plasma-temple/src/types.ts
  packages/plasma-temple/src/utils/config.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
