Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(ui): правки для PR
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Icon/Icon.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui): Компонент Card
  packages/ui/.storybook/preview.js
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.stories.tsx
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardLabel.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Card/img/001.png
  packages/ui/src/components/Card/img/002.png
  packages/ui/src/components/Card/img/003.png
  packages/ui/src/components/Card/img/004.png
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Scroller/Scroller.stories.tsx
  packages/ui/src/components/Scroller/Scroller.tsx
  packages/ui/src/components/Scroller/ScrollerContext.tsx
  packages/ui/src/components/Scroller/ScrollerItem.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): настройка сборки
  packages/ui/.dockerignore
  packages/ui/.gitignore
  packages/ui/Dockerfile
  packages/ui/build.sh
  packages/ui/etc/nginx.conf
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): сборка проекта
  packages/ui/.gitignore
  packages/ui/README.md
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui): code splitting и tsc-сборка
  packages/ui/.gitignore
  packages/ui/.storybook/main.js
  packages/ui/README.md
  packages/ui/global.d.ts
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/components/ActionButton/ActionButton.stories.tsx
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/ActionButton/index.ts
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Cart/Cart.stories.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/index.ts
  packages/ui/src/theme/index.ts
  packages/ui/src/theme/storiesTheme.ts
  packages/ui/src/ui.d.ts
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui): сборка проекта
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

feat(ui): Компонент Scroller
  packages/ui/src/components/Scroller/Scroller.stories.tsx
  packages/ui/src/components/Scroller/Scroller.tsx
  packages/ui/src/components/Scroller/ScrollerContext.tsx
  packages/ui/src/components/Scroller/ScrollerItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat: обновление ui и списки с прокруткой
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Cart/Cart.stories.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Slider/Slider.stories.tsx
  packages/ui/src/components/Slider/Slider.tsx
  packages/ui/src/components/Slider/SliderContext.tsx
  packages/ui/src/components/Slider/SliderItem.tsx
  packages/ui/src/components/Slider/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): Запчасти компонента Card
  packages/ui/README.md
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardLabel.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Cart/Cart.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(ui): добавлены обёртки useCallback
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/components/Card/Card.tsx
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat: компонент для навигации по категориям
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBody.tsx
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Slider/Slider.stories.tsx
  packages/ui/src/components/Slider/Slider.tsx
  packages/ui/src/components/Slider/SliderContext.tsx
  packages/ui/src/components/Slider/SliderItem.tsx
  packages/ui/src/components/Slider/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: интеграция с пакетом ui
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/public/images/001.png
  packages/ui/.storybook/public/images/002.png
  packages/ui/.storybook/public/images/003.png
  packages/ui/.storybook/public/images/004.png
  packages/ui/README.md
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.stories.tsx
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Cart/Cart.stories.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/svg/paper.svg
  packages/ui/src/global.d.ts
  packages/ui/src/helpers/Story.tsx
  packages/ui/src/helpers/theme.ts
  packages/ui/src/theme/index.ts
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui): правки для PR
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/svg/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): ассеты для иконок
  packages/ui/src/components/Icon/Icon.assets/cart.svg
  packages/ui/src/components/Icon/Icon.assets/done.svg
  packages/ui/src/components/Icon/Icon.assets/minus.svg
  packages/ui/src/components/Icon/Icon.assets/paper.svg
  packages/ui/src/components/Icon/Icon.assets/plus.svg
  packages/ui/src/components/Icon/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat: интеграция с бэкендом
  packages/ui/src/components/Card/CardLabel.tsx
Due: eslint --fix, prettier --write, stylelint

chore(ui): избавляемся от export default
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.stories.tsx
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardBody.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardLabel.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Cart/Cart.stories.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/ScrollList/ListContext.tsx
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/src/components/ScrollList/ScrollList.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix: исправления PR
  packages/ui/.gitignore
  packages/ui/.storybook/preview.js
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/ActionButton/index.ts
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardLabel.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/ScrollList/HScrollList.tsx
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/src/components/ScrollList/VScrollList.tsx
  packages/ui/src/components/ScrollList/index.tsx
  packages/ui/src/contexts/UIContext.tsx
  packages/ui/src/contexts/index.ts
  packages/ui/src/helpers/Story.tsx
  packages/ui/src/helpers/theme.ts
  packages/ui/src/theme/index.ts
  packages/ui/src/utils/i18n.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(ui): обновление карточки после дизайн-ревью
  packages/ui/package.json
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBody.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardLabel.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

build: add storybook publishing
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): добавил новую иконку
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Icon/Icon.assets/clock.svg
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/ScrollList/ScrollList.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(ui): мерж и версия пакета
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): списки с нефиксированными элементами
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/ScrollList/HScrollList.tsx
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/src/components/ScrollList/ScrollList.tsx
  packages/ui/src/components/ScrollList/VScrollList.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

build: fixes of storybook urls
  packages/ui/package.json
Due: prettier --write --parser json, node

chore(ui): правки в pr
  packages/ui/README.md
  packages/ui/src/components/ScrollList/README.md
  packages/ui/src/components/ScrollList/ScrollList.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat: общий компонент списка для PendingList
  packages/ui/package.json
  packages/ui/src/components/ActionButton/ActionButton.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/helpers/theme.ts
  packages/ui/src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-styles): design-constants build system
  packages/plasma-styles/.gitignore
  packages/plasma-styles/.npmrc
  packages/plasma-styles/README.md
  packages/plasma-styles/package-lock.json
  packages/plasma-styles/package.json
  packages/plasma-styles/scripts/build.js
  packages/plasma-styles/src/formatters/css-custom-properties.ts
  packages/plasma-styles/src/formatters/css-in-js-properties.ts
  packages/plasma-styles/src/formatters/css-theme-properties.ts
  packages/plasma-styles/src/formatters/styled-components.ts
  packages/plasma-styles/src/formatters/styled-global-style.ts
  packages/plasma-styles/src/formatters/styled-theme-style.ts
  packages/plasma-styles/src/lib/header.ts
  packages/plasma-styles/src/lib/variants.ts
  packages/plasma-styles/src/tokens/color/background.json
  packages/plasma-styles/src/tokens/color/base.json
  packages/plasma-styles/src/tokens/color/text.json
  packages/plasma-styles/src/tokens/theme/dark/eva.json
  packages/plasma-styles/src/tokens/theme/dark/joy.json
  packages/plasma-styles/src/tokens/theme/dark/sber.json
  packages/plasma-styles/src/tokens/typo/body.json
  packages/plasma-styles/src/tokens/typo/button.json
  packages/plasma-styles/src/tokens/typo/caption.json
  packages/plasma-styles/src/tokens/typo/display.json
  packages/plasma-styles/src/tokens/typo/footnote.json
  packages/plasma-styles/src/tokens/typo/headline.json
  packages/plasma-styles/src/tokens/typo/paragraph.json
  packages/plasma-styles/src/tokens/typo/underline.json
  packages/plasma-styles/src/typings/index.ts
  packages/plasma-styles/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

build(ui): move sb to react-scripts
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview-head.html
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): форматирование валюты перенесено в пакет i18n
  packages/ui/package.json
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/utils/i18n.ts
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

build: add storybook compositions
  packages/ui/package.json
Due: prettier --write --parser json, node

chore(ui): мелкие правки в storybook
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
Due: eslint --fix, prettier --write, stylelint

build: update storybook => 6
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/package-lock.json
  packages/ui/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): контекст UIContext
  packages/ui/.gitignore
  packages/ui/README.md
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/ScrollList/README.md
  packages/ui/src/contexts/UIContext.tsx
  packages/ui/src/contexts/index.ts
  packages/ui/src/helpers/Story.tsx
  packages/ui/src/helpers/theme.ts
  packages/ui/src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat: страница списка заказов
  packages/ui/src/components/Card/CardContent.tsx
Due: eslint --fix, prettier --write, stylelint

feat: правки по дизайну
  packages/ui/.storybook/preview.js
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.assets/chevron-left.svg
  packages/ui/src/components/Icon/Icon.assets/hotel.svg
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/helpers/Story.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

build(ui): remove Docker conf
  packages/ui/.dockerignore
  packages/ui/Dockerfile
  packages/ui/build.sh
Due: none

feat(ui): добавлен компонент HScrollList
  packages/ui/.storybook/main.js
  packages/ui/package.json
  packages/ui/src/components/ScrollList/HScrollList.tsx
  packages/ui/src/components/ScrollList/ListContext.tsx
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/src/components/ScrollList/VScrollList.tsx
  packages/ui/src/components/ScrollList/index.tsx
  packages/ui/src/helpers/theme.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): добавлен компонент VScrollList
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
  packages/ui/src/components/ScrollList/index.tsx
Due: eslint --fix, prettier --write, stylelint

chore: фиксы pr, сборка spatnav
  packages/ui/src/components/ScrollList/ScrollList.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): исправление логики работы списков
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
Due: eslint --fix, prettier --write, stylelint
