Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

docs: Writing new docs for Plasma Web
  docs/docs/web/_category_.json
  docs/docs/web/components/Badge.mdx
  docs/docs/web/components/Button.mdx
  docs/docs/web/components/Carousel.mdx
  docs/docs/web/components/Checkbox.mdx
  docs/docs/web/components/Dropdown.mdx
  docs/docs/web/components/Grid.mdx
  docs/docs/web/components/Image.mdx
  docs/docs/web/components/Link.mdx
  docs/docs/web/components/Modal.mdx
  docs/docs/web/components/Notification.mdx
  docs/docs/web/components/Price.mdx
  docs/docs/web/components/Progress.mdx
  docs/docs/web/components/Radiobox.mdx
  docs/docs/web/components/Select.mdx
  docs/docs/web/components/Skeleton.mdx
  docs/docs/web/components/Spinner.mdx
  docs/docs/web/components/Switch.mdx
  docs/docs/web/components/Tabs.mdx
  docs/docs/web/components/TextArea.mdx
  docs/docs/web/components/TextField.mdx
  docs/docs/web/components/Tooltip.mdx
  docs/docs/web/components/Typography.mdx
  docs/docs/web/components/_category_.json
  docs/docs/web/intro.mdx
  docs/docs/web/typography.mdx
  docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

ci: Deploy documentation
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/old-documentation-main.yml
  .github/workflows/old-documentation-pr.yml
  docs/docusaurus.config.js
  lerna.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: Storybook docgenInfo extraction tool
  .eslintignore
  package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/extract-sb-docgen-info/.babelrc
  utils/extract-sb-docgen-info/.gitignore
  utils/extract-sb-docgen-info/bin/index.js
  utils/extract-sb-docgen-info/package-lock.json
  utils/extract-sb-docgen-info/package.json
  utils/extract-sb-docgen-info/src/extract.ts
  utils/extract-sb-docgen-info/src/generate.ts
  utils/extract-sb-docgen-info/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): Typed props for platform components
  .eslintrc.js
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Typed props for platform components
  .eslintrc.js
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

chore(plasma-docs): Fix homepage's main button
  docs/src/components/Homepage/Header.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-docs): Replace sacred link to Icons service
  docs/src/components/Homepage/Features.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-docs): Edit url
  docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Added `TabsController` in order to use keyboard arrows
  packages/plasma-web/src/components/Tabs/TabItem.tsx
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-web/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/Tabs/TabsContext.tsx
  packages/plasma-web/src/components/Tabs/TabsController.tsx
  packages/plasma-web/src/components/Tabs/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web): Describe `TabsController`
  docs/docs/web/components/Tabs.mdx
  packages/plasma-web/src/components/Tabs/TabItem.tsx
  packages/plasma-web/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/Tabs/TabsController.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Add `.npmrc` in utils
  utils/extract-sb-docgen-info/.npmrc
  utils/plasma-sb-utils/.npmrc
Due: none

fix(plasma-web): fix Headline5 / H5 spacing
  packages/plasma-web/src/components/Typography/Headline/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-shop-template): Update version of plasma-ui and plasma-temple
  packages/plasma-shop-template/template.json
  packages/plasma-shop-template/template/src/App.tsx
  packages/plasma-shop-template/template/src/pages/Cart/Cart.tsx
  packages/plasma-shop-template/template/src/pages/MakeOrder/MakeOrder.tsx
  packages/plasma-shop-template/template/src/pages/Product/Product.tsx
  packages/plasma-shop-template/template/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-shop-template/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-shop-template/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): A11y for `Toast`
  packages/plasma-ui/src/components/Toast/Toast.stories.tsx
  packages/plasma-ui/src/components/Toast/Toast.tsx
  packages/plasma-ui/src/components/Toast/ToastContext.tsx
  packages/plasma-ui/src/components/Toast/ToastController.tsx
  packages/plasma-ui/src/components/Toast/ToastProvider.tsx
  packages/plasma-ui/src/components/Toast/types.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web): Storybook controls for Select, Switch, TextField
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Switch/Switch.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Publish extract-docgen-info
  utils/extract-sb-docgen-info/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/extract-sb-docgen-info/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): DRAFT change image animation
  packages/plasma-ui/src/components/Card/CardMedia.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core, plasma-ui, plasma-web): Moved Toast to core
  packages/plasma-core/src/components/Fade/Fade.tsx
  packages/plasma-core/src/components/Fade/index.ts
  packages/plasma-core/src/components/Toast/Toast.stories.mdx
  packages/plasma-core/src/components/Toast/Toast.stories.tsx
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
  packages/plasma-core/src/components/Toast/index.ts
  packages/plasma-core/src/components/Toast/types.ts
  packages/plasma-core/src/components/Toast/useToast.ts
  packages/plasma-core/src/index.ts
  packages/plasma-web/src/components/Toast/Toast.stories.mdx
  packages/plasma-web/src/components/Toast/Toast.stories.tsx
  packages/plasma-web/src/components/Toast/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): value format for Stepper added
  packages/plasma-ui/src/components/Stepper/Stepper.stories.tsx
  packages/plasma-ui/src/components/Stepper/Stepper.tsx
  packages/plasma-ui/src/components/Stepper/StepperValue.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/extract-sb-docgen-info/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/extract-sb-docgen-info/package-lock.json
  utils/extract-sb-docgen-info/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
