Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): Dont pass page name to PageMethods
  packages/plasma-temple/src/components/Page/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-b2c,plasma-web): Add re-export for `Notification` component
  packages/plasma-b2c/src/components/Notification/index.tsx
  packages/plasma-web/src/components/Notification/index.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(slide.ts): добавил utm метку
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/components/SliderButtons.ts
  packages/layer-inpicture-sdk/src/components/SliderWrapper.ts
Due: eslint --fix, prettier --write, stylelint

feat(app): added event dispatch
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/layer-inpicture-sdk/src/api/requsts.ts
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/components/SliderWrapper.ts
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/types.ts
  packages/layer-inpicture-sdk/src/utils/counter.ts
  packages/layer-inpicture-sdk/src/utils/getId.ts
  packages/layer-inpicture-sdk/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(layer-inpicture-sdk): bug fix
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/PrimaryTopContent.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/components/SliderWrapper.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
Due: eslint --fix, prettier --write, stylelint

feat(layer-inpicture-sdk): changed card tempate
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
Due: eslint --fix, prettier --write, stylelint

feat(layer-inpicture-sdk): added minimal widget tempate
  packages/layer-inpicture-sdk/src/api/requsts.ts
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/Slide.ts
  packages/layer-inpicture-sdk/src/components/SliderWrapper.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/types.ts
  packages/layer-inpicture-sdk/src/utils/adaptiveValue.ts
  packages/layer-inpicture-sdk/src/utils/hooks/useOnceForceUpdate.ts
Due: eslint --fix, prettier --write, stylelint

feat(layer-inpicture-sdk): aligned arrows, added product limit, added hiding slider
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/layer-inpicture-sdk/src/api/requsts.ts
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/components/PrimaryTopContent.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
  packages/use-virtual/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
Due: prettier --write --parser json, node

chore(plasma-temple): rewrite type of GetInitialProps func
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-temple): cypress tests for PlasmaApp component
  cypress/snapshots/temple/components/PlasmaApp/PlasmaApp.component-test.tsx/PlasmaApp -- back to first screen -- after each hook.snap.png
  cypress/snapshots/temple/components/PlasmaApp/PlasmaApp.component-test.tsx/PlasmaApp -- navigate to next screen -- after each hook.snap.png
  cypress/snapshots/temple/components/PlasmaApp/PlasmaApp.component-test.tsx/PlasmaApp -- no reaction on unexpected action -- after each hook.snap.png
  cypress/snapshots/temple/components/PlasmaApp/PlasmaApp.component-test.tsx/PlasmaApp -- reaction on state action -- popHistory -- after each hook.snap.png
  cypress/snapshots/temple/components/PlasmaApp/PlasmaApp.component-test.tsx/PlasmaApp -- reaction on state action -- pushHistory -- after each hook.snap.png
  cypress/snapshots/temple/components/PlasmaApp/PlasmaApp.component-test.tsx/PlasmaApp -- render first screen -- after each hook.snap.png
  cypress/snapshots/temple/components/PlasmaApp/PlasmaApp.component-test.tsx/PlasmaApp -- runtime switch character -- after each hook.snap.png
  cypress/webpack.config.js
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.component-test.tsx
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/testHelpers/testRenderHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): `Modals` closing order
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalsContext.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Simplify event handler type (`onClick`) of `Modal`
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalView.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Close `Modal` with esc key
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalsContext.tsx
Due: eslint --fix, prettier --write, stylelint

fix(container): added stopPropagation
  packages/layer-inpicture-sdk/src/components/Container.ts
Due: eslint --fix, prettier --write, stylelint

fix(inpicture-sdk): some fix
  packages/layer-inpicture-sdk/src/components/Container.ts
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/index.html
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

test(plasma-web): Test `Modal` closing
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): `Modal`: Portal management in provider
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Modal/ModalsContext.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node
