Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix(plasma-web): prevent radiobox elipse shrinking
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-ui): A11y for `Toast`
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/Toast.types.ts
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
  packages/plasma-ui/src/components/Toast/Toast.stories.tsx
  packages/plasma-ui/src/components/Toast/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): Change Storybook's iframe lang
  packages/plasma-ui/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): make single slider rail clickable
  packages/plasma-b2c/src/components/Slider/Single.tsx
  packages/plasma-b2c/src/components/Slider/SliderBase.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): `DatePicker` and `TimePicker` ct
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- default.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- default.snap.png
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(layer-inpicture-sdk): created app
  .prettierignore
  packages/layer-inpicture-sdk/.babelrc
  packages/layer-inpicture-sdk/README.md
  packages/layer-inpicture-sdk/custom.d.ts
  packages/layer-inpicture-sdk/index.d.ts
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/layer-inpicture-sdk/src/assets/arrow.svg
  packages/layer-inpicture-sdk/src/assets/logo.svg
  packages/layer-inpicture-sdk/src/css/slider.css
  packages/layer-inpicture-sdk/src/css/styles.css
  packages/layer-inpicture-sdk/src/img/dress.jpg
  packages/layer-inpicture-sdk/src/index.html
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/src/types.ts
  packages/layer-inpicture-sdk/tsconfig.json
  packages/layer-inpicture-sdk/webpack.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(index.ts): opening slider
  packages/layer-inpicture-sdk/src/js/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(package.json): changed package name
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

fix(index.ts): refactoring
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/webpack.config.js
Due: eslint --fix, prettier --write, stylelint

fix(webpack.config): changed name
  packages/layer-inpicture-sdk/src/js/index.ts
  packages/layer-inpicture-sdk/webpack.config.js
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix: Pass `Image`'s width and height through args
  packages/plasma-core/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): Import `Image` directly from core
  packages/plasma-b2c/src/components/Image/index.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Added for `Image` component
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- default.snap.png
  cypress/snapshots/ui/components/Image/Image.component-test.tsx/plasma-core Image -- div.snap.png
  packages/plasma-core/src/components/Image/Image.component-test.tsx
  packages/plasma-ui/src/components/Image/Image.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(webpack.config): changed build folder, name
  packages/layer-inpicture-sdk/.gitignore
  packages/layer-inpicture-sdk/webpack.config.js
Due: eslint --fix, prettier --write, stylelint

fix(package.json): browser path
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

fix(package.json, webpack.config): changed logic
  packages/layer-inpicture-sdk/.npmignore
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
  packages/layer-inpicture-sdk/webpack.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

fix(layer-inpicture-sdk): forgotten prepare script
  packages/layer-inpicture-sdk/.gitignore
  packages/layer-inpicture-sdk/.npmignore
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node
