Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat: bump plasma-core
  packages/plasma-core/README.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): add grid page
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/pages/GridPage/components/GridCard.tsx
  packages/plasma-temple/src/pages/GridPage/index.ts
  packages/plasma-temple/src/pages/GridPage/types.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Ability to disable payment
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): pass defaultChecked to Switch and Basebox
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Switch/Switch.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

feat: Added plasma-colors package
  .eslintignore
  packages/plasma-colors/.gitignore
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-colors/src/additional.ts
  packages/plasma-colors/src/general.ts
  packages/plasma-colors/src/index.ts
  packages/plasma-colors/tsconfig.json
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Colors.stories.tsx
  packages/plasma-web/src/helpers/PaletteGrid.tsx
  packages/plasma-web/src/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(plasma-web): Added themes story
  packages/plasma-web/src/components/Colors.stories.tsx
  packages/plasma-web/src/helpers/ThemeColors.tsx
  packages/plasma-web/src/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Using plasma-colors
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/dataColors.ts
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-tokens-web): Using plasma-colors, dark theme
  docs/showcase/src/helpers/Palette.tsx
  docs/showcase/src/web/Colors.stories.tsx
  packages/plasma-tokens-web/data.ts
  packages/plasma-tokens-web/dataColors.ts
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-web/design-language/src/designs/PlasmaStyles.figma.ts
  packages/plasma-tokens-web/package.json
  packages/plasma-web/src/components/Colors.stories.mdx
  packages/plasma-web/src/components/Colors.stories.tsx
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Add posibility to set tab index for carousel card
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

refactor(plasma-temple): Media/Video players improve
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayer.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerControls.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
  packages/plasma-temple/src/components/MediaPlayer/assets/ForwardIcon.tsx
  packages/plasma-temple/src/components/MediaPlayer/assets/ReplayIcon.tsx
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
  packages/plasma-temple/src/components/MediaPlayer/hooks/useTimer.ts
  packages/plasma-temple/src/components/MediaPlayer/index.ts
  packages/plasma-temple/src/components/MediaPlayer/types.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.stories.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useInsets.ts
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): remove focus on click in button
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/src/mixins/addFocus.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): Fix focus and scroll gallery and landing page behaviour
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/hooks/useFocusOnMount.ts
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberbox.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberbox.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberportal.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): implements Page lazy api
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint
