Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-icons): Added `Drag` icon
  packages/plasma-icons/src/Icon.assets/Drag.tsx
  packages/plasma-icons/src/Icon.assets/Music.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconDrag.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Added `PictureFilled` icon
  packages/plasma-icons/src/Icon.assets/PictureFilled.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconPictureFilled.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `PreviewGallery` component
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.stories.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemError.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItems.tsx
  packages/plasma-b2c/src/components/PreviewGallery/index.ts
  packages/plasma-b2c/src/components/PreviewGallery/types.ts
  packages/plasma-b2c/src/components/PreviewGallery/utils.ts
  packages/plasma-b2c/src/components/Upload/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload/Upload.tsx
  packages/plasma-b2c/src/components/Upload/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload/UploadMessage.tsx
  packages/plasma-b2c/src/components/Upload/UploadProgress.tsx
  packages/plasma-b2c/src/components/Upload/index.ts
  packages/plasma-b2c/src/components/Upload/types.ts
  packages/plasma-b2c/src/components/Upload/utils.ts
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.stories.tsx
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadGallery.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.stories.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
  packages/plasma-b2c/src/components/UploadVisual/utils.ts
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-b2c): Added tests for `Uploads`,`AudioPlayer`,`PreviewGallery` components
  packages/plasma-b2c/jest.config.js
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.component-test.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/utils.test.tsx
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.component-test.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.stories.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/index.ts
  packages/plasma-b2c/src/components/PreviewGallery/types.ts
  packages/plasma-b2c/src/components/PreviewGallery/utils.test.ts
  packages/plasma-b2c/src/components/PreviewGallery/utils.ts
  packages/plasma-b2c/src/components/Upload/Upload.component-test.tsx
  packages/plasma-b2c/src/components/Upload/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload/Upload.tsx
  packages/plasma-b2c/src/components/Upload/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload/utils.test.ts
  packages/plasma-b2c/src/components/Upload/utils.ts
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.component-test.tsx
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.stories.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.component-test.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.stories.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-b2c): Added `Upload` component
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Upload-2/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload-2/Upload.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadMessage.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadProgress.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadRoot.tsx
  packages/plasma-b2c/src/components/Upload-2/index.ts
  packages/plasma-b2c/src/components/Upload-2/types.ts
  packages/plasma-b2c/src/components/Upload-2/utils.ts
  packages/plasma-b2c/src/components/Upload/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload/Upload.tsx
  packages/plasma-b2c/src/components/Upload/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload/UploadGallery.tsx
  packages/plasma-b2c/src/components/Upload/UploadHelperText.tsx
  packages/plasma-b2c/src/components/Upload/UploadRoot.tsx
  packages/plasma-b2c/src/components/Upload/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-b2c): Added `UploadViusal` component
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadGallery.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.stories.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
  packages/plasma-b2c/src/components/UploadVisual/index.ts
  packages/plasma-b2c/src/components/UploadVisual/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-b2c): Update `Upload` component; Added `UploadAudio` component
  packages/plasma-b2c/src/components/Upload-2/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload-2/Upload.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadRoot.tsx
  packages/plasma-b2c/src/components/Upload-2/index.ts
  packages/plasma-b2c/src/components/Upload/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload/Upload.tsx
  packages/plasma-b2c/src/components/Upload/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload/UploadGallery.tsx
  packages/plasma-b2c/src/components/Upload/UploadHelperText.tsx
  packages/plasma-b2c/src/components/Upload/UploadMessage.tsx
  packages/plasma-b2c/src/components/Upload/UploadProgress.tsx
  packages/plasma-b2c/src/components/Upload/index.ts
  packages/plasma-b2c/src/components/Upload/types.ts
  packages/plasma-b2c/src/components/Upload/utils.ts
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Add `AudioPlayer` component
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/index.ts
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-icons): Added `Music` icon
  packages/plasma-b2c/src/components/Upload-2/Upload.stories.tsx
  packages/plasma-b2c/src/components/Upload-2/Upload.tsx
  packages/plasma-b2c/src/components/Upload-2/UploadButton.tsx
  packages/plasma-b2c/src/components/Upload-2/index.ts
  packages/plasma-icons/src/Icon.assets/Music.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconMusic.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `UploadAudio` component
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.stories.tsx
  packages/plasma-b2c/src/components/UploadAudio/UploadAudio.tsx
  packages/plasma-b2c/src/components/UploadAudio/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Pass assistant to onStart event
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): add custom background for editable component
  packages/plasma-b2c/src/components/Editable/Editable.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-ui): `HeaderContent` flex in Chrome 94
  packages/plasma-ui/src/components/Header/HeaderContent.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-ui): `Header`'s back-minimize animation"
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Added `NueHeader` to replace `Header` in major version
  examples/demo-canvas-app/pages/_app.tsx
  packages/plasma-ui/src/components/Header/Header.stories.tsx
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
  packages/plasma-ui/src/components/Header/HeaderBack.tsx
  packages/plasma-ui/src/components/Header/HeaderMinimize.tsx
  packages/plasma-ui/src/components/Header/NeuHeader.tsx
  packages/plasma-ui/src/components/Header/index.ts
  website/plasma-ui-docs/docs/components/Header.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Added `gradientColor` prop to `Header`
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/src/components/Header/Header.stories.tsx
  packages/plasma-ui/src/components/Header/Header.tsx
  packages/plasma-ui/src/components/Header/HeaderRoot.tsx
  packages/plasma-ui/src/components/Header/NeuHeader.tsx
  website/plasma-ui-docs/docs/components/Header.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix: grid container max size
  packages/plasma-b2c/src/components/Grid/Container.tsx
  packages/plasma-web/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node
