Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

ci: add chromatic to ui
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
  packages/plasma-styles/package-lock.json
  packages/plasma-styles/package.json
  packages/plasma-tokens/package.json
  packages/ui/.gitignore
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

test: test commit
  packages/ui/src/components/Grid/Grid.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Размеры ячеек Col расчитываются исходя из размеров Container
  packages/ui/src/components/Grid/Grid.mdx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/ScrollList/ScrollList.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write --parser markdown

feat(ui): добавить иконки для новостей
  packages/ui/src/components/Icon/Icon.assets/Bubble.tsx
  packages/ui/src/components/Icon/Icon.assets/Mute.tsx
  packages/ui/src/components/Icon/Icon.assets/Text.tsx
  packages/ui/src/components/Icon/Icon.assets/bubble.svg
  packages/ui/src/components/Icon/Icon.assets/mute.svg
  packages/ui/src/components/Icon/Icon.assets/text.svg
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/Icons/IconBubble.tsx
  packages/ui/src/components/Icon/Icons/IconMute.tsx
  packages/ui/src/components/Icon/Icons/IconText.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-styles/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-styles/package-lock.json
  packages/plasma-styles/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(ui): доработка Button API в рамках работы над Card
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): доработка Card
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/CardBody.tsx
  packages/ui/src/components/Card/CardContent.tsx
  packages/ui/src/components/Card/CardIndex.tsx
  packages/ui/src/components/Card/CardLabel.tsx
  packages/ui/src/components/Card/CardMedia.tsx
  packages/ui/src/components/Card/CardPrice.tsx
  packages/ui/src/components/Card/CardTypography.tsx
  packages/ui/src/mixins/beforeFocusOutline.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): доработка Badge API в рамках работы над Card
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
Due: eslint --fix, prettier --write, stylelint

chore(ui): types, mixins
  packages/ui/.gitignore
  packages/ui/package.json
Due: prettier --write --parser json, node

chore(ui): bump deps versions in lock
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

feat(ui): views вынесены в mixins
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/mixins/views.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Button-clear:focus background
  packages/ui/src/mixins/views.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): использование Button beforeFocusOutline
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/mixins/beforeFocusOutline.ts
Due: eslint --fix, prettier --write, stylelint

chore: change CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write --parser markdown

ci: add gh-pages action [skip ci]
  .github/workflows/docs.yml
Due: none

ci: fix token [skip ci]
  .github/workflows/docs.yml
Due: none

deploy: e6c5ea81daef81a9816947b2cf248454135b498e
  .nojekyll
Due: none

docs(ui): fix empty documentation
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

build: deploy doc config [skip ci]
  netlify.toml
  package.json
Due: prettier --write --parser json, node

ci: remove gh-pages workflow
  .github/workflows/docs.yml
Due: none

fix: add bootstrap in deploy script [skip ci]
  package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
