Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(ui): add html autofocus in withAutoFocus hoc
  packages/ui/src/hocs/withAutoFocus.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat: Button перенесена в plasma-core
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-core/src/tokens/index.ts
  packages/plasma-core/src/tokens/typography.ts
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ButtonBase.tsx
  packages/ui/src/components/Button/index.ts
Due: eslint --fix, prettier --write, stylelint

ci: test chromatic
  .github/workflows/chromatic.yml
Due: none

build: new story docs
  .github/workflows/documentation-pr.yml
  packages/ui/.gitignore
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): add package docs
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
Due: prettier --write --parser markdown

build: docs: storybook PUBLIC_URL
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  packages/ui/.storybook/main.js
  packages/ui/.storybook/manager-head.html
  packages/ui/.storybook/theme.js
  packages/ui/package.json
  packages/ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs: add About page
  packages/ui/.gitignore
  packages/ui/.storybook/main.js
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/Palette.stories.mdx
  packages/ui/sync-readme.sh
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat: Button перенесена в plasma-core
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-core/src/tokens/index.ts
  packages/plasma-core/src/tokens/typography.ts
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ButtonBase.tsx
  packages/ui/src/components/Button/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Typography CSS Vars & Types
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/utils.ts
  packages/ui/src/components/Device/DeviceDetection.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Определение TV
  packages/ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

docs: update README
  packages/ui/README.md
Due: prettier --write --parser markdown

feat(ui): Добавлено правило переноса строк для типографики
  packages/ui/src/components/Typography/Body/index.ts
  packages/ui/src/components/Typography/Button/index.ts
  packages/ui/src/components/Typography/Caption/index.ts
  packages/ui/src/components/Typography/Display/index.ts
  packages/ui/src/components/Typography/Footnote/index.ts
  packages/ui/src/components/Typography/Headline/index.ts
  packages/ui/src/components/Typography/Paragraph/index.ts
  packages/ui/src/components/Typography/Underline/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-template): add e2e test attributes
  packages/plasma-temple/src/templates/Item/components/ItemEntity/ItemEntity.tsx
Due: eslint --fix, prettier --write, stylelint

chore: cleanup eslintrc
  .eslintrc.js
Due: eslint --fix, prettier --write, stylelint

feat(plasma-template): add e2e attributes for gallery
  packages/plasma-temple/src/templates/Gallery/Gallery.tsx
Due: eslint --fix, prettier --write, stylelint

fix: Миксины skeleton и roundness, зависимость от core
  packages/plasma-core/package-lock.json
  packages/plasma-core/src/mixins/applyRoundness.ts
  packages/plasma-core/src/mixins/index.ts
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/Skeleton/LineSkeleton.tsx
  packages/ui/src/components/Skeleton/RectSkeleton.tsx
  packages/ui/src/mixins/applySkeletonGradient.tsx
  packages/ui/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-template): use all header props
  packages/plasma-temple/src/templates/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/Item/Item.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-template): set default focus on gallery card
  packages/plasma-temple/src/templates/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/Gallery/components/GalleryCard/GalleryCard.tsx
Due: eslint --fix, prettier --write, stylelint

chore(ui): Bump plasma-core version to rc.1
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node
