Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore: Plasma Main App
  .github/workflows/documentation-pr.yml
  website/plasma-website/.babelrc
  website/plasma-website/.eslintrc.js
  website/plasma-website/.gitignore
  website/plasma-website/README.md
  website/plasma-website/components/Badge.tsx
  website/plasma-website/components/GlobalStyle.tsx
  website/plasma-website/components/Link.tsx
  website/plasma-website/components/icons/GitHub.tsx
  website/plasma-website/components/icons/Telegram.tsx
  website/plasma-website/components/index.ts
  website/plasma-website/components/main/CommunityMenu.tsx
  website/plasma-website/components/main/Menu.tsx
  website/plasma-website/components/main/Products.tsx
  website/plasma-website/next-env.d.ts
  website/plasma-website/next.config.js
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
  website/plasma-website/pages/_app.tsx
  website/plasma-website/pages/_document.tsx
  website/plasma-website/pages/index.tsx
  website/plasma-website/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

ci: Deploy Plasma Website
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
Due: none

chore(plasma-ui-docs): Deleted index page
  website/plasma-ui-docs/src/components/Homepage/Feature.tsx
  website/plasma-ui-docs/src/components/Homepage/Features.tsx
  website/plasma-ui-docs/src/components/Homepage/Header.tsx
  website/plasma-ui-docs/src/components/RelativeExternalLink.tsx
  website/plasma-ui-docs/src/components/index.ts
  website/plasma-ui-docs/src/pages/index.module.css
  website/plasma-ui-docs/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Docs ui/web configuration
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-web-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): fix cart item click, add cart item custom background color
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Stop updating cart while external update is not finished
  packages/plasma-temple/src/pages/CartPage/CartPage.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): rename PreviewGallery item button action
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemError.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItems.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): make props deprecated
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): drop prevent touch events
  packages/plasma-temple/src/hooks/useTouchHander.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): make PreviewGallery item ratio 16 / 9
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.component-test.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.stories.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemError.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItems.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.stories.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Fix showing values for `DataPicker` component
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/utils.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Fix showing values for `TimePicker` component
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
  packages/plasma-ui/src/components/Pickers/types.ts
  packages/plasma-ui/src/components/Pickers/utils.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix: headers font weight fix
  packages/plasma-typo/src/standard.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix: b2c preview gallery image size
  packages/plasma-core/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix: upload progress rounding
  packages/plasma-b2c/src/components/Upload/UploadProgress.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
