Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): Separate interface for description on ItemPages
  packages/plasma-temple/src/pages/ItemPage/types.ts
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add go to screen page method
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-template): Invoke onHistoryPopState callback when on popstate history event
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/useHistoryUpdater.ts
  packages/plasma-temple/src/hooks/usePopHistoryListener.ts
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Empty cart mobile version
  packages/plasma-temple/.storybook/public/images/empty-cart.png
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-template): Improve video player customization. Fix small bugs
  packages/plasma-temple/src/AppStateContext.ts
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerControls.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayerKeyboard.ts
  packages/plasma-temple/src/components/MediaPlayer/index.ts
  packages/plasma-temple/src/components/MediaPlayer/types.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useAppState.ts
  packages/plasma-temple/src/hooks/usePageState.ts
  packages/plasma-temple/src/index.ts
  packages/plasma-temple/src/templates/Video/Video.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): add package docs
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
Due: prettier --write --parser markdown

docs(plasma-temple): Add Page.lazy description
  packages/plasma-temple/docs/core.md
Due: prettier --write --parser markdown

fix(plasma-temple): Fix gallery focus
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/hooks/useFocused.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): add margin for GridPage Content
  packages/plasma-temple/package.json
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): remove tabindex attr for portal ua
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix cart page behavior
  packages/plasma-temple/src/components/hocs/withProps.tsx
  packages/plasma-temple/src/hooks/useFocusOnMount.ts
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Cart can be without delivery
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartOrder/CartOrder@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): fix GridPage api
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): remove gallery animation for portal
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberbox.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): refactor types
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useVoiceNavigation.test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): error page layout
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): HeroSlider touch events
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/GalleryPage/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): fix playback on key hold
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
