Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

chore: изменены ссылки на документацию
  README.md
  packages/plasma-icons/README.md
  packages/plasma-tokens/README.md
  packages/ui/README.md
Due: prettier --write --parser markdown

fix: добавлен node-fetch для плагина обновления зависимостей
  auto-plugins/src/update-deps.ts
  package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-tokens): Градиенты подсказок о голосовых запросах
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/generate.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Отображение HeaderButton отвязано от mediaQuery
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): испралена сборка доки с неверными версиями пакетов
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.mdx
Due: prettier --write --parser json, node

feat(ui): Демо градиента голосовых подсказок
  packages/ui/src/helpers/ColorsDemo.tsx
Due: eslint --fix, prettier --write, stylelint

chore(ui): добавлен alias для реакта при сборке доки
  packages/ui/gatsby-node.js
Due: eslint --fix, prettier --write, stylelint

build(nanoevents): fix cleand step
  packages/nanoevents/package.json
Due: prettier --write --parser json, node

fix(nanoevents): author email
  packages/nanoevents/package.json
Due: prettier --write --parser json, node

fix(nanoevents): pkg entrypoint
  packages/nanoevents/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: подготовка changelog
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(ui): Исправление для миксина applyRoundness
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Skeleton/LineSkeleton.tsx
  packages/ui/src/components/Skeleton/RectSkeleton.tsx
  packages/ui/src/components/Skeleton/TextSkeleton.tsx
  packages/ui/src/mixins/applyRoundness.ts
Due: eslint --fix, prettier --write, stylelint

build: Bump auto to 10.6.2
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: remove unnecessary section
  package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/nanoevents/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/nanoevents/package-lock.json
  packages/nanoevents/package.json
Due: prettier --write --parser json, node

fix(plasma-icons): Icon move className to root obj
  packages/plasma-icons/src/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Переработан миксин applyMotion => applyInteraction
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.mdx
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/mixins/applyInteraction.ts
  packages/ui/src/mixins/index.ts
  packages/ui/src/mixins/mixins.mdx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): CardMedia: src is required
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/helpers/ImagePlaceholder.tsx
Due: eslint --fix, prettier --write, stylelint

chore: изменен changelog, добавлены breaking changes
  CHANGELOG.md
Due: prettier --write --parser markdown

ci(plasma-tokens): add tokens for android/ios
  package-lock.json
  package.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/config.json
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(ui): убрана динамическая png из документации Card
  packages/ui/.storybook/public/images/cat.png
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(ui): добавлена постоянная ссылка на картинку для доки Card
  packages/ui/.storybook/public/images/cat.png
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Хендлеры управления каруселью
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.hooks.tsx
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/Carousel.types.tsx
  packages/ui/src/components/Carousel/CarouselCol.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
  packages/ui/src/hooks/useSmartThrottle.ts
  packages/ui/src/types/ScrollSnap.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Переаботаны stories карусели
  packages/ui/.storybook/public/images/320_180_0.jpg
  packages/ui/.storybook/public/images/320_180_1.jpg
  packages/ui/.storybook/public/images/320_180_2.jpg
  packages/ui/.storybook/public/images/320_180_3.jpg
  packages/ui/.storybook/public/images/320_180_4.jpg
  packages/ui/.storybook/public/images/320_180_5.jpg
  packages/ui/.storybook/public/images/320_480_0.jpg
  packages/ui/.storybook/public/images/320_480_1.jpg
  packages/ui/.storybook/public/images/320_480_2.jpg
  packages/ui/.storybook/public/images/320_480_3.jpg
  packages/ui/.storybook/public/images/320_480_4.jpg
  packages/ui/.storybook/public/images/320_480_5.jpg
  packages/ui/.storybook/public/images/96_96_0.jpg
  packages/ui/.storybook/public/images/96_96_1.jpg
  packages/ui/.storybook/public/images/96_96_2.jpg
  packages/ui/.storybook/public/images/96_96_3.jpg
  packages/ui/.storybook/public/images/96_96_4.jpg
  packages/ui/.storybook/public/images/96_96_5.jpg
  packages/ui/src/components/Card/Card.examples.tsx
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui)!: Управление с пульта с помощью долгих и коротких нажатий
  packages/ui/src/components/Carousel/Carousel.examples.tsx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useRemoteListener.ts
  packages/ui/src/hooks/useSmartThrottle.ts
  packages/ui/src/utils/animatedScrollTo.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
