Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

refactor: компоненты импортируют только нужные иконки
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Cart/Cart.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/TextField/TextField.mdx
  packages/ui/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Добавлены main и types в package.json
  packages/ui/package.json
Due: prettier --write --parser json, node

refactor: добавлены index.ts к компонентам
  packages/ui/.gitignore
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.mdx
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Cell/Cell.mdx
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Cell/CellDisclosure.tsx
  packages/ui/src/components/Cell/index.ts
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/index.ts
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/components/Spinner/index.ts
  packages/ui/src/components/Stepper/Stepper.tsx
  packages/ui/src/components/Stepper/index.ts
  packages/ui/src/components/TextBox/TextBox.stories.tsx
  packages/ui/src/components/TextBox/index.ts
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

refactor: добавлены индексы в каждый компонент
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Cart/index.ts
  packages/ui/src/components/Cell/index.ts
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Header/index.ts
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/components/Stepper/index.ts
  packages/ui/src/components/TextBox/index.ts
  packages/ui/src/components/TextField/index.ts
  packages/ui/src/components/Typo/index.ts
  packages/ui/src/hocs/index.ts
  packages/ui/src/index.ts
  packages/ui/src/mixins/index.ts
  packages/ui/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: Исправлены импорты после ренейма компонентов
  packages/ui/src/components/Card/Card.mdx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Cell/Cell.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Компонент Tabs
  packages/ui/src/components/Tabs/TabItem.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/Tabs/index.ts
  packages/ui/src/helpers/ThemeBackground.tsx
  packages/ui/src/mixins/addFocus.ts
  packages/ui/src/mixins/applyDisabled.ts
  packages/ui/src/mixins/applyMotion.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Переработан Header под rem-ы
  packages/ui/src/components/Header/Header.mdx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderButton.tsx
  packages/ui/src/components/Header/HeaderContent.tsx
  packages/ui/src/components/Header/HeaderLogo.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderSubtitle.tsx
  packages/ui/src/components/Header/HeaderTitle.tsx
  packages/ui/src/components/Header/HeaderTitleWrapper.tsx
  packages/ui/src/components/Header/index.ts
  packages/ui/src/types/StylingProps.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработка Grid, mediaQuery вынесена в utils
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/mediaQuery.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработана API Tabs
  packages/ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Отступ от иконки внутри Tabs, Button
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Tabs/TabItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Доработана API Button
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/types/ShiftProps.ts
  packages/ui/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Исправлено неправильное использование сетки в сторибуке
  packages/ui/src/components/Cell/Cell.stories.tsx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/TextBox/TextBox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Горизонтальная карусель с поддержкой scroll, grid
  packages/ui/src/components/Carousel/Carousel.mdx
  packages/ui/src/components/Carousel/Carousel.stories.tsx
  packages/ui/src/components/Carousel/Carousel.tsx
  packages/ui/src/components/Carousel/CarouselContext.tsx
  packages/ui/src/components/Carousel/CarouselGridCol.tsx
  packages/ui/src/components/Carousel/CarouselItem.tsx
  packages/ui/src/components/Carousel/CarouselWrapper.tsx
  packages/ui/src/components/Carousel/index.ts
  packages/ui/src/components/ScrollList/ScrollList.mdx
  packages/ui/src/components/ScrollList/ScrollList.tsx
  packages/ui/src/components/ScrollList/index.ts
  packages/ui/src/helpers/Filler.tsx
  packages/ui/src/helpers/Outline.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/animatedScrollTo.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Пресет quantity для Badge
  packages/ui/src/components/Badge/Badge.mdx
  packages/ui/src/components/Badge/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Card/CardBadge.tsx
  packages/ui/src/components/Card/index.ts
  packages/ui/src/mixins/applyView.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Переработан TextField, отвязан от Input
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Размер xs для Stepper
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Stepper/Stepper.mdx
  packages/ui/src/components/Stepper/Stepper.stories.tsx
  packages/ui/src/components/Stepper/Stepper.tsx
Due: eslint --fix, prettier --write, stylelint

docs: change assistant theme example
  packages/ui/src/components/theme.mdx
Due: none

fix(ui): удалить CardPrice из поставки
  packages/ui/src/components/Card/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: иконки разбиты по секциям в сторибуке и доке
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

chore: изменен скрипт сборки доки
  package.json
  packages/plasma-icons/.npmrc
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/src/Icon.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix: Убран ненужный импорт
  packages/ui/src/components/Icon/IconSet.tsx
Due: eslint --fix, prettier --write, stylelint

chore: изменены имена некоторых иконок по фигме
  packages/plasma-icons/src/Icon.assets/Devices.tsx
  packages/plasma-icons/src/Icon.assets/Ethernet.tsx
  packages/plasma-icons/src/Icon.assets/Eye.tsx
  packages/plasma-icons/src/Icon.assets/Gamepad.tsx
  packages/plasma-icons/src/Icon.assets/TimerStroke.tsx
  packages/plasma-icons/src/Icon.assets/TvChannel.tsx
  packages/plasma-icons/src/Icon.assets/TvChannelAlt1.tsx
  packages/plasma-icons/src/Icon.assets/WifiOff.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconDeviceAlt1.tsx
  packages/plasma-icons/src/Icons/IconDevices.tsx
  packages/plasma-icons/src/Icons/IconEthernet.tsx
  packages/plasma-icons/src/Icons/IconEthernetWhite.tsx
  packages/plasma-icons/src/Icons/IconEye.tsx
  packages/plasma-icons/src/Icons/IconGamepad.tsx
  packages/plasma-icons/src/Icons/IconGamepadAlt1.tsx
  packages/plasma-icons/src/Icons/IconTimer.tsx
  packages/plasma-icons/src/Icons/IconTimerStroke.tsx
  packages/plasma-icons/src/Icons/IconTvChannel.tsx
  packages/plasma-icons/src/Icons/IconTvChannelAlt1.tsx
  packages/plasma-icons/src/Icons/IconTvLive.tsx
  packages/plasma-icons/src/Icons/IconTvLiveAlt1.tsx
  packages/plasma-icons/src/Icons/IconVolumeOff.tsx
  packages/plasma-icons/src/Icons/IconWifiNotConnected.tsx
  packages/plasma-icons/src/Icons/IconWifiOff.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: Изменены импорты иконок
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Tabs/Tabs.mdx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: изменена документация для иконок
  packages/plasma-icons/README.md
  packages/ui/src/components/Icon/Icon.mdx
Due: prettier --write --parser markdown

fix: Изменен build скрипт
  packages/ui/package.json
Due: prettier --write --parser json, node

fix: фикс eslint в plasma-icons
  .eslintignore
Due: none
