Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(plasma-temple): Fix changeState
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): fix init parameters for assistant
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-temple): Add reusable components for product pages
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.stories.tsx
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription.stories.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebox.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@sbrebportal.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/types.ts
  packages/plasma-temple/src/components/Product/ProductPageSmamokat.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPageSmartHome.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice.stories.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/types.ts
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.stories.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/types.ts
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Order Success page
  packages/plasma-temple/src/pages/OrderSuccess/OrderSuccess.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccess/OrderSuccess.tsx
  packages/plasma-temple/src/pages/OrderSuccess/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): fix effects MediaTimeLine component
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
Due: eslint --fix, prettier --write, stylelint

chore: update deps
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerButton.tsx
  packages/plasma-temple/src/components/PageLayout/PageLayout.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
  packages/plasma-temple/src/hooks/useVoiceNavigation.ts
  packages/plasma-temple/src/registry/index.ts
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/GalleryList/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities.examples.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities@sberbox.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntities/ItemEntities@sberportal.tsx
  packages/plasma-temple/src/templates/Item/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection@sberbox.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection@sberportal.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): title for Gallery component can be optional
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/types.ts
Due: eslint --fix, prettier --write, stylelint

Update packages/plasma-temple/docs/core.md
  packages/plasma-temple/docs/core.md
Due: prettier --write --parser markdown

docs(plasma-temple): add forms.md docs
  packages/plasma-temple/.gitignore
  packages/plasma-temple/docs/forms.md
Due: prettier --write --parser markdown

feat(plasma-temple): Typed props for platform components
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): export ErrorPage from index
  packages/plasma-temple/docs/templates.md
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-temple): add unit tests
  packages/plasma-temple/README.md
  packages/plasma-temple/babel.config.js
  packages/plasma-temple/jest.config.js
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/PageLayout/PageLayout.tsx
  packages/plasma-temple/src/components/Root/Root.test.tsx
  packages/plasma-temple/src/createApp.test.tsx
  packages/plasma-temple/src/hooks/useAssistantAction.ts
  packages/plasma-temple/src/store/reducer.test.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/utils/createAction.test.ts
  packages/plasma-temple/src/utils/last.test.ts
  packages/plasma-temple/src/utils/last.ts
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat(plasma-template): make id required only for multi gallery
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
