Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-ui): Overflow `Tabs` on `x` axis
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-ui/src/components/Tabs/TabsView.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): goToScreen should work as pushScreen if screen is now exists
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Keep `Picker` focused even if arrows clicked
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): `Picker`s' controls position
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- with controls.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- with controls.snap.png
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Updated screenshots for `DatePicker` & `TimePicker`
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- change values.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- change values by click.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- with controls.snap.png
Due: none

docs(plasma-ui, plasma-ui): `Carousel` a11y documentation
  website/plasma-ui-docs/docs/components/Carousel.mdx
  website/plasma-web-docs/docs/components/Carousel.mdx
Due: none

refactor: Move `Carousel`'s modules in Core/UI/Web
  packages/plasma-core/src/components/Carousel/Carousel.tsx
  packages/plasma-core/src/components/Carousel/CarouselItem.tsx
  packages/plasma-core/src/components/Carousel/hooks.tsx
  packages/plasma-core/src/components/Carousel/index.ts
  packages/plasma-core/src/components/Carousel/types.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.tsx
  packages/plasma-ui/src/components/Carousel/CarouselCol.tsx
  packages/plasma-ui/src/components/Carousel/CarouselItem.tsx
  packages/plasma-ui/src/components/Carousel/index.ts
  packages/plasma-web/src/components/Carousel/Carousel.tsx
  packages/plasma-web/src/components/Carousel/CarouselItem.tsx
  packages/plasma-web/src/components/Carousel/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui, plasma-web): `Carousel` a11y improvements
  examples/demo-canvas-app/pages/test/components/carousel.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-web/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-web/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

ci: Unset header in order of branch unprotect
  .github/workflows/versionate-docs.yml
Due: none

ci: Use `GH_TOKEN` to push versionate jsons
  .github/workflows/versionate-docs.yml
Due: none

test(plasma-web): `Notification` close
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test: Skip `Toast` test
  packages/plasma-core/src/components/Toast/ToastBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

ci: coveralls patch off
  codecov.yml
Due: none

build(use-virtual): drop tsdx
  packages/use-virtual/jest.config.js
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
  packages/use-virtual/rollup.config.js
  packages/use-virtual/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

build(plasma-temple): fix `excludes` tests file mask
  packages/plasma-temple/tsconfig.build.json
  packages/plasma-temple/tsconfig.json
Due: prettier --write --parser json, node

fix(plasma-temple): onScrollBottom call on GridPage
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Increase threshold for codecov
  codecov.yml
Due: none

refactor(plasma-b2c): Remove unsused condition in `ElasticGrid` component
  packages/plasma-b2c/src/components/ElasticGrid/ElasticGrid.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Add test and snapshot for `ElasticGrid` component
  cypress/snapshots/b2c/components/ElasticGrid/ElasticGrid.component-test.tsx/ElasticGrid -- _view.snap.png
  packages/plasma-b2c/src/components/ElasticGrid/ElasticGrid.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-tokens): wrong primary/secondary tokens
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown
