Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(plasma-temple): Fix gallery focus
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/hooks/useFocused.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix twice button click and input form submit
  packages/plasma-temple/src/components/Form/components/Input.tsx
  packages/plasma-temple/src/components/Form/hocs/withWrapField.tsx
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@common.tsx
  packages/plasma-temple/src/hooks/useAssistantOnSmartAppData.ts
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/store/guards.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Improve GalleryPage components
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/examples/Form.stories.tsx
  packages/plasma-temple/examples/ShopLandingPage.stories.tsx
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberbox.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Gallery.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

chore(plasma-temple): assistant-client up version
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useAssistantOnSmartAppData.ts
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/guards.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
  packages/plasma-temple/src/utils/createAction.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

refactor(plasma-temple): Rename ConfirmOrder and OrderSuccess
  packages/plasma-temple/src/pages/ConfirmOrder/index.ts
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/LocationIcon.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/map.png
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/components/ConfirmOrderCard/ConfirmOrderCard.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/index.ts
  packages/plasma-temple/src/pages/OrderSuccess/index.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): HeroSlider touch events
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/GalleryPage/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Cart bubble
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): useRemoteHandlers conditions
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add posibility to change recipient data add form validation for voice field
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.examples.tsx
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.assets/SaluteIcon.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.examples.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@common.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@sbebox.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@sbeportal.tsx
  packages/plasma-temple/src/components/Form/components/Input.tsx
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/Form/components/VoiceFilling.tsx
  packages/plasma-temple/src/components/Form/hocs/withWrapField.tsx
  packages/plasma-temple/src/components/Form/types.ts
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartContext.ts
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/types.ts
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/components/ConfirmOrderCard/ConfirmOrderCard.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/index.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): HeroSlider components
  packages/plasma-temple/.storybook/public/images/cat.png
  packages/plasma-temple/.storybook/public/images/parrot.png
  packages/plasma-temple/examples/HeroSlider.stories.tsx
  packages/plasma-temple/src/components/FullScreenBackground/FullScreenBackground.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/Gallery/index.ts
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/index.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberbox.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberportal.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/components/HeroSlider/index.ts
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): temp
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): adopt HeroSlider for portal
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@sberbox.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@sberportal.tsx
  packages/plasma-temple/src/components/HeroSlider/index.ts
  packages/plasma-temple/src/components/HeroSlider/types.ts
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix focus and scroll gallery and landing page behaviour
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/hooks/useFocusOnMount.ts
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberbox.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberbox.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol@sberportal.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): add grid page
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/pages/GridPage/components/GridCard.tsx
  packages/plasma-temple/src/pages/GridPage/index.ts
  packages/plasma-temple/src/pages/GridPage/types.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-temple): Media/Video players improve
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayer.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerControls.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
  packages/plasma-temple/src/components/MediaPlayer/assets/ForwardIcon.tsx
  packages/plasma-temple/src/components/MediaPlayer/assets/ReplayIcon.tsx
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
  packages/plasma-temple/src/components/MediaPlayer/hooks/useTimer.ts
  packages/plasma-temple/src/components/MediaPlayer/index.ts
  packages/plasma-temple/src/components/MediaPlayer/types.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.stories.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useInsets.ts
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add posibility to set tab index for carousel card
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): Ability to disable payment
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
