Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix(plasma-tokens-b2c): Confusing `paragraph` and `inverse` colors in themes
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore(plasma-web): Storybook controls for Tooltip, Badge, Image, Price, Spinner
  packages/plasma-web/src/components/Badge/Badge.stories.tsx
  packages/plasma-web/src/components/Image/Image.stories.tsx
  packages/plasma-web/src/components/Price/Price.stories.tsx
  packages/plasma-web/src/components/Spinner/Spinner.stories.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): added types with icons to toast
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/ToastBody.tsx
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
  packages/plasma-core/src/components/Toast/consts.tsx
  packages/plasma-core/src/components/Toast/index.ts
  packages/plasma-core/src/components/Toast/types.ts
  packages/plasma-ui/src/components/Toast/index.ts
  packages/plasma-web/src/components/Toast/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-web): Storybook controls for Notification, PaginationDots, Progress, Radiobox
  packages/plasma-web/src/components/Notification/Notification.stories.tsx
  packages/plasma-web/src/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-web/src/components/Progress/Progress.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): Storybook controls for Card, Carousel, Cell, Header, Pickers
  packages/plasma-ui/src/components/Card/Card.stories.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-ui/src/components/Cell/Cell.stories.tsx
  packages/plasma-ui/src/components/Header/Header.stories.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/helpers/StoryDecorators.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): visibleItems for TimePicker fix
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-ui): fix cell icons
  packages/plasma-ui/src/components/Cell/Cell.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): Change tag of `Tabs` and `TabItem`
  docs/docs/ui/components/Tabs.mdx
Due: none

feat(plasma-ui, plasma-core): Added `forwardedAs` and `as` props to `Tabs`
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-web): Storybook controls for Button, Carousel, Checkbox, Modal
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: Display `inline-flex` for `Badge`
  packages/plasma-core/src/components/Badge/Badge.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-web): Disabled state for `Checkbox`
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Disabled state for `Checkbox` and `Radiobox`
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

ci: remove dependabot
  .github/dependabot.yml
Due: none

build: freeze typescript
  docs/package-lock.json
  docs/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  package-lock.json
  package.json
  packages/plasma-colors/package-lock.json
  packages/plasma-colors/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  utils/extract-sb-docgen-info/package-lock.json
  utils/extract-sb-docgen-info/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): error page layout
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): title for Gallery component can be optional
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node
