Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

test(plasma-b2c): Add tests and snapshots for `PreviewGallery` component
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- custom item.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- drag first item to last.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- empty items list and incorrect id.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- remove last item.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- select first item.snap.png
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.component-test.tsx
  packages/plasma-b2c/src/components/PreviewGallery/utils.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-b2c): Update return items in utils for `PreviewGallery` component
  packages/plasma-b2c/src/components/PreviewGallery/utils.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Add missing snapshots for `Toast` component
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- __content-left.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- _role.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- _position.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- dumm.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- showToast.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- timeout.snap.png
Due: none

test(plasma-b2c): Add missing snapshots for `Button` component
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _pin.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _shift.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- withAutoFocus.snap.png
Due: none

test(plasma-b2c): Add missing snapshots for `Checkbox` component
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- squeezes.snap.png
Due: none

test(plasma-b2c): Add missing snapshot for `Tabs` component
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- resize.snap.png
Due: none

test(plasma-b2c): Add missing snapshots for `Tabs` component
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-b2c Tabs -- _size.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-b2c Tabs -- simple.snap.png
Due: none

test(plasma-b2c): Add missing snapshots for `Radiobox` component
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- squeezes.snap.png
Due: none

test(plasma-b2c): Add missing snapshots for `Switch` component
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/clicked.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _checked.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _disabled.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _focused.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _pressed.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- onClick.snap.png
Due: none

fix(plasma-ui): Add scroll fix for `Picker` component
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

test(plasma-ui): Add test for `Carousel` component with scrollAlign
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- _scrollAlign.snap.png
  packages/plasma-ui/src/components/Carousel/Carousel.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): Add fix for `Carousel` component in start scroll align with vertical orientation
  packages/plasma-core/src/components/Carousel/utils.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c, plasma-web): Add statuses to `Notification` test
  cypress/snapshots/b2c/components/Notification/NotificationBase.component-test.tsx/plasma-web Notification -- simple.snap.png
  cypress/snapshots/web/components/Notification/Notification.component-test.tsx/plasma-web Notification -- default.snap.png
  cypress/snapshots/web/components/Notification/Notification.component-test.tsx/plasma-web Notification -- simple.snap.png
  packages/plasma-b2c/src/components/Notification/NotificationBase.component-test.tsx
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web, plasma-b2c): Added possibility to specify id for `Notification`
  packages/plasma-b2c/src/components/Notification/index.tsx
  packages/plasma-web/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-web/src/components/Notification/NotificationsStore.ts
  packages/plasma-web/src/components/Notification/index.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): `Body` & `Text` tests
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyL.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyM.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyXS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- BodyXXS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextL.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextM.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextS.snap.png
  cypress/snapshots/b2c/components/Typography/Typography.component-test.tsx/plasma-b2c Typography -- TextXS.snap.png
  packages/plasma-b2c/src/components/Typography/Typography.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `TabsController` component
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-b2c/src/components/Tabs/TabsController.tsx
  packages/plasma-b2c/src/components/Tabs/index.ts
Due: eslint --fix, prettier --write, stylelint

test: Add controller tests with keydown for plasma-ui
  packages/plasma-core/src/components/Tabs/Tabs.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test: Complete tests for `Tabs`
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- _pilled.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- _size.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  cypress/snapshots/b2c/components/Tabs/plasma-b2c Tabs -- simple.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- _animated.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- _pilled.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- _size.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- _stretch.snap.png
  cypress/snapshots/ui/components/Tabs/Tabs.component-test.tsx/plasma-ui Tabs -- item autoFocus.snap.png
  cypress/snapshots/ui/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/ui/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/ui/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/ui/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  cypress/snapshots/web/components/Tabs/Tabs.component-test.tsx/plasma-web Tabs -- item autoFocus.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  packages/plasma-b2c/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-b2c/src/components/Tabs/TabsBase.component-test.tsx
  packages/plasma-core/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-web/src/components/Tabs/Tabs.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(use-virtual): initialCurrentIndex, initialRange
  packages/use-virtual/.npmrc
  packages/use-virtual/README.md
  packages/use-virtual/jest.config.js
  packages/use-virtual/package-lock.json
  packages/use-virtual/package.json
  packages/use-virtual/src/types.ts
  packages/use-virtual/src/useVirtualDynamicScroll.tsx
  packages/use-virtual/src/useVirtualKeyboard.tsx
  packages/use-virtual/src/useVirtualScroll.tsx
  packages/use-virtual/src/utils/use-scroll.ts
  packages/use-virtual/src/utils/use-virtual-init.ts
  packages/use-virtual/test/index.test.tsx
  packages/use-virtual/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

fix(use-virtual): document.addEventListener('keydown')
  packages/use-virtual/src/utils/use-keyboard.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/use-virtual/CHANGELOG.md
Due: prettier --write --parser markdown
