Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat: Пакет plasma-tokens-web
  .eslintignore
  .gitignore
  packages/plasma-tokens-web/.gitignore
  packages/plasma-tokens-web/.npmrc
  packages/plasma-tokens-web/LICENSE.txt
  packages/plasma-tokens-web/README.md
  packages/plasma-tokens-web/data.ts
  packages/plasma-tokens-web/design-language/.diezrc
  packages/plasma-tokens-web/design-language/.gitignore
  packages/plasma-tokens-web/design-language/.npmrc
  packages/plasma-tokens-web/design-language/designs/.gitkeep
  packages/plasma-tokens-web/design-language/package-lock.json
  packages/plasma-tokens-web/design-language/package.json
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-web/design-language/src/designs/SasUiKit.figma.ts
  packages/plasma-tokens-web/design-language/src/index.ts
  packages/plasma-tokens-web/design-language/tsconfig.json
  packages/plasma-tokens-web/design-language/tslint.json
  packages/plasma-tokens-web/generate.ts
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens-web/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

feat: Переход plasma-tokens на общие механизмы
  packages/plasma-tokens/data.ts
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-tokens/utils.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): add unit tests
  .github/workflows/release.yml
  .gitignore
  package-lock.json
  package.json
  packages/plasma-temple/README.md
  packages/plasma-temple/babel.config.js
  packages/plasma-temple/jest.config.js
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/PageLayout/PageLayout.tsx
  packages/plasma-temple/src/components/Root/Root.test.tsx
  packages/plasma-temple/src/createApp.test.tsx
  packages/plasma-temple/src/hooks/useAssistantAction.ts
  packages/plasma-temple/src/store/reducer.test.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/utils/createAction.test.ts
  packages/plasma-temple/src/utils/last.test.ts
  packages/plasma-temple/src/utils/last.ts
  packages/plasma-temple/tsconfig.json
  scripts/updateCoverage.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-template): render custom gallery card
  packages/plasma-temple/src/assistant.ts
  packages/plasma-temple/src/canvasAppContext.ts
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/useVoiceNavigation.test.tsx
  packages/plasma-temple/src/hooks/useVoiceNavigation.ts
  packages/plasma-temple/src/templates/GalleryList/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/GalleryList/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлена бегущая строка
  packages/ui/src/components/RunningString/RunningString.stories.tsx
  packages/ui/src/components/RunningString/RunningString.tsx
  packages/ui/src/components/RunningString/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: test chroma
  .github/workflows/chromatic.yml
Due: none

fix(ui): Переименовать название компонента для бегущей строки, фикс импортов
  packages/ui/package-lock.json
  packages/ui/src/components/Marquee/Marquee.stories.tsx
  packages/ui/src/components/Marquee/Marquee.tsx
  packages/ui/src/components/Marquee/index.ts
  packages/ui/src/components/RunningString/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore: Fix packages versions
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

feat(plasma-template): entity background is optional
  packages/plasma-temple/src/templates/Item/Item.tsx
  packages/plasma-temple/src/templates/Item/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(ui): add Buttons in device showcase
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/showcase/Device/Buttons/Buttons.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(ui): add Cells and TabBar in device showcase
  packages/ui/src/showcase/Device/Cells/SectionHeader.stories.tsx
  packages/ui/src/showcase/Device/Cells/Universal.stories.tsx
  packages/ui/src/showcase/Device/TabBar/TabBar.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Image Ratio (2/1, 1/2)
  packages/ui/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Showcase/Mobile перенесен в docs/showcase
  docs/showcase/src/showcase/Mobile/Badges.stories.tsx
  docs/showcase/src/showcase/Mobile/Buttons.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Mobile/Cells.Universal.stories.tsx
  docs/showcase/src/showcase/Mobile/Controls.stories.tsx
  docs/showcase/src/showcase/Mobile/Pickers.stories.tsx
  docs/showcase/src/showcase/Mobile/Tabbar.stories.tsx
  docs/showcase/src/showcase/Mobile/TextFields.stories.tsx
  packages/ui/src/showcase/Divider.tsx
  packages/ui/src/showcase/Mobile/Badges/Badges.stories.tsx
  packages/ui/src/showcase/Mobile/Badges/index.tsx
  packages/ui/src/showcase/Mobile/Buttons/Buttons.stories.tsx
  packages/ui/src/showcase/Mobile/Controls/Controls.stories.tsx
  packages/ui/src/showcase/Mobile/Fields/Fields.stories.tsx
  packages/ui/src/showcase/Mobile/Pickers/Pickers.stories.tsx
  packages/ui/src/showcase/Mobile/Pickers/index.tsx
  packages/ui/src/showcase/Panel.tsx
  packages/ui/src/showcase/SectionName.tsx
  packages/ui/src/showcase/ThemeProvider.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Для корректного отображения текста, когда анимация выключена
  packages/ui/src/components/Marquee/Marquee.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Core/Button: Разделение кнопки для упрощения композиции и стилизации
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-core/src/mixins/addFocus.ts
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.examples.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

ci(plasma-temple): add storybook workflow
  .github/workflows/storybook-master.yml
  .github/workflows/storybook-pr.yml
Due: none

docs(plasma-temple): add storybook configs
  .gitignore
  packages/plasma-temple/.storybook/main.js
  packages/plasma-temple/.storybook/preview-head.html
  packages/plasma-temple/.storybook/preview.js
  packages/plasma-temple/.storybook/public/images/320_320_2.jpg
  packages/plasma-temple/src/components/Header/Header.stories.tsx
Due: eslint --fix, prettier --write, stylelint

ci: fix gh-actions
  .github/workflows/release.yml
  .github/workflows/storybook-master.yml
Due: none

docs(showcase): plasma-web/Button outlined
  docs/showcase/src/web/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-web/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-template): Video player
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayer.assets/ForwardIcon.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayer.assets/ReplayIcon.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerButton.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerControls.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayerKeyboard.ts
  packages/plasma-temple/src/components/MediaPlayer/hooks/useTimer.ts
  packages/plasma-temple/src/components/MediaPlayer/types.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.stories.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): move Device showcase to docs/showcase
  docs/showcase/package-lock.json
  docs/showcase/package.json
  docs/showcase/src/showcase/Device/Badges.stories.tsx
  docs/showcase/src/showcase/Device/Buttons.stories.tsx
  docs/showcase/src/showcase/Device/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Device/Cells.Universal.stories.tsx
  docs/showcase/src/showcase/Device/Controls.stories.tsx
  docs/showcase/src/showcase/Device/Pickers.stories.tsx
  docs/showcase/src/showcase/Device/Tabbar.stories.tsx
  packages/ui/src/showcase/Device/Buttons/Buttons.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs: fix broken links
  README.md
Due: prettier --write --parser markdown

feat(plasma-templlate): Video page
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/useAssistantAction.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/templates/Video/Video.tsx
  packages/plasma-temple/src/types.ts
  packages/plasma-temple/src/utils/config.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
