Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

docs: fix broken links
  README.md
Due: prettier --write --parser markdown

feat(ui): add DeviceStory decorator
  docs/showcase/src/helpers/StoryDecorators.tsx
  docs/showcase/src/showcase/Device/Badges.stories.tsx
  docs/showcase/src/showcase/Device/Buttons.stories.tsx
  docs/showcase/src/showcase/Device/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Cells.SectionHeader.stories.tsx
  docs/showcase/src/showcase/Device/Cells.Universal.stories.tsx
  docs/showcase/src/showcase/Device/Controls.stories.tsx
  docs/showcase/src/showcase/Device/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): esm build
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: prettier --write --parser json, node

feat: esm build core, icons, ui, web
  packages/plasma-core/.gitignore
  packages/plasma-core/package.json
  packages/plasma-core/rollup.config.js
  packages/plasma-icons/.gitignore
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.js
  packages/plasma-web/.gitignore
  packages/plasma-web/package.json
  packages/plasma-web/rollup.config.js
  packages/ui/.gitignore
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/tsconfig.json
  rollup.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat: esm build, fix package-lock after rebase
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-web/package-lock.json
  packages/ui/package-lock.json
Due: prettier --write --parser json, node

feat: Button: Code separation for easier composition and styling
  docs/showcase/src/web/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.stories.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-core/src/types/AsProps.ts
  packages/plasma-web/src/components/Button/Button.tsx
  packages/ui/src/components/Button/ActionButton.tsx
  packages/ui/src/components/Button/Button.examples.tsx
  packages/ui/src/components/Button/Button.stories.mdx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-template): Get rid of header animation if logo is absent. Add header back button
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/templates/GalleryList/GalleryList.tsx
  packages/plasma-temple/src/templates/GalleryList/components/Gallery/Gallery.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header: layout, height, text shortening, logo
  docs/showcase/src/ui/Header.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/HeaderBack.tsx
  packages/ui/src/components/Header/HeaderButton.tsx
  packages/ui/src/components/Header/HeaderContent.tsx
  packages/ui/src/components/Header/HeaderLogo.tsx
  packages/ui/src/components/Header/HeaderRoot.tsx
  packages/ui/src/components/Header/HeaderSubtitle.tsx
  packages/ui/src/components/Header/HeaderTitle.tsx
  packages/ui/src/components/Header/HeaderTitleWrapper.tsx
Due: eslint --fix, prettier --write, stylelint

docs: Storybook viewports, Header mobile
  docs/showcase/.storybook/preview.js
  docs/showcase/src/helpers/StoryDecorators.tsx
  docs/showcase/src/ui/Header.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Tabs: fixed border-radius when `pilled=true`
  packages/ui/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core): removed highlight on component tap in Chrome
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/components/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Header: pair props in interface
  packages/ui/src/components/Header/Header.stories.mdx
  packages/ui/src/components/Header/Header.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): add shortMonth to DatePicker
  packages/plasma-core/src/utils/formatters.ts
  packages/plasma-core/src/utils/index.ts
  packages/ui/src/components/Pickers/DatePicker.tsx
  packages/ui/src/components/Pickers/SimpleDatePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Device/Cards - add textBox and textBoxImage
  docs/showcase/src/showcase/Device/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Cards/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Cards/TextBox.tsx
  docs/showcase/src/showcase/Device/Cards/TextBoxImage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Добавлен параметр base в компонент Image
  packages/ui/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Fix packages versions
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/ui/package-lock.json
  packages/ui/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

feat(ui): Showcase/Device add BasicCard
  docs/showcase/src/showcase/Device/Cards/BasicCard.tsx
  docs/showcase/src/showcase/Device/Cards/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Cards/TextBox.tsx
  docs/showcase/src/showcase/Device/Cards/TextBoxImage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Showcase/Device add ListCard
  docs/showcase/src/showcase/Device/Cards/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Cards/ListCard.tsx
  docs/showcase/src/showcase/Device/Cards/TextBox.tsx
Due: eslint --fix, prettier --write, stylelint

feat(ui): Showcase/Device add ImageCard
  docs/showcase/src/showcase/Device/Cards/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Cards/ImageCard.tsx
  docs/showcase/src/showcase/Device/Cells.SectionHeader.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Showcase/Device styles fix
  docs/showcase/src/showcase/Device/Cards/BasicCard.tsx
  docs/showcase/src/showcase/Device/Cards/ImageCard.tsx
  docs/showcase/src/showcase/Device/Cards/ListCard.tsx
  docs/showcase/src/showcase/Device/Cards/TextBox.tsx
  docs/showcase/src/showcase/Device/Cards/TextBoxImage.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Showcase/Device TextBoxImage styles fix
  docs/showcase/src/showcase/Device/Cards/TextBoxImage.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-template): Improve video player customization. Fix small bugs
  packages/plasma-temple/src/AppStateContext.ts
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerControls.tsx
  packages/plasma-temple/src/components/MediaPlayer/MediaPlayerTimeline.tsx
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayerKeyboard.ts
  packages/plasma-temple/src/components/MediaPlayer/index.ts
  packages/plasma-temple/src/components/MediaPlayer/types.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/createApp.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useAppState.ts
  packages/plasma-temple/src/hooks/usePageState.ts
  packages/plasma-temple/src/index.ts
  packages/plasma-temple/src/templates/Video/Video.tsx
  packages/plasma-temple/src/types.ts
Due: eslint --fix, prettier --write, stylelint

feat: Moved Grid from ui to plasma-core, Grid for plasma-web
  docs/showcase/.storybook/preview.js
  docs/showcase/src/web/Grid.stories.tsx
  packages/plasma-core/src/components/Grid/Col.tsx
  packages/plasma-core/src/components/Grid/Container.tsx
  packages/plasma-core/src/components/Grid/Row.tsx
  packages/plasma-core/src/components/Grid/index.ts
  packages/plasma-web/src/components/Grid/Col.tsx
  packages/plasma-web/src/components/Grid/Container.tsx
  packages/plasma-web/src/components/Grid/index.ts
  packages/ui/src/components/Grid/Col.tsx
  packages/ui/src/components/Grid/Container.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-web): Added Grid to index
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(ui): Showcase/Device add Topbar
  docs/showcase/src/showcase/Device/Topbar/Topbar.stories.tsx
  docs/showcase/src/showcase/Device/Topbar/Topbar.tsx
Due: eslint --fix, prettier --write, stylelint

fix(ui): Showcase/Device fix stories titles
  docs/showcase/src/showcase/Device/Cards/Cards.stories.tsx
  docs/showcase/src/showcase/Device/Topbar/Topbar.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
