Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-ui): disable Pickers infinityScroll for lowPerfomance devices
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

chore: disableAnimation => lowPerformance
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Carousel/Carousel.tsx
  packages/plasma-core/src/components/Field/Field.tsx
  packages/plasma-core/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/mixins/addFocus.ts
  packages/plasma-core/src/types/ThemeProps.ts
  packages/plasma-ui/.storybook/preview.js
  packages/plasma-ui/src/components/Card/Card.tsx
  packages/plasma-ui/src/components/Card/CardTypography.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-ui/src/components/Cell/Cell.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Device/DeviceDetection.tsx
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCardStepper.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/TabsSlider.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Added possibility to disable CSS animations via ThemeProvider
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Button/Button.mixins.ts
  packages/plasma-core/src/components/Carousel/Carousel.tsx
  packages/plasma-core/src/components/Field/Field.tsx
  packages/plasma-core/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-core/src/components/Switch/Switch.tsx
  packages/plasma-core/src/mixins/addFocus.ts
  packages/plasma-core/src/types/ThemeProps.ts
  packages/plasma-core/src/types/index.ts
  packages/plasma-ui/.storybook/preview.js
  packages/plasma-ui/src/components/Card/Card.tsx
  packages/plasma-ui/src/components/Card/CardTypography.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-ui/src/components/Cell/Cell.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Device/DeviceDetection.tsx
  packages/plasma-ui/src/components/Field/Field.tsx
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCardStepper.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/TabsSlider.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-b2c): Add `Popup` component to plasma-b2c
  packages/plasma-b2c/src/components/Popup/index.ts
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): product - export by platforms
  packages/plasma-temple/src/components/Product/Product.tsx
  packages/plasma-temple/src/components/Product/Product@common.tsx
  packages/plasma-temple/src/components/Product/Product@mobile.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ExpandableProductDetails/ExpandableProductDetails.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ProductDetails.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ProductDetailsItem/ProductDetailsItem.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberbox.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@sberportal.tsx
  packages/plasma-temple/src/components/Product/ProductRecommendations/ProductRecommendations.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.tsx
  packages/plasma-temple/src/components/Product/ProductVariationSwitcher/ProductVariationSwitcher.tsx
  packages/plasma-temple/src/components/Product/index.ts
  packages/plasma-temple/src/components/Product/index@mobile.ts
  packages/plasma-temple/src/components/Product/index@sberbox.ts
  packages/plasma-temple/src/components/Product/index@sberportal.ts
  packages/plasma-temple/src/components/index@mobile.ts
  packages/plasma-temple/src/components/index@sberbox.ts
  packages/plasma-temple/src/components/index@sberportal.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Fix behavior with single item in `Picker` component
  packages/plasma-ui/src/components/Pickers/Picker.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Add test and snapshots for `Pickers` component
  cypress/snapshots/ui/components/Pickers/DatePicker.component-test.tsx/plasma-ui DatePicker -- with single item.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- with single item.snap.png
  packages/plasma-ui/src/components/Pickers/DatePicker.component-test.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Exports by platforms: Grid, HeroSlider, ErrorPage, SuccessPage, VideoPage
  packages/plasma-temple/babel.config.js
  packages/plasma-temple/src/components/Grid/Grid.tsx
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
  packages/plasma-temple/src/components/index@mobile.ts
  packages/plasma-temple/src/components/index@sberbox.ts
  packages/plasma-temple/src/components/index@sberportal.ts
  packages/plasma-temple/src/index@mobile.ts
  packages/plasma-temple/src/index@sberbox.ts
  packages/plasma-temple/src/index@sberportal.ts
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@common.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@mobile.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@sberbox.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage@sberportal.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@common.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@mobile.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@sberbox.tsx
  packages/plasma-temple/src/pages/SuccessPage/SuccessPage@sberportal.tsx
  packages/plasma-temple/src/pages/VideoPage/VideoPage.tsx
  packages/plasma-temple/src/pages/index.ts
  packages/plasma-temple/src/pages/index@mobile.ts
  packages/plasma-temple/src/pages/index@sberbox.ts
  packages/plasma-temple/src/pages/index@sberportal.ts
Due: eslint --fix, prettier --write, stylelint
