Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-tokens): backward compatibility
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-ui/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): temp
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Fix gallery focus
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/hooks/useFocused.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Remove redundant padding
  packages/plasma-temple/src/hooks/useFocusedState.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-temple): Rename ConfirmOrder and OrderSuccess
  packages/plasma-temple/src/pages/ConfirmOrder/index.ts
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/LocationIcon.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.assets/map.png
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/components/ConfirmOrderCard/ConfirmOrderCard.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/index.ts
  packages/plasma-temple/src/pages/OrderSuccess/index.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.stories.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
  packages/plasma-temple/src/pages/OrderSuccessPage/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat: user Intl short month format for formatting
  packages/plasma-core/src/utils/formatters.ts
Due: eslint --fix, prettier --write, stylelint

feat: short month name in datepicker
  packages/plasma-core/src/utils/formatters.ts
  packages/plasma-core/src/utils/index.ts
  packages/plasma-ui/src/components/Pickers/SimpleDatePicker.tsx
Due: eslint --fix, prettier --write, stylelint

refactor: remove unimportant check from getFormatterKey
  packages/plasma-ui/src/components/Pickers/SimpleDatePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat: switchable month name format in DatePicker
  docs/showcase/src/ui/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/SimpleDatePicker.tsx
Due: eslint --fix, prettier --write, stylelint

refactor: change style of default options checking in DatePicker
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
Due: eslint --fix, prettier --write, stylelint

refactor: unified options getting in DatePicker
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
Due: eslint --fix, prettier --write, stylelint

fix: correct point deletion in short month name
  packages/plasma-core/src/utils/formatters.ts
Due: eslint --fix, prettier --write, stylelint

docs: knobs for pickers in showcase
  docs/showcase/src/ui/Pickers.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Cart bubble
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.stories.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): HeroSlider components
  packages/plasma-temple/.storybook/public/images/cat.png
  packages/plasma-temple/.storybook/public/images/parrot.png
  packages/plasma-temple/examples/HeroSlider.stories.tsx
  packages/plasma-temple/src/components/FullScreenBackground/FullScreenBackground.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/Gallery/index.ts
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/index.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberbox.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberportal.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/components/HeroSlider/index.ts
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): HeroSlider touch events
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/GalleryPage/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): adopt HeroSlider for portal
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@sberbox.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@sberportal.tsx
  packages/plasma-temple/src/components/HeroSlider/index.ts
  packages/plasma-temple/src/components/HeroSlider/types.ts
  packages/plasma-temple/src/registry/registry@sberbox.ts
  packages/plasma-temple/src/registry/registry@sberportal.ts
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): useRemoteHandlers conditions
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider.tsx
  packages/plasma-temple/src/hooks/useRemoteHandlers.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add posibility to change recipient data add form validation for voice field
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.examples.tsx
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.assets/SaluteIcon.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.examples.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@common.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@sbebox.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@sbeportal.tsx
  packages/plasma-temple/src/components/Form/components/Input.tsx
  packages/plasma-temple/src/components/Form/components/VoiceField.tsx
  packages/plasma-temple/src/components/Form/components/VoiceFilling.tsx
  packages/plasma-temple/src/components/Form/hocs/withWrapField.tsx
  packages/plasma-temple/src/components/Form/types.ts
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartButton/CartButton.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartContext.ts
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/types.ts
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.stories.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/components/ConfirmOrderCard/ConfirmOrderCard.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/index.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/index.ts
Due: eslint --fix, prettier --write, stylelint
