Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): assistantClient can be get outside React
  packages/plasma-temple/src/assistant.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
  packages/plasma-temple/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-ui): Header layout
  packages/plasma-ui/src/components/Header/Header.stories.tsx
  packages/plasma-ui/src/components/Header/Header.tsx
  packages/plasma-ui/src/components/Header/HeaderLogo.tsx
  packages/plasma-ui/src/components/Header/HeaderRoot.tsx
  packages/plasma-ui/src/components/Header/HeaderTitleWrapper.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): Pass rest props to TextBox if only children presented
  packages/plasma-ui/src/components/TextBox/TextBox.tsx
Due: eslint --fix, prettier --write, stylelint

chore(showcase): Display theme/typo switchers
  docs/showcase/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Header minimize or back
  docs/showcase/src/ui/Header.stories.tsx
  packages/plasma-ui/src/components/Header/Header.stories.tsx
  packages/plasma-ui/src/components/Header/Header.tsx
  packages/plasma-ui/src/components/Header/HeaderBack.tsx
  packages/plasma-ui/src/components/Header/HeaderMinimize.tsx
  packages/plasma-ui/src/components/Header/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-icons): chevron-icons updated
  packages/plasma-icons/src/Icon.assets/ChevronDown.tsx
  packages/plasma-icons/src/Icon.assets/ChevronUp.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Handle gallery card click inside package
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/GalleryCard/types.ts
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add generic to GalleryPage
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/GalleryCard/index.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
  packages/plasma-temple/src/pages/GalleryPage/types.ts
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Refactor gallery
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/index.ts
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
  packages/plasma-temple/src/utils/getMediaObjectSrc.ts
  packages/plasma-temple/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add todo
  packages/plasma-temple/src/components/Gallery/hocs/withNavigation.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add useForm hook
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/hooks/useForm.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Simplify custom gallery card interface
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/Gallery/types.ts
  packages/plasma-temple/src/components/GalleryCard/GalleryCard.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/GalleryCard/index.ts
  packages/plasma-temple/src/components/GalleryCard/types.ts
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/ShopLandingCard/ShopLandingCard.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): huawei detection fix
  packages/plasma-ui/src/utils/deviceDetection.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): Show provider in stories
  packages/plasma-ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-ui): Added index exports for hooks and etc
  packages/plasma-ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Carousel page
  examples/demo-canvas-app/next.config.js
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/carousel.tsx
  examples/demo-canvas-app/public/images/320_320_0.jpg
  examples/demo-canvas-app/public/images/320_320_1.jpg
  examples/demo-canvas-app/public/images/320_320_10.jpg
  examples/demo-canvas-app/public/images/320_320_11.jpg
  examples/demo-canvas-app/public/images/320_320_12.jpg
  examples/demo-canvas-app/public/images/320_320_2.jpg
  examples/demo-canvas-app/public/images/320_320_3.jpg
  examples/demo-canvas-app/public/images/320_320_4.jpg
  examples/demo-canvas-app/public/images/320_320_5.jpg
  examples/demo-canvas-app/public/images/320_320_6.jpg
  examples/demo-canvas-app/public/images/320_320_7.jpg
  examples/demo-canvas-app/public/images/320_320_8.jpg
  examples/demo-canvas-app/public/images/320_320_9.jpg
Due: eslint --fix, prettier --write, stylelint

ci: Build plasma without rollup
  .babelrc.js
  examples/demo-canvas-app/.babelrc
  packages/plasma-core/.babelrc
  packages/plasma-core/.babelrc.js
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-core/rollup.config.js
  packages/plasma-core/tsconfig.json
  packages/plasma-icons/.babelrc.js
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.js
  packages/plasma-ui/.babelrc
  packages/plasma-ui/.babelrc.js
  packages/plasma-ui/.gitignore
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-ui/rollup.config.js
  packages/plasma-web/.babelrc
  packages/plasma-web/.babelrc.js
  packages/plasma-web/.gitignore
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/plasma-web/rollup.config.js
  rollup.config.js
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-web): Index imports for treeshaking
  packages/plasma-web/src/components/Badge/Badge.tsx
  packages/plasma-web/src/components/Badge/index.ts
  packages/plasma-web/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Carousel/Carousel.tsx
  packages/plasma-web/src/components/Carousel/CarouselItem.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Grid/Col.tsx
  packages/plasma-web/src/components/Grid/Container.tsx
  packages/plasma-web/src/components/Grid/index.ts
  packages/plasma-web/src/components/Image/Image.tsx
  packages/plasma-web/src/components/Notification/Notification.tsx
  packages/plasma-web/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-web/src/components/Price/Price.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Spinner/Spinner.tsx
  packages/plasma-web/src/components/Switch/Switch.tsx
  packages/plasma-web/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.tsx
  packages/plasma-web/src/components/Typography/Body/index.ts
  packages/plasma-web/src/components/Typography/Button/index.ts
  packages/plasma-web/src/components/Typography/Caption/index.ts
  packages/plasma-web/src/components/Typography/Footnote/index.ts
  packages/plasma-web/src/components/Typography/Headline/index.ts
  packages/plasma-web/src/components/Typography/Paragraph/index.ts
  packages/plasma-web/src/components/Typography/Underline/index.ts
  packages/plasma-web/src/helpers/PaletteGrid.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add active index to item change callback in HeroSlider
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add on item cchange callback to HeroSlider
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/HeroSlider/types.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
