Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

test(plasma-temple): Cart component tests
  cypress/fixtures/images/placeholder.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- add item.snap.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- clear cart.snap.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- decrease item quantity to 0.snap.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- decrease item quantity.snap.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- empty cart -- render empty cart.snap.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- increase item quantity.snap.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- remove item.snap.png
  cypress/snapshots/temple/components/Cart/Cart.component-test.tsx/Cart -- render cart.snap.png
  cypress/support/commands.ts
  cypress/support/index.d.ts
  packages/plasma-temple/src/components/Cart/Cart.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-temple/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-temple): Product component
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

docs(plasma-temple): Product docs
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  website/plasma-temple-docs/docs/components/Product.mdx
  website/plasma-temple-docs/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

docs(plasma-temple): Product docs
  packages/plasma-temple/src/components/Product/Product.tsx
  packages/plasma-temple/src/components/Product/Product@common.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ExpandableProductDetails/ExpandableProductDetails.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ExpandableProductDetails/ExpandableProductDetails@common.tsx
  packages/plasma-temple/src/components/Product/ProductDetails/ProductDetails.tsx
  packages/plasma-temple/src/components/Product/ProductImage/ProductImage.tsx
  packages/plasma-temple/src/components/Product/ProductImageSlider/ProductImageSlider.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo.tsx
  packages/plasma-temple/src/components/Product/ProductInfo/ProductInfo@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/ProductPrice@common.tsx
  packages/plasma-temple/src/components/Product/ProductPrice/types.ts
  packages/plasma-temple/src/components/Product/ProductRecommendations/ProductRecommendations.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/ProductTitle.tsx
  packages/plasma-temple/src/components/Product/ProductTitle/types.ts
  packages/plasma-temple/src/components/Product/ProductVariationSwitcher/ProductVariationSwitcher.tsx
  website/plasma-temple-docs/docs/components/Product.mdx
Due: eslint --fix, prettier --write, stylelint

chore: update package-locks [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  website/plasma-temple-docs/package.json
Due: prettier --write --parser json, node

test(plasma-temple): Product tests
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- action button with quantity -- render action button with quantity.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- click on more button description.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- click on more button details.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- render product.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- render recommendations.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- render short content (not expanded).snap.png
  packages/plasma-temple/src/components/Product/Product.component-test.tsx
  packages/plasma-temple/src/components/Product/Product@common.tsx
  packages/plasma-temple/src/components/Product/ProductRecommendations/ProductRecommendationsItem/ProductRecommendationsItem.tsx
  packages/plasma-temple/src/components/Product/ProductToggleButton/ProductToggleButton.tsx
  packages/plasma-temple/src/components/Product/ProductVariationSwitcher/ProductVariationItem/ProductVariationItem.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-temple): Multi-platform tests
  cypress/fixtures/images/img.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- action button with quantity -- render action button with quantity.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- click on more button description.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- click on more button details.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- render product.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- render recommendations.snap.png
  cypress/snapshots/temple/components/Product/Product.component-test.tsx/Product -- render short content (not expanded).snap.png
  cypress/snapshots/temple@mobile/components/Product/Product@mobile.component-test.tsx/Product -- action button with quantity -- render action button with quantity.snap.png
  cypress/snapshots/temple@mobile/components/Product/Product@mobile.component-test.tsx/Product -- expand description.snap.png
  cypress/snapshots/temple@mobile/components/Product/Product@mobile.component-test.tsx/Product -- expand details.snap.png
  cypress/snapshots/temple@mobile/components/Product/Product@mobile.component-test.tsx/Product -- render product.snap.png
  cypress/snapshots/temple@mobile/components/Product/Product@mobile.component-test.tsx/Product -- render recommendations.snap.png
  cypress/snapshots/temple@sberbox/components/Product/Product@common.component-test.tsx/Product -- action button with quantity -- render action button with quantity.snap.png
  cypress/snapshots/temple@sberbox/components/Product/Product@common.component-test.tsx/Product -- click on more button description.snap.png
  cypress/snapshots/temple@sberbox/components/Product/Product@common.component-test.tsx/Product -- click on more button details.snap.png
  cypress/snapshots/temple@sberbox/components/Product/Product@common.component-test.tsx/Product -- render product.snap.png
  cypress/snapshots/temple@sberbox/components/Product/Product@common.component-test.tsx/Product -- render recommendations.snap.png
  cypress/snapshots/temple@sberbox/components/Product/Product@common.component-test.tsx/Product -- render short content (not expanded).snap.png
  cypress/snapshots/temple@sberportal/components/Product/Product@common.component-test.tsx/Product -- action button with quantity -- render action button with quantity.snap.png
  cypress/snapshots/temple@sberportal/components/Product/Product@common.component-test.tsx/Product -- click on more button description.snap.png
  cypress/snapshots/temple@sberportal/components/Product/Product@common.component-test.tsx/Product -- click on more button details.snap.png
  cypress/snapshots/temple@sberportal/components/Product/Product@common.component-test.tsx/Product -- render product.snap.png
  cypress/snapshots/temple@sberportal/components/Product/Product@common.component-test.tsx/Product -- render recommendations.snap.png
  cypress/snapshots/temple@sberportal/components/Product/Product@common.component-test.tsx/Product -- render short content (not expanded).snap.png
  packages/plasma-temple/src/components/Collapse/Collapse.tsx
  packages/plasma-temple/src/components/Product/Product.component-test.tsx
  packages/plasma-temple/src/components/Product/Product@common.component-test.tsx
  packages/plasma-temple/src/components/Product/Product@helpers.component-test.tsx
  packages/plasma-temple/src/components/Product/Product@mobile.component-test.tsx
  packages/plasma-temple/src/components/Product/Product@mobile.tsx
  packages/plasma-temple/src/components/Product/ProductImage/ProductImage.tsx
  packages/plasma-temple/src/components/Product/ProductImageSlider/ProductImageSlider.stories.tsx
  packages/plasma-temple/src/components/Product/ProductImageSlider/ProductImageSlider.tsx
  packages/plasma-temple/src/components/Product/ProductRecommendations/ProductRecommendations.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): Poster classname on video change
  packages/plasma-temple/src/components/MediaPlayer/hooks/useMediaPlayer.ts
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Exports for custom item page
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/hooks/index.ts
  packages/plasma-temple/src/pages/ItemPage/index.ts
  packages/plasma-temple/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): `TimePicker` splitter size
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- _size.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- change values by click.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- default.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- without infiniteScroll.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values with max.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values with min.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- change values.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker update value -- with controls.snap.png
  packages/plasma-ui/src/components/Pickers/PickerDots.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

chore: wip
  packages/plasma-web/src/components/VirtualCarousel/VirtualCarousel.examples.tsx
  packages/plasma-web/src/components/VirtualCarousel/VirtualCarousel.stories.tsx
  packages/plasma-web/src/components/VirtualCarousel/VirtualCarousel.tsx
  packages/plasma-web/src/components/VirtualCarousel/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web-docs): Docusaurus docgen plugin's json fail
  website/plasma-web-docs/docusaurus.config.js
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json, node

docs(versionate-docs): Added `README.md`
  actions/versionate-docs/README.md
Due: prettier --write --parser markdown

chore(plasma-web): Delete `Popup` from storybook
  packages/plasma-web/src/components/Popup/Popup.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): add tests on keyboard navigation
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
Due: eslint --fix, prettier --write, stylelint
