Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

chore: update plasma-core version for plasma-ui
  packages/plasma-ui/package.json
Due: prettier --write --parser json, node

fix: all at once exports
  packages/plasma-core/src/components/Badge/Badge.tsx
  packages/plasma-core/src/components/Typography/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-core/src/mixins/addFocus.ts
  packages/plasma-ui/src/components/Card/index.ts
  packages/plasma-ui/src/components/Typography/index.ts
  packages/plasma-ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

build: es5 target for plasma-tokens
  packages/plasma-tokens/tsconfig.json
Due: prettier --write --parser json, node

feat: add root Spinner export
  packages/plasma-core/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: es build in tokens by default
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

feat: es module build for plasma-tokens
  docs/showcase/src/helpers/Palette.tsx
  docs/showcase/src/helpers/StoryDecorators.tsx
  examples/demo-tokens/src/App.tsx
  packages/plasma-core/src/index.ts
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-tokens/rollup.config.js
  packages/plasma-ui/.storybook/preview.js
  packages/plasma-ui/src/components/Device/DeviceDetection.tsx
  packages/plasma-ui/src/helpers/Palette.tsx
  packages/plasma-ui/src/helpers/ThemeSelect.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat: add Basebox export from root
  packages/plasma-core/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix: import es module from core in icons
  packages/plasma-icons/src/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint

fix: sideEffects false for tokens
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
Due: prettier --write --parser json, node

fix: es module import in CarouselCol
  packages/plasma-ui/src/components/Carousel/CarouselCol.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

{chore: update package-locks [skip ci]}
  docs/showcase/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

feat: update plis circle icon
  packages/plasma-icons/src/Icon.assets/PlusCircle.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update heart stroke icon
  packages/plasma-icons/src/Icon.assets/HeartStroke.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update plus circle icon
  packages/plasma-icons/src/Icon.assets/PlusCircle.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add percent stroke icon
  packages/plasma-icons/src/Icon.assets/PercentStroke.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconPercentStroke.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
