Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore: update package-locks [skip ci]
  utils/plasma-cy-utils/package.json
Due: prettier --write --parser json, node

fix(plasma-temple): Fix HeroSlide styles
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberbox.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2b): Sanitize paste event on Editable
  packages/plasma-b2c/src/components/Editable/Editable.tsx
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): changeState action
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/reducer.test.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

chore(plasma-b2c): Bump `plasma-tokens-b2c` version
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package.json
Due: prettier --write --parser json, node

build(plasma-core/ui/b2c/web): fix storybook build
  packages/plasma-b2c/src/__helpers/index.ts
  packages/plasma-core/src/__helpers/index.ts
  packages/plasma-ui/src/helpers/index.ts
  packages/plasma-web/src/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Added global `dark0N` colors
  packages/plasma-core/src/tokens/colors.ts
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  utils/plasma-tokens-utils/src/mappers.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Shared `Toast` between libraries
  packages/plasma-b2c/.storybook/preview.js
  packages/plasma-b2c/src/components/Toast/Toast.stories.tsx
  packages/plasma-b2c/src/components/Toast/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/src/components/Fade/Fade.tsx
  packages/plasma-core/src/components/Fade/index.ts
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/Toast.types.ts
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
  packages/plasma-core/src/components/Toast/index.ts
  packages/plasma-core/src/components/Toast/useToast.ts
  packages/plasma-core/src/index.ts
  packages/plasma-web/.storybook/preview.js
  packages/plasma-web/src/components/Toast/Toast.stories.tsx
  packages/plasma-web/src/components/Toast/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): `Toast` icon
  packages/plasma-b2c/src/components/Toast/Toast.stories.tsx
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/Toast.types.ts
  packages/plasma-core/src/components/Toast/ToastContext.tsx
  packages/plasma-core/src/components/Toast/ToastController.tsx
  packages/plasma-core/src/components/Toast/ToastProvider.tsx
Due: eslint --fix, prettier --write, stylelint

test: Component test for B2C `Toast`
  cypress/snapshots/b2c/components/Toast/Toast.component-test.tsx/plasma-b2c Toast -- default.snap.png
  cypress/snapshots/b2c/components/Toast/Toast.component-test.tsx/plasma-b2c Toast -- with icon.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- default.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- with icon.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- default.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- with icon.snap.png
  packages/plasma-b2c/src/components/Toast/ToastBase.component-test.tsx
  packages/plasma-core/src/components/Toast/ToastBase.component-test.tsx
  packages/plasma-ui/src/components/Toast/ToastBase.component-test.tsx
  packages/plasma-web/src/components/Toast/ToastBase.component-test.tsx
  utils/showcase/src/b2c/Toast.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(b2c): Editable snapshot
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/Editable -- _view.snap.png
Due: none

feat: Standard typography system
  .eslintignore
  packages/plasma-b2c/.storybook/preview-head.html
  packages/plasma-b2c/.storybook/preview.js
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Typography/Body.tsx
  packages/plasma-b2c/src/components/Typography/Dspl.tsx
  packages/plasma-b2c/src/components/Typography/H.tsx
  packages/plasma-b2c/src/components/Typography/Txt.tsx
  packages/plasma-b2c/src/components/Typography/Typography.stories.tsx
  packages/plasma-b2c/src/components/Typography/index.ts
  packages/plasma-b2c/src/tokens/index.ts
  packages/plasma-b2c/src/tokens/typography.ts
  packages/plasma-typo/.gitignore
  packages/plasma-typo/.npmrc
  packages/plasma-typo/package-lock.json
  packages/plasma-typo/package.json
  packages/plasma-typo/src/compatible.ts
  packages/plasma-typo/src/helpers.ts
  packages/plasma-typo/src/index.ts
  packages/plasma-typo/src/standard.ts
  packages/plasma-typo/tsconfig.es.json
  packages/plasma-typo/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(showcase): Add Standard typography for B2C in showcase
  utils/showcase/.storybook/preview-head.html
  utils/showcase/.storybook/preview.js
  utils/showcase/package.json
  utils/showcase/src/helpers/StoryDecorators.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

chore(plasma-b2c): Support compatible typography in storybook
  packages/plasma-b2c/.storybook/preview.js
Due: eslint --fix, prettier --write, stylelint

chore(plasma-cy-utils): Update styled-components version
  utils/plasma-cy-utils/package.json
Due: prettier --write --parser json, node

test(plasma-b2c): Added B2C typos for cy component test
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

test(plasma-b2c): Update snapshots after applying Standard Typography
  cypress/snapshots/b2c/components/Badge/Badge.component-test.tsx/plasma-web Badge -- _view.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _circled.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- _sizes.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- simple.snap.png
  cypress/snapshots/b2c/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- with Icon.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _size.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _view.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- simple.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- with Icon.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __description.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- __label.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _checked.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _disabled.snap.png
  cypress/snapshots/b2c/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _indeterminate.snap.png
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- simple.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/Editable -- _view.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/b2c/components/Notification/NotificationBase.component-test.tsx/plasma-web Notification -- simple.snap.png
  cypress/snapshots/b2c/components/Progress/ProgressBase.component-test.tsx/plasma-web Progress -- _status.snap.png
  cypress/snapshots/b2c/components/Progress/ProgressBase.component-test.tsx/plasma-web Progress -- simple.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- __description.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- __label.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- _checked.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- _disabled.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  cypress/snapshots/b2c/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- simple.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- simple.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- simple.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- default.snap.png
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- with icon.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
Due: none

chore: Skip Notification component test
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

build(plasma-cy-utils): fix pck-locks
  package-lock.json
  utils/plasma-cy-utils/package-lock.json
Due: prettier --write --parser json, node
