Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-b2c): Add mobile sizes for Tabs
  cypress/snapshots/b2c/components/Tabs/plasma-b2c Tabs -- _size.snap.png
  cypress/snapshots/b2c/components/Tabs/plasma-b2c Tabs -- simple.snap.png
  packages/plasma-b2c/src/components/Tabs/Tabs.tsx
  packages/plasma-b2c/src/components/Tabs/TabsBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): Fix async Layout render
  packages/plasma-temple/src/components/Page/Page.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

test(plasma-ui): improve Button component tests
  cypress/snapshots/ui/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _pin.snap.png
  cypress/snapshots/ui/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _shift.snap.png
  cypress/snapshots/ui/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- withAutoFocus.snap.png
  packages/plasma-core/src/components/Button/Button.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Switch component tests
  cypress/snapshots/ui/components/Switch/SwitchBase.component-test.tsx/clicked.snap.png
  cypress/snapshots/ui/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _checked.snap.png
  cypress/snapshots/ui/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _disabled.snap.png
  cypress/snapshots/ui/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _focused.snap.png
  cypress/snapshots/ui/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _pressed.snap.png
  cypress/snapshots/ui/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- onClick.snap.png
  packages/plasma-core/src/components/Switch/Switch.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Slider component tests
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- simple.snap.png
  packages/plasma-ui/src/components/Slider/Slider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): improve Checkbox component tests
  cypress/snapshots/ui/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  packages/plasma-core/src/components/Checkbox/Checkbox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Stepper component tests
  cypress/snapshots/ui/components/Stepper/Stepper.component-test.tsx/plasma-ui Stepper -- __formatter.snap.png
  cypress/snapshots/ui/components/Stepper/Stepper.component-test.tsx/plasma-ui Stepper -- _disabled.snap.png
  cypress/snapshots/ui/components/Stepper/Stepper.component-test.tsx/plasma-ui Stepper -- _min _max.snap.png
  cypress/snapshots/ui/components/Stepper/Stepper.component-test.tsx/plasma-ui Stepper -- _pin.snap.png
  cypress/snapshots/ui/components/Stepper/Stepper.component-test.tsx/plasma-ui Stepper -- simple.snap.png
  packages/plasma-ui/src/components/Stepper/Stepper.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add RadioGroup component tests
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core RadioGroup -- simple.snap.png
  cypress/snapshots/b2c/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- _focused.snap.png
  cypress/snapshots/ui/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core RadioGroup -- simple.snap.png
  cypress/snapshots/ui/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- _focused.snap.png
  cypress/snapshots/web/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core RadioGroup -- simple.snap.png
  cypress/snapshots/web/components/Radiobox/RadioboxBase.component-test.tsx/plasma-core Radiobox -- _focused.snap.png
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): improve TextArea component tests
  cypress/snapshots/ui/components/TextArea/TextArea.component-test.tsx/plasma-core TextArea -- resize.snap.png
  packages/plasma-core/src/components/TextArea/TextArea.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

ci: add codecov
  .github/workflows/cypress-ct.yml
  codecov.yml
Due: none

ci: improve coverall check
  .github/workflows/cypress-ct.yml
  codecov.yml
Due: none

fix(plasma-ui): fail me please
  packages/plasma-b2c/src/components/Button/ButtonBase.component-test.tsx
  packages/plasma-ui/src/components/Button/ButtonBase.component-test.tsx
  packages/plasma-web/src/components/Button/ButtonBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

build(plasma-ui,plasma-web,plasma-b2c): ignore examples.tsx
  cypress/webpack.config.js
  nyc.config.js
Due: eslint --fix, prettier --write, stylelint

feat(b2c): add SSRProvider
  packages/plasma-b2c/src/components/SSRProvider/index.ts
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-cy-utils): wrap SSRProvider over all tests
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts.map
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Radiobox: uniqId test
  packages/plasma-core/src/components/Radiobox/Radiobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): update base screens
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _pin.snap.png
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _shift.snap.png
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- withAutoFocus.snap.png
  cypress/snapshots/web/components/Checkbox/CheckboxBase.component-test.tsx/plasma-core Checkbox -- _focused.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/clicked.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _checked.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _disabled.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _focused.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- _pressed.snap.png
  cypress/snapshots/web/components/Switch/SwitchBase.component-test.tsx/plasma-core Switch -- onClick.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- resize.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- __content-left.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- _role.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- _position.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- dumm.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- showToast.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- timeout.snap.png
Due: none

test(plasma-web): add Grid component test
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid -- simple.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _L.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _M.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _S.snap.png
  cypress/snapshots/web/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _XL.snap.png
  packages/plasma-web/src/components/Grid/GridBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Improve Checkbox tests
  cypress/snapshots/ui/components/Checkbox/Checkbox.component-test.tsx/interaction.snap.png
  cypress/snapshots/ui/components/Checkbox/Checkbox.component-test.tsx/interactionhover.snap.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
