Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

feat(plasma-ui): Add default value in `Slider` component if theme context is undefined
  packages/plasma-ui/src/components/Slider/SliderBase.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

feat(palsma-b2c): put preview gallery rest props
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItems.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-ui,plasma-b2c): Fix intersection for multiple `Slider` component
  packages/plasma-b2c/src/components/Slider/Double.tsx
  packages/plasma-b2c/src/components/Slider/Handle.tsx
  packages/plasma-ui/src/components/Slider/Double.tsx
  packages/plasma-ui/src/components/Slider/Handle.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-ui,plasma-b2c): Update stories for `Slider` component
  packages/plasma-b2c/src/components/Slider/Slider.stories.tsx
  packages/plasma-ui/src/components/Slider/Slider.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Added `createButton` as a constructor function for `Button`
  packages/plasma-b2c/src/components/Button/Button.tsx
  packages/plasma-b2c/src/components/Button/index.tsx
  packages/plasma-core/src/components/Button/Button.mixins.ts
  packages/plasma-core/src/components/Button/Button.props.ts
  packages/plasma-core/src/components/Button/Button.tsx
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/plasma-core/src/components/Button/createButton.tsx
  packages/plasma-core/src/components/Button/index.ts
  packages/plasma-core/src/mixins/addFocus.ts
  packages/plasma-ui/src/components/Button/ActionButton.tsx
  packages/plasma-ui/src/components/Button/Button.mixins.ts
  packages/plasma-ui/src/components/Button/Button.stories.tsx
  packages/plasma-ui/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Button/Button.mixins.ts
  packages/plasma-web/src/components/Button/Button.props.ts
  packages/plasma-web/src/components/Button/index.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Update tests for `Button` and add for `ActionButton`
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _size.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _view.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- simple.snap.png
  cypress/snapshots/b2c/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- with Icon.snap.png
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- block and popup's width.snap.png
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- radius and padding.snap.png
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- simple.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- interaction.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple placement.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- out of bounds.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
  cypress/snapshots/ui/components/Button/ActionButton.component-test.tsx/plasma-ui ActionButton -- _size.snap.png
  cypress/snapshots/ui/components/Button/ActionButton.component-test.tsx/plasma-ui ActionButton -- _view.snap.png
  cypress/snapshots/ui/components/Button/ActionButton.component-test.tsx/plasma-ui ActionButton -- simple.snap.png
  cypress/snapshots/ui/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _size.snap.png
  cypress/snapshots/ui/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _view.snap.png
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _size.snap.png
  cypress/snapshots/web/components/Button/ButtonBase.component-test.tsx/plasma-core Button -- _view.snap.png
  packages/plasma-core/src/components/Button/Button.component-test.tsx
  packages/plasma-ui/src/components/Button/ActionButton.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Docs dark theme switcher
  utils/plasma-docs-ui/src/components/GlobalStyle.tsx
  website/plasma-temple-docs/docusaurus.config.js
  website/plasma-temple-docs/src/theme/LayoutHead/index.tsx
  website/plasma-temple-docs/src/theme/Root/index.tsx
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-ui-docs/src/components/GlobalStyle.tsx
  website/plasma-ui-docs/src/components/index.ts
  website/plasma-ui-docs/src/css/custom.css
  website/plasma-ui-docs/src/theme/LayoutHead/index.tsx
  website/plasma-ui-docs/src/theme/Root/index.tsx
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-web-docs/src/css/custom.css
  website/plasma-web-docs/src/theme/LayoutHead/index.tsx
  website/plasma-web-docs/src/theme/Root/index.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

chore: Update `CODEOWNERS`
  CODEOWNERS
Due: none

fix(plama-web): Added possibility to specify a value type in `Select`
  packages/plasma-web/src/components/Select/Select.tsx
  packages/plasma-web/src/components/Select/withMultiSelect.tsx
  packages/plasma-web/src/components/Select/withSingleSelect.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): manual infer styled-comp types
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@sbebox.tsx
  packages/plasma-temple/src/components/AssistantSuggest/AssistantSuggest@sbeportal.tsx
  packages/plasma-temple/src/components/Form/components/Field.tsx
  packages/plasma-temple/src/components/Product/ProductPageSmamokat.stories.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberbox.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@sberportal.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/types.ts
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-temple): add support NeuHeader Component
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Header/Header.stories.tsx
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/components/Header/types.ts
  packages/plasma-temple/src/components/Header/useHeaderProps.ts
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GridPage/GridPage.tsx
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

Update index.tsx
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add RadioGroup components
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/radiobox.tsx
  packages/plasma-core/src/components/RadioGroup/RadioGroup.tsx
  packages/plasma-core/src/components/RadioGroup/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/Radiobox/RadioGroup.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-ui/src/components/Radiobox/index.ts
  packages/plasma-web/src/components/Radiobox/RadioGroup.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/index.ts
  utils/showcase/src/helpers/RadioboxShowcase.tsx
  utils/showcase/src/web/Radiobox.stories.tsx
  website/plasma-ui-docs/docs/components/Radiobox.mdx
  website/plasma-web-docs/docs/components/Radiobox.mdx
Due: eslint --fix, prettier --write, stylelint

fix: accessibility of checkbox and radiobox for nvda and jaws
  examples/demo-canvas-app/pages/test/components/radiobox.tsx
  packages/plasma-core/src/components/Basebox/Basebox.tsx
  packages/plasma-core/src/components/Basebox/index.ts
  packages/plasma-core/src/components/SSRProvider/SSRProvider.tsx
  packages/plasma-core/src/components/SSRProvider/index.ts
  packages/plasma-core/src/components/Typography/Headline/index.ts
  packages/plasma-core/src/hooks/index.ts
  packages/plasma-core/src/hooks/useUniqId.ts
  packages/plasma-core/src/index.ts
  packages/plasma-ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-ui/src/components/Radiobox/Radiobox.tsx
  packages/plasma-ui/src/components/SSRProvider/index.ts
  packages/plasma-ui/src/index.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.tsx
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
  packages/plasma-web/src/components/Modal/Modal.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.tsx
  packages/plasma-web/src/components/SSRProvider/index.ts
  packages/plasma-web/src/index.ts
  utils/showcase/src/helpers/RadioboxShowcase.tsx
  website/plasma-ui-docs/docs/intro.mdx
  website/plasma-web-docs/docs/intro.mdx
Due: eslint --fix, prettier --write, stylelint
