Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  utils/plasma-docs-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-ui): `Dropdown` custom composition
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- block and popup's width.snap.png
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- radius and padding.snap.png
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- simple.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- block and popup's width.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- radius and padding.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- simple.snap.png
  packages/plasma-core/src/components/Popup/Popup.tsx
  packages/plasma-core/src/components/Popup/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-web/src/components/Dropdown/DropdownSub.tsx
  packages/plasma-web/src/components/Popup/Popup.stories.tsx
  packages/plasma-web/src/components/Popup/index.ts
  packages/plasma-web/src/index.ts
  website/plasma-web-docs/docs/components/Dropdown.mdx
  website/plasma-web-docs/docs/components/Popup.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web,plasma-b2c): `Select`'s custom dropdown composition
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- simple.snap.png
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectArrow.tsx
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-web,plasma-b2c): `Select`'s when multiselect prevent autoclose
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Prevent click on icons of `DropdownItem`
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-shop-template): shop template fixup
  .eslintignore
  packages/plasma-shop-template/template.json
  packages/plasma-shop-template/template/README.md
  packages/plasma-shop-template/template/config-overrides.js
  packages/plasma-shop-template/template/src/App.tsx
  packages/plasma-shop-template/template/src/components/HeaderCartButton/HeaderCartButton.tsx
  packages/plasma-shop-template/template/src/hooks/useAssistantState.ts
  packages/plasma-shop-template/template/src/pages/Main.tsx
  packages/plasma-shop-template/template/src/pages/MakeOrder/RecipientInfoContext.ts
  packages/plasma-shop-template/template/src/pages/MakeOrder/hooks/usePayment.ts
  packages/plasma-shop-template/template/src/pages/RecipientForm/RecipientForm.tsx
  packages/plasma-shop-template/template/src/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

test(plasma-web,plasma-b2c): Add tests and snapshots for `Select` component
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- empty.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- empty.snap.png
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Add snapshots for `Uploads`, `AudioPlayer`, `PreviewGallery` components
  cypress/snapshots/b2c/components/AudioPlayer/AudioPlayer.component-test.tsx/plasma-b2c AudioPlayer -- _isPlaying.snap.png
  cypress/snapshots/b2c/components/AudioPlayer/AudioPlayer.component-test.tsx/plasma-b2c AudioPlayer -- _isSelected.snap.png
  cypress/snapshots/b2c/components/AudioPlayer/AudioPlayer.component-test.tsx/plasma-b2c AudioPlayer -- simple.snap.png
  cypress/snapshots/b2c/components/ElasticGrid/ElasticGrid.component-test.tsx/ElasticGrid -- _view.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- _caption.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- _isSelected.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- _status.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- simple draggable.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- simple selectable.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- empty.snap.png
  cypress/snapshots/b2c/components/Select/SelectBase.component-test.tsx/plasma-web Select -- simple.snap.png
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- _content.snap.png
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- _disabled.snap.png
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- _loader.snap.png
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- _message.snap.png
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- _progress.snap.png
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- _status.snap.png
  cypress/snapshots/b2c/components/Upload/Upload.component-test.tsx/plasma-b2c Upload -- simple.snap.png
  cypress/snapshots/b2c/components/UploadAudio/UploadAudio.component-test.tsx/plasma-b2c UploadAudio -- simple.snap.png
  cypress/snapshots/b2c/components/UploadVisual/UploadVisual.component-test.tsx/plasma-b2c UploadVisual -- __maxCount.snap.png
  cypress/snapshots/b2c/components/UploadVisual/UploadVisual.component-test.tsx/plasma-b2c UploadVisual -- simple.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- empty.snap.png
Due: none

fix(plasma-ui): Fix scroll behavior and range values for `Picker` component
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
  packages/plasma-ui/src/components/Pickers/utils.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  utils/showcase/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-b2c): set slider handle box-sizing
  packages/plasma-b2c/src/components/Slider/Handle.tsx
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint

ci(plasma-temple): Deploy Storybook
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  packages/plasma-temple/.gitignore
  packages/plasma-temple/.storybook/main.js
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/pages/ShopLandingPage/types.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-website): Add Temple Storybook
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): add theme to PlasmaApp
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Custom check of cart quantity limit
  packages/plasma-temple/src/pages/CartPage/components/CartProvider/CartProvider.tsx
  packages/plasma-temple/src/pages/CartPage/types.ts
Due: eslint --fix, prettier --write, stylelint
