Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix(plasma-temple): title for Gallery component can be optional
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Typed props for platform components
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/components/HeroSlider/HeroSlider@common.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/components/NavCol/NavCol.tsx
  packages/plasma-temple/src/registry/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-temple): Add page spinner
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/PageSpinner/PageSpinner.tsx
  packages/plasma-temple/src/components/index.ts
  packages/plasma-temple/src/hooks/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-temple): app hooks & scenario hooks
  packages/plasma-temple/docs/core.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

feat(plasma-temple): error page layout
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): export ErrorPage from index
  packages/plasma-temple/docs/templates.md
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/index.ts
  packages/plasma-temple/src/pages/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-temple): resolve lint errors
  packages/plasma-temple/src/components/AssistantActionConfirm/AssistantActionConfirm.tsx
  packages/plasma-temple/src/components/FullScreenBackgroundWrapper/FullScreenBackgroundWrapper.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberbox.tsx
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberportal.tsx
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@mobile.tsx
  packages/plasma-temple/src/global.d.ts
  packages/plasma-temple/src/hooks/useInitializeAssistant.ts
  packages/plasma-temple/src/hooks/useVoiceNavigation.test.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/hooks/useCartAssistantState.ts
  packages/plasma-temple/src/pages/GridPage/types.ts
  packages/plasma-temple/src/pages/ItemPage/ItemPage.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntities/ItemEntities.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/pages/ItemPage/types.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): circular deps
  .eslintignore
  packages/plasma-temple/.eslintrc.js
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Gallery/Gallery.tsx
  packages/plasma-temple/src/components/GalleryCard/GalleryCardContainer.tsx
  packages/plasma-temple/src/components/Header/useHeaderProps.ts
  packages/plasma-temple/src/components/HeroSlide/HeroSlide.tsx
  packages/plasma-temple/src/hooks/useTouchHander.ts
  packages/plasma-temple/src/pages/CartPage/components/EmptyCart/EmptyCart@common.tsx
  packages/plasma-temple/src/pages/ConfirmOrderPage/ConfirmOrderPage.tsx
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/GridPage/components/GridCard.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemEntity/ItemEntity.tsx
  packages/plasma-temple/src/pages/ItemPage/components/ItemMainSection/ItemMainSection.tsx
  packages/plasma-temple/src/pages/ItemPage/types.ts
  packages/plasma-temple/src/pages/OrderSuccessPage/OrderSuccessPage.tsx
  packages/plasma-temple/src/pages/ShopLandingPage/ShopLandingPage.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-web): Moved `SingleSelect` and `MultiSelect` functionality to hocs
  packages/plasma-web/src/components/Select/MultiSelect.tsx
  packages/plasma-web/src/components/Select/Select.tsx
  packages/plasma-web/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/SingleSelect.tsx
  packages/plasma-web/src/components/Select/index.ts
  packages/plasma-web/src/components/Select/withMultiSelect.tsx
  packages/plasma-web/src/components/Select/withSingleSelect.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Customize `Dropdown` with CSS Vars
  packages/plasma-web/src/components/Dropdown/DropdownItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added group `Select` functionality
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-b2c/src/components/Select/SelectGroup.tsx
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-b2c/src/components/Select/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Added `Select` component
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-b2c/src/components/Select/Select.tsx
  packages/plasma-b2c/src/components/Select/SelectView.tsx
  packages/plasma-b2c/src/components/Select/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Removed `DropdownList` min-width
  packages/plasma-web/src/components/Dropdown/DropdownList.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): `Dropdown` `onToggle` notification
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): Flip `Select` arrow
  packages/plasma-b2c/src/components/Select/SelectView.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-templte): fix docs
  packages/plasma-basic-template/package.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/.gitignore
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/forms.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
  packages/plasma-temple/package.json
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix(plasma-temple): fix cart scroll
  packages/plasma-temple/src/hooks/useSpatNav.ts
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): opening item from cart
  packages/plasma-temple/src/pages/CartPage/CartPage.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@mobile.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberbox.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItem/CartItem@sberportal.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@common.tsx
  packages/plasma-temple/src/pages/CartPage/components/CartItemList/CartItemList@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): changeState action
  packages/plasma-temple/src/components/Page/Page.tsx
  packages/plasma-temple/src/components/Page/types.ts
  packages/plasma-temple/src/components/PlasmaApp/AppStateContext.ts
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
  packages/plasma-temple/src/store/actions.ts
  packages/plasma-temple/src/store/reducer.ts
  packages/plasma-temple/src/store/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

fix(plasma-template): use all header props
  packages/plasma-temple/src/templates/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/Item/Item.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-temple): add package docs
  packages/plasma-temple/README.md
  packages/plasma-temple/docs/README.md
  packages/plasma-temple/docs/actions.md
  packages/plasma-temple/docs/config.md
  packages/plasma-temple/docs/hooks.md
  packages/plasma-temple/docs/scenario.md
  packages/plasma-temple/docs/templates.md
Due: prettier --write --parser markdown

fix(plasma-template): set default focus on gallery card
  packages/plasma-temple/src/templates/Gallery/Gallery.tsx
  packages/plasma-temple/src/templates/Gallery/components/GalleryCard/GalleryCard.tsx
Due: eslint --fix, prettier --write, stylelint
