Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

refactor(plasma-tokens-utils): Refactored code base for component theming
  utils/plasma-tokens-utils/package.json
  utils/plasma-tokens-utils/src/constants.ts
  utils/plasma-tokens-utils/src/functions.ts
  utils/plasma-tokens-utils/src/generation.test.ts
  utils/plasma-tokens-utils/src/generation.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemeValues.test.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemeValues.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemes.test.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemes.ts
  utils/plasma-tokens-utils/src/generators/generateFile.ts
  utils/plasma-tokens-utils/src/generators/generateThemeFromData.test.ts
  utils/plasma-tokens-utils/src/generators/generateThemeFromData.ts
  utils/plasma-tokens-utils/src/generators/generateTypoSystem.test.ts
  utils/plasma-tokens-utils/src/generators/generateTypoSystem.ts
  utils/plasma-tokens-utils/src/generators/index.ts
  utils/plasma-tokens-utils/src/index.ts
  utils/plasma-tokens-utils/src/mappers.test.ts
  utils/plasma-tokens-utils/src/mappers.ts
  utils/plasma-tokens-utils/src/types.ts
  utils/plasma-tokens-utils/src/utils/attachToRoot.ts
  utils/plasma-tokens-utils/src/utils/extractTokenData.ts
  utils/plasma-tokens-utils/src/utils/filterTypoStyles.ts
  utils/plasma-tokens-utils/src/utils/index.ts
  utils/plasma-tokens-utils/src/utils/objectToCSSVariables.ts
  utils/plasma-tokens-utils/src/utils/other.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-tokens, plasma-tokens-web, plasma-tokens-b2c): Added possibility for component theming
  packages/plasma-tokens-b2c/.gitignore
  packages/plasma-tokens-b2c/data/colors.ts
  packages/plasma-tokens-b2c/data/ds.ts
  packages/plasma-tokens-b2c/data/index.ts
  packages/plasma-tokens-b2c/data/sizes.ts
  packages/plasma-tokens-b2c/generate.ts
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-b2c/tsconfig.json
  packages/plasma-tokens-web/.gitignore
  packages/plasma-tokens-web/data/colors.ts
  packages/plasma-tokens-web/data/ds.ts
  packages/plasma-tokens-web/data/index.ts
  packages/plasma-tokens-web/data/sizes.ts
  packages/plasma-tokens-web/generate.ts
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens-web/tsconfig.json
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/data/colors.ts
  packages/plasma-tokens/data/ds.ts
  packages/plasma-tokens/data/index.ts
  packages/plasma-tokens/data/sizes.ts
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/package.json
  packages/plasma-tokens/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

feat(plasma-ui, plasma-web, plasma-b2c): `Button`: Added theming
  packages/plasma-core/src/components/Button/Button.mixins.ts
  packages/plasma-core/src/components/Button/Button.props.ts
  packages/plasma-core/src/components/Button/Button.types.ts
  packages/plasma-core/src/mixins/applyOutline.ts
  packages/plasma-core/src/utils/roundness.ts
  packages/plasma-tokens-b2c/data/sizes.ts
  packages/plasma-tokens-web/data/sizes.ts
  packages/plasma-tokens/data/sizes.ts
  packages/plasma-ui/src/components/Button/ActionButton.tsx
  packages/plasma-web/src/components/Button/Button.mixins.ts
Due: eslint --fix, prettier --write, stylelint

chore: update package-locks [skip ci]
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json, node

fix(plasma-ui): `HeaderArrow`: made unfocusable
  packages/plasma-ui/src/components/Header/HeaderArrow.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

docs(plasma-web, plasma-b2c): `Button`: using as an anchor
  packages/plasma-b2c/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.stories.tsx
  website/plasma-web-docs/docs/components/Button.mdx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui): `Header`: title and arrow components description
  website/plasma-ui-docs/docs/components/Header.mdx
Due: none

docs(plasma-ui): Described props `as` and `forwardedAs`
  website/plasma-ui-docs/docs/types/_category_.json
  website/plasma-ui-docs/docs/types/as.mdx
Due: prettier --write --parser json, node

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-ui-docs/versionsArchived.json
  website/plasma-web-docs/versionsArchived.json
Due: prettier --write --parser json, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/layer-inpicture-sdk/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/layer-inpicture-sdk/package-lock.json
  packages/layer-inpicture-sdk/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): Made overlay optional for Sheet
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/closed.snap.png
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/opened.snap.png
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/plasma-ui Sheet -- onClose.snap.png
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/plasma-ui Sheet -- withoutOverlay.snap.png
  packages/plasma-ui/src/components/Sheet/Sheet.component-test.tsx
  packages/plasma-ui/src/components/Sheet/Sheet.stories.tsx
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-temple/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(inpicture-sdk): добавлен бордер для темплейта large
  packages/layer-inpicture-sdk/src/css/slider.sass
  packages/layer-inpicture-sdk/src/index.html
Due: none

chore: Added fixme comments for background tokens
  packages/plasma-core/src/tokens/colors.ts
  packages/plasma-tokens-b2c/design-language/src/DesignLanguage.ts
  packages/plasma-tokens-web/design-language/src/DesignLanguage.ts
  packages/plasma-tokens/design-language/src/DesignLanguage.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): `Modal` background set to `backgroundPrimary` (01) token
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  packages/plasma-web/src/components/Modal/ModalView.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore(plasma-b2c): fix Modal.stories
  packages/plasma-b2c/src/components/Modal/Modal.stories.tsx
  packages/plasma-b2c/src/components/Price/Price.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add typescript-coverage workflow
  .github/workflows/typescript-coverage.yml
  .gitignore
  package.json
Due: prettier --write --parser json, node

chore(plasma-web): add typecoverage script
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json, node

chore(plasma-b2c): add typecoverage script
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json, node

chore(plasma-core): add typecoverage script
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
Due: prettier --write --parser json, node
