Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

feat(plasma-web,plasma-b2c,plasma-ui): Add example for checkbox with jsx in label
  packages/plasma-b2c/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Add ReactNode type for label in `Checkbox` component
  packages/plasma-core/src/components/Basebox/Basebox.tsx
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Add checkbox test example
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/checkbox.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-ui-docs,plasma-web-docs): Add snippet for `Checkbox` component
  website/plasma-ui-docs/docs/components/Checkbox.mdx
  website/plasma-web-docs/docs/components/Checkbox.mdx
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/showcase/package-lock.json
  utils/showcase/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  examples/demo-canvas-app/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/showcase/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): Always show player controls on key press
  packages/plasma-temple/src/components/VideoPlayer/VideoPlayer.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

test(plasma-ui): add Sheet component tests
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/closed.snap.png
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/opened.snap.png
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/plasma-ui Sheet -- onClose.snap.png
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/plasma-ui Sheet -- onTouchMove.snap.png
  cypress/snapshots/ui/components/Sheet/Sheet.component-test.tsx/plasma-ui Sheet -- simple.snap.png
  packages/plasma-ui/src/components/Sheet/Sheet.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Grid component tests
  cypress/snapshots/ui/components/Grid/Grid.component-test.tsx/plasma-ui Grid -- Coll_type_calc.snap.png
  cypress/snapshots/ui/components/Grid/GridBase.component-test.tsx/plasma-core Grid -- simple.snap.png
  cypress/snapshots/ui/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _L.snap.png
  cypress/snapshots/ui/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _M.snap.png
  cypress/snapshots/ui/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _S.snap.png
  cypress/snapshots/ui/components/Grid/GridBase.component-test.tsx/plasma-core Grid _size -- _XL.snap.png
  packages/plasma-core/src/components/Grid/Grid.component-test.tsx
  packages/plasma-ui/src/components/Grid/Grid.component-test.tsx
  packages/plasma-ui/src/components/Grid/GridBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): fix Skeleton component tests
  packages/plasma-core/src/components/Skeleton/Skeleton.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Toast component tests
  cypress/snapshots/b2c/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- default.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- __content-left.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- _role.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- default.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- _position.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- dumm.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- showToast.snap.png
  cypress/snapshots/ui/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- useToast -- timeout.snap.png
  cypress/snapshots/web/components/Toast/ToastBase.component-test.tsx/plasma-core Toast -- default.snap.png
  packages/plasma-core/src/components/Toast/Toast.tsx
  packages/plasma-core/src/components/Toast/ToastBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): add Fade component tests
  cypress/snapshots/ui/components/Fade/FadeBase.component-test.tsx/plasma-core Fade -- _placement_bottom.snap.png
  cypress/snapshots/ui/components/Fade/FadeBase.component-test.tsx/plasma-core Fade -- _placement_top.snap.png
  cypress/snapshots/ui/components/Fade/FadeBase.component-test.tsx/plasma-core Fade -- simple.snap.png
  packages/plasma-core/src/components/Fade/Fade.component-test.tsx
  packages/plasma-ui/src/components/Fade/FadeBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): Add Cypress component test for `Carousel`
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- animated X.snap.png
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- animated Y.snap.png
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- basic.snap.png
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- center.snap.png
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- music.snap.png
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- vertical.snap.png
  packages/plasma-ui/src/components/Carousel/Carousel.component-test.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): Add Cypress component test for `Carousel`
  cypress/snapshots/web/components/Carousel/Carousel.component-test.tsx/plasma-web Carousel -- default.snap.png
  packages/plasma-web/src/components/Carousel/Carousel.component-test.tsx
  packages/plasma-web/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Add Cypress component test for `Carousel`
  cypress/snapshots/b2c/components/Carousel/Carousel.component-test.tsx/plasma-web Carousel -- default.snap.png
  cypress/snapshots/ui/components/Carousel/Carousel.component-test.tsx/plasma-ui Carousel -- center.snap.png
  packages/plasma-b2c/src/components/Carousel/Carousel.component-test.tsx
  packages/plasma-b2c/src/components/Carousel/Carousel.examples.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): fix tests
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.component-test.tsx
  packages/plasma-b2c/src/components/Upload/Upload.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

ci: merge coverage
  .github/workflows/cypress-ct.yml
  nyc.config.js
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): make RadioGroup public
  packages/plasma-b2c/src/components/Radiobox/index.ts
Due: eslint --fix, prettier --write, stylelint
