Repository sberdevices/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore: update package-locks [skip ci]
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json, node

fix: Execution layout effect on server
  packages/plasma-core/src/hooks/index.ts
  packages/plasma-core/src/hooks/useIsomorphicLayoutEffect.ts
  packages/plasma-core/src/utils/canUseDOM.ts
  packages/plasma-core/src/utils/index.ts
  packages/plasma-ui/src/components/Grid/Container.tsx
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Header in layout
  examples/demo-canvas-app/pages/_app.tsx
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/carousel.tsx
  examples/demo-canvas-app/pages/test/components/pickers.tsx
  examples/demo-canvas-app/pages/test/components/switch.tsx
  examples/demo-canvas-app/pages/test/components/text-field.tsx
  examples/demo-canvas-app/pages/test/components/toast.tsx
Due: eslint --fix, prettier --write, stylelint

feat(demo-canvas-app): Added Grid page
  examples/demo-canvas-app/pages/index.tsx
  examples/demo-canvas-app/pages/test/components/grid.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json, node

docs(plasma-ui): Mixin import from plasma-ui
  packages/plasma-ui/src/mixins/mixins.stories.mdx
Due: none

feat(plasma-ui): Add mixin reexports from core
  packages/plasma-ui/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  docs/showcase/package-lock.json
  docs/showcase/package.json
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json, node

chore: update package-locks [skip ci]
  docs/showcase/package-lock.json
  examples/demo-canvas-app/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json, node

fix(plasma-temple): Fix button view for portal in HeroSlide
  packages/plasma-temple/src/components/HeroSlide/HeroSlide@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json, node

fix: replace code to key
  packages/spatial/src/hocs/withFocusable.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): error page layout
  packages/plasma-temple/examples/ErrorPage.stories.tsx
  packages/plasma-temple/examples/HeroSlider.stories.tsx
  packages/plasma-temple/examples/ShopLandingPage.stories.tsx
  packages/plasma-temple/examples/StateLayout.stories.tsx
  packages/plasma-temple/src/components/StateLayout/StateLayout@common.tsx
  packages/plasma-temple/src/components/StateLayout/types.ts
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.assets/warning-circle.svg
  packages/plasma-temple/src/pages/ErrorPage/ErrorPage.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel.ts
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberbox.tsx
  packages/plasma-temple/src/pages/GalleryPage/components/Carousel@sberportal.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Add header minimize behavior
  packages/plasma-temple/.storybook/decorators/withAppState.tsx
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/components/Header/Header.stories.tsx
  packages/plasma-temple/src/components/Header/Header.tsx
  packages/plasma-temple/src/components/Header/useHeaderProps.ts
  packages/plasma-temple/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json, node

fix(plasma-temple): fix mobile font size
  packages/plasma-temple/src/components/GlobalStyles/GlobalStyles.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Adapt product components for mobile
  packages/plasma-temple/src/components/Product/ProductActionButton/ProductActionButton.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription.tsx
  packages/plasma-temple/src/components/Product/ProductDescription/ProductDescription@mobile.tsx
Due: eslint --fix, prettier --write, stylelint

Bump version [skip ci]
  packages/spatial/package-lock.json
  packages/spatial/package.json
Due: prettier --write --parser json, node

feat(plasma-ui): tabs animation added
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/TabsContainer.tsx
  packages/plasma-ui/src/components/Tabs/TabsContext.tsx
  packages/plasma-ui/src/components/Tabs/TabsSlider.tsx
  packages/plasma-ui/src/components/Tabs/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-temple): Make page layout scrollable
  packages/plasma-temple/src/components/Layout/Layout.tsx
  packages/plasma-temple/src/components/PageLayout/PageLayout.tsx
  packages/plasma-temple/src/components/PlasmaApp/PlasmaApp.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): tabs api changed
  packages/plasma-core/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/TabItem.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.tsx
  packages/plasma-ui/src/components/Tabs/TabsContext.tsx
Due: eslint --fix, prettier --write, stylelint
